[2018-10-30 22:58] ow-en opened #453 "Targeting Dynamically Generated Column Filter Input to Render Popover/Dropdown"
### Issue Type (delete the irrelevant ones)
- [x] Question

### Specs
What version are you using?
2.14.1
What browser?
Chrome

@xaksis, I'm not sure if this is possible or practical, but I'll ask anyway. Right now, I've got a great table set up where I have Flatpickr's rendering from column filters.

I'm able to render Flatpickr in column filters by selecting the filters based on their placeholder

[2018-10-31 19:08] oflittlemother commented on #452
Might also be useful to set an initialValue for Global Search.

[2018-10-31 19:47] xaksis commented on #452
Makes sense. I'll look into this.

[2018-10-31 20:38] oflittlemother commented on #452
Sorry for being such a pain @xaksis hahaha
I think this is already handled if we just use:
[code]
I would just include this in the reset method.

This came up because I created external date range & groupings that interact with my VGT, but every time I would change the date range and/or the grouping, any global search/column filter would persist. So I figured out that I needed to call reset() but

[2018-10-31 20:47] oflittlemother commented on #452
For an initial value, adding this in mounted() works:
[code]

[2018-10-31 22:13] Sell24 commented on #325
I understand the debate on this feature, but would it be possible to have this as a option? The reason being is that I am using the grouped option and then within that group, I am sorting the values by the appropriate column. Since I am using server-side sorting, I know what page I am on and what I need to sort. It all works except for the fact that the paginator gets reset to the first page.

Nic

[2018-11-02 07:44] balinux opened #454 "[ASK] error button on table"
### Issue Type (delete the irrelevant ones)

- [ ] Bug
- [ ] Enhancement Request
- [x] Question

### Specs
using  "vue-good-table": "2.15.3",

using chorome

### Expected Behavior
my button can't trigger editPost Function

![image](https://user-images.githubusercontent.com/10473273/47899781-98df0680-deb5-11e8-962e-de1fc05947f7.png)

and this is capture from chrome devtools
![image](https://user-im

[2018-11-02 08:31] josephting commented on #365
On first glance, the culprit seems to be [`flushCallbacks` on Vue](https://github.com/vuejs/vue/blob/52719ccab8fccffbdf497b96d3731dc86f04c1ce/dist/vue.runtime.js#L1752).

On IE 11, Timer (flushCallbacks) was executed for 413ms exclusively (excluding any function calling within `flushCallbacks()`) while it only took 69ms on Chrome.

Can't say for sure but looks like Edge & IE's JavaScript engine is

[2018-11-02 21:29] AndrianD commented on #180
Hello,
Nice plugin thank you. I am using vue 2.5 and as evoked by @wwwork , I would like to know how to implement a datepicker to filter results instead of input text.
Thank you for your answers!

[2018-11-03 00:18] mustfullDev opened #455 "How to get selected rows in checkboxTable"
i don't know where and how to put 'my-table' reference (this.$refs['my-table'].selectedRows

[2018-11-06 17:49] oflittlemother commented on #455
Hey @mustfullDev, add your table reference like so, with all your other options:

[code]

[2018-11-07 14:00] bogatyrjov1 commented on #364
danmash means that when mode="remote" and :sort-options="{ initialSortBy }" are both specified, sorting won't work

[2018-11-08 20:46] rubenriskpossible opened #457 "Selecting rows programatically"
### Selecting rows programatically

How can I selecting rows programatically?

### Specs
v2.15.3
Google Chrome

Hi there.
I was wondering how to select rows programatically, I mean, is there any option like "select by id" or "by value"?

I have tried to do something like:

**Code Start**
this.$refs['my-table'].selectedRows = [ myObjects[0] ];
**Code End**

Where myObjects is a collection of data-r

[2018-11-09 11:10] AndrianD opened #458 "Server-side PHP Example"
### Issue Type (delete the irrelevant ones)
- [x] Question
Hello,
Super plugin, congratulations.
However I have a question, would you have an example of sending parameters to php server? Let me explain:
From the documentation here : https://xaksis.github.io/vue-good-table/guide/advanced/remote-workflow.html
I'm using Symfony 4 in back and VueJs in front

1. Currently we have the code on the client

[2018-11-09 19:04] owensource commented on #453
@xaksis  Any ideas on this? I've more or less given up on the possibility. The main issue is being able to target the dynamically generated column filters using html markup. Targeting them in a function is a problem I've already solved via the Flatpickr example above, but being able to pass in html markup is proving to be more difficult.

Targeting the column filters in a template slot came to min

[2018-11-09 19:15] owensource commented on #454
What error if any are you receiving in console when you attempt to click?

To me, this looks like it might be related to the scoping of 'this' inside the template string of your push method.

Potential solutions include converting your main/callback functions to traditional functions (instead of anonymous arrow functions) and/or explicitly binding 'this' and/or adding 'this' to your @click method

[2018-11-09 19:19] xaksis commented on #453
@owensource hey sorry for the delay in response, Owen. Unfortunately past few weeks have been really busy for me and I haven't had a chance to look through it. Filter slot seems to be a pretty requested feature so I plan to tackle that once I get a few free cycles. I'll keep you posted but I think it'll take me another week or so before I jump back into it.

[2018-11-09 19:36] xaksis commented on #457
thanks @owensource

@rubenriskpossible if you want to select rows programmatically, you can use the rows' internal property `vgtSelected`, just remember vue's reactivity caveat so you'd have to do something like:

[code]
that will select the first row.

closing. Let me know if you have an issue with this, I'll re-open.

[2018-11-09 19:36] #457 closed

[2018-11-11 19:57] abishekrsrikaanth opened #459 "StyleClass for column filters"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

Is there a way to define `styleClass` for the fields that show when enabling column filters. I use twitter bootstrap with this control and defining style classes for the field would be very helpful to have them render similar to the theme styles.

[2018-11-12 16:57] harold-s opened #460 "Vue-good-table URL Mixin"
### Issue Type (delete the irrelevant ones)

- [ ] Bug
- [ ] Enhancement Request
- [x] Question

### Specs
v2.16.0

Hello,

Sorry this is actually not a question.
I have a mixin that does the following :
- On load the mixin will check the current URL and will change the pagination/filters/sorting based on it
- On pagination/filters/sorting change, the mixin will change the URL

This basically mean

[2018-11-12 17:02] sweetsmile212 opened #461 "First and Last link for pagination"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

### Specs
What version are you using?
2.X
What browser?
Chrome
### Expected Behavior
What did you expect to happen?
Need a first page and last page link for pagination.
### Actual Behavior
What actually happened?
We currently have only next and previous links
### Steps to Reproduce the Problem

### jsfiddle
If you provide a js

[2018-11-13 03:20] abishekrsrikaanth commented on #458
@AndrianD, I am new to this plugin as well. The plugin only offer you will the data that is ready to be sent to the server side. This is explained under the section [What we send to the server](https://xaksis.github.io/vue-good-table/guide/advanced/remote-workflow.html#prep-work).

How you send to the server is left to the developer and is not dependent on a specific plugin.
The 3rd example on thi

[2018-11-13 10:16] fnrcum commented on #344
I am also experiencing this, if you fixed it, could you tell me how you did that? for me the width attribute is not taken into account

[2018-11-14 11:36] fnrcum opened #462 "Force horizontal scrolling"
### Issue Type

- [x] Question

### Specs
Version 2.16.0?

What browser?
Chrome/Firefox/Edge

### Question
Is there a way to force horizontal scrolling to happen? For example I have a rather large table (14 columns) and I would like this table to scroll horizontally as a few of the columns have a lot of data in them. Problem is, I set the width attribute for them but it still forces the data to fi

[2018-11-20 13:32] happygrizzly opened #465 "Pagination panel is not displayed (remote mode, pagination options are enabled)"
### Issue Type

- [x] Question

What is wrong with the setup?

### Specs
vue-good-table version: **2.16.0**
vue-good-table mode: **remote**
browsers: chrome, edge

### Expected Behavior
Pagination panel should be displayed

### Actual Behavior
Pagination panel is missing

### Steps to Reproduce the Problem

1. Calling component

[code]

2. Server-side action (Laravel):

[code]

[2018-11-20 14:42] cmcleese commented on #373
Not sure if this works in your situation but perhaps some css styles could be a useful solution.
Applying the solution here seems to show promise: [stackoverflow](https://stackoverflow.com/a/47923622/2188340)

[code]

See[ fiddle example](https://jsfiddle.net/z0umsa5L/).

[2018-11-21 09:38] happygrizzly commented on #465
Ok, I got it! Totally my mistake:

[code]

[2018-11-21 09:38] #465 closed

[2018-11-21 11:09] karakayasemi opened #466 "Search does not work with escaped characters"
Since only search term is escaped in this method https://github.com/xaksis/vue-good-table/blob/master/src/components/types/default.js#L9, search does not work with escaped characters. As a quick solution, we may escape rowVal too.

### Issue Type
- [x] Bug

### Specs
2.16.0

What browser?
Chrome, Firefox

### Expected Behavior
"192.168" search term should match with all entries in provided fiddle.

[2018-11-21 11:18] cmcleese opened #467 "Add 'sortable' prop to be available in slot props Or add sortable class to columns"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

### Specs
What version are you using?
2.16.0

Chrome, FF, Edge

### Expected Behavior
Would it be possible to return the sortable prop on the column field into the table row or table header slot.
Currently it seems to be removed when accessing props via slots.

It would be useful to have access to the sortable property from co

[2018-11-25 06:09] onlineexamsystem opened #469 "When deleting last row from table it doesn't refresh but works on reloading page"
<vue-good-table
                      :columns="columns"
                      :rows="rows"
                      :pagination-options="pagination_options"
                      :lineNumbers="true" >

                      <template slot="table-column" slot-scope="props">
                        <span class="vue-table-header">
                           {{props.column.label}}

[2018-11-26 02:01] VictorCazanave commented on #373
Unfortunately `position: sticky` is [not well supported](https://caniuse.com/#search=sticky) 😢

[2018-11-26 10:55] cmcleese commented on #467
I figured out that you can create a custom class by using
`thClass: 'custom-th-class'` on your column definition.
This in addition to the standard classes should have everything you need for cases when you have all sortable columns or mixed.

Feature already implemented.
No issue.

[2018-11-26 10:55] #467 closed

[2018-11-27 11:22] xaksis commented on #469
@onlineexamsystem there's no way I'll be able to decipher what's going on by looking at your minimized code :/. Please re-format this ticket so people can read and understand it. Thanks.

closing. Will re-open once the code format is updated.

[2018-11-27 11:22] #469 closed

[2018-11-27 11:37] xaksis commented on #462
hey @fnrcum this is not an issue with the plugin but the way html tables work. In general, the td widths are ignored if they exceed the table width. In the absense of table width, table width is derived from user agent (browser):
https://www.w3.org/TR/html401/struct/tables.html#adef-width-TABLE

so the column width property will only be respected if the total width of td specified, is less than th

[2018-11-27 11:37] #462 closed

[2018-11-27 11:37] karakayasemi commented on #466
@xaksis why input needs to be escaped from special characters when searching? Can we simply remove the escaping part?

[2018-11-27 11:39] xaksis commented on #461
hey @sweetsmile212 support for this does not come out of the box with the plugin. However you can replace the provided pagination with your own using the custom pagination feature:
https://xaksis.github.io/vue-good-table/guide/advanced/#custom-pagination

closing.

[2018-11-27 11:39] #461 closed

[2018-11-27 11:40] xaksis commented on #460
@harold-s cool! I'll leave this open so others can look into it and comment.

[2018-11-27 11:43] xaksis commented on #458
@abishekrsrikaanth thank you for your detailed answer! @AndrianD, I believe the above answers your question.

closing.

[2018-11-27 11:43] #458 closed

[2018-11-27 11:44] xaksis commented on #459
@abishekrsrikaanth this is a pretty requested feature, I'll work on it soon so people can customize filters in a more flexible way.

[2018-11-27 11:47] xaksis commented on #454
@balinux looks like you're using strings to render html. In this case all associated triggers/events are stripped before the html is rendered. If you want to use triggers and events in your generated html, you'll need to do it via custom row templates:
https://xaksis.github.io/vue-good-table/guide/advanced/#custom-row-template

closing.

[2018-11-27 11:47] #454 closed

[2018-11-27 11:54] xaksis commented on #466
@karakayasemi the diactric library crashes if the characters like '[' aren't escaped. I'll explore the latter option for fixing this.

[2018-11-27 12:03] karakayasemi commented on #466
Alright, what about escaping `rowval` too?

[2018-11-30 12:52] TheFrankman opened #470 "Prevent Row Click from selecting row"
### Issue Type
- [x] Question

Is there a way to prevent clicking on a row from selecting the row ?
I'd like to limit row selection to just to just click the tick box.
The reason for this is so I can have separate events triggering for specific cell clicks.
Equally I have buttons included in the rows that trigger actions and they cause the row to be selected which is a bit jarring. Sorry if i've m

[2018-11-30 13:22] abishekrsrikaanth commented on #459
@xaksis Could you please add a similar option to customize pagination styles as well.

[2018-12-03 10:04] TheFrankman commented on #470
Well i feel stupid. I'll check this out! Thanks !

[2018-12-03 11:19] #470 closed

[2018-12-03 12:24] ELIDJEAKA opened #471 "Paging Server Side with VGT"
### Paging server side with VGT
Hi, I work on a project where the pagination is server side.
I would like to use VGT server side for pagination but I can not do it ...
`data: {current_page: 1,…}
current_page: 1
data: [{id: 5, entite_id: 1, name: "Test Distributeur", email: "akaelidje2@consultech.ci",…},…]
first_page_url: "http://127.0.0.1:8000/api/mesutilisateurs?page=1"
from: 1
last_page: 1
last_

[2018-12-04 04:02] bombkiml opened #472 "Adjust position of column & data ?"
### i can adjust position of column & data ?

- align left
- align center
- align right
etc.

Please let me know

[2018-12-04 10:40] d-knafo commented on #349
@neverender24 you find a solution ?

[2018-12-05 10:49] enghelewa opened #473 "Custom Pagination Production Problem"
### Issue Type (delete the irrelevant ones)

- [x] Bug
- [x] Enhancement Request
- [ ] Question

### Specs
v 2.16.0

What browser?
Google Chrome

### Expected Behavior
`this.pageChange` should be defined in development and production

### Actual Behavior
What actually happened?
`this.pageChange`  is un defind when i run `npm run production`

### Steps to Reproduce the Problem
[code]

Custom Pagina

[2018-12-05 11:13] enghelewa commented on #473
I found the solution buy changing the properties into kebab-case. But I don't understand why this is happening in production environment?

[code]

[2018-12-09 11:16] Jakobovski opened #475 "set columnFilter options programatically"
### Issue Type

- [x] Enhancement Request

It would be great if there was a way to programmatic set/update the columnFilter options. When I update the `this.serverParams.columnFilters` it does not update the UI dropdown menus.

The use case for such a feature is as follows:
A user navigates to a page `/mytable?page=1&name=bob` and I want to take the query parameters from the URL and set the filter

[2018-12-13 21:14] owensource commented on #459
[code]
[code]

The above is how I target the column filter inputs. This specific function toggles visibility of all of the filters, but I don't see why similar functionality couldn't be implemented to target the filter row/inputs with any other class(es) you'd like.

[2018-12-19 10:51] FinnLorbeer opened #477 "Testing vue-good-table produces so many warning that it exceeds stack size"
### Issue Type

- [x] Bug

### Specs
2.16.0
yarn test

### Expected Behavior
clean console output when mounting vue-good-table in test cases

### Actual Behavior
there are so many warnings that we get a stack overflow when running tests

### Steps to Reproduce the Problem
Please detail your steps here

1. follow the documentation in "getting started"
2. write a test that actually mounts the compon

[2018-12-21 06:17] r00nscapenab opened #478 "How to access header's index in a grouped table"
How do you access these header's indexes?
![image](https://user-images.githubusercontent.com/24377641/50327718-28567c80-052b-11e9-865a-f63a159cfbb6.png)

[2018-12-23 12:51] corbosman opened #479 "per page dropdown incorrect when setting perPageDropdown array"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using? 2.16.0

What browser? Chrome

### Expected Behavior
What did you expect to happen?

When I change the page size, the dropdown should reflect the new page size

### Actual Behavior
What actually happened?

The dropdown remains on the default page size. Important to note is that if I dont provide a perPageD

[2018-12-27 12:02] ThinkerBell1 opened #480 "Is there a right click event to open context-menu ?"
### Issue Type (delete the irrelevant ones)
- [x] Question

### Specs
What version are you using? 2.16

### Expected Behavior
I want to add a right-click event to the rows in table in order to open contex-menu

### Actual Behavior
According to what I see in [documentation](https://xaksis.github.io/vue-good-table/guide/configuration/table-events.html#on-row-click) no right-click event exist, only c

[2018-12-28 02:03] jcasale commented on #445
I am on 2.16.0 and this behaviour exists for me still. I also pass in a default filter on a column and both `on-column-filter` and `on-per-page-change` are called when the component mounts.

[2018-12-31 04:01] roberto910907 opened #482 "New image column type"
### Issue Type (delete the irrelevant ones)

-  Bug
- [x] Enhancement Request
-  Question

### Specs
What version are you using?
2.16.0

What browser?
Chrome Version 71.0.3578.98 (Build oficial) (64 bits)

I've been looking for a nice/easy way to show images inside a column. I think this is a very common use case when building tables. Reading [this answer](https://github.com/xaksis/vue-good-table/

[2018-12-31 10:12] ThinkerBell1 commented on #480
I've found an answer on [stackoverflow](https://stackoverflow.com/questions/53976416/is-there-a-right-click-event-on-vue-good-table-rows-to-show-a-context-menu)  solving it with slot="table-row"

[2018-12-31 10:12] #480 closed

[2019-01-02 07:57] karakayasemi commented on #466
@xaksis Have you had time for the problem?

[2019-01-06 07:59] juehai opened #483 "SearchTrigger with delay"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

### Specs
What version are you using?
2.16.0

What browser?
Chrome

### Expected Behavior
What did you expect to happen?

Add v-debounce="delay" supported on searchTerm input box.
When doing searching, the onChange happened almost real time, it's working fine when only do a local searching, but it will cause a lot of requests

[2019-01-10 11:35] carloscarcamo opened #485 "loading notification not working"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
2.16.0

What browser?
Chrome, Firefox

### Expected Behavior
Hide the loading spinner when manually change the `isLoading` property

### Actual Behavior
Cannot hide the spinner manually

### Steps to Reproduce the Problem

I have this code:

[code]

When I change `loading` to `true` or `false` it does not work, the loading spinner i

[2019-01-10 14:53] kaphert commented on #485
I do not have this issue with v2.16.0 and remote data. Try it with `:is-loading="loading"`
VueJS props are defined as camelCase `isLoading` but passing them to your component you should always write it as kebab-case see: https://vuejs.org/v2/guide/components-props.html#Prop-Casing-camelCase-vs-kebab-case

[2019-01-10 16:33] ow-en opened #486 "For Reference: Table/Filter/Search Reset Button"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement

### Specs
What version are you using?
Latest

### Expected Behavior
What did you expect to happen?
This issue posting is for reference only, but it might be worth merging - let me know if you'd like a pr. This came up in reference to a table global reset button. In #452 this is referenced, and the recommended course of actions is to a

[2019-01-10 16:37] ow-en commented on #485
For my remote mode table, I have `:isLoading` tied to my rows. When the rows come in from the server, loading is turned off.

[code]
Give that a shot? The feature works great so far for my table.

[2019-01-10 16:43] ow-en commented on #475
@Jakobovski the column filter dropdown menus are not tied to `serverParams.columnFilters`.

Column filter dropdown menus are tied to the actual `columns [{}]` object within data. You would need to update the columns -> column[i] -> filterOptions -> filterDropdownItems [] array dynamically based on the current url's query string.

Updating serverParams.columnFilters is going to modify the filter qu

[2019-01-10 16:45] ow-en commented on #475
Within the CRUD operation that is determining the current url's query string, bind those query string properties to data property(s). Then, within columns -> filterOptions -> filterDropdownItems, inject those data object(s) in place of/in addition to the default dropdown options.

That is a very brief explanation that isn't fully thought through, but that should work.

[2019-01-10 18:41] projct1 commented on #443
Still not working, even in v2.16 😕

[2019-01-10 18:50] projct1 opened #487 "onSortChange argument is array, not object"
### Issue Type
Bug

### Version
2.16

### Expected Behavior
[code]

### Actual Behavior
[code]

[2019-01-10 19:01] projct1 opened #488 "Remote Mode: on-sort-change triggers twice"
### Issue Type
Bug

### Version
2.16

### Expected Behavior
One call

### Actual Behavior
`@on-sort-change="onSortChange"` runs twice
http://skrinshoter.ru/s/100119/60bJEIE6

[2019-01-10 19:21] projct1 opened #489 "On init fires onPerPageChange and onSortChange"
### Issue Type
Bug

### Specs
2.16

### Expected Behavior
On init one call `onPerPageChange` or `onSortChange`

### Actual Behavior
On init, plugin calls `onPerPageChange`, and then `onSortChange`

[2019-01-10 23:38] ow-en commented on #483
A couple of things: first, if you are having issues with the search term querying on keyup, I would recommend adding a trigger, 'enter', for instance.

Second, you aren't far off with your server-side table, but you're missing an item.

To enable functional pagination, you need not only totalRecords, but also perPage and relevantRecords. A lot of this, though, depends on what you're using on the b

[2019-01-10 23:44] ow-en commented on #487
I'm not exactly sure what the issue is here. This is the example serverParms object from the docs:

[code]
If you leave the sort object as shown in the docs, it will return the field name of the column being sorted, and the direction of the sort.

[2019-01-10 23:49] ow-en commented on #455
Try this:

[code]

[2019-01-11 08:07] projct1 commented on #487
@ow-en Params argument in `onSortChange` does not match `params` in docs.
Look *Actual Behavior* and *Expected Behavior* above please.

[2019-01-12 01:03] juehai commented on #483
@kaphert thanks, I will try later once I finish the current project.

[2019-01-12 01:16] juehai commented on #483
@ow-en appreciate your help.

I believe the server-side table is not too hard unless you don't know how do you do searching.

My code shows clearly I passed the totalRecords and the result dataset which is the this.rows.

This plugin supposes to show the server-side dataset in the current page, and use the totalRecords to make the pagination.

My problem was when I returned 5 rows data and totalRe

[2019-01-16 06:21] ow-en commented on #483
@juehai if what you described is actually the case, then the totalRecords property that you have set in your data object is either not reactive, or isn't being updated by the server correctly.

The only thing the plugin does (from what I've seen) when in remote mode regarding pagination is to 1.) update total pages by using totalRecords / perPage, and 2.) emit an on-page-change event that triggers

[2019-01-16 06:35] ow-en commented on #487
@projct1 I apologize, I definitely misread your post. What I think I was getting at was that I believe this functionality is intended.

I don't have it in front of me right now, but I believe if you console.log the params argument, it's just returning the "rows" property. Params[index] would correspond to rows[indexOfColumnInQuestion].

Is the array format causing a particular issue with your remo

[2019-01-17 14:01] projct1 commented on #488
Its obviously a bug...

[2019-01-17 14:19] xaksis commented on #453
@ow-en could you please send me an email - shay@crayonbits.com

[2019-01-17 14:33] xaksis commented on #489
hey @projct1 why do you think changing only one is the correct behavior? these are independent events and should fire if both are being set on init?

closing. Will re-open if there's a valid reason for having only one event fire.

[2019-01-17 15:00] xaksis commented on #488
I was able to reproduce this. looking into it.

[2019-01-17 15:02] xaksis commented on #487
@ow-en thank you for trying to help!
@projct1 the documentation is a bit outdated here. Vuegoodtable now supports sorting by multiple columns and therefore param objects come back as arrays. I will update the documentation to reflect the change.

[2019-01-17 15:17] xaksis commented on #488
Nvm, that was just my mistake. @ow-en the two vue events you see are just 1. child component telling parent component that something has happened. then parent component telling your component that something has happened. It's the same event propagating up.

The remote table is behaving as it should. I created an example here to make sure the triggers are only firing once.
https://jsfiddle.net/aks9

[2019-01-17 15:17] #488 closed

[2019-01-17 15:22] xaksis commented on #489
Ah ok so what's happening is because :sort-options is specified, the table triggers the sort event when it first sets the sort option. if you don't have sort options specified then only the perPage event is triggered. I'll look into how we can avoid the trigger on initial setup when in remote mode

[2019-01-17 15:32] xaksis commented on #483
Hi @juehai

sounds like it's the classic using camel-case instead of kebab-case for component issue. try using total-rows instead of totalRows on your component.

from the documentation: https://vuejs.org/v2/guide/components-props.html

closing.

[2019-01-17 15:32] #483 closed

[2019-01-17 15:35] xaksis commented on #482
hey @roberto910907 thank you for the suggestion. At the moment I'm leaning against it only because it's fairly simple to use column type html and put an image in there '<img src="" class="" />'.

the reason date was added into the type, is because date comparison/sorting etc are different compared to numbers or text. With images comparison/sorting etc don't come into play.

thanks. Closing.

[2019-01-17 15:35] #482 closed

[2019-01-17 16:00] JulienJarvis commented on #332
any chance to have this feature ?

[2019-01-17 21:15] louisdcoulombe opened #490 "Grouped table documentation example code does not fit with the result"
### Issue Type (delete the irrelevant ones)
- [x] Enhancement Request

### Steps to Reproduce the Problem
Please detail your steps here

1. Go to https://xaksis.github.io/vue-good-table/guide/advanced/grouped-table.html
2. Compare the example code with the result. The data is not the same

![image](https://user-images.githubusercontent.com/3957903/51349260-d3971a80-1a72-11e9-92ec-6b2b185e2848.png)

[2019-01-18 17:05] ow-en commented on #486
Update: the above reset function still works for my server-side tables in production, without observing any side-effects thus far. For my client-side tables, however, this appears to break a few things. As mentioned, the above may be overkill. If anyone is referencing this, I would recommend against using this reset if you are using a client-side table. Will update when I figure out a better solut

[2019-01-21 15:13] projct1 commented on #479
Agree. Still not working. Here some issue, but closed =\ https://github.com/xaksis/vue-good-table/issues/443

[2019-01-25 16:42] ow-en commented on #471
Please follow the issue template in the future, it makes the issue easier for everyone involved to address.

Regarding your question: It's difficult  for me to determine where the issue is based on the format of your issue. What I can say is this: pagination, sort, and filter are all controlled by your own server-side logic when in remote mode.

In remote mode, the plugin emits events when page, s

[2019-01-25 16:42] #471 closed

[2019-01-28 19:52] ow-en commented on #490
Thanks for pointing this out, @louisdcoulombe . The screenshots point to data referenced in the grouped-table recipe: https://github.com/xaksis/vue-good-table/wiki/Vue-good-table-Recipes-(vue-good-table-2.x)

The code samples, however, reference the sample data from the basic-table recipe. I'll fix this in the coming days. Closing.

[2019-01-28 19:52] #490 closed

[2019-01-29 03:33] ow-en commented on #478
To access a header row's index in a grouped table, it would simply be:

`rows[indexOfRow].label`

as shown in the snip below:

![image](https://user-images.githubusercontent.com/36556380/51882331-68332f80-2333-11e9-910f-6ed789059444.png)

While an official prop does not exist to date (to my knowledge), you should be able to access the header both statically and dynamically using the notation liste

[2019-01-29 03:33] #478 closed

[2019-01-29 07:15] ow-en commented on #477
Hi @FinnLorbeer , thanks for bringing this to our attention. I'm looking into this, and will report back when I have a solution/more information.

[2019-01-29 14:00] Tuginho opened #494 "Question: Is there a way to calculate from values in the row?"
### Issue Type (delete the irrelevant ones)

- [x] Question

--------------------------
In BootstrapVue Table we have the option to calculate values from the row in an other field.

          // A virtual column with custom formatter
          key: 'birthYear',
          label: 'Calculated Birth Year',
          formatter: (value, key, item) => {
            return (new Date()).getFullYear() - ite

[2019-01-30 02:19] ow-en commented on #494
Hi, @Tuginho,

In the (docs)[https://xaksis.github.io/vue-good-table/guide/configuration/column-options.html#formatfn] you'll find that vue-good-table has a `formatFn` which does exactly (from what I can tell) what the above example appears to do.

Additionally, if you have a (grouped table)[https://xaksis.github.io/vue-good-table/guide/advanced/grouped-table.html#customizing-header-row], you can

[2019-01-30 02:19] #494 closed

[2019-01-30 11:21] iAn-Pinto commented on #443
Not working for me too in v2.16

[2019-01-30 11:22] iAn-Pinto commented on #479
Issue not fixed in v2.16. Kindly help resolve.

[2019-01-31 06:45] ow-en commented on #455
Closing.

[2019-01-31 06:45] #455 closed

[2019-01-31 16:33] atravotum commented on #213
I'm having the same issue but specifying a "type":"number" on the column configurations does NOT fix the issue. I still run into the d.toLowerCase. This can be avoided by simply enforcing the value as a string, or adding some logic to check if toLowerCase is a valid function before calling it.

[2019-01-31 16:46] atravotum opened #495 "Issue sorting columns"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using: 2.16 (although I've also tried on 2.0 and 2.12)

What browser: Chrome (latest)

### Expected Behavior
What did you expect to happen: I expected the sort to happen

### Actual Behavior
What actually happened: When trying to sort certain tables by a numeric field it breaks the sort

### Steps to Reproduce t

[2019-01-31 17:05] TheFrankman commented on #409
@xaksis - Not resolved by https://github.com/xaksis/vue-good-table/issues/381
Any chance of re-opening this ?

[2019-02-05 08:56] MohitDeshwal commented on #457
Doing this doesn't work. Nor it fires event nor updates selected rows.

[2019-02-05 09:01] MohitDeshwal commented on #457
For Clarification purpose here is whats desired:

Flow -> User makes a selection -> we save selection data to database ;
   ThenIf  -> (User needs to change selection) we present table re initialised with same data/selected rows.

[2019-02-05 18:03] ow-en commented on #495
Closing.

[2019-02-05 18:03] #495 closed

[2019-02-06 23:07] atravotum commented on #495
Interesting, let me explore the different data types because that may actually be the case. Thank you for the quick return, love the plugin btw, saved us a ton of dev time.

[2019-02-07 08:49] MohitDeshwal commented on #457
Could anyone please respond? Is it possible?

[2019-02-07 19:25] ow-en commented on #495
No problem - if you have any additional problems or questions about this issue, I can reopen - just let me know. Also, thanks for the kind words, @xaksis is creator, and I agree, it's an amazing plugin.

Best of luck,

[2019-02-07 23:08] #453 closed

[2019-02-08 00:20] skegel13 commented on #479
I am also seeing this issue. It is only happening when the perPageDropdown custom. When not set, everything works fine.

[2019-02-11 16:50] TheFrankman opened #496 "Checkbox bug with vue 2.6.2 and template compiler 2.6.5"
### Issue Type

- [x] Bug

### Specs
- vgt v2.16
- vue v2.6.2
- vue-template-compiler v2.6.5

What browser?
- Chrome

### Expected Behavior
Checking the box should check the box.

Circumstances out of my control require these latest versions of vue and template-compiler.

### Actual Behavior
Checking the box does add the item to the selected vue array but the checkbox itself doesn't show as checke

[2019-02-12 07:35] rahul1500 opened #497 "ar"
### Issue Type (delete the irrelevant ones)

- [x] Bug
- [x] Enhancement Request
- [x] Question

### Specs
What version are you using?

What browser?

### Expected Behavior
What did you expect to happen?

### Actual Behavior
What actually happened?

### Steps to Reproduce the Problem
Please detail your steps here

1.
1.
1.

### jsfiddle
If you provide a jsfiddle reproducing the issue, it'll be add

[2019-02-13 06:03] ow-en commented on #497
@rahul1500

I'm assuming this was posted accidentally? If you do have an issue, please edit and I can reopen.

Closing.

[2019-02-13 06:03] #497 closed

[2019-02-13 06:20] rahul1500 opened #498 "Checkboxes does not get updated on click or change in UI"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
What version are you using?
2.16.0
What browser?
Chrome Version 72.0.3626.96

### Expected Behavior
What did you expect to happen?
Checkboxes in table should check and uncheck in UI

### Actual Behavior
What actually happened?
it is updating variabless and data but not showing in UI
<img width="400" alt="screenshot 2019-02-13 a

[2019-02-13 06:22] ow-en commented on #498
Same as #496 (directly below this issue).

Closing.

[2019-02-13 06:22] #498 closed

[2019-02-13 07:15] ow-en commented on #496
@TheFrankman @rahul1500 a preliminary fix has been merged. Grab latest on the plugin and let me know how it's working. It's late here, so I haven't had time to test it extensively, but the fix appears to be working on my end.

The source of the issue seems to be a problem with the event.preventDefault directive in vue's latest release conflicting with Chrome/Webkit. From what I've found, the assum

[2019-02-13 08:05] rahul1500 commented on #496
Hi @ow-en,
Thanks for quick turn around,
still it is behaving weirdly, it randomly shows some selection while missing others.
<img width="387" alt="screenshot 2019-02-13 at 1 32 03 pm" src="https://user-images.githubusercontent.com/30120415/52696020-f2b29a80-2f93-11e9-975f-5364ddb8528f.png">

[2019-02-13 09:27] TheFrankman commented on #496
Thanks for looking into this so quickly @ow-en I had a feeling it was something to do with e.prevent.

I've created a fork of my jsfiddle, assuming that adding https://unpkg.com/vue-good-table/dist/vue-good-table.js as the source will pull your newest changes, it still isn't working.

Wish I could be of more help but JS isn't my strongest.

https://jsfiddle.net/TheFrankman/k8b351tm/1/

[2019-02-13 19:15] ow-en commented on #496
Hm, that's weird. It appeared to be working correctly last night, but as mentioned, it was late so I didn't really have much time to test it more extensively.

I'll take a look at your fiddle as soon as I get home this evening, @TheFrankman .

@rahul1500 thank you for your update as well.

I'll keep you guys posted on this - I *should* be able to get it sorted out tonight.

[2019-02-14 09:24] corbosman opened #500 "autofocus on search"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

It would be nice to have an autofocus search option so the browser would automatically focus the search box.

[2019-02-15 17:01] ow-en commented on #496
@TheFrankman @rahul1500 I apologize for the delay on this, but I think I have it figured out. I ended up writing a custom directive that essentially performs the e.preventdefault functionality on its own. I'd like to test this further before merging, though, so it likely won't be live until tomorrow. I'll keep you posted - thanks for your patience on this.

[2019-02-15 17:02] ow-en commented on #500
@corbosman I think this is something I can include in our next minor release. Also open to PR's.

[2019-02-15 17:19] TheFrankman commented on #496
@ow-en Thanks man! Really appreciate it!

[2019-02-18 12:44] TheFrankman commented on #496
@ow-en - Any update ?

[2019-02-18 20:20] sigjak opened #501 "Column header misalignment"
When max-height is enabled, headers and columns are misaligned. See attached fig. Is this a known issue? The translation to the left could be due to the scrollbar width?

regards

Sig

![misaligned](https://user-images.githubusercontent.com/27348716/52974687-5a188200-33ba-11e9-967a-8088c9a507be.PNG)

[2019-02-18 23:00] ow-en commented on #501
@sigjak can you provide a fiddle reproducing the error? I'd be happy to look into this further.

Thanks,

[2019-02-18 23:29] ow-en commented on #496
@TheFrankman @rahul1500

So, I've got it. After testing this more extensively, it appears original merge did indeed fix this issue, as I originally thought. What I didn't realize, however, was that I need @xaksis to update the npm package/cdn/external providers (I don't have access to those assets).

I let @xaksis know that this fix is good to go, and he should have the patch live shortly.

Thanks

[2019-02-18 23:30] #486 closed

[2019-02-19 12:37] sigjak commented on #501
Thanks for the answer.
The misalignment occurred in an SPA where good-tables is one of several components. I made a simpler version with no other components and that version shows no misalignment on MAC  or Windows
(https://github.com/sigjak/good-table.git) so something is interfering with the table and I must deal with that.
However, the checkbox bug mentioned in #496 is still present. Will there

[2019-02-19 17:57] TheFrankman commented on #496
@xaksis - Do you know when you will be able to get this updated ?

[2019-02-19 18:44] xaksis commented on #496
hey @TheFrankman ETA is EOD today. We're just doing some final cleanup.

[2019-02-20 01:06] xaksis commented on #496
the new release (with the fix) has been published - 2.16.1

closing.

[2019-02-20 01:06] #496 closed

[2019-02-20 01:10] xaksis commented on #473
hey @enghelewa the reason it is happening for you in production is because your production build probably uses in-dom templates. here's some relevant documentation:
https://vuejs.org/v2/guide/components-props.html

In general with vue i think it's always better to use kebab case for your templates. This is a vuejs characteristic, so i'm going to close this.

[2019-02-20 01:10] #473 closed

[2019-02-20 12:07] sigjak commented on #501
I believe I have found the cause for misalignment reported a couple of days ago. This shows up when **fixed-header is true** in Chrome ( 72.0.3626.109, 64 bit and Firefox (65.0.1 , 64 bit) Windows 10 but not on Mac Chrome, Firefox and Safari,

regards
and thanks for fixing the checkbox bug!

[2019-02-20 15:11] TheFrankman commented on #496
@xaksis @ow-en - I can confirm that this is now resolved! Thanks for the quick turn around on this guys!

[2019-02-20 16:39] ow-en commented on #496
@TheFrankman awesome ! Glad it's working now.

Best,

[2019-02-21 09:18] karasalaravikumar commented on #318
@xaksis can we use milliseconds in dateInputFormat
     {
          label: 'Done On',
          field: 'completedDate',
          type: 'date',
          **dateInputFormat: 'ms',**
          dateOutputFormat: 'DD-MM-YYYY'
        }
If i am using it in the above way it is always returning today's date ? Because i am getting milliseconds as date input,

[2019-02-21 09:21] karasalaravikumar opened #503 "dateInputFormat in milliseconds"
{
          label: 'Done On',
          field: 'completedDate',
          type: 'date',
          **dateInputFormat: 'ms',**
          dateOutputFormat: 'DD-MM-YYYY'
        }

- [x] Bug : it is always returning todays date
- [x] Is this the correct way of passing the milliseconds to input format ? because i am getting milliseconds as date from backend ?

### Specs
What version are you using?
2.16

[2019-02-21 11:32] willhoyle commented on #425
If anyone is interested, I implemented a small proof of concept for this feature. I didn't need anything too complex for my app but if anyone needs this, feel free to check it out and build off of it.

https://github.com/willhoyle/vue-good-table/commit/202ba585e61354bfc3cc90b34cb0da9ce9374682
The commit is kind of messy because my editor formatted on save and I didn't feel like cleaning it up.

It

[2019-02-21 17:17] ow-en commented on #425
@bogatyrjov1 @iAn-Pinto @willhoyle

This feature will be added in the next minor release (coming **hopefully** in the next week or two).

@willhoyle thanks for your contribution. My research on the subject had me come up with a solution very similar to yours.

If you're interested in creating a PR, it's definitely something I would be interested in looking at further.

Thanks all - I will keep you

[2019-02-22 14:09] rahul1500 commented on #496
@xaksis @ow-en,
Its fixed now, thanks a lot for quick fix.

[2019-02-22 14:29] ordinov commented on #496
Thanks, Iwas waiting for this fix.. but now I get the error:

_TypeError: Cannot create property 'table-column' on boolean 'true'_

on ALL my good-table components that don't even load anymore

[2019-02-22 14:38] ordinov opened #504 "TypeError: Cannot create property 'table-column' on boolean 'true'"
- [x] Bug

v.2.26.1

All my vue-good-table instances stopped running after 2.26.1 update - installing back 2.26.0 everything works fine.

I tested also without defining settings, just with the basic example

[2019-02-22 16:31] ow-en commented on #504
@ordinov can you please provide a fiddle reproducing the issue?

If so, I'd be happy to look into it further.

[2019-02-22 16:37] ow-en commented on #504
So, looking into this further, it appears that vgt isn't available on cdnjs at the moment (which is what our example fiddle was using). @xaksis, any idea why it isn't showing up?

@ordinov if you were previously delivering the vue-good-table assets via cdnjs, you should be able to just swap out the cdn calls for (these)[https://www.jsdelivr.com/package/npm/vue-good-table] via jsDeliver.

[2019-02-22 16:40] ow-en commented on #503
@karasalaravikumar , in the future, please reference the [docs](https://xaksis.github.io/vue-good-table/guide/configuration/column-options.html#dateinputformat) before posting an issue.

As referenced in the documentation, a list of available DateInputFormat options is available [here](https://date-fns.org/v2.0.0-alpha.7/docs/parse).

The correct DateInputFormat (per date-fns) for milliseconds wou

[2019-02-22 16:40] #503 closed

[2019-02-22 17:15] xaksis commented on #504
hey @ow-en what example are you referring to? the examples actually unpkg: https://unpkg.com/vue-good-table@2.16.1/dist/vue-good-table.js

I can actually reproduce @ordinov's error there. Going to look into this

[2019-02-22 17:19] xaksis commented on #504
@ordinov @ow-en  so looks like this is breaking for all versions of vue older than 2.6 now.

[2019-02-22 17:20] xaksis commented on #504
whoops, didn't mean to close it.

[2019-02-22 17:43] xaksis commented on #504
looks like it was caused by an update to template compiler
https://github.com/xaksis/vue-good-table/commit/04ae9564d8304075dd71f7a2cc84d78bce48df27#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

which broke slots as they were used before vue 2.6. I have just released version with the correct configuration. @ordinov this should fix your build. I'll close the ticket when the change propagates to CDN

[2019-02-22 18:22] ow-en commented on #504
Ah, got it. I must have been looking at the wrong place regarding the cdn.

Related to #496, I needed to update to 2.6 to reproduce the checkbox issue, hence the update to the template compiler. Thanks for your help @xaksis.

[2019-02-22 18:25] xaksis commented on #504
No worries! all examples are now working. We just need to update slot implementation before we move the plugin up to 2.6
👍 closing.

[2019-02-22 18:25] #504 closed

[2019-02-22 23:07] ow-en commented on #501
@sigjak I'm looking into this. Removing the max-height prop corrects the issue (though I haven't yet determined why/where the interference is coming from).

I'll keep you posted as I debug this.

[2019-02-24 01:22] kreejzak opened #505 "Injecting unimported css"
### Issue Type
- [x] Bug

### Specs
What version are you using?
^2.16.2

Hi, I am not importing the default css into my app.js file but the css is still injected into the head of html.
So when I try to provide my own styles, it's overwritten by that injected css.

![screenshot 2019-02-24 at 02 08 43](https://user-images.githubusercontent.com/3613973/53293729-71e86f80-37d9-11e9-979f-e0db6df52a0e.pn

[2019-02-24 02:13] jazzlikethat opened #506 "Remote mode: Unable to sort in descending order"
### Issue Type

- [x] Question

### Specs
What version are you using?
v2.16.0

What browser?
Google Chrome

### Expected Behavior
What did you expect to happen?
In case of remote mode, on clicking the column header, the table should fire an event with sort type as "asc". And, on clicking the column header the second time, the table should fire an event with sort type as "dsc" instead of "asc".

##

[2019-02-24 04:21] xaksis commented on #506
hey @jazzlikethat not sure how you're implementing this but plugin is working fine (asc/desc):
example: https://jsfiddle.net/aks9800/c83ektoj/

closing. will re-open if you produce a fiddle showcasing the bug.

[2019-02-24 04:21] #506 closed

[2019-02-24 04:46] xaksis commented on #505
@kreejzak thanks for pointing this out, will look into it. Looks like the rollup plugin got updated and the config file didn't work as expected.

[2019-02-26 19:44] RobinBrons opened #507 "Can't change sorting direction on initialSortBy column"
### Issue Type

- [x] Bug

### Specs
What version are you using?
2.16.2

What browser?
Safari Version 12.0.2 (14606.3.4)

### Expected Behavior
What did you expect to happen?
To be able to sort the `initialSortBy` column

### Actual Behavior
What actually happened?
Nothing 😅 You have to sort another column before you can change the direction of the `initialSortBy` column

### Steps to Reproduce th

[2019-02-26 19:49] xaksis commented on #507
ugh! that is indeed a bug! thanks for catching it @RobinBrons! will look into it.

[2019-02-26 20:07] RobinBrons opened #508 "Be able to sort on object property"
### Issue Type
- [x] Enhancement Request
- [x] Question

### Specs
What version are you using?
2.16.2

What browser?
Safari Version 12.0.2 (14606.3.4)

### Expected Behavior
What did you expect to happen?
Be able to sort on an object property. Right know I have a column with a user object:
[code]

An example of what `user` returns is:

[code]

I of course want to be able to sort based on the `name

[2019-02-26 20:58] xaksis commented on #508
@RobinBrons yeah, for something like this you're better off providing your sort function. In fact, that's the very reason sortFn property exists, to cater to custom sorts where you want to sort by a different field etc. That's how I'd do it.

closing.

[2019-02-26 20:58] #508 closed

[2019-02-27 12:06] unixconky opened #509 "filter by filterDropdownItems display incorrect values"
I use `filterDropdownItems`:

but when I select *Active* I see also rows with *Inactive* status. How can I change this behavior?

[2019-02-27 12:41] unixconky commented on #509
Here is a working example: https://jsfiddle.net/b90fa2er/1/

[2019-02-27 13:02] xaksis commented on #509
@unixconky ah thank you for the fiddle! so it seems like the filter is actually checking to see if the word includes the value... as opposed to an exact match. Legit bug, will have to look into it.

[2019-02-28 03:26] sumancholleti opened #510 "Not able to search with . in table with search options"
Not able to search with .  in table with search options

### Specs
What version are you using?
2.2.16.0
What browser?
any
### Expected Behavior
What did you expect to happen?
Able to search with . if the row present with 3.34
### Actual Behavior
What actually happened?

### Steps to Reproduce the Problem
Please detail your steps here

1.
1.
1.

### jsfiddle
If you provide a jsfiddle reproducing th

[2019-02-28 08:26] ow-en commented on #510
@sumancholleti

Can you be a little bit more specific as to what the issue is? Are you attempting to search/filter a floating point integer (i.e: 10.75024)?

If so, two things come to mind: you may need to check the type prop on your column, or you may want to look into a format or filter function, referenced in the [documentation](https://xaksis.github.io/vue-good-table/guide/configuration/column

[2019-02-28 10:33] RobinBrons commented on #507
Eh I'm sorry... this isn't a bug. In my JSFiddle I have:

[code]

this should obviously be:
[code]

As you can see in [this JSFiddle](https://jsfiddle.net/x15woLkp/), it works.

I'm sorry for the trouble. You were very quick to answer though, thanks for that!

[2019-02-28 10:33] #507 closed

[2019-02-28 11:28] xaksis commented on #507
hah! the little things we miss :) You caught it before I spent time on it so 👍 !

[2019-02-28 18:20] sumancholleti commented on #510
In this fiddle https://jsfiddle.net/aks9800/57a2a4ce/ i tried to search for 3.34 , nothing comes even though last column has values like 3.34

[2019-03-01 01:41] gemilaguinaldo commented on #472
would love this feature!

[2019-03-01 02:15] xaksis commented on #472
@bombkiml @gemilaguinaldo usually the type of data determins the alignment automatically:
numbers and dates are right alighed, text is left aligned. but... you can add any style class you want using `thClass` or `tdClass` properties of column:
https://xaksis.github.io/vue-good-table/guide/configuration/column-options.html#tdclass

closing.

[2019-03-01 02:15] #472 closed

[2019-03-01 04:59] bombkiml commented on #472
@xaksis  thank you so much, i like vue-good-table (^^)

[2019-03-01 06:28] shaunc opened #511 "server side render"
### Issue Type (delete the irrelevant ones)

- [x] Bug
- [x] Enhancement Request

### Specs
What version are you using?
@2.16.2

What browser?
Chrome, but problem is Nuxt.

### Expected Behavior
What did you expect to happen?

Not being able to render on the server is ok.... I was prepared to wrap the table in [vue-no-ssr](https://github.com/egoist/vue-no-ssr).

### Actual Behavior

However, the i

[2019-03-01 06:48] shaunc commented on #511
NB this is from `znck/vue-runtime-helpers` which is included from `rollup-plugin-vue` ... which is a dev dependency?? Its easy to fix the line above -- "HEAD" is used in exactly one place inside `addStyle()` and there one can easily precede the use of "HEAD" with `if (HEAD === UNDEFINED) { ...}` and initialize it if necessary.

However, before going off and submitting PRs to `znck/vue-runtime-help

[2019-03-03 03:48] #466 closed

[2019-03-03 03:48] #479 closed

[2019-03-03 03:48] #510 closed

[2019-03-03 03:48] #505 closed

[2019-03-03 03:48] #511 closed

[2019-03-03 03:51] xaksis commented on #511
2.16.3 should fix this... there was a mismatch of rollup to config and the bundled file weren't correct. Give it a try and we can open this up if the issue isn't resolved.

[2019-03-03 03:52] xaksis commented on #510
v2.16.3 should fix this.

[2019-03-03 03:53] xaksis commented on #505
v2.16.3 released which the css extracted out.

[2019-03-03 03:55] xaksis commented on #479
sorry for the delay on this. v2.16.3 should have this fixed.

[2019-03-03 03:56] xaksis commented on #466
@karakayasemi really sorry for the delay on this... this should now be fixed with v2.16.3

[2019-03-04 07:30] unixconky opened #512 "Pagination doesn't work in remote mode"
Version: v2.16.2

In remote mode `total` props == `currentPerPage` instead of `totalRecords` so there is only one page visible, for example 1 - 30 of 30 and "Next" button is disabled. I do everything according to "remote mode" documentation. How can I fix it?

![zrzut ekranu z 2019-03-04 08-17-39](https://user-images.githubusercontent.com/25853438/53717167-8f5fae00-3e57-11e9-8a0d-8c15fe648cf5.png)

[2019-03-04 09:51] unixconky commented on #512
`totalRows` is undefined, I can't find the reason.
![zrzut ekranu z 2019-03-04 10-49-35](https://user-images.githubusercontent.com/25853438/53724992-634e2800-3e6b-11e9-8750-9c0ae27759f5.png)

[2019-03-04 10:13] unixconky commented on #512
Ok, changed :totalRows="totalRecords" to :total-rows="totalRecords" and it's working fine.

[2019-03-04 10:13] #512 closed

[2019-03-05 04:47] DeeGeeMan opened #513 "clearing the search field doesn't trigger @on-search event"
I need a way to know when the search field is empty.

-Devin

[2019-03-06 05:38] stevyrino opened #514 "Code collision"
### Issue Type (delete the irrelevant ones)

- [x] Bug   Code Collision

### Specs
"vue-good-table": "^2.16.3",

What browser?
firefox 65.0.1

### Expected Behavior
Display without errors

### Actual Behavior
No display of table with error "Type t is undefined"

### Steps to Reproduce the Problem

"vue-datatable-net" is in the dependency list.
when debugging the vue.runtime.esm.js, it showed that

[2019-03-06 05:49] stevyrino opened #515 "styles"
### Issue Type (delete the irrelevant ones)

- [x] Question ---- Canned styles not being applied.

### Specs
"vue-good-table": "^2.16.3",
"vue": "latest",
 "vue-template-compiler": "latest",

What browser?
firefox 65.0.1
### Expected Behavior
Table to be styled

### Actual Behavior
Table is not styled.

### Steps to Reproduce the Problem
Just using vue-good-table in default mode.

![screenshot_201

[2019-03-06 10:34] Dave3of5 commented on #504
I'm still getting this problem with 2.16.3 vue version 2.6.6 and vue-template-compiler 2.6.6.

What's the solution ?

[2019-03-06 11:52] xaksis commented on #515
hey @stevyrino! could you show me how you're importing it? did you import the styles?
https://xaksis.github.io/vue-good-table/guide/

[2019-03-06 11:53] xaksis commented on #514
hey @stevyrino ... "vue-datatable-net" has nothing to do with vue-good-table... I have a feeling there's something wrong in your build and this isn't really a vgt issue.
closing.

[2019-03-06 11:53] #514 closed

[2019-03-07 03:35] ow-en commented on #513
@DeeGeeMan

Can you expand a bit on this, possibly using the issue template?

I'd be happy to offer any guidance I can.

Thanks,

[2019-03-07 12:42] unixconky opened #516 "Is "Checkbox Table with Pagination" working in remote mode?"
I'm trying to use this: https://jsfiddle.net/aks9800/dzka5qz0/ but in remote mode and when I click "Next page" all selected rows are cleared.

[2019-03-08 09:40] TheFrankman commented on #409
@xaksis this was never resolved as far as I can tell.
Cam we please look back into this.

[2019-03-08 21:35] stevyrino commented on #515
Yes .... I wasn't importing the styles correctly ... cheers.

[2019-03-08 21:35] #515 closed

[2019-03-09 11:31] xaksis commented on #487
documentation has now been updated to reflect correctly. closing.

[2019-03-09 11:31] #487 closed

[2019-03-09 11:33] xaksis commented on #516
hey @unixconky in remote mode, table has no concept of the page before and the page after, you'd have to maintain the selection/state yourself and set them programmatically every time a new page loads. you can use the internal row property `vgtSelected` to mark a row selected.

closing.

[2019-03-09 11:33] #516 closed

[2019-03-09 22:00] tirtasantoso commented on #504
Also encountering the same issue even with the basic example.

[2019-03-10 11:39] xaksis commented on #504
@Dave3of5 @tirtasantoso could either of you create a fiddle to show this? I'm looking at the basic example here: https://jsfiddle.net/aks9800/dc1L3pza/2/ which uses vue 2.6.8 and it works fine as you can see.

Are you sure the plugin isn't just cached for you?

[2019-03-11 07:00] NishantSoni commented on #477
I am also getting so many warning in the console, please look into it, and please suggest a solution for this, thanks !

[2019-03-11 10:29] unixconky opened #517 "How to select all (not only from first page) rows programatically in Remote Mode?"
I'm trying to do something like this:

![Zrzut ekranu z 2019-03-11 13-35-43](https://user-images.githubusercontent.com/25853438/54124470-ceb36f00-4402-11e9-8801-b922f90fbc32.png)
![Zrzut ekranu z 2019-03-11 13-36-33](https://user-images.githubusercontent.com/25853438/54124481-d1ae5f80-4402-11e9-824e-ef04d191f435.png)

[2019-03-11 16:45] Dave3of5 commented on #504
@xaksis Thanks for that example the update to vue 2.6.8 worked it wasn't working with 2.6.6 but I see that there have been changes in the slots code for 2.6.7 and 2.6.8 so I think that's what the problem was.

[2019-03-11 19:30] #517 closed

[2019-03-11 22:26] p0psicles opened #518 "Table footer icw grouped table"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request
- [x] Question

### Specs
What version are you using?
2.16.3

What browser?
chrome (latest stable)

### Expected Behavior
Is it possible to have per table group a footer added?
Preferably with a function, so I can display some calculated values based on the grouped table displayed?

### Actual Behavior
What actually happened?

[2019-03-12 01:33] xaksis commented on #518
sure is!
jsfiddble example: https://jsfiddle.net/aks9800/0t820euy/
documentation: https://xaksis.github.io/vue-good-table/guide/advanced/grouped-table.html#_5-what-if-you-wanted-to-add-a-total-count-in-summary-rows

closing. Let me know if this isn't what you want.

[2019-03-12 01:33] #518 closed

[2019-03-12 07:26] unixconky opened #519 "How to add additional button next to "clear" link (checkbox table)"
How to add an additional button next to the "clear" link (checkbox table)? I know that there is "action" slot but I need this on the left side.

![Zrzut ekranu z 2019-03-12 08-24-22](https://user-images.githubusercontent.com/25853438/54181946-6fa43780-44a0-11e9-9935-77b08875bbb7.png)

[2019-03-12 10:01] vinke1996 opened #520 "Different FormatFn on same field"
### Issue Type (delete the irrelevant ones)
- [x] Bug

### Specs
What
version are you using?
2.16.2

What browser?
chrome (latest stable)

I have 3 columns for my table. these 3 columns has the same field (which is an array) but all 3 columns has a different FormatFn.
If I show one of these columns at a time everything worked fine. But if I put the 3 columns after each other all the columns shows

[2019-03-12 15:51] xaksis commented on #520
Hey @vinke1996, can you show me the full code here? I suspect your `formatFn: getDistance` should actually be `formatFn: this.getDistance`.

[2019-03-12 15:53] xaksis commented on #519
hey @unixconky, you can use the selection-row-actions slot:
https://xaksis.github.io/vue-good-table/guide/advanced/checkbox-table.html#selected-row-action-slot

closing.

[2019-03-12 15:53] #519 closed

[2019-03-12 15:55] xaksis commented on #501
duplicate of #373

closing this. Any update will be posted on 373

[2019-03-12 15:55] #501 closed

[2019-03-12 18:21] p0psicles commented on #518
Yes more or less. I'm already using the header-row to group a show's seasons.
I'm using this slot for that:
```<template slot="table-header-row" slot-scope="props" :class="'my-class'"></..>```
But i'd like to also have a footer, that shows some summary info. Like the amount of episodes that season has. Is there a second slot available for this?

[2019-03-12 18:35] xaksis commented on #518
So, you can either use the header or the summary row. Currently the table doesn't support having both. You can have a summary row with the sum count like the jsfiddle example though.

[2019-03-12 21:25] p0psicles commented on #518
okay, so what I like to achieve is this:
![image](https://user-images.githubusercontent.com/1331394/54237145-96508580-4515-11e9-849d-d388798d116b.png)

In red, should show some summary about the episodes (red), But I also need the headers (seasons in yellow).

Is it possible to introduce a new slot for this? Like table-footer-row? If possible, I can dig into your code, and PR it?

[2019-03-12 21:50] xaksis commented on #518
yeah, I understand this isn't currently possible with the table. Please go ahead and submit a PR, I'd be happy to review.

[2019-03-13 05:44] Alan-Solitar opened #521 "Fields with decimal points in them are not showing up in the table"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
Latest
What browser?
Firefox

### Expected Behavior
What did you expect to happen?
Each row is formatted like this:
[code]
The columns are using field names that correspond to the object keys.
I expect all values to show up in the table under the correct columns.
### Actual Behavior
What actually happened

[2019-03-13 06:58] ow-en commented on #521
@Alan-Solitar

Can you give me a snippet of your columns object, or provide a fiddle reproducing the issue?

Second, have you set the 'Type' prop as 'Decimal' for the column(s) with floating point values? See the type prop in the documentation (here)[https://xaksis.github.io/vue-good-table/guide/configuration/column-options.html#type].

The columns default their type to String, which I've noticed

[2019-03-13 07:42] ow-en commented on #521
@Alan-Solitar

I just want to make sure I'm clear on the issue: the concern here is that row values whose column fields (object keys) are floating point numbers aren't showing up?

If that is the case, I was able to reproduce this in a fiddle, though I'm not sure this is a bug.

If you look at the fieldFn in the [docs](https://xaksis.github.io/vue-good-table/guide/configuration/column-options.html

[2019-03-13 16:07] Alan-Solitar commented on #521
@ow-en Yeah, your interpretation of the problem is correct.  The only reason for using keys like this is because is because that is already the way the javascript object is already formatted.  If it's not necessarily a  bug, then I suppose I can find a workaround of some sort.

[2019-03-15 00:00] xaksis commented on #521
hey @Alan-Solitar yeah, @ow-en is right about this not being a bug. The reason decimals don't work is because the dot notation is actually used to look up nested objects. in other words if `user.name` would actually look for:
[code]

Table doesn't have any way to know whether you're looking for a nested field or a decimal field.

closing.

[2019-03-15 00:00] #521 closed

[2019-03-15 07:44] PrimozRome opened #524 "Pagination not displaying in remote mode"
- Question
- Version 2.16.3
- Chrome

I can not figure out why pagination is not displaying in the remote mode?

Here is my setup:

[code]

and data variables for the table

[code]

Thanks for helping.

[2019-03-15 11:14] xaksis commented on #524
hey @PrimozRome `pagination-options="paginationOptions"` should be `:pagination-options="paginationOptions"`
notice the ":" before the attribute. Currently you're using a string as pagination option.

closing.

[2019-03-15 11:14] #524 closed

[2019-03-15 18:47] xaksis commented on #520
going to close this. Let me know if you still have this issue  after you've corrected the functions

[2019-03-15 18:47] #520 closed

[2019-03-16 12:40] p0psicles commented on #518
I've submitted a PR. It's not much code to review?

[2019-03-19 00:59] 181 opened #525 "Is there a way to make selected rows as one row per selection only"
### Issue Type (delete the irrelevant ones)

- [x] Bug
- [x] Enhancement Request
- [x] Question

### Specs
What version are you using?

What browser?

### Expected Behavior
What did you expect to happen?

### Actual Behavior
What actually happened?

### Steps to Reproduce the Problem
Please detail your steps here

1.
1.
1.

### jsfiddle
If you provide a jsfiddle reproducing the issue, it'll be add

[2019-03-19 17:44] lefterisnik commented on #259
Hi @niceque, have you found a way how to do it?

[2019-03-19 21:57] p0psicles commented on #518
@xaksis I don't mind investing some of my time into your project. But it would be nice if you gave some feedback on the pr's?

[2019-03-19 22:02] xaksis commented on #518
@p0psicles, I'm sorry but I'm having an exceptionally busy week. I'll review it when I get some free cycles. I appreciate your patience.

[2019-03-20 05:11] Q-JI commented on #373
Any updates on this issue, I am still facing the fix header issue in mobile view. Thanks

[2019-03-21 15:44] kreejzak opened #526 "External sort buttons"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
Hi, is there any option to make external sorting buttons?
I often group data to single column for better readability and for more compact view, but then I'm unable to sort by hidden columns. I would like to make external row of buttons corresponding to all columns (including hidden ones) and make some function to sort data by c

[2019-03-21 16:06] kreejzak commented on #526
I have just figured out that i can manually change initialSortBy and it works.
Sorry I bothered.

[2019-03-21 16:06] #526 closed

[2019-03-22 02:52] shaunc commented on #511
Very good -- thanks!

[2019-03-22 20:17] ursatheking opened #527 "Is there a way to group rows by a shared value without having different row arrays?"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request
- [x] Question

On the Simple Grouped Table example, https://jsfiddle.net/aks9800/wtwwkcgm/, I see that you have different row arrays for each animal class. But is it possible to just have them grouped by having the key "animalClass" and the value "mammal, reptiles/etc"?

[2019-03-24 13:02] zfrk opened #528 "set RowsData programatically"
### Issue Type (delete the irrelevant ones)

- [x] Question

I have two different table on my page and I want set Rows data programmatically to the second table upto first one selections. How can I do it ?

Thanks,

Zafer

[2019-03-25 02:18] friend-ship opened #529 "Scrollbars appear in the drop-down box for adding operations to the table"
### Issue Type (delete the irrelevant ones)

- [x] Bug
- [x] Enhancement Request
- [x] Question

### Specs
What version are you using?

What browser?

### Expected Behavior
What did you expect to happen?

### Actual Behavior
What actually happened?

### Steps to Reproduce the Problem
Please detail your steps here

1.
1.
1.

### jsfiddle
If you provide a jsfiddle reproducing the issue, it'll be add

[2019-03-25 19:02] luizzz opened #530 "Invalid attempt to spread non-iterable instance"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
Latest version (2.16.3)

What browser?
Chrome version 73.0.3683.86

### Expected Behavior
What did you expect to happen?
No console errors

### Actual Behavior
What actually happened?
Console alerts. Btw, the table looks fine.

`vue.esm.js:566 TypeError: Invalid attempt to spread non-iterable instance

[2019-03-26 19:15] patrickbolle commented on #530
I had this happening as well - though in Nuxt.js it crashed the whole client application.

My workaround was to use a computed property like this -
[code]

Basically I think vue-good-table grabs the data array, but if there is no data in the array (something like that) it bugs out with this error message. My computed variable above returns [] which for some reason bypasses this issue.

Don't ask m

[2019-03-27 01:40] andriasmelianus opened #531 "on-sort-change page position inconsistent in remote mode"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.16.3

What browser?
Chromium 73

### Expected Behavior
What did you expect to happen?
When user on page 2 (or whatever page except page 1) and sort the records, VGT remain on the page 2.

### Actual Behavior
What actually happened?
VGT reset the pagination showing data from 1 - 10 (for example) of 50. B

[2019-03-28 16:32] Aylay opened #532 "How can I add click link on every cell of a specific column ?"
### Issue Type
- [x] Question

### Specs
What version are you using? 2.16.3

### Question
Hello

I would like to add a click to a edition page in the first cell ?
I don't know how to do it.

Thank ;)

[2019-04-02 01:25] adgrace commented on #205
@jjhesk Did you get a solution?
I am experiencing the same problem: Cannot read property 'length' of undefined.

[2019-04-02 02:18] xaksis commented on #530
@luizzz @patrickbolle this happens if you provide a non-array object to rows property. If you're loading rows via asynchronous request, Just put a v-if on your table
[code]
closing.

[2019-04-02 02:18] #530 closed

[2019-04-03 19:06] axelitus commented on #477
Not test-related but I get these warnings on Vue Dev Tools on Chrome:

[code]

[2019-04-04 15:53] axelitus opened #533 "Caret is not set using initialSortBy with remote table"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.16.3

What browser?
Chrome version 73.0.3683.86

### Expected Behavior
What did you expect to happen?
When using an initialSortBy value (either single or multiple) I would expect that the caret will be placed showing the sorted column.

### Actual Behavior
What actually happened?
No caret is being shown

[2019-04-05 19:28] pwalker27 opened #534 "Pagination - Rows per page resets on row selection"
### Issue Type

- [x] Bug

### Specs
2.16.3
Chrome/IE 11

### Expected Behavior
I have a checkbox table with pagination enabled. I expect that if I change my rows per page, then make a table selection, the rows per page will remain the same.

### Actual Behavior
If I change the rows per page from the default, then as soon as I select a row on the table the rows per page reverts back to the default

[2019-04-06 10:23] p0psicles commented on #518
Long week. But I understand. Life can take prio. In the mean time I've added a number of features in my fork.
Let me know when you get back on track. To see if and how certain features can make its way in.

[2019-04-08 09:46] marcelcremer opened #535 "IE: Dropdown based Filters / Object don't emit events"
### Issue Type (delete the irrelevant ones)

- [ x] Bug

### Specs
What version are you using?
latest

What browser?
IE11+

### Expected Behavior
What did you expect to happen?

Dropdown Filters based on objects should work.

### Actual Behavior
What actually happened?

They don't, because the wrong event is taken.

### Steps to Reproduce the Problem
Please detail your steps here

... will send a

[2019-04-08 10:47] hasge commented on #509
You can use: `
``filterFn: function (data, filterString) {
              return data === filterString
            }```

[2019-04-08 15:05] #535 closed

[2019-04-11 03:47] soobax commented on #534
I have the same issue. I have a select dropdown in Table Action Slot. Every time I change the select option, the 'Rows per page' resets to default.

[2019-04-11 20:19] xaksis commented on #534
ooh! clearly a bug. Will take a look. Thanks for bringing this up @soobax @pwalker27

[2019-04-12 12:14] marmulack opened #537 "on more one Custom Row Template make other cells null (solved)"
### Issue Type (delete the irrelevant ones)
  Solved
- [] Bug

### Specs
What version are you using?
^2.16.3
What browser?
mozilla
### Expected Behavior
What did you expect to happen?
change 2 column custumize
### Actual Behavior
What actually happened?
2 columns was changed but other columns make null
### Steps to Reproduce the Problem
Please detail your steps here

that is my source as a vue com

[2019-04-13 15:21] marmulack opened #538 "console Error on load and worked vue-good-table true"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
What version are you using?
^2.16.3
What browser?
firefox quantom 66.0
### Steps to Reproduce the Problem

on my source vue-good-table worked true but on browser console i have below error:
![vgt](https://user-images.githubusercontent.com/15891911/56081598-43276680-5e24-11e9-8ce7-bc1ef2e7ad7a.jpg)
and this is my source:

    <d

[2019-04-15 09:38] hoanghiep1x0 opened #539 "onSortChange return cannot read property 'field' of undefined An error"
### Issue Type

- [x] question

### Specs
What version are you using?

^2.16.3

What browser?

Google Chrome	73.0.3683.103 (Official Build) (64-bit)

### Expected Behavior
What did you expect to happen?

I want it to work sort

### Actual Behavior
What actually happened?

### Steps to Reproduce the Problem
Please detail your steps here

[code]
return error Cannot read property 'field' of undefine

[2019-04-15 18:32] ton212 opened #540 "Header of HTML-enabled column should render using v-html"
### Issue Type (delete the irrelevant ones)
- [x] Enhancement Request

### Specs
What version are you using?
2.16.3

What browser?
Google Chrome Version 73.0.3683.103 (Official Build) (64-bit)

### Expected Behavior
What did you expect to happen?
Header cell of HTML-enabled column should be render using `v-html`.

### Actual Behavior
What actually happened?
The header cell is render as normal text

[2019-04-25 07:20] PrimozRome opened #541 "Detail row feature"
- [x] Enhancement Request

### Expected Behavior
Have option to enable detail row. This means that each row would have a [+] button in the first column (or last) which would toggle detail row on/off. Detail row should be a component that receives few props like row object, etc...

Something like this:

<img width="2122" alt="Screenshot 2019-04-25 at 09 18 58" src="https://user-images.githubusercon

[2019-04-25 08:50] cannap opened #542 "Save scrollbar position"
hi,
FIRST awesome work thank you so much

### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
Latest

is there a way to save the current scroll position when i use max-height?
the problem is use the click event to switch the page but it also  reloads the table each time.

maybe a event when someone scrolls to get the current Y axis position?

i got it working to save the current

[2019-04-26 07:01] xaksis commented on #540
Hey @ton212 for customized headers please use the respective slots:
https://xaksis.github.io/vue-good-table/guide/advanced/#custom-column-headers

closing.

[2019-04-26 07:01] #540 closed

[2019-04-26 07:10] xaksis commented on #539
hey @hoanghiep1x0 vue-good-table was enhanced to support sort by multiple columns a while back. This is why sort event now emits an array instead of object. However, the example document isn't updated to reflect this. To make this work, you simply need to update sort with an array:

[code]

closing.

[2019-04-26 07:10] #539 closed

[2019-04-26 07:11] xaksis commented on #541
duplicate of #425
closing.

[2019-04-26 07:11] #541 closed

[2019-04-26 07:15] xaksis commented on #537
yeah as you probably figured out, you seem to be missing the part about rendering the rest of the columns:
[code]
closing.

[2019-04-26 07:15] #537 closed

[2019-04-26 07:17] xaksis commented on #538
This error usually happens if rows is not an array, in case of remote table, perhaps you are trying to render the table before the rows object exists. putting a `v-if="rows && rows.length"` on the table should fix this.

closing.

[2019-04-26 07:17] #538 closed

[2019-04-26 07:19] xaksis commented on #532
hey @Aylay you can use the `@on-cell-click` event:
https://xaksis.github.io/vue-good-table/guide/configuration/table-events.html#on-cell-click
can use the`params.column` property to figure out which column is emitting the click.

closing.

[2019-04-26 07:19] #532 closed

[2019-04-26 07:24] xaksis commented on #531
reverting back to page 1 on sort change is by design. Consider the following example. You are on page 3 and are looking at rows X, Y, Z. Now you click sort - if you remain on page 3, the rows that you currently see are maybe G, H, I. You sorted the table to see some kind of order in your data but being on page 3 has no value right now. We don't really know where X, Y, Z have gone so to avoid confu

[2019-04-26 07:24] #531 closed

[2019-04-26 07:25] PrimozRome commented on #541
@xaksis thanks, appreciate it!

[2019-04-26 07:26] xaksis commented on #529
@friend-ship There simply isn't enough information in this ticket for me to investigate. I'm going to close this. Please create another ticket preferably with a fiddle so I can look into it.

[2019-04-26 07:26] #529 closed

[2019-04-26 07:27] xaksis commented on #528
@zfrk These kinds of questions are better suited for stackoverflow. But i'll get you started. You can use the @on-click event from the first table to populate rows for the second table.

closing.

[2019-04-26 07:27] #528 closed

[2019-04-26 07:29] xaksis commented on #527
Hey @ursatheking this is currently not possible but something worth investigating.

[2019-04-26 09:27] PrimozRome opened #543 "Custom loading classes"
- [x] Enhancement Request

### Expected Behavior

Currently in the remote mode the class `is-loading` is applied to the wrapper element `<div class="vgt-inner-wrap is-loading">` and this element is appended to the HTML template:

[code]

I would like to see ability to customise which loading CSS classes are added to the wrapper. I have my own CSS loading classes that grey out and add spinner to th

[2019-04-27 04:35] obaidsamadian commented on #186
I've followed every step on the wiki, but the paginator's missing!

[2019-04-28 09:39] mimanghuilang opened #544 "vue good tables don't work on IE10,at version 2.16.3"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.16.3

What browser?
ie

### Expected Behavior
work normal on ie10

### Actual Behavior
don't work on ie10

### Steps to Reproduce the Problem
Please detail your steps here

1.i follow the Instructions of https://xaksis.github.io/vue-good-table/guide/#installation，it‘s didn't work on ie10，i'm use vue-cli

[2019-04-28 09:42] mimanghuilang commented on #544
just like issue #153

[2019-04-29 13:03] kodmaster23 commented on #425
Hi! Any news in this issue?

[2019-04-30 07:43] PrimozRome commented on #543
I have been able to achieve this with

`<template slot="loadingContent">&nbsp;</template>`

and overriding `is-loading` CSS class

[2019-05-01 15:43] xaksis commented on #543
@PrimozRome glad you were able to solve this. closing.

[2019-05-01 15:43] #543 closed

[2019-05-01 15:57] #534 closed

[2019-05-02 00:47] TheJaredWilcurt opened #545 "Searching/Sorting on long strings is render blocking (Slow Performance)"
* **Issue Type:** Bug
* **Version:** 2.16.4
* **Browser:** Chrome
* **Issue:** When sorting on long strings the UI thread locks up.

**Steps to reproduce:**

1. Go to: https://jsfiddle.net/phtdf4cn/2
1. Click on the "Increase Count" button
   * Count should go up to `1` instantly
1. Sort on Name or Description, then click on the "Increase Count" button
   * There is a long delay before the count g

[2019-05-11 09:48] ozata opened #546 "Default Search Behaviour don't search"
### Issue Type (delete the irrelevant ones)
- [x] Question

### Specs
What version are you using?
2.16.4
What browser?
Chrome
### Expected Behavior
What did you expect to happen?
When I just write, enabled: true, for search-options, I want it to search the table, but It does not search it, I have to use custom search function.
### Actual Behavior
What actually happened?
It just shows an empty list

[2019-05-14 06:05] obaidsamadian opened #547 "Remote table doesn't refresh on filter, and pagination,"
### Issue Type (delete the irrelevant ones)

- [x] Bug
- [ ] Enhancement Request
- [ ] Question

### Specs
What version are you using?
16.4
What browser?
chrome
### Expected Behavior
What did you expect to happen?
new data show up after setting filter ro going to antoher page
### Actual Behavior
What actually happened?
everything was fine on 16.3, after I upgraded to 16.4 remote table broke

[2019-05-14 08:48] PrimozRome commented on #425
+1 any update on release?

[2019-05-14 09:56] xaksis commented on #547
Not nearly enough information here for me to look into it. The demo seems to be working fine:
https://jsfiddle.net/aks9800/c83ektoj/

closing. Will reopen if you can provide some context - is there an error message? are the events not being fired?

[2019-05-14 09:56] #547 closed

[2019-05-14 10:01] xaksis commented on #546
This is probably because your column type is `number`. If your data is a number, partial string match would not make sense there, it does a full match only. If you want partial match, you're correct in writing your own filter function, converting values to strings and doing a comparison.

closing.

[2019-05-14 10:01] #546 closed

[2019-05-14 12:44] SETTER2000 commented on #205
Не работает ваш код.
[Vue warn]: Error in render: "TypeError: Cannot read property 'length' of undefined"

found in

---> <VueGoodTable>
       <TablePoaleell> at src/components/TablePoaleell.vue
         <App> at src/App.vue
           <Root>
warn @ vue.runtime.esm.js?2b0e:619
logError @ vue.runtime.esm.js?2b0e:1884
globalHandleError @ vue.runtime.esm.js?2b0e:1879
handleError @ vue.runtime.esm.js

[2019-05-15 06:00] obaidsamadian opened #548 "Width property doesn't work"
### Issue Type (delete the irrelevant ones)

- [x] Bug
- [x] Enhancement Request
- [ ] Question

### Specs
What version are you using?
16.3
What browser?
Chrome

### Problem
When the table gets overflow-x ( the table is bigger than the viewport ), the width property doesn't work anymore!

### Solution
Change of "width" property to "min-width". that will solve the problem.

https://stackoverflow.co

[2019-05-18 10:06] TheJaredWilcurt commented on #545
* Talk on performance in Vue: https://www.youtube.com/watch?v=5B66qer8cZo
* Slides from talk: https://slides.com/akryum/vueconfus-2019#1
* Repo from talk: https://github.com/Akryum/vue-9-perf-secrets

[2019-05-18 10:14] xoxoj commented on #425
@willhoyle this is no useful.

[2019-05-19 15:02] xoxoj commented on #425
has some bug, if i use this code, when i clicked the row, then the checkbox state style can not be checked

[2019-05-19 15:11] Jakobovski commented on #475
@ow-en I think you misunderstood, probably because I explained my issue poorly.

I dont want to change the filterOptions. I want a way to grammatically change the selected filter. EX: status=SUCCESS in the url params, I want to grab that and set the filter on the success column to be SUCCESS. Right now i can easily update the request that goes to the server, but change the item that is actually se

[2019-05-21 18:33] LeCoupa opened #550 "Line numbers should be td in tbody instead of th"
When settings line-numbers to true, it uses a th tag inside tbody. This causes multiple styling issues (especially when setting a box-shadow to thead).

[code]

[2019-05-22 22:28] patrickbolle opened #551 "Remove checkbox using custom row template?"
I'm using the custom row templates and it is working great! But I'm looking to remove checkboxes on certain rows.

For example, I want to remove all checkboxes after row 500.

Is this possible?

Thanks for the great library!

[2019-05-27 09:04] LeCoupa commented on #285
@xaksis does it make sense to add the type "array" and "object" also? I am trying to sort on a column that is an array.

[2019-05-27 10:02] xaksis commented on #285
hey @LeCoupa! Do you mind opening up a new ticket? It's better for me to keep a record of current discussion if it's not on closed tickets.

[2019-05-27 10:05] xaksis commented on #551
Hey @patrickbolle, for a customized use-case like that it might be better to use the custom template to create your own column with checkboxes. You can then more precisely control which rows have checkboxes and which don't.

closing.  Let me know if you encounter an issue doing this, and we can re-open and discuss more.

[2019-05-27 10:05] #551 closed

[2019-05-27 10:13] xaksis commented on #550
hey @LeCoupa, using th inside tbody is perfectly legitimate according to HTML spec. Regarding styling, th tags used with line-numbers have the css class - `.line-numbers` on them and can be used to undo any style that you might have applied to generic th or to customize styling.

closing.

[2019-05-27 10:13] #550 closed

[2019-05-27 10:18] xaksis commented on #548
@obaidsamadian cool! TIL. Thank you for this ticket. will add this to the next version

[2019-05-27 10:29] xaksis commented on #544
hey @mimanghuilang, I've tested it in both actual IE 10 and IE 10 emulator. It is working in both. I'm going to close this til I see some errors, more details or more people complaining about the same.

[2019-05-27 10:29] #544 closed

[2019-05-27 10:35] xaksis commented on #542
hey @cannap! So, currently, the table doesn't emit scroll position. After reading your post, this actually seems to be an implementation change that you can make on your end. Why does the table reload each time you switch page if it's the same data that user needs to go back to (including scroll position)? Maybe instead of destroying the table, just use `v-show` property so it's just hidden from v

[2019-05-27 10:35] #542 closed

[2019-05-27 10:46] xaksis commented on #533
hey @axelitus, I have a feeling you're using this incorrectly as it is working fine in the example here:
https://jsfiddle.net/aks9800/c83ektoj/

For initial setup, depending on what those initial values are (whether they are being set directly on the table or something that you're just holding in your payload) it might trigger the initial call more than once. You can and should add logic to deboun

[2019-05-27 10:46] #533 closed

[2019-05-27 10:49] xaksis commented on #525
hey @181, using the format provided helps me get more details for your request. In this case for example... I don't know if you mean select 1 checkbox at a time? or fire an event when you click on the row. the latter is certainly possible:
https://xaksis.github.io/vue-good-table/guide/configuration/table-events.html#on-row-click

closing.

[2019-05-27 10:49] #525 closed

[2019-05-27 10:49] xaksis commented on #513
closing.

[2019-05-27 10:49] #513 closed

[2019-05-27 10:58] #548 closed

[2019-05-27 20:05] connorshea commented on #519
Would you be open to making a slot that can be used to customize the entire `vgt-selection-info-row` element? I'd like to put the "2 rows selected" text and "clear" button in a `span` or `p` so I can more easily style it :)

[2019-06-04 09:16] urvinikhil opened #552 "column filter date"
### Issue Type (delete the irrelevant ones)

- [x] Bug
- [x] Enhancement Request
- [x] Question

### Specs
What version are you using?

What browser?

### Expected Behavior
What did you expect to happen?

### Actual Behavior
What actually happened?

### Steps to Reproduce the Problem
Please detail your steps here

1.
1.
1.

### jsfiddle
If you provide a jsfiddle reproducing the issue, it'll be add

[2019-06-04 09:18] urvinikhil commented on #552
Hey, can you tell me how to search the date in the 'dddd, MMM Do YYYY', format.

[2019-06-05 04:11] urvinikhil commented on #552
the output format of the date is  MMM Do YYYY, but column filter doesn't accept the month?
any way to resolve this issue? or get the input in date format?

[2019-06-11 14:46] ace-subido opened #553 "Method to get currently displayed rows on the table"
### Issue Type (delete the irrelevant ones)
- [ ]  Bug
- [ ]  Enhancement Request
- [x]  Question

Is there a way to get a list of all the currently displayed rows on a table? For example, someone had a table with this data:

Name | Address | Number
-|-|-
John Doe | California | 1234567 |
Jane Doe | New York | 1234567 |
Freddie Mercury | Kansas | 1234567 |

And I filtered it as such that only `Joh

[2019-06-11 15:13] xaksis commented on #553
hey @ace-subido, you can put a ref on the table and access the proprty 'paginated' to get a list of currently displayed rows.
[code]

[2019-06-11 15:13] #553 closed

[2019-06-13 18:41] vincentntang opened #554 "Ability to add content to topleft of table"
I'm looking to stylize the search bar to the topright corner of the table, and add a variable title to the topleft of the table. Below image is an example

![image](https://user-images.githubusercontent.com/10290348/59458161-eb878600-8de7-11e9-94f6-a846b9b4b4a8.png)

Is there a vue-slot built in to handle this?

All I can find is this documentation

[code]

and then swapping the order with css-sty

[2019-06-14 11:07] PrimozRome commented on #425
@ow-en by I don't want to be pain in the ass but is there by any chance a known release date on this feature? Thanks a lot!

[2019-06-14 12:58] ChaStPierre commented on #425
More support. We quite a bit this library and expansion is definitely a needed addition. Thanks

[2019-06-14 14:52] willhoyle commented on #425
I can work on a PR for this because it seems like there's enough demand to have this. I'm still using my own forked version with the code I posted above.

The only thing is @ow-en mentioned that they are working on this and that it will be released? I obviously don't want to duplicate any work that's already been done.

[2019-06-14 15:02] PrimozRome commented on #425
@willhoyle yeah very nice from you and I feel you regarding duplicated work. I wish @ow-en would provide some feedback regarding his progress.

Just to discuss a little implementation side of things. I think this package got it right https://github.com/ratiw/vuetable-2 -> https://www.vuetable.com/guide/detail-row.html. Something similar would be great to have in this package. You simply provide a

[2019-06-14 15:50] willhoyle commented on #425
It looks like we have two choices here. We can go that route, ie: provide a prop called detailedRowComponent like what vuetable-2 does there.

However, in order to be more consistent with the way vue-good-table does things, I think it would make more sense to make it a scopedSlot since that would be similar to how slots are used in other parts of the library. For example, custom pagination slot: h

[2019-06-17 09:46] hjelperne commented on #438
Hi, Is there any way to determine if there are any filters applied or not - at all?
this.$refs.myTable.filters.length > 0 (just pseudo example) or something similar?

[2019-06-17 09:48] hjelperne opened #556 "Determine if any filters are currently being applied"
### Issue Type (delete the irrelevant ones)
- [x] Question

Hi, Is there any way to determine if there are any filters applied or not - at all?
this.$refs.myTable.filters.length > 0 (just pseudo example) or something similar?

### Specs
What version are you using?

2.16.3

What browser?

Chrome

[2019-06-17 11:18] Karl-NGP opened #557 "Search first letter issue"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.16.5

What browser?
Any

### Actual Behavior
What actually happened?
If you load up a basic table with 4 different rows having names such as "Jane", "John", "Dan", "Susan", the search filter is not working as it should.

Typing in the first letter J (or j), filters out "Dan" and "Susan"
Typing in the fi

[2019-06-17 11:21] Franz0410 opened #558 "Row max-height"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request
- [x] Question

### Specs
What version are you using?
v2.16.5
What browser?
-Google Chrome
### Expected Behavior
What did you expect to happen?

i want to set the max height of a row, i tried to pass a class in row-style-class but it doesn't effect

[2019-06-17 11:28] xaksis commented on #557
Hey @Karl-NGP, general search filters the entire table, it does not restrict search on any particular column. This means that when you type in s, it looks through the whole table for things that contain "s".  In this case, it finds all rows that have dates with Oct 31**s**t.
when you type in 'h', it finds all rows that have dates with 'th'

If you want to filter on names only. Use [column filters]

[2019-06-17 11:28] #557 closed

[2019-06-18 16:27] teslor opened #559 "Unit test: cannot read property '$scopedSlots' of undefined"
I have a component where I use vue-good-table. I created tests for it using Mocha, and one of the tests is used to check the contents of the table and this test fails with error `[Vue warn]: Error in callback for immediate watcher "searchOptions": "TypeError: Cannot read property '$scopedSlots' of undefined"
`. If I run this test alone it works ok, but otherwise it fails (wrappers are correctly cl

[2019-06-18 21:17] Spacarar opened #560 "Programmatic page navigation"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.16.5

What browser?
Chrome

### Expected Behavior
What did you expect to happen?
According to https://github.com/xaksis/vue-good-table/issues/414 using `this.$set` on `paginationOptions.setCurrentPage` should allow for programmatic page navigation; however, even the example you provided here https://jsf

[2019-06-18 21:56] Spacarar commented on #560
after slight further investigation. the example does work if you add the line

`delete this.paginationOptions.setCurrentPage`
before setting the new value

Turns out the page does change, however the pagination object doesn't reflect this.

It is this issue https://github.com/xaksis/vue-good-table/issues/245.

[2019-06-21 08:27] Eijun commented on #269
+1
topbar for global search is still displayed even though set search-options to "{enable: false}".

![스크린샷 2019-06-21 오후 5 22 48](https://user-images.githubusercontent.com/17643160/59908982-a0a1ea00-9449-11e9-853b-d9def7fe075c.png)

[2019-06-21 08:52] sheldoncoupeheure opened #561 "Custom Columns documentation should be clarified."
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

Hello.
To create a custom column using vue-good-table, using slots/props and adding the wanted additionnal columns in the `columns` array are both necessary.

However, the documentation only explicitly talks about the slots/props magic ([here](https://xaksis.github.io/vue-good-table/guide/advanced/#adding-custom-columns)). The

[2019-06-21 15:39] shawnhooper opened #563 "Use relative font sizing instead of fixed pixels sizes"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

### Specs
What version are you using?

v 2.16.5

### Description

Some of the CSS output by VGT includes fixed font sizes in pixels.  For example, the `.vgt-input, .vgt-select` selector.  This does not pass WCAG 2.0 AA accessibility validation, which requires the use of relative units (ems or rems).

[2019-06-24 09:43] ricardomiguelvieira opened #564 "Custom th/tdClass not taking effect"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
What version are you using?

2.16.5

### Expected Behavior
I expected the properties I've set for the custom th/td class to take effect.

### Actual Behavior
Nothing happened. No changes took place.

----------------------------------------------------------------------
`<style lang="scss" scoped>
  @import '~variables';

.cust

[2019-06-24 13:00] unixconky opened #565 "Why onPerPageChange is run on initial page load?"
Why `onPerPageChange` is run on initial page load? How can I run this only if the user changes a value using select input? (Rows per page x)

[2019-06-24 19:24] vincentntang opened #566 "How to ignore rowOnClick for certain parts of row?"
If I have an @onRowClick event handler, is there a way I can disable it for certain custom slotted icons so it doesn't trigger?

For instance, when a user clicks on a row, it goes to that item's page. If they click the "X" delete button, it should just delete it only

![image](https://user-images.githubusercontent.com/10290348/60045935-1b5e4580-9694-11e9-8a2c-b10eb644bc68.png)

[2019-06-26 04:52] ANUMOL-K-SEBASTIAN opened #567 "no request send to server automatically when initial page load"
In mounted or created  we sholud send a server request. After getting response,  onPerPageChange is run. So two request is sended to server. How to avoid this?

[2019-06-26 05:38] #567 closed

[2019-06-26 15:20] zacharytyhacz commented on #457
Yes I want to know to know how to do this as well also.

[2019-06-26 15:39] xaksis commented on #457
@MohitDeshwal, @zacharytyhacz
Not sure how you are trying this. But here's an example to show that this **does** work.
https://jsfiddle.net/aks9800/keLjcssn/

[2019-07-01 21:00] matdar opened #568 "How can I filter a column with a drop-down of filter operators?"
- [x] Question

Hello
I would like to display a drop-down of filter operators, e.g.:

<
<=
etc.

next to the value to apply to the operator.

For example filter for a number > 100 by selecting '>' in the drop-down and entering 100 into the column filter.

Is that possible to do now via some customisation?
Thanks
Matt

[2019-07-03 07:18] PrimozRome commented on #425
@willhoyle did you have any work on this at any chance ?

[2019-07-06 01:36] chasegiunta opened #569 "vue-runtime-helpers/dist/normalize-component.js not found - 2.17.0"
### Issue Type
- [x] Bug

### Specs
What version are you using?
2.17.0

Technically 2.17.0 doesn't seem to be released yet, but dependabot flagged the updated dependency for me, so it might've for others as well - so I'll just let you know anyways.

After updating, build/dev server fails on 2.17.0

[code]
I couldn't manually install `vue-runtime-helpers/dist/normalize-component.js` either - return

[2019-07-06 03:22] xaksis commented on #569
looks like an error in rollup plugin
https://github.com/vuejs/rollup-plugin-vue/issues/257
I updated the dependency. Thank you for bringing this up.

[2019-07-07 05:43] stefanwuthrich commented on #569
@xaksis I had the same problem, after upgrade to 2.7.1 I get the same error as before "fix".

[2019-07-08 05:38] stefanwuthrich commented on #569
@chasegiunta can you confirm that it is fixed for you ih 2.7.1 ? (as for me it is not)

[2019-07-08 08:05] hjelperne opened #570 "Returning from edit item and preserving table state"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

### Specs
What version are you using?
vue-good-table": "^2.16.3

What browser?
Chrome - latest

### Expected Behavior
The desired (but not expected behavior) is decribed below..

### Actual Behavior
See below.. (the desired result is not currently achieved)

### Steps to Reproduce the Problem
Please detail your steps here

Hi,

[2019-07-08 09:25] pndiogo commented on #425
Hi, any news regarding this issue? Thanks.

[2019-07-08 09:36] ekrist1 commented on #569
I got the same problem with 2.7.1 running npm run dev (Laravel + Vue installation):
Module not found: Error: Can't resolve 'vue-runtime-helpers/dist/normalize-component.js' in '/Users/myuser/Code/hvaskjer/node_modules/vue-good-table/dist'

[2019-07-08 10:14] xaksis commented on #569
Going to reopen this to investigate

[2019-07-08 20:33] xaksis commented on #569
followed the fix suggested here:
https://stackoverflow.com/questions/54379726/rollup-plugin-vue-v4-6-2-has-a-problem-with-vue-runtime-helpers/54435814#54435814

[2019-07-08 20:35] xaksis commented on #568
This isn't possible right now. However I have seen implementations where users type "> 20" which is then parsed by a custom filter:
https://xaksis.github.io/vue-good-table/guide/configuration/column-filter-options.html#filterfn

[2019-07-08 20:35] #568 closed

[2019-07-08 20:45] xaksis commented on #566
hey @vincentntang,
this is a vue/js question rather than a vgt question. You can prevent an event from propagating up to the parent by stopping it. use `@click.stop="yourButtonFn"` and it won't propagate to the row.

here's a working example: https://jsfiddle.net/aks9800/wtwzg6Lz/
closing.

[2019-07-08 20:45] #566 closed

[2019-07-08 20:51] xaksis commented on #564
Hi @ricardomiguelvieira,
looks like that should be working. Here's a working example - you can compare your code against it:
https://jsfiddle.net/aks9800/dc1L3pza/

oh it could be that you've scoped your style so it doesn't apply to any nested component. Try removing scoped or using `/deep/` for it to affect the child components

closing.

[2019-07-08 20:51] #564 closed

[2019-07-09 03:26] rakk7 commented on #569
still having the same issue for version `2.17.2`

[2019-07-09 06:51] SouthRibbleTech opened #571 "Missing dependency in 2.17.2"
I was happy to see the fix this morning that was put in place overnight 2.17.2 (Thank you) but when I tried to use it this morning, i get the following error

[code]
vue-good-table: 2.17.2
Windows 7
vue: 2.6.10
Node: 10.15.3

[2019-07-09 06:59] rashed50702 commented on #571
I am facing same problem

[2019-07-09 07:17] ccclin commented on #569
One of workaround is add `devDependencies` into package.json
like:
[code]

[2019-07-09 07:18] ccclin commented on #571
Same [issue](https://github.com/xaksis/vue-good-table/issues/569#issuecomment-509521329)

[2019-07-09 07:36] rashed50702 commented on #569
Still it's not working !!

[2019-07-09 07:50] SouthRibbleTech commented on #571
For the time being, just so that I can continue to work, I have downgraded to 2.16.5

[code]

But for this to work, I had to delete my node_modules folder and do a fresh `npm install`

Once fixed I will upgrade to the latest version.

[2019-07-09 08:08] ccclin commented on #569
It works for my project and I am not sure if need to install additional dependencies.

[2019-07-09 10:29] xaksis commented on #569
darn! these dependency issues will be the end of me... specially because i'm having trouble reproducing this on my end. re-opening.

[2019-07-09 10:29] xaksis commented on #571
keeping #569 open

[2019-07-09 10:29] #571 closed

[2019-07-09 10:29] xaksis commented on #569
same as #572

[2019-07-09 10:58] xaksis commented on #569
Let's see what egoist suggests: https://github.com/egoist/bili/issues/221

[2019-07-09 17:48] stefandevo opened #572 "Add ability to specify custom theme"
### Issue Type

- [x] Bug

### Specs

Based upon the black-rhino and nocturnal default themes, I could create a scss file for my own theme. By setting the `theme` prop on the control I can use these themes. However, some parts are not themeable at the moment.

https://github.com/xaksis/vue-good-table/blob/master/src/components/Table.vue#L6

This shows that the `vgt-wrap` is hard-coded for checking

[2019-07-10 05:04] infinitetrinity commented on #115
Hi, looking to implement this but your example in jsfiddle aren't loading and the documentation doesn't seems to mention this. Any chance for you to show another example? Thank you

[2019-07-10 11:08] xaksis commented on #572
hey @stefandevo, good point, I'll look into allowing usage of custom themes. When I first rolled this out, I was thinking people would maybe add PRs for new themes so everyone else can use them too. But it does make sense to have an ability to use your own internal theme also.

[2019-07-10 11:16] xaksis commented on #115
@infinitetrinity examples seem to be loading find for me, but here is the code:
markup
[code]
javascript
[code]

[2019-07-10 18:46] controljud commented on #569
Same problem, but this works for me
Thanks

[2019-07-10 23:18] ashniazi commented on #569
Can confirm this fixed my problem too.

[2019-07-11 05:57] SevymolSebastian commented on #445
I am using 2.16.0. But still this behaviour exists.

[2019-07-11 08:50] sheldoncoupeheure commented on #569
yarn user here
following @ccclin's solution, deleting `node_modules` and operating a fresh `yarn install` solved the problem.
thanks

[2019-07-12 19:54] gabrieldarezzo commented on #569
Same issue here:
[code]
This just happen after run:
`npm update`

I checked my `package-lock.json`
`"vue-good-table": "2.17.2"`

I just rollback to:
[code]
Run:
`npm install`

And everthing works again ^^

[2019-07-15 10:59] mesqueeb commented on #569
Same problem here.
Not using Rollup, only webpack.
So the current solution is to use 2.16.5?

[2019-07-15 11:05] xaksis commented on #569
Yes, please continue to use 2.16.5 for now. I'll update once I have a good solution for the rollup changes.

[2019-07-15 16:25] jorodriguez commented on #569
Solved with,

"rollup-plugin-commonjs": "^ 10.0.1",
"rollup-plugin-vue": "^ 5.0.1",

and npm install.

tank's

[2019-07-16 08:17] SevymolSebastian opened #573 "Which is loading event"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.17.3
What browser?
Chrome
### Expected Behavior
When reset datatable, there should be a loader

### Actual Behavior
There is no loader

[2019-07-16 18:41] ericdfields commented on #451
This is very helpful, thank you. I'm new to Vue, coming from React. Is the ideal scenario that there would be a <slot> we could pass our own filter component into to render instead of the default input?

In addition to a date range picker, we also would want to be able to select from greater than, less than, equals, etc, and pass a number, which implies two inputs.

[2019-07-16 23:30] comhernandez28 commented on #569
I had this exact problem in in an Installation of Laravel 5.8.28/Vue 2.6.10
I did not have rollup installed so I'm not sure of what the cause is but I just ended up changing the import to this
`import VueGoodTable from 'vue-good-table/dist/vue-good-table.js'; `
Which ended up working.
Not sure if this is a proper fix though.

[2019-07-17 00:09] xaksis commented on #569
@comhernandez28 yeah, the issue is only with the esm file that is created. umd and cjs versions should work fine.

[2019-07-17 00:38] xaksis commented on #569
inlining the missing dependency in 2.17.3. This should fix the not found issue.

[2019-07-17 08:12] K1ngMX opened #574 "Possible to add search button?"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
What version are you using?
^2.16.0

### Expected Behavior
What did you expect to happen?

### Actual Behavior
What actually happened?

Hello. Thanks for you library, works pretty well.

Just one question: Is there a way of adding an actual search button to the global search? The options i see are "on enter" and "on key up", bu

[2019-07-17 12:53] SevymolSebastian opened #575 "on-page-change and on-column-filter called twice initially"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.17.3
What browser?
Chrome

### Expected Behavior
on-page-change and on-column-filter events should be called once initially.

### Actual Behavior
on-page-change and on-column-filter events should be called twice initially. Duplicate requests are send when page is created

[2019-07-17 12:55] SevymolSebastian commented on #573
Still exists

[2019-07-17 15:27] chasegiunta commented on #569
@xaksis working on my end 👍- but I'll leave to you to close if you want to hear from others.

[2019-07-18 08:50] mesqueeb commented on #569
Does "inlining" mean the library grew in size?

[2019-07-20 08:50] billmn opened #576 "Disable autocomplete in column filters"
What about disable autocomplete on column filters fields?

- [x] Enhancement Request

[2019-07-25 09:26] biscuitRemark commented on #504
replaced  `import { VueGoodTable } from 'vue-good-table' ` with
 `import { VueGoodTable } from 'vue-good-table/src'`
and the error is gone

[2019-07-25 13:26] PrimozRome commented on #425
@willhoyle @ow-en hello guys. Any info on this implementation? It is so frequently requested...

[2019-07-26 10:12] unixconky opened #577 "How to set column filter in Vue method?"
How to set column filter in Vue method? I need to set filter to "approved".

My method:

`<button v-on:click="onClickShowApproved">Show only approved</button>`

[code]

Here is my column code:
[code]

[2019-07-26 15:11] unixconky commented on #475
Good point, I need the same @Jakobovski

[2019-07-26 18:36] unixconky commented on #577
https://stackoverflow.com/a/56349748/3115655  it works but only in vue-good-table 2.15, not working in 2.16. Any ideas?

[2019-07-26 18:58] xaksis commented on #577
@unixconky the answer in stackoverflow is somewhat correct. it is definitely a nested object reactivity caveat. However `vue.set` doesn't work for pre-existing properties. You'd need to use Object.assign.

[2019-07-26 19:02] xaksis commented on #576
@billmn not sure what you mean... there's no autocomplete on filters fields. you sure you're not talking about chrome's autocomplete?

[2019-07-26 20:39] oze4 opened #578 "Programmatically Change Filter Value"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.17.3

What browser?
Firefox/Chrome

### Expected Behavior
What did you expect to happen?
Filter value to be updated - this worked in v2.15.3... In fact, v2.15.3 was the last version this worked in - I also tested this in v2.16.0, to no avail.

### Actual Behavior
What actually happened?
Sadly, nothing.

[2019-07-26 20:59] xaksis commented on #578
a few issues with your code:
1. you're assigning a value directly to a nested object. this is not a reactive change for vue.
2. in 2.17.3 version you're using the spread operator to copy the array. this does a shallow copy and is not useful when it comes to reactivity.
I modified your code to do a deep copy and it works fine.
[code]
Closing.

[2019-07-26 20:59] #578 closed

[2019-07-26 21:13] oze4 commented on #578
1. How/why does this work in 2.15.3 if it isn't reactive for Vue? Doesn't make much sense.

2. Yes, this was for testing - using the exact same code in 2.17.3 does not work like it does in 2.15.3.... Furthermore, if you console log the output (while using spread) it clearly shows the value is modified.

Thank you for the working code, but something had to have changed under the hood from 2.15.3 to

[2019-07-26 21:31] xaksis commented on #578
Yea the Vue version changed from 2.5 to 2.6, slot behavior etc changed too.
regarding the console.log... of course, you'll see the change in the log. The change happens on the object, but the change is not **reactive**.

[2019-07-26 21:39] oze4 commented on #578
That's makes sense with the Vue version changing. So then Vue obviously changed something to ignore shallow copies and only respect changes when a new object is supplied, not just a new property. It's almost like the older version of Vue was smarter - or is there a good reason for not picking up on nested changes?

[2019-07-26 22:07] billmn commented on #576
Yes, I’m talking about browser’s autocomplete. Sorry, I didn’t specify it.

[2019-07-27 00:37] oze4 opened #579 "Reactive Nested Changes (ref #578)"
# Reference issue #578

Clearly Vue reacts to nested changes.... I am highly confused at why this does not work in Good Table..

### Reactive nested changes:
[![Edit on CodePen](https://www.vectorlogo.zone/logos/codepen/codepen-icon.svg)](https://codepen.io/oze4/pen/ymVagv?editors=1010)

### Example showing GoodTable not recognizing changes:
[![Edit on CodePen](https://www.vectorlogo.zone/logos/co

[2019-07-27 01:38] xaksis commented on #579
@oze4 please read vuejs documentation. This isn't related to VGT.

https://vuejs.org/v2/guide/reactivity.html

Closing.

[2019-07-27 01:38] #579 closed

[2019-07-27 01:40] oze4 commented on #579
@xaksis

Yes, I can see Vue is reacting to the changes I made but VGT isn't. This is 100% related to VGT. Vue is reacting. VGT is not. Pretty clear to see that.

[2019-07-27 01:42] oze4 commented on #579
@xaksis

You should not have to supply a completely new columns object for VGT to react to the changes. Vue reacts to them, why does VGT not? It's fine if you don't want to fix this flaw but it's pretty apparent that it is indeed a flaw.

[2019-07-27 01:44] oze4 commented on #577
#578 #579

Good luck with this! I've switched to a better, more responsive solution.

[2019-07-27 03:34] oze4 opened #580 "The watcher for initialFilters not working"
- [x] Bug Fix

## The following modification will resolve issues #579 #578 #577..

*There is a link to a repo which contains working code at the bottom of this comment*

### Findings:
In the file `VgtFilterRow.vue` on lines 62-72 there is an equality check that is performed before updating filters.  If this equality check is removed, the `columns` property will respect, and react to, nested proper

[2019-07-27 10:08] xaksis commented on #580
oh man! I forgot there was a watcher for columns in row header! Thank you for finding this. That line I believe was added to prevent filtervalue handler to trigger for remote tables on initial setup. Will do some testing and push out a new version soon.

Thank you @oze4 for your persistence and apologies for not recognizing this sooner.

[2019-07-27 10:09] xaksis commented on #577
@oze4 has identified a bug that is causing this. Will be testing that later today. Thank you, @oze4

[2019-07-27 13:44] oze4 commented on #580
No worries. This only works if you define an empty value for the initialValue while using VGT. That's how I would expect it to work since Vue is not reactive to added properties, only existing ones. Figured that was worth mentioning. AKA as expected.  (That is how I was attempting to use this "in the wild"). If you want to add a filterValue to a column that initially did not contain an empty value

[2019-07-27 14:35] xaksis commented on #577
@unixconky @oze4 looks like this is a change in the vue 2.6 behavior as well:
https://vuejs.org/v2/api/#vm-watch

I'll release a fix to address this but keep in mind that you still have to use `vue.set` or `object.assign` to mutate nested objects and not simply assign new values:
https://vuejs.org/v2/guide/reactivity.html#Change-Detection-Caveats

[2019-07-27 15:53] xaksis commented on #575
@SevymolSebastian could you create an example to show this issue?
Seems to be working fine here:
https://jsfiddle.net/aks9800/a2841urL/
Will re-open if you can provide a reproducible snippet.

[2019-07-27 15:53] #575 closed

[2019-07-27 15:55] xaksis commented on #574
@K1ngMX Thank you for your kind words. This functionality doesn't exist yet would be happy to chalk this up as an enhancement. (PRs are welcome too 😄)

[2019-07-27 15:57] xaksis commented on #573
@SevymolSebastian, could you explain what "reset" here means? Not sure what exactly you're asking for.

[2019-07-27 16:25] #561 closed

[2019-07-27 16:25] #565 closed

[2019-07-27 16:25] #580 closed

[2019-07-27 16:28] xaksis commented on #577
v 2.17.4 should fix this. Remember to use:
[code]
closing.

[2019-07-27 16:28] #577 closed

[2019-07-27 22:50] xaksis commented on #576
hey @billmn, just out of curiosity how would you stop the browser based autocomplete on inputs? I've been researching a bit and haven't found a reliable way, autocomplete="off" is ignored now by chrome too. Have you done this before?

[2019-07-27 22:55] xaksis commented on #560
Ah, yeah the `position: both` implementation was never finished and that's why it's not in the official documentation. I'd refrain away from using that.
Can you tell me how you're setting current page currently that you have to delete the field first?

[2019-07-27 23:00] Spacarar commented on #560
I thought it was a reactivity issue and had attempted to delete the value and then use `setCurrentPage` to try and see if vue would react to the change. I later edited my comment to say it was the `position:both` issue. There is no reason to use a delete before setting a new page. Didn't realize this was still open. closing the issue.

[2019-07-27 23:00] #560 closed

[2019-07-27 23:41] xaksis commented on #559
Hi @teslor, this very much looks to me a vue-test-utils issue (when manipulating data in a watcher) as this is happening even with vuetify datatable. I'm going to close this for now and keep an eye on the vue-test-util bug.

[2019-07-27 23:41] #559 closed

[2019-07-27 23:44] xaksis commented on #558
hey @Franz0410, can you post your code of exactly what you tried and what you were trying to achieve? It'll help me investigate this better.

[2019-07-27 23:49] xaksis commented on #554
hey @vincentntang the best way to do this is to use an external field for search. You can then create your own search bar and input field above the table however you want:
https://xaksis.github.io/vue-good-table/guide/configuration/search-options.html#externalquery

closing.

[2019-07-27 23:49] #554 closed

[2019-07-27 23:53] xaksis commented on #556
hey @hjelperne sorry for the delay. You can look at:
`this.$refs.myTable.columnFilters.`
this will have an object where the property is the column field and value is the filter value:
[code]

closing.

[2019-07-27 23:53] #556 closed

[2019-07-28 13:37] PrimozRome commented on #425
@xaksis any update on this feature request from the repo owner?

[2019-07-28 14:00] xaksis commented on #425
hey guys, I don't have the bandwidth to implement this anytime soon but I'll happily review PRs. If you undertake a PR, be mindful here is to make it work in IE which has issues with vue components being rendered as part of tables.:
https://vuejs.org/v2/guide/components.html#DOM-Template-Parsing-Caveats

[2019-07-29 06:26] billmn commented on #576
Yep, autocomplete="off" has been the standard for years ... but seems there's a bug regression on Chrome: https://bugs.chromium.org/p/chromium/issues/detail?id=914451

Seems that autocomplete="new-password" does the trick

[2019-07-29 07:44] Franz0410 commented on #558
i resolve the issue

[2019-07-29 07:44] #558 closed

[2019-07-30 00:05] cwilby opened #581 "onSortChange - `typeof filters[0].field === 'function'`"
### Issue Type (delete the irrelevant ones)
- [x] Enhancement Request

### Specs
What version are you using?
2.17.4

What browser?
Firefox

### Expected Behavior
Given this column:
[code]

When the Name column header is clicked and `onSortChange` fires, the following should not log true to the console:
[code]

### Actual Behavior

When `field` is a function, it cannot be called in the context of a

[2019-07-30 00:47] xaksis commented on #581
hey @cwilby, I see the issue so what would you expect here? Should we pass the whole column object then? because the row object is not applicable in sortChange

[2019-07-30 00:54] xaksis commented on #581
if you just want to figure out whether a certain column is being sorted, you could do:
[code]
then in onSortChange handler:
[code]

[2019-07-30 01:40] cwilby commented on #581
I need to read the code more, but off the top of my head the column definitions could separate these values into a few more properties:

[code]

[2019-07-30 20:44] SethRogers7420 opened #582 "When supplying incorrect type in column, default comparison is used whenever 0 is returned from sortFn."
### Issue Type

- [x] Bug

### Specs
What version are you using?
2.17.2

What browser?
Chrome

### Expected Behavior
A custom sortFn function is used for sorting.

### Actual Behavior
The default comparison (column.typeDef.compare function) is used when 0 is returned from a custom sortFn function.
This is caused by a bug in the following lines of code in Table.vue

[code]

When sortValue is 0, jav

[2019-07-31 10:31] PrimozRome commented on #425
@xaksis ok I will see if I can have my dev team do this PR. But first I would like to hear back from @willhoyle and @xaksis if they have been start working on this, as mentioned above. I don't want to do double work!

[2019-08-03 19:00] connorshea opened #583 "Disable checkbox info bar"
### Issue Type

- [x] Enhancement Request

### Specs
What version are you using? v2.17.4

What browser? Firefox 70 (Nightly)

### Expected Behavior
I should be able to disable the checkbox selected row info bar.

This yellow bar:

<img width="1354" alt="Screen Shot 2019-08-03 at 12 57 03 PM" src="https://user-images.githubusercontent.com/2977353/62415887-630ab200-b5ee-11e9-9de9-63491c4a8dc9.png">

[2019-08-03 19:00] connorshea commented on #583
For now I'm just working around it by setting it to `display: none` in my CSS, but that's not ideal.

[2019-08-04 11:31] Jakobovski commented on #475
Partial solution here:

https://stackoverflow.com/questions/56215723/set-filter-options-on-vue-good-table-programmatically

[2019-08-04 11:34] xaksis commented on #475
@Jakobovski can you show me how you're setting the filters options? I have a feeling this is about vue reactivity rather than VGT issue.

[2019-08-04 11:55] Jakobovski commented on #475
@xaksis Yeah it may be. I ended up doing the following

[code]

This seems to only work inside vuejs created().

[2019-08-04 22:09] xaksis commented on #475
Alright! phew... turned out the built files were stale so my changes were not reflected.
v2.17.5 should work now. here's a working example:
https://jsfiddle.net/aks9800/cyegzwL7/

Remember that you will have to use either `$set` or `Object.assign` as the documentation states:
https://vuejs.org/v2/guide/reactivity.html#Change-Detection-Caveats
in your case it'd be something like:
[code]
You can put

[2019-08-04 22:09] #475 closed

[2019-08-04 22:12] xaksis commented on #577
created a working example - so sharing for reference:
https://jsfiddle.net/aks9800/cyegzwL7/

[2019-08-04 23:06] oze4 commented on #577
Keep in mind, you only have to use `$set` or `Object.assign` **_if the `filterValue` property was not set to empty before trying to programmatically change it._**

In the following example I originally set the `filterValue` to `""` - this way I can just set the value without having to worry about `$set` or `Object.assign` or `JSON.stringify(...)`

[Set to 'empty' value](https://github.com/oze4/vue

[2019-08-05 13:45] tshandrzej commented on #405
Hi, any progress on this?

[2019-08-05 16:56] TotomInc opened #585 "Adding a custom row at the end of the table (with pagination)"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
VGT `^2.17.4`

### What browser?
Chromium / Electron

### Expected Behavior
I would like to add a custom row at the end of a table which have pagination options.

If I have my pagiation option set to 5 elements/page, I want to see my custom row after the 5th element (but before the pagination element). Same applies with 10 elem

[2019-08-05 17:18] xaksis commented on #585
hey @TotomInc, this seems to be a very specialized use-case. One way you could achieve this is to not use the provided pagination and use your own pagination component instead- https://xaksis.github.io/vue-good-table/guide/advanced/#custom-pagination.

Hope this helps,
Closing.

[2019-08-05 17:18] #585 closed

[2019-08-05 18:57] TotomInc commented on #585
Thanks for the answer, I doubt I will do this as I need to do my own pagination system and I prefer to let vue-good-table handle this.

I’ll try to find an alternative with my issue.

[2019-08-05 20:33] diomed opened #586 "infinite scroll"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

### Expected Behavior
I expect infinite scroll option to be available

### Actual Behavior
it ain't.

[2019-08-06 01:06] xaksis commented on #581
hey @cwilby, in columns, field is basically the property that is used to figure out what value to pluck from the rows. I don't see what benefit we'd get by separating it out into multiple fields. Your given example (I'm guessing is purposefully simplistic) is not correct as you'd simply do:
[code]
if it's nested further:
[code]
If you want a different value to be displayed if it's null, the prefer

[2019-08-06 14:33] cwilby commented on #581
Hey @xaksis, I ended up using custom row templates.

To elaborate a bit more - let's say I have a table of "Tickets".  In the database, a Ticket is attached to a "Workflow Stage".  The order of these Stages can be set using a `display_order` property.

I wanted to display the name of the Workflow Stage, while using display_order for the sort value in the Tickets table.

I implemented this using a

[2019-08-06 14:52] xaksis commented on #572
hey @stefandevo , so I played around with this myself and realized that custom themes can already be specified.
`vgt-wrap` the hardcoded themes there don't have any style rules attached to them (i'll remove them shortly)

To use custom themes, all you have to do is create a parent class, add the overrides under the parent class and then supply that parent class as a theme.
Look at black-rhino them

[2019-08-06 15:00] xaksis commented on #582
hey @SethRogers7420 I see your point however in your fiddle, we're explicitly saying that data is text, while supplying numbers? I wonder if this necessarily should throw an error (instead of implicit conversion) to let you know you're doing something wrong here.
Imagine if we we specified date type and provided arbitrary strings. Table will throw an error saying cannot format arbitrary string as

[2019-08-06 15:08] xaksis commented on #572
aw crap, just realized that pagination actually depends on vgt-wrap class.
*sigh* will fix this. sorray!
re-opening

[2019-08-06 15:15] SethRogers7420 commented on #582
The title change isn't really correct, this bug occurs regardless of what the type of the column is. The fiddle was just to demonstrate this.

Supplying any custom sort function that returns 0 will fall back to the default sort, which shouldn't be happening since the sort function is supposed to return -1, 0, or 1.

My actual use case with this is a column that displays a date range, like 3/15/201

[2019-08-06 15:25] xaksis commented on #582
Ohhhh! wow! I totally didn't understand your question when I first read it. Yes, needs an else there... will fix! Thank you so much for clarifying.

[2019-08-06 15:27] SethRogers7420 commented on #582
Thank you very much.

[2019-08-06 18:15] #582 closed

[2019-08-06 18:17] xaksis commented on #572
hardcoded theme reference removed in v2.18. closing.

[2019-08-06 18:17] #572 closed

[2019-08-06 18:19] xaksis commented on #582
fixed in v2.18

[2019-08-06 18:20] xaksis commented on #583
In v2.18.0, you can now disable the info bar by using `disableSelectInfo: true` in selectOptions.
https://xaksis.github.io/vue-good-table/guide/advanced/checkbox-table.html#configuration

closing.

[2019-08-06 18:20] #583 closed

[2019-08-06 18:23] connorshea commented on #583
Thanks!

[2019-08-07 12:42] zcuric commented on #569
@xaksis Hi, I have the same issue on my component for Plyr (https://github.com/zcuric/plyrue/issues/5).

Your solution to bundle node modules with `bili` ended up increasing the size of bundle for `vue-good-table`. Comparison can be made here on  [unpkg](https://unpkg.com/browse/vue-good-table@2.18.0/dist/) or on [bundlephobia](https://bundlephobia.com/result?p=vue-good-table@2.18.0).

I suggest d

[2019-08-09 04:36] hanscode opened #589 "externalQuery property for filterDropdownItems <select>"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
What version are you using?
2.16.5
What browser?
Chrome

Hello,

Thanks a lot for your library, works pretty well and it's been very useful.
Just one question:

I would like to use my own form <select> for filtering columns table.  Is there a way to use a property like the externalQuery for searching table, so that I can set my

[2019-08-09 08:20] sybrendotinga opened #590 "Failed to execute 'getComputedStyle' on 'Window'"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
`2.18.0`

What browser?
`Chrome 75.0.3770.142`

### Expected Behavior
Renders the table with the columns and data, without console errors

### Actual Behavior
I receive a `getComputedStyle` on (probably) the hidden `address1` column

### Steps to Reproduce the Problem
1. I create a `vue-good-table` with a

[2019-08-11 07:27] bhargavjoshi commented on #410
I think this should be allowed by the library.

[2019-08-12 15:58] willhoyle commented on #425
Alright we've talked about this enough, let's start putting things in motion to get this feature shipped!

What we will need:

1. Updated docs explaining usage, API, examples, etc...

2. API/Usage
We need to talk about how the API will look for users. Here's what I think we should do and I'd like some feedback before I start the implementation.

---
Provide a `.expandedRows` computed property that

[2019-08-13 07:48] PrimozRome commented on #425
@willhoyle thanks for diving into action on this feature request. I will provide some feedback as requested. I can also collaborate on testing/documentation if you want.

First of all I agree with you we should keep the API in form of scoped slots to be consistent with other functionalities of this component.

Agree.

Agree.

I think you summed up perfectly. At the moment I do not see there are ad

[2019-08-13 13:05] willhoyle commented on #425
[code]

I agree this would make it much more simple. We would need to introduce two fields for that though because vue-good-table would need to know what field those IDs are referring to. So something like:
[code]

[2019-08-14 15:09] PrimozRome commented on #425
Yes agree, this makes it much more flexible.

Anything else thats stops us from starting implementation ?

[2019-08-15 05:40] willhoyle commented on #425
I'd say that's a good start. We can always add some more later.
I just finished an initial implementation, if anyone wants to test it out, just add it to your package.json:

[code]
and then `npm install` (or yarn)

---
I'm just gonna copy paste the docs I made since I can't think of any other way to show them. The formatting might not be as nice as the VuePress site but here's the page I added for

[2019-08-15 09:15] PrimozRome commented on #425
@willhoyle that is excellent. I will be able to test this next week when I get back from business trip.

I have an active project where I use the component and need the expanding functionality. I will put this into real-case scenarios and see how it stands. I will quickly see if there are any short comings.

[2019-08-16 10:33] eyalankri opened #591 "onload selected"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
What version are you using?

What browser?

### Expected Behavior
What did you expect to happen?

### Actual Behavior
What actually happened?

### Steps to Reproduce the Problem
Please detail your steps here

1.
1.
1.

### jsfiddle
If you provide a jsfiddle reproducing the issue, it'll be addressed much faster.
you can use [thi

[2019-08-16 10:33] #591 closed

[2019-08-16 10:49] K1ngMX commented on #315
Hello :)

Sorry for writing in a closed issue.

It is just that i seem to have encountered the exact same problem (i have two tabled in remote mode, user can switch between them, they get shown / hidden via `v-show` ...).
Now the solution here did work for me (i had the sort options hard coded in the props itself. after moving them to data() it works). I also had the mysterious "it does always mak

[2019-08-16 11:54] xaksis commented on #315
@K1ngMX thank you for your kind words and I'm glad you're finding VGT useful! I'll update the document with the relevant hint in the next update.

[2019-08-21 06:23] eyalankri opened #592 "Set selected rows based on server data"
- [x] Question

### Specs
2.18.0

### Expected Behavior
I save the selected rows-data in the database.  if the page loads again I would like to have these rows already selected based on the data returned from the server.

### Actual Behavior
After filling the ` vue-good-table` and verify that the data exists in dom, I am looping for each row and check if it's selected in the server results,  if it

[2019-08-21 08:26] paulhuisman opened #593 "Using fields with a 'dot' in object key"
### Issue Type
- [x] Question

### Specs
What version are you using?
2.18.0

What browser?
Chrome

### Description
I have an array with objects that contain the following data:
[code]

As you can see some object keys contain a dot. When i add these keys to my columns in Vue-Good-Table **it does not show the value** inside `production.rec_name`:

[code]

Is there a solution for this?

[2019-08-21 13:12] smellyshovel commented on #181
@xaksis the `fixed-sidebar` option doesn't work in 2.17.6+ at all. Had to downgrade to 2.12.1. Just letting you know. And yep, sorry for necroposting.

[2019-08-21 14:25] bhargavjoshi commented on #452
Please keep this open and, I think this should be in the documentation.

[2019-08-21 15:09] openpathgit commented on #593
we need this working too, its also come up today

[2019-08-21 17:26] xaksis commented on #593
hey @paulhuisman @openpathgit ... it isn't working because using `.` in field name is an indication that you're trying to target nested data:
https://xaksis.github.io/vue-good-table/guide/configuration/column-options.html#field

I'd suggest you use a custom function for the field that property here. The documentation above has an example.

closing.

[2019-08-21 17:26] #593 closed

[2019-08-21 17:33] xaksis commented on #592
hey @eyalankri, you can set `vgtSelected` property on rows to programmatically select them.
[code]
working example:
https://jsfiddle.net/aks9800/keLjcssn/241/

closing.

[2019-08-21 17:33] #592 closed

[2019-08-22 10:55] cjcaber09 opened #594 "perPage now working"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
What version are you using?

What browser?
Chrome
### Expected Behavior
What did you expect to happen?
to only show 2 records
### Actual Behavior
What actually happened?
shows all

### Steps to Reproduce the Problem
Please detail your steps here

<vue-good-table
                mode="remote"
                @on-page-change="onP

[2019-08-22 12:24] xaksis commented on #594
hey @cjcaber09, in remote mode, your backend controls what is displayed by sending the correct configuration of rows to display. Every time per page is changed, it emits an event. Use this event to send the correct parameters to the backend so they send you the correct # of rows to display.

closing.

[2019-08-22 12:24] #594 closed

[2019-08-22 14:08] paulhuisman opened #595 "How to disable responsive table and add horizontal scrollbar"
### Issue Type
[x] Question

### Specs
What version are you using?
2.6.10

What browser?
Latest Chrome

### Description
I love this plugin! We made a table with around 15 columns, so showing it responsive is not really going to work. Can someone tell me how to disable responsive rescaling and add a horizontal scrollbar instead?

[2019-08-22 14:22] #595 closed

[2019-08-22 14:22] paulhuisman commented on #595
Fixed with `overflow: scroll !important;`

[2019-08-22 21:01] adamStawarek opened #596 "Freeze first columns"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

### Expected Behavior
I would like to have posibillity to "freeze" first n columns, so that when I scroll table horizontally i can still see these first n columns

[2019-08-26 15:37] nimosunbit opened #597 "Please add guideline for nuxt-js"
Would be very helpful if you add an example of how to integrate the package on nuxt-js.

[2019-08-30 08:39] paulhuisman opened #598 "dateOutputFormat incorrect"
### Issue Type
- Bug

### Specs
Version: 2.18.0

Browser: Latest Chrome (Mac)

### Problem
My code:
[code]

If i inspect my rows via `console.log(this.rows)` the date is as follows:
`fulfil_created_at: "2019-08-28 20:15:56"`.

However, the output is not formatted to `MMM dd, yyyy`. In the datatable i see `2019-08-28 20:15:56`.

Anyone know what i'm doing wrong?

[2019-08-30 12:34] paulhuisman commented on #598
completely stupid, forgot `type: 'date'`.

[2019-08-30 12:34] #598 closed

[2019-08-31 15:44] Dave3of5 opened #599 "Date parsing error"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.18.0
What browser?
Chrome

### Expected Behavior
What did you expect to happen?
Date formatting was working

### Actual Behavior
What actually happened?
Upgraded to the latest version and the date formatting has broken.

### Steps to Reproduce the Problem
Please detail your steps here

ISO dates coming

[2019-09-01 19:43] Dave3of5 commented on #599
Here is a repro:

https://jsfiddle.net/s0ear5pk/1/

Note that the second column doesn't show correctly at all. Something strange happening with the date parsing with the version of date-fns used here. Trying this online with the alpha and it parses those date without question.

[2019-09-04 15:21] paulhuisman opened #600 "No rows found hides the table, does not display empty state correctly"
**Issue Type**

**Specs**
What version are you using?
2.18.0

What browser?
Chrome

**Description**
What should be the empty value of `rows` for the empty state of the table to display correctly? If i set `rows` to an empty array it does not render the table at all. I'd like to display the empty state if there's no rows found.

[2019-09-04 15:29] xaksis commented on #600
hey @paulhuisman,
when rows is an empty array, the table should not be gone. here's an example:
https://jsfiddle.net/aks9800/ou1cLpy8/

sounds like there's either a v-if in your code or there's an error preventing the table from rendering. Can you reproduce this in a jsfiddle?

[2019-09-04 15:32] paulhuisman commented on #600
Thanks for your swift response @xaksis

Yes, i'm using a v-if because i'm retrieving the data via awaits, so it only renders once the data is retrieved.

Code:

[code]

[2019-09-04 15:54] xaksis commented on #600
Yeah so that'd explain it... you're only rendering that component if there are orders... so this isn't really a table thing, more of how the component is being rendered. you should just let it render and have `rows = []` while it waits for the response.

If you don't want to show the default message: you can override it by using the empty-slot:
https://xaksis.github.io/vue-good-table/guide/configu

[2019-09-04 15:54] #600 closed

[2019-09-04 16:04] paulhuisman commented on #600
Thanks:)

[2019-09-04 16:25] xaksis commented on #599
hey @Dave3of5,
if you look at the console you'll see:
`Not a valid date: "2019-08-31T14:36:28.511Z"`
This is because your input format (supplied in the column object) does not perfectly match with date string that is in your rows.
Correct format:
[code]
corrected jsfiddle:
https://jsfiddle.net/aks9800/ubkmadwe/

format guide:
https://github.com/date-fns/date-fns/blob/master/CHANGELOG.md#changed

c

[2019-09-04 16:25] #599 closed

[2019-09-09 10:15] ONiAd opened #601 "[QUESTION] Add attributes to th or td tags"
Version: 2.18.0

What browser?
Firefox/chrome...

### Expected Behavior
It's possible to add attributes to th  and td rows?
Like:
<th scope="col"> or <td data-info="info required">

Thanks

[2019-09-09 20:13] joshk132 opened #602 "Unable to limit check boxes to one item"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
What version are you using?
Latest as of September 9th 2019

What browser?
Chrome

### Expected Behavior
What did you expect to happen?
I would like to be able to only select one row/item not all

### Actual Behavior
What actually happened?
Currently, I am able to select all items which causes issues with my back end logic

###

[2019-09-09 21:29] xaksis commented on #602
hey @joshk132, if you only want people to select one row, why not use row-click event as opposed to a checkbox table?

[2019-09-09 22:15] joshk132 commented on #602
@xaksis I had considerd that but the reason I had decided a checkbox would be better was it gave the option to have multiple 'quick buttons' to different actions like edit, delete, view

[2019-09-09 23:56] xaksis commented on #602
got it, I still think per row action is better for this since you'll never allow users to select more than one row. Just create a custom actions column at the end and have view, edit, delete per row. If you are concerned about space, you can add a dropdown in the custom column instead. Here's an example from one of my projects:
![image](https://user-images.githubusercontent.com/4627120/64574052-e1

[2019-09-10 08:56] Takayoshi-Aoyagi opened #603 "Clicking checkbox make table order initialize."
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
2.18.0

What browser?
Chrome 76.0.3809.132

### Expected Behavior
When checkbox clicked, table row order keep unchanged.

### Actual Behavior
Table row order is changed. It seem that initialSortBy is called.

### Steps to Reproduce the Problem
Please detail your steps here

1. click "name" column header
1. click checkbox of ID=1 (th

[2019-09-14 01:17] pageanengineer opened #605 "Display data for nested array"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
What version are you using?
2.17.4

What browser?
Chrome

### Expected Behavior
What did you expect to happen?
Would like to display ID from data below

### Actual Behavior
What actually happened?
Blank data spot in table

### Steps to Reproduce the Problem
Please detail your steps here
Put `field: 'alerts[0]._id',` for the fie

[2019-09-14 11:14] xaksis commented on #605
hey @pageanengineer, use a [custom function](https://xaksis.github.io/vue-good-table/guide/configuration/column-options.html#field) in field for something as specialized as this:
[code]
Closing

[2019-09-14 11:14] #605 closed

[2019-09-14 11:19] xaksis commented on #602
closing.

[2019-09-14 11:19] #602 closed

[2019-09-14 14:52] pageanengineer commented on #605
@xaksis Thanks, I noticed when I do multiple of the functions in a single table that it always just outputs the last one I ran and doesn't give the data for each field.

The below code gives just the users data back in both fields.
[code]

[2019-09-18 19:01] willhoyle commented on #425
Are you doing something like this:
[code]
I don't think that will work, because `this.expandedRows` will be null.
You'd have to do something like this:

[code]

[2019-09-19 17:05] novaknole opened #606 "total count for standard table and not grouped table."
### Issue Type (delete the irrelevant ones)

- [x] Bug
- [x] Enhancement Request
- [x] Question

### Specs
What version are you using?
2.18.0

What browser?
Chrome

### Expected Behavior
What did you expect to happen?
I'd love to have total counts availability in the footer for standard table. In docs, we can see that there's a headerField thing which gives you ability to print total counts in the

[2019-09-20 10:55] fuGii opened #607 "Loading data async in grouped table isn't working"
### Issue Type

- [x] Bug

### Specs
What version are you using?
2.18.0

What browser?
Chrome

### Expected Behavior
What did you expect to happen?
Load data normally as async with fetch to grouped table.

### Actual Behavior
What actually happened?
Async data will not be displayed in table.

### Steps to Reproduce the Problem
Please detail your steps here

1. Create a grouped table like instructe

[2019-09-24 23:52] comhernandez28 opened #608 "FilterDropDownItems not working with custom field."
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.17.2

What browser?
Chrome Latest

### Expected Behavior
What did you expect to happen?
Adding values in the function should filter a custom fields data

### Actual Behavior
What actually happened?
Nothing

### Steps to Reproduce the Problem
Please detail your steps here

1. Click on the filter dropdown

[2019-09-25 12:09] sytheveenje opened #609 "Search for elements in object"
### Issue Type

- [x] Question

### Specs
What version are you using?
2.18.0

I have a columns setup like this:

[code]

Now address is an object. When I search for `streetname` it doesn't show the rows where the address has `streetname` in it. How can I expand the search to also search for things inside my object?

For reference, my template is like this:

[code]

[2019-09-25 12:17] sytheveenje commented on #609
Sorry, I already found a solution [here in issue 261](https://github.com/xaksis/vue-good-table/issues/261). Is there a way to make this easier when the nested object got a lot of items?

[2019-09-25 14:16] xaksis commented on #609
Hey @sytheveenje, for a specialized case like this, the best way is to customize your filter function where you can supply your own filter function.
https://xaksis.github.io/vue-good-table/guide/configuration/column-filter-options.html#filterfn

closing.

[2019-09-25 14:16] #609 closed

[2019-09-26 08:26] adamStawarek commented on #596
I solved it with adding following classes to first column:
`
this.$set(this.columns[0],"thClass","sticky-col first-col");
this.$set(this.columns[0],"tdClass","sticky-col first-col");
...
<style>
.vgt-table th:first-of-type{
    position: sticky;
    z-index: 2;
}
.sticky-col {
    position: sticky;
    background-color: white;
}
.first-col {
	left: 0px;
}`

[2019-09-26 17:51] dejan7 opened #610 "Hey, i need a few more slots. Can i add them?"
Before i submit a pull request, i just wanted to check with you @xaksis and other maintainers if you agree with this.

Basically, i have a case where i'd need to insert additional <tbody> element into the table, which is currently very hard. Also, it's very hard to insert a <tfoot>.

However, if something like this existed in the source code (Table.vue)

![image](https://user-images.githubusercont

[2019-09-27 08:56] andersstaleker commented on #410
I second that, this would be a really nice addition!

[2019-09-29 15:10] ikiv6 opened #611 "show all fields when i am not in page 1"
### Issue Type

- [x] Bug

### Specs
version 2.18.10

What browser?

chrome

### Expected Behavior
when i am in page 2 with server side pagination and choose all in per page option i should get redirected to page one to see all the data because they all in one page
### Actual Behavior
i dont get any data because the component page is the current page i am in when i choose all option ,
### Steps to

[2019-09-29 17:24] akmalelias opened #612 "How to add edit & delete button in each row & able to capture row id?"
- [x] Question

### Specs
What version are you using?
2.18.0

What browser?
Chrome Version 77.0.3865.90

Hi, thanks for the vue-good-table. Nice work. Just wondering how can I add edit & delete button for each row like the standard datatable? And also how to capture the row data id?
Thanks in advance.

[2019-09-30 15:49] chrismartinez99 commented on #570
Please, please make this a priority for the next version!

[2019-10-01 11:08] marekfilip commented on #612
Here, I created an simple example on jsfiddle.
https://jsfiddle.net/marekfilip/jm4ywzor/

Basically you create a [custom column](https://xaksis.github.io/vue-good-table/guide/advanced/#adding-custom-columns) and then [customizing template](https://xaksis.github.io/vue-good-table/guide/advanced/#custom-row-template) for it to render a buttons with @click function.

[2019-10-01 12:03] PrimozRome commented on #425
@willhoyle here is some feedback:

**1. Expanded rows**

I personally would love to see that expandedRows logic is handled internally in the `vue-good-table` component. It is good that I can supply list of expanded rows as an option to the component, but always handling the push/pull logic for expanded rows is too much.

Would be better if this is handled internally and we would just bu updated vi

[2019-10-01 15:13] DarioDomiDE commented on #601
I'm interested in this, too, to add custom `rowspan`-Attribute.

[2019-10-02 18:05] akmalelias commented on #612
@marekfilip thank a lots! Now I get the idea.

[2019-10-02 18:05] #612 closed

[2019-10-03 12:43] paulhuisman commented on #405
Any updates on this?

[2019-10-06 07:32] akmalelias opened #614 "How to make fixed column? (Exp: Action Column)"
- [x] Question

### Specs
What version are you using?
2.18.0

What browser?
Chrome Version 77.0.3865.90

Hi, can we make the last column in fixed position? Example, the last column is Action column with edit & delete button, and I want it to be fixed so regardless we scroll to the right, that column is always fixed at the right (no need to scroll to see it). Thanks

[2019-10-07 18:26] haydenthrash opened #615 "Adding initalSortBy to the options when using remote mode breaks sorting."
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.18.0

What browser?
Google Chrome 77.0.3865.90

### Expected Behavior
What did you expect to happen?.
I expected when using a remote VGT, that I could add in the `initalSortBy` sort option and it would show that column as the default sorted column on mount of the VGT.

### Actual Behavior
What actually

[2019-10-08 11:34] paulhuisman opened #616 "Template slot for column filters"
### Issue Type

- Enhancement Request

### Specs

What version are you using? 2.18.0

What browser? Chrome

### Description

Can a template slot for column filters be introduced? Right now there is a `slot="table-column" ` but this doesn't work for the filters on top of the column.

This way we can add our own html for filters. Datepickers, multiselects, you name it.

[2019-10-11 12:03] PrimozRome commented on #425
@willhoyle any update on my last test/questions?

[2019-10-12 02:27] ik9999 opened #617 "Incorrect displaying of table header after container resizing (without window resize)"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using? 2.18.0

What browser? Chrome

### Expected Behavior
What did you expect to happen?

Re-calculated column width

### Actual Behavior
What actually happened?

When table is getting resized without resizing the window, [header column widths](https://github.com/xaksis/vue-good-table/blob/master/src/components

[2019-10-13 17:01] tasselchof opened #618 "Rendering in remote mode"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
Lsat

Hello!

I wanted to ask about an issue (I am not sure that it is a bug). I am using a table in remote mode, each row has a model for an entity from API.

Let's say entity is like this:
[code]

On click on the row, I am opening modal with this entity and changing the name to "test 1". After this I do:

[code]

And I see in

[2019-10-17 12:54] twhited opened #620 "Issue with multiple function fields"
### Issue Type

- [x] Bug

### Specs
What version are you using?
2.18

What browser?
JSFiddle
Chrome

### Expected Behavior
What did you expect to happen?
If I set a different function to different fields, they should filter independently when I enable filtering

### Actual Behavior
What actually happened?
The input box for the filter of each column are linked. In the JS Fiddle, when you being typ

[2019-10-17 14:19] twhited commented on #620
Someone on our team found that this works:

`{
                    label: 'Program Name | Client',
                    field: row => this.nameClientFn(row),
                    html: true,
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        filterFn: this.columnFilterFn,
                    },
                },

[2019-10-18 02:06] joshk132 opened #621 "How"
### Issue Type (delete the irrelevant ones)
- [x] Question

### Specs
What version are you using?
2.17.4

What browser?
All

### Expected Behavior
What did you expect to happen?
Would like to have it output HTML/template

### Actual Behavior
What actually happened?
Can only figure out how to return anything but HTML/template code

### Steps to Reproduce the Problem
Please detail your steps here

1

[2019-10-22 08:11] Vinoth-LearningThings commented on #425
@willhoyle I am using the version "willhoyle/vue-good-table#expanded-rows.beta.1" which works for expandable rows. Any plans to migrate the functionality into official version?

[2019-10-22 14:45] FascistDonut commented on #590
I receive the same error when hiding columns on a table that has fixed headers.

[2019-10-23 05:32] zacharytyhacz commented on #286
@xaksis Any update on this? I'm wanting to make use of this feature where user can search without the already selected data being cleared.

Maybe make a new search option like:
[code]
??

Just a theory. I can take a look at the source and possibly create a pull request if it's not too much of my time.

Let us know if you push a change regarding this issue.

[2019-10-23 08:00] fobass commented on #347
hi any update?

[2019-10-23 13:56] FascistDonut opened #622 "Is it possible to change the default sort direction on sortable columns?"
### Issue Type

- [x] Question

First off, thank you for making this amazing plugin.

I was just wondering if there is a way for me to change the default direction of sorting a sortable column once it is clicked on. For example, I have a sortable column that correctly sorts when I click the header, however it always starts as ascending so the lowest values are first and get larger. I would like to

[2019-10-24 09:18] ujjwol05 commented on #539
Update your onSortChange to the following
onSortChange(params) {
                this.updateParams({
                    sort: [{
                        type: params[0].type,
                        field: params[0].field,
                    }],
                });
                this.loadItems();
            },

[2019-10-24 09:21] akmalelias commented on #622
You can configure the initialSortBy option. Below is the example & it documented in the official document as well. Please feel free to explore the [documentation](https://xaksis.github.io/vue-good-table/guide/configuration/sort-options.html#initialsortby).

<vue-good-table
  :columns="columns"
  :rows="rows"
  :sort-options="{
    enabled: true,
    initialSortBy: [
      {field: 'name', type: 'as

[2019-10-24 09:51] akmalelias commented on #608
I have code like this to filter status value of each row and it works fine for me. Hope it can help you.

[code]

[2019-10-24 17:13] FascistDonut commented on #622
Thank you. I did look at that, but I think that just sets the initial sort when the table is loaded? It is very close to what I'm looking for, but I don't want to sort by those fields before a user takes action.

When the table is initially loaded, I have already sorted the data based on another column. However, if the user chooses to sort by this other column, then I am trying to switch the direc

[2019-10-24 17:19] FascistDonut commented on #610
It would also be nice to have an alternate actions slot option aside from just the pull right version. I would like to have actions left aligned or centered across the top.

[2019-10-24 21:48] tasselchof opened #625 "Bug with pagination"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
Last

### Expected Behavior
What did you expect to happen?

I expect to show page 3 in pagination panel

### Actual Behavior
What actually happened?

I see page number 1

### Steps to Reproduce the Problem
Please detail your steps here

1. I added parsing of the page from query string;
2. I open table and

[2019-10-25 09:26] peterwhite commented on #590
+1 Same here - fixed header plus hidden columns, same setup as @sybrendotinga

Removing the hidden columns or removing the fixed header resolves the issue.

[2019-10-25 16:43] thiagovella opened #626 "When clicking on a table row with checkbox the table ordering is redone using value of "initialSortBy""
- [x] Bug

### Specs
What version are you using?
2.18.0

What browser?
Firefox v69.9.2(64-bits)

### Expected Behavior
By sorting the table by a column different than the initial set, I expected that when a row was selected the sorting would be maintained.

### Actual Behavior
Every time I click on a row the table ordering is redone using the initial value.

### Steps to Reproduce the Problem
1. C

[2019-10-30 15:18] HaydenHodge commented on #626
I am also noticing this, seems like it has been around since version 2.17.5. The change that caused it: Table.vue#495; the 'if' statement being commented out. I wonder why this decision was made?

    sortOptions: {
      handler(newValue, oldValue) {
        // if (!isEqual(newValue, oldValue)) {
        this.initializeSort();
        // }
      },
      deep: true,
    },

[2019-10-30 16:47] thiagovella commented on #626
@HaydenHodge , Initially I was using version 2.16.5, and also had the same problem, I'm reporting on this latest version because I decided to upgrading to version (2.18.0) and the problem happened the same way ...

[2019-10-31 23:08] dylanvanes opened #631 "With pagination 'position' set to 'both', changing pages does not update other pagination section"
### Issue Type

- [x] Bug

### Specs
What version are you using?

2.18.0

What browser?

All

### Expected Behavior
What did you expect to happen?

Changing pages would update the pagination details at both the top and bottom of the table. i.e. "1 of 20" would become "2 of 20" in both section.

### Actual Behavior
What actually happened?

If you change the page at the top of the table, the paginat

[2019-10-31 23:40] TheJaredWilcurt commented on #626
Updated to 2.18.0 today (from 2.17.4). My tests started breaking, and after MUCH console logging, I tracked it down to:

[code]

Found the new and old values were identical, so I put the `!lodash_isequal` back in and it fixed 3 of my failing tests.

@xaksis is there any need to reinitialize the sort if the sort options have not changed?

[2019-11-04 13:54] LeCoupa commented on #569
@zcuric did you find a better way?

[2019-11-04 14:28] zcuric commented on #569
@LeCoupa To be honest, I didn't look for it, didn't have time. I'll will take a look in the nearby future.

[2019-11-04 19:14] LeCoupa commented on #569
@zcuric I ended up using `vue-sfc-rollup`. It made the process of bundling components way simpler.

https://github.com/team-innovation/vue-sfc-rollup

[2019-11-05 15:46] Vbubblery opened #632 "Is it possible to custom the value of the line-numbers?"
### Issue Type (delete the irrelevant ones)
- [x] Question

Hello,

I recently work on the vue-good-table, I go through the documentation, there is no way to custom the value of the line number when I set line-numbers = true. And Actually I want change it to display another value.

Is there any solution for that?

[2019-11-05 20:36] hanscode commented on #589
Hi @xaksis  I hope everything is well. I have not received any feedback about it :(

[2019-11-06 04:37] kramer99 opened #633 "Column header sortable indicator"
### Issue Type (delete the irrelevant ones)

- [x] Question

There is no visual indicator in the column headers that a column is sortable, unless you have already clicked it and the blue triangle appears. Greyed out dual triangles would provide the user a strong visual cue that the column is sortable. An example is the table component in ElementUI:

[https://element.eleme.io/#/en-US/component/tabl

[2019-11-06 19:04] DerekNMartin commented on #479
I'm still experiencing this issue on 2.18

[2019-11-06 22:07] DerekNMartin opened #634 "Custom perPage dropdown gets reset when selecting new perPage number from dropdown"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.18

What browser?
Chrome Version 78.0.3904.70 (Official Build) (64-bit)

### Expected Behavior
What did you expect to happen?
In remote mode.
When selecting from a custom set `perPageDropdown` I should be able to change the number of items per page, and it should remain, rather than switching back to th

[2019-11-07 10:24] Dan-True opened #635 "How to read the filtervalue programmatically?"
### Issue Type (delete the irrelevant ones)
- [x] Question

### Specs
What version are you using?
2.18.0
What browser?
Chrome

### Expected Behavior
I have a table which auto-updates itself every 5 seconds. However, each time it is updated (i.e. the this.rows property is updated) the filter header on a date coloumn is reset to it's initial value.

I'm trying to solve this by getting the inputted f

[2019-11-07 15:44] PrimozRome commented on #425
@willhoyle any update on this?

[2019-11-07 16:47] willhoyle commented on #425
Hi @PrimozRome ,

Sorry for the delay in updates.

1. Handling all logic internally
This is certainly an option. When I originally wrote this feature, I went with the quickest way to code it. I don't see any reason why we can't move all that logic internally since it will get pretty repetitive.

2. Toggling from the template
How I see this happening is we would supply a toggleExpandedRow in the sl

[2019-11-07 23:51] kramer99 commented on #634
Same thing happening here.

[2019-11-08 09:10] julen-folky commented on #634
Me too. Besides, the total number of pages does not change.

[2019-11-08 11:49] PrimozRome commented on #425
Looks good to me. I think it would make sense and go on with this and also push this code into release.

[2019-11-12 16:45] ivanlunardi opened #637 "FilterDropDown set wrong type"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.18.0
What browser?
Chrome
### Expected Behavior
when i tried to use filter dropdown i'm expecting the type of filter is equal of definition of filed
### Actual Behavior

if the colums type is defined number and with filterDropdownItems = [{value:100,text:"100"},{value:200,text:"200"}]
the @on-column-fil

[2019-11-13 06:44] kai-yu commented on #615
Same here. sorting works like a charm beofre I put `initialSortBy`. When apply `initialSortBy` in `sortOptions`, VGT cause infinite loop on `onSortChange`.

I suppose it has something to do with I make remote call in `onSortChange`, and that stuff up reactivity within VGT.

[2019-11-13 08:52] ardasatata commented on #597
no one? i tried to integrated it with nuxt but the css wont load if I build it to production, however it works in dev mode, has someone experienced this? thanks

[2019-11-14 00:40] xaksis commented on #635
@Dan-True You can see in this example that you can update the rows without affecting the row filters:
https://jsfiddle.net/aks9800/4tc58mgo/
I'm not sure how you're updating the table but it seems like you're recreating the whole table instead of just updating the rows.

As an aside,
The reason you're not able to read the correct value, is probably because of Vue reactivity. You're changing a nest

[2019-11-14 00:46] #626 closed

[2019-11-14 01:18] xaksis commented on #637
@ivanlunardi the on-column-filter event emits the option value for <select> element. for your spec, the resulting option tag will be:

[code]

As you can see, only strings are allowed for value attributes. Which is what you'd get on the on-change event. We don't do anything special here.

Closing.

[2019-11-14 01:18] #637 closed

[2019-11-14 02:42] xaksis commented on #632
@Vbubblery this is currently not possible but I'd be happy to review a PR

[2019-11-14 02:44] xaksis commented on #631
@dylanvanes yeah, this is not currently available. 'both' is not an officially supported option for position:
https://xaksis.github.io/vue-good-table/guide/configuration/pagination-options.html#position
Currently, VGT only supports top or bottom.

closing.

[2019-11-14 02:44] #631 closed

[2019-11-14 02:47] xaksis commented on #625
Same as #634. will be fixed shortly.

[2019-11-14 02:47] #625 closed

[2019-11-14 02:49] xaksis commented on #622
Hey @FascistDonut changing which sort is used first on user click is not currently supported but I'd be happy to review a PR for this.

[2019-11-14 02:50] xaksis commented on #621
hey @joshk132 there's quite a lot of documentation on how to begin here:
https://xaksis.github.io/vue-good-table/

[2019-11-14 02:50] #621 closed

[2019-11-14 03:04] #633 closed

[2019-11-14 03:04] #634 closed

[2019-11-14 08:18] Dan-True commented on #635
I'm using the exact same method for updating the rows as you do in your fiddle, and this also resets the filter on my date header. For what it's worth that filter uses a filter function, which might affect it.

I'm changing the value in the filter through the GUI i.e. as the user would do it. It may be due to vue reactivity, but then that seems like an issue. If I was changing it programatically I

[2019-11-14 15:13] xaksis commented on #635
@Dan-True hmm, Ok I'll do some more investigation with filter function. Also, can you try with the latest version? There were some resetting issues that were happening before that possibly might be fixed with the last update.
If not, i'll re-open this and we can work through it to see what's wrong.

[2019-11-14 18:18] Dan-True commented on #635
I just updated to the newest version, with no change.

I removed the line where I reset the rows, and now just push my results from the backend. It made no difference. Will try in a jsfiddle in a sec.

[2019-11-14 19:09] Dan-True commented on #635
Okay, I found the issue: updating the dropdown items of a dropdown header filter (any coloumn) resets the other filter. I have a fiddle here:
https://jsfiddle.net/37xbgy6v/

Steps to reproduce:

1. Press the "Add to Row" button some 5-10 times.
2. Change the value in the date filter to "10.10.2019 - 14.11.2019", it should now show the 5-10 items you just added.
3. Press "Add to row" again.
4. Obse

[2019-11-15 12:38] fegbers commented on #618
@tasselchof
Hi - Changing a property with the vue dev tools also updates the value in the table (for me).
Could you maybe provide some more informations?

[2019-11-16 17:27] CHEWX opened #639 "Column flash preloader"
Is there anyway to stop the columns flashing, if you set column 1 to a percentage width, onload it moves.

Ideally a preloader or a on load event can be added so I can fade the table in to prevent seeing the column width flash/move.

[2019-11-18 00:59] humblecoder commented on #561
Apologies, but this still makes no sense to me.  What if I need to add a custom column with `<button>`?  Please provide a clear, concise example of this type of customization.   Thanks.

[2019-11-18 11:05] Dan-True commented on #635
@xaksis  Using this.$set doesn't work either:

`this.$this(this.columns[0].filterOptions, 'filterDropdownItems', this.fromDropdown);`

[2019-11-18 11:37] xaksis commented on #635
Ok, re-opening to take a closer look

[2019-11-18 16:16] onyx-blackbird opened #640 "Enhance the filter function for columns"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

### Expected Behavior
As an additional argument the whole row object should be available (`function(data, filterString, row)`), so you can write a more complex filter for composite columns. In my Case I have a "title" column, but there I also display a description and other information in the same column and I would like to fi

[2019-11-19 07:25] PrimozRome commented on #425
@willhoyle What else is needed for this to make it into release version?

[2019-11-20 09:05] onyx-blackbird commented on #640
Just found the line of code where this could be added within `filterRows` of `Table.vue`:

[code]

[2019-11-20 09:13] onyx-blackbird commented on #425
Just found this thread and this is also exactly what I am looking for. Would be great if this makes it into the next release (hopefully still this year).

[2019-11-21 15:40] CHEWX commented on #590
Looks like the fix sorted this out. Can we close the issue — @sybrendotinga @xaksis

[2019-11-21 17:21] j-wil commented on #605
@pageanengineer I just ran into the exact same problem you described in your last comment did you ever come up with a solution?

[2019-11-21 17:32] j-wil commented on #605
Ahhhh I just found the solution in this issue https://github.com/xaksis/vue-good-table/issues/620#issuecomment-543196980

For anyone else who comes across this the fix in the above example is as follows:
[code]

[2019-11-21 18:04] xaksis commented on #590
yep! thanks @CHEWX

[2019-11-21 18:04] #590 closed

[2019-11-22 12:26] willhoyle commented on #425
@PrimozRome @onyx-blackbird
apologies for the delay. I should have time this weekend to adjust the API to keep track of the expanded rows internally.
I'll let you all know when it is done so everyone can test it before I submit the pull request
Thanks

[2019-11-24 21:29] zacharytyhacz commented on #639
Bump, I agree

[2019-11-24 21:37] zacharytyhacz commented on #617
Related: #639 .

I agree about this issue, it should be fixed with some sort of delay on mount or create.
Here's some of my screenshots related to this issue:

On load, the header columns are incorrectly sized:
![image](https://user-images.githubusercontent.com/38140593/69501988-4fa29000-0ed8-11ea-97e9-3de72a47047b.png)

This is it after **resizing the page, which fixes it the column headers someh

[2019-11-25 11:26] Dan-True commented on #635
@xaksis  So far I've disabled the generation of dropdown values to make this work. This would actually be a cool feature, if it could generate the dropdownvalues itself. But I guess I would have to make my own PR with it then? :)

If there's another recommended way of updating the dropdownfilters when the content changes, let me know.

[2019-11-27 16:05] ik9999 commented on #617
@zacharytyhacz Delay won't help because div can be resized by js and the table won't adapt.

Here is the change i've made in src/components/Table.vue:

[code]

Also, `resize-observer-polyfill` package is needed. Im not sure how fast is ResizeObserver, so i dont know whetether its ok to pull it to master.

[2019-11-28 23:41] icangku opened #642 "uuid not working"
### Issue Type (delete the irrelevant ones)

- [x] Bug
- [x] Enhancement Request
- [x] Question

### Specs
What version are you using?

What browser?

### Expected Behavior
What did you expect to happen?

### Actual Behavior
What actually happened?

### Steps to Reproduce the Problem
Please detail your steps here

1.
1.
1.

### jsfiddle
If you provide a jsfiddle reproducing the issue, it'll be add

[2019-11-28 23:43] #642 closed

[2019-11-29 16:34] damms005 commented on #318
@xaksis  why don't you want to consider [this great addition](https://github.com/xaksis/vue-good-table/issues/318#issuecomment-427184059). Some persons in the community [already love it](https://github.com/xaksis/vue-good-table/issues/318#issuecomment-427170239). Pleaseeeeeeeeeee!!!!

[2019-12-03 09:10] dcrystalj commented on #149
@ikashifullah https://jsfiddle.net/kashifullah/x9mqfy5y/ your example throws exception in console.log.
Looks like Vue good table has some issues using date-fns properly

[2019-12-07 21:53] mituller opened #644 "Adding component to row cell"
- [x] Question

### Specs
What version are you using? 2.18.0

How can I add a component to the row cell? I have a requirement to add an icon based on the value and our icons are in SVG format and pulled in via a component into a custom row template. I am trying to add this to the table, but the component isn't being loaded.

[code]
So it would look like this image.
<img width="351" alt="Screen Sho

[2019-12-09 09:02] hanphi opened #645 "how to phase date in format of "/Date(1531730423815)/"?"
### Issue Type (delete the irrelevant ones)

- [ ] Bug
- [x] Enhancement Request
- [x] Question

### Specs
What version are you using?
v2.18.1
What browser?
Chrome 75
### Expected Behavior
show the date correctly.

### Actual Behavior
Not a valid date: "/Date(1569808088904)/"

### Steps to Reproduce the Problem
Please detail your steps here

1. when date in format of "/Date(1531730423815)/".

[2019-12-09 14:56] amchconsult commented on #373
I got around and I fix the css width, from 100% to 99.4%

`.vgt-fixed-header{position:absolute;z-index:10;width:100%;overflow-x:auto}`

for:

`.vgt-fixed-header{position:absolute;z-index:10;width:99.4%;overflow-x:auto}`

[2019-12-10 16:45] ingmontoya commented on #607
Hi,
Did you find a solution for this? I'm having the same issue

[2019-12-11 07:09] eric-naguras commented on #615
Somewhere the sorting options changed from an object to an array to support multi-column sorting. Author forgot to update the documentation. The docs still show an object for the initial sort, change this into an array and everything works fine.

`serverParams: {
          columnFilters: {},
          sort: [
            {
              field: 'showTitle',
              type: 'asc'
            }

[2019-12-11 07:18] eric-naguras commented on #533
The caret is shown indeed when you use initialSortBy in the sort options in the table definition
`<vue-good-table></vue-good-table`>

It does NOT work if you put the initial sort in the data script section in
`serverParams:{}`
The table is sorted correctly but the column does not show the caret.

[2019-12-11 21:01] jrtitus opened #647 "Unable to mix grouped rows and non-grouped rows in a single table"
### Issue Type

- [x] Bug
- [x] Enhancement Request

### Specs
What version are you using?
2.18.1

What browser?
Chrome

### Expected Behavior
I expected the rows without children to be rendered as rows outside of a group without throwing an error.

### Actual Behavior
[code]

### Steps to Reproduce the Problem
[code]

### CodeSandbox
https://codesandbox.io/s/sad-curran-1zczm?fontsize=14&hidenavig

[2019-12-13 00:04] dinee432 opened #649 "Custom Pagination"
Hi,

  I am trying to implement custom paging, the paging works fine but the vue-good-table pageChanged event is not getting triggered.

<template slot="pagination-bottom" slot-scope="props">
        <pagination
          ref="paginationBottom"
          :pageChanged="props.pageChanged"
          :perPageChanged="props.perPageChanged"
          :total="props.total">
        </pagination>
      </t

[2019-12-13 00:04] dinee432 commented on #649
###
<template slot="pagination-bottom" slot-scope="props">
        <pagination
          ref="paginationBottom"
          :pageChanged="props.pageChanged"
          :perPageChanged="props.perPageChanged"
          :total="props.total">
        </pagination>
      </template>
###

[2019-12-13 06:59] dinee432 commented on #649
Closing as this is resolved.

[2019-12-13 06:59] #649 closed

[2019-12-13 07:01] dinee432 opened #650 "Dynamically resize the columns"
Hi,

  Is there any way that I can dynamically resize the columns. For example, resize the columns on drag.

[2019-12-13 07:03] Bcryp7 commented on #644
I think the template wraps the span not the other way around.

But if I may say I have a similar issue which is loading more than 1 component using the template slot="table-row". I can load 1 component for 1 specific column but if I want to load another component for another column it strips the component and leaves the raw property.

I apologize for the long code.

[code]

I also try placing the

[2019-12-24 14:50] AleksandrNi opened #651 "reset sort on press button"
- [x] Question

Good day!
Question: How I can reset sorting params on press button?

https://jsfiddle.net/aks9800/1bkzcd3n/
this.$refs['my-table'].reset()
here I saw "reset" method but it doesn't work in my case, also as "resetTable",

What I should do?
Thanks!

[2019-12-24 15:57] nahid18 opened #652 "Filterable doesn't work for custom columns"
### Issue Type (delete the irrelevant ones)
- [x] Question

I am trying to filter a custom column labeled as Name (action field, data below).
But it's not filtering the custom button column data.

Template file:
[code]

The **rankArray** is here just sorted data with an extra column which contains the rank index value.
And the **data columns** for the table looks like this:

[code]
I just want to

[2020-01-06 17:23] nburkley commented on #259
You can reference it by `window['vue-good-table'].VueGoodTable`

For example:
[code]

[2020-01-09 08:54] msalahz commented on #489
Any updates about this?

[2020-01-10 15:47] dcrystalj opened #653 "Async column styling"
### Issue Type (delete the irrelevant ones)

- [x] Bug
- [ ] Enhancement Request
- [ ] Question

### Specs
2.18

Chrome

### Expected Behavior
Apply styling on async columns settings.

### Actual Behavior
Width is not applied

### Steps to Reproduce the Problem

1. Set columns after table is rendered
1. Set prop `width: '500px' of one column
1. There should be table with column 500px but it is not

[2020-01-13 17:46] ali19vinit15project opened #654 "@on-per-page-change event getting called twice"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
^2.18.1

What browser?
Chrome

### Expected Behavior
What did you expect to happen?
Getting called only once when I change the Per page dowpdown

### Actual Behavior
What actually happened?
Method gets called twice

### Steps to Reproduce the Problem
Please detail your steps here

1.Using
![image](https:/

[2020-01-21 13:44] zwx00 opened #655 "Support passing filter cell as a slot"
### Issue Type

- [x] Enhancement Request

### Specs
Any.

### Expected Behavior
I want to style the filter cell. In particular, I wish it were exposed in the same way other cells are (via scoped slots), so that I can provide my own widget. One particular use case for this is date input which is very hard to do by hand, especially if the table is server side. In this case, I'd rather provide a dat

[2020-01-22 17:14] aeacusvol opened #656 "Selected rows issue when columns defined inline"
### Issue Type (delete the irrelevant ones)

- [x] Bug
### Specs
What version are you using? 2.18.1

What browser? Chrome

### Expected Behavior
What did you expect to happen?

When I select a row I expect @on-selected-rows-change to trigger once (and in the case of the fiddle example, activate the send button).

### Actual Behavior
What actually happened?

 It appears that when the table columns

[2020-01-26 02:41] brunoportess opened #657 "Question - SET GLOBAL CONFIGURATION IN APP"
### Issue Type
- [x] Question

### Specs
What version are you using?
2.18.1
What browser?
Google Chrome
### Expected Behavior
What did you expect to happen?

### Actual Behavior
What actually happened?
When I import globally in app like Vue.use(VueGoodTablePlugin) i need set global configuration like another plugins with Vue.use(VueGoodTablePlugin, { OPTIONS HERE})
MY SITUATION
Vue.use(VueGoodTabl

[2020-01-26 08:53] dinarozenberg opened #658 "style - styleClass="vgt-table striped" not work"
### Issue Type (delete the irrelevant ones)

- [x] Bug
- [x] Enhancement Request
- [x] Question

### Specs
What version are you using?

What browser?
chrome
### Expected Behavior
What did you expect to happen?

### Actual Behavior
What actually happened?
last week i use with this code
"styleClass="vgt-table striped""
and its work
and today itnot
i look in your guide and it also not work
![image](h

[2020-01-26 11:17] #658 closed

[2020-01-29 15:36] Hraph opened #659 "Change cell background color in template"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
What version are you using?
2.18.1
### Question
I would like to change the background-color of a column cell dynamically. Is there a way to do that in the table-row template? The only example available is for changing the font color of the cell span inside the <td>
Thanks

[2020-02-06 09:26] gauravgavhane05 commented on #551
@xaksis
@patrickbolle
How to disable specific row for checkbox selection ?

[2020-02-07 13:31] hannonq opened #660 "Access individual filter fields"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request
- [x] Question

### Specs
What version are you using?
2.18.1

What browser?
Firefox 72.0.2

### Expected Behavior
What did you expect to happen?

I would like to be able to have granular access to each specific filter input. Maybe via an id.

### Actual Behavior
The only way I can find to refer back to a filter input field is t

[2020-02-07 19:14] TheScree opened #661 "Drop Down Filterables no longer work"
Bug

### Specs
  "dependencies": {
    "@nuxtjs/axios": "^5.5.4",
    "@nuxtjs/google-analytics": "^2.2.3",
    "nuxt": "^2.8.1",
    "nuxt-webfontloader": "^1.1.0",
    "vue-good-table": "^2.16.5"
  },
  "devDependencies": {
    "@nuxtjs/tailwindcss": "^1.0.0",
    "eslint-config-prettier": "^4.1.0",
    "eslint-plugin-prettier": "^3.0.1",
    "nuxt-purgecss": "^0.2.1",
    "prettier": "^1.16.4"

[2020-02-10 08:35] mcandylab commented on #410
@ChaStPierre jquery? Seriously?

[2020-02-11 15:32] hhummell81 opened #662 "Option for change multisort key"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

### Specs
version: 2.18.1
browser: opera

### Expected Behavior
As a user, I want to use multisort with a different key than "shiftKey", because when I use shift key, the content inside of th are marked as selected like if I would wanted to copy the text of the headers.

### Actual Behavior
e.shiftKey is hardcoded in [VgtTable

[2020-02-11 22:10] TheJaredWilcurt opened #663 "Is the VGT Dead?"
Hey @xaksis

Been using VGT for like 2 years at work. There are a few PR's we were looking forward to being merged so we could use those features:

* https://github.com/xaksis/vue-good-table/pull/587
* https://github.com/xaksis/vue-good-table/pull/641

Wanted to know what the status was for the project. Do you need help maintaining it? Should we just fork it and merge those PR's into our fork and

[2020-02-11 23:54] xaksis commented on #663
@TheJaredWilcurt, I'm going to add you as a contributor if you want to help maintain it. Is that okay?

[2020-02-12 00:00] xaksis commented on #663
Done! You're now a collaborator @TheJaredWilcurt. Go forth and make the changes community requires.

[2020-02-12 00:00] #663 closed

[2020-02-16 11:46] eric-naguras opened #664 "Column Filter Options - Add a clear button to the filter input text box"
### Issue Type
- [x] Enhancement Request

I would like to have (an option for) a clear button at the very right if the column filter input text box.
Just an "X" at the very right would be ok.
Clicking this button would clear the text box.
This work better/faster than selecting the text and then deleting it.

Thanks for the very useful table component!

[2020-02-16 20:55] Dave3of5 opened #665 "Grid picking up previous values"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
Latest

What browser?
Chrome

When in remote mode and the per page is changed the table is rendering the previous values

I can't produce a repro very easily for this as it requires a server setup to response to the backend. I can show some screenshots of what's happening though:

<img width="1408" alt="S

[2020-02-16 21:00] Dave3of5 commented on #665
Something to do with these options:

[code]

When I remove the perPage and the perPageDropdown options it's works. But with these options set the thing seems broken.

[2020-02-19 13:47] Dave3of5 commented on #665
Same thing is happening when i have values updated by search. Is there a way of re-rendering the table. I've noticed on search that the loading icon doesn't display either and it only calls the back-end once rather than twice.

[2020-02-19 13:52] Dave3of5 commented on #665
Disregard this. It's to do with the fact the rows are in vuex. I moved them to the component and it's all working sorry about the confusion.

[2020-02-19 13:52] #665 closed

[2020-02-20 22:16] TheJaredWilcurt opened #667 "Build/Release request"
@xaksis

2 new features and 1 bug fix have been merged to `master`:

* https://github.com/xaksis/vue-good-table/pull/587 - Add multiselect filter
* https://github.com/xaksis/vue-good-table/pull/641 - Collapsable groups
* https://github.com/xaksis/vue-good-table/pull/666 - Async column styling

Can you do a build/release to npm?

[2020-02-20 22:55] xaksis commented on #667
done!

[2020-02-20 22:55] #667 closed

[2020-02-21 07:18] fegbers opened #668 "Support for dynamic slot names (e.g. custom row template)"
### Issue Type
- [x] Enhancement Request

As in the [custom row template](https://xaksis.github.io/vue-good-table/guide/advanced/#custom-row-template) shown, you have to look on the field and add the custom functionality. If the field is the "default", you have to reimplement the default every time. Perhaps you have a bit more complex default template (e.g. if formattedRow.length > X, show only th

[2020-02-21 12:02] xaksis commented on #668
@fegbers thank you for your question. I'm actually unsure how named slots would help in this case? could you come up with a code example to clarify? How would you supply slot-A vs slot-B without checking for your logic condition?

[2020-02-21 12:25] fegbers commented on #668
@xaksis I will provie a code example the next days.

[2020-02-21 14:04] TheJaredWilcurt commented on #653
@dcrystalj This should be fixed in the latest release

[2020-02-21 14:04] #653 closed

[2020-02-21 20:48] fegbers commented on #668
@xaksis  Just created a draft pull request (#669).
Of course, some methods are superfluous and maybe not ideal.
Does it clearify my intention?
Perhaps there are also some more slots to improve.. But i adapted only the row and the header.

[2020-02-21 21:15] fegbers commented on #668
Just for information

Some other issues that could be solved with some more slots:
#616
#632
#655

[2020-02-22 13:21] kchung91 opened #670 "Table with fixed column"
### Issue Type (delete the irrelevant ones)

- [1] Enhancement Request
When there are too many columns, how can fix some of them?
I have huge chunks of data to put in a table, how can I fix the header and columns at the same time.

### Specs
What version are you using?
v2.19

What browser?
Chrome

Thanks for the very useful table component!

[2020-02-24 16:52] zpoll92 opened #671 "Checkbox clears when I edit any data in the table"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
MacBook Pro (Retina, 15-inch, Mid 2016)

What browser?
Google Chrome - v79.0.3945.130 (64bit)

### Expected Behavior
When I edit ANY data in the table or when I search for a given value, the checkboxes stay untouched.

### Actual Behavior
Whenever I change ANY data that's associated with the row, it clears all the selected checkboxe

[2020-02-25 06:27] serakfalcon opened #672 "sass cannot compile in version v2.19.0"
### Issue Type (delete the irrelevant ones)
- [x] Bug
### Specs
What version are you using? v2.19.0

What browser? n/a
### Expected Behavior
What did you expect to happen? Sass should be able to compile using the following file: https://github.com/xaksis/vue-good-table/blob/master/src/styles/style.scss

### Actual Behavior
What actually happened? Sass could not compile due to incorrect linkage in

[2020-02-25 13:39] xaksis commented on #672
@serakfalcon thank you for reporting this. @cassmbautista

[2020-02-26 12:28] davidjr82 commented on #668
@fegbers @xaksis

Could we use this idea to use filter columns as slots? Recently, the multiselect filter has been merged. Although this is really nice, it has downsides too:

- Users only can use this multiselect component, and not other one if they would want to.
- Package has more kb, even a user doesn't want to use it.

Imagine a user now wants to have a date filter, and submit a PR with it. O

[2020-02-26 17:21] unixconky opened #673 "Where is the best place to dynamically add filterDropdownItems based on an API response?"
Where is the best place to dynamically add `filterDropdownItems` based on an API response? I have tried in `beforeUpdate` Vue method but it is calling `onColumnFilter` every second.

[code]

[2020-02-26 18:48] xaksis commented on #668
@fegbers, I'm going to take a look at the PR this weekend and see if I understand your intent.

@davidjr82 these are valid concerns, please create a separate ticket for this and assign to @TheJaredWilcurt as they have more clarity on that update.

[2020-02-27 09:08] davidjr82 opened #675 "Slots for custom filters"
@TheJaredWilcurt I am openning this ticket to discuss the idea expressed in #668 as @xaksis suggested.

The point is that recently, the multiselect filter has been merged in #587. Although this is really nice, it has downsides too:

- Users only can use this multiselect component, and not other one if they would want to.
- Package has more kb, even a user doesn't want to use it.

Imagine a user no

[2020-02-28 22:46] TheJaredWilcurt commented on #675
This is a good idea. I don't have time to work on it at the moment however (traveling for work). But this is a better overall approach to what is currently in use. Accepting PRs.

[2020-02-29 18:02] #672 closed

[2020-02-29 18:21] xaksis commented on #668
@fegbers here are my concerns with your approach:

- fields are not always strings, they could be functions in which case the slots would fail.
- fields are also not required. You could have custom columns added to your table which don't refer to any property on the row. (Action columns)
- I also don't see how this'd work for something where you want to provide a custom template based on a conditi

[2020-02-29 18:24] xaksis commented on #675
Consolidating, https://github.com/xaksis/vue-good-table/issues/632, https://github.com/xaksis/vue-good-table/issues/655,

[2020-02-29 18:25] xaksis commented on #655
consolidating with #675

[2020-02-29 18:25] #655 closed

[2020-02-29 18:26] xaksis commented on #616
consolidating with #675

[2020-02-29 18:26] #616 closed

[2020-02-29 22:12] fegbers commented on #668
@xaksis Okay, I didn't think about things like that.
In order to avoid the problems you mentioned, there should be some kind of clear identification. Maybe the class? I dont know..
If there are no other ideas, you can close this problem and the relevant PR.

[2020-03-02 16:14] jjmartucci opened #676 "If All option is selected in per page dropdown, All option text disappears when filtering columns that change the value of all"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using? 2.19.1
What browser? Checked in Chrome, Firefox, and Safari on MacOS

### Expected Behavior
Per page dropdown text should remain visible even when changing results using column filters.

### Actual Behavior
"All" option text disappears when filtering a column that causes the value of "All" to change.

###

[2020-03-02 20:03] hansen168 opened #677 "Is table filtered"
### Issue Type (delete the irrelevant ones)
- [x] Question

### Specs
What version are you using?
Latest

What browser?
Chrome

### Expected Behavior
Is there anyway to know if a table has filter? something like isFiltered...

[2020-03-04 21:18] Lynne-Daniels opened #678 "Set initial value of multiselect filters"
I'm very happy see the recent addition of multiselect filter dropdown menus, but have a question about how I might set the initial values.

Single Selects
`this.$set(this.columns[foundIndex].filterOptions, 'filterValue', this.$route.query[key]);`

I am using the pattern in https://github.com/xaksis/vue-good-table/issues/475#issuecomment-518040333 to set initial filters to match a url query, but ha

[2020-03-06 11:56] lalits2002 opened #679 "Do we have"
### Issue Type (delete the irrelevant ones)

- [x] Bug
- [x] Enhancement Request
- [x] Question

### Specs
What version are you using?

What browser?

### Expected Behavior
What did you expect to happen?

### Actual Behavior
What actually happened?

### Steps to Reproduce the Problem
Please detail your steps here

1.
1.
1.

### jsfiddle
If you provide a jsfiddle reproducing the issue, it'll be add

[2020-03-06 11:58] lalits2002 opened #680 "Do we have Deferred rendering like datatable have?"
### Issue Type (delete the irrelevant ones)

- [x] Question
Please take a look on https://datatables.net/examples/ajax/defer_render.html

Please let me know if we have something like this in vue-good-table?

### Specs
Current

What browser?
Google Chrome

[2020-03-06 12:45] #679 closed

[2020-03-06 12:48] xaksis commented on #678
@cassmbautista @TheJaredWilcurt Please take a look.

[2020-03-08 18:49] lalo4ka commented on #425
hi @willhoyle , when do you estimate that this feature joins the master version?  I will look forward to it :)

[2020-03-10 12:57] dubonzi commented on #662
+1 this would be very helpful.

[2020-03-15 19:43] #668 closed

[2020-03-17 08:19] btalaei opened #681 "is there 'enum' type for columns?"
Question:

is there '**enum**' type for columns?
i did not find Enum type for columns and try to write my own function for sorting such columns with  **sortFn** but it does not work or me!

[2020-03-17 12:09] TheJaredWilcurt commented on #425
See if this feature works for you, it was recently released:

* https://xaksis.github.io/vue-good-table/guide/advanced/grouped-table.html#collapsable-rows

[2020-03-18 21:47] lalo4ka commented on #425
and what  is the  name's scope ?   i tried with <template slot="expanded-row" slot-scope="props">
but didn't works. Can u help me with a fast example?  because the documentation is short about this cool feature :)

[2020-03-18 22:31] Dschungelabenteuer opened #683 "Nested groups ?"
Hello,

Great job with these tables!

Is there any way I could nest grouped rows as showcased in the following screenshot based on `/dev/grouped-table.vue` ?
![b0e969d6bec8f4c7b18a9d3ac84eecd7](https://user-images.githubusercontent.com/16818271/77013339-2b2f5f80-6970-11ea-9c85-0d49bc797abf.png)

I have been reading the documentation and went through the code, but could not find any clue so I've tr

[2020-03-20 06:20] xdecow opened #685 "bug table.reset()"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.19.1

What browser?
chrome 80

### Expected Behavior
reset table filters and receive event filter-changed

### Actual Behavior
the filters are reset but the event is not emitted
TypeError: Cannot read property 'forEach' of undefined

### Steps to Reproduce the Problem

1. create a table that has filters

[2020-03-20 10:39] thdung002 opened #686 "How to add data without create each columns by name?"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
What version are you using?
v2.19.1
What browser?
Not tested yet

I have a question that I get a data array[{}] from database with some merge, sort computed. Then what I need to add to the component automatically without create by hand each column/ with name, types, etc....
How to just add a data to it and working? If not sorry

[2020-03-20 12:41] gokhantaskan opened #687 "Pressing Tab is not focusing the list items"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request
- [x] Question

### Specs
What version are you using?
`^2.19.1`

What browser?

### Expected Behavior
While pressing tab, I want to focus on the table rows.

### Actual Behavior
List items are omitted.

### Steps to Reproduce the Problem
I handled it with this way:

[code]
`e.target.cells[0].innerText` includes ID of that row.

[2020-03-20 12:56] gokhantaskan commented on #687
I just realized that it is not jumping to the second tr even if it has a tabindex="0" attribute. So my code is also not working properly 😁

[2020-03-21 18:10] fullstackdev-online opened #688 "Custom theme implementation"
### Issue Type

- [x] Question

### Specs
What version are you using?
2.19.1

What browser?
Chrome

### Expected Behavior
Based on comments from #572 I try to use a custom theme, I expect scoped style should change default theme colors.

### Actual Behavior
What actually happened?
Default theme colors are always shown.

### Steps to Reproduce the Problem

1. in mycomponent.vue I create table and d

[2020-03-22 14:11] TheJaredWilcurt commented on #425
@lalo4ka

* https://jsfiddle.net/py1jq8zr/

You can change `collapsable: true` to `collapsable: 2` to pick a different column index to be the clickable point to expand/collapse.

[2020-03-22 22:54] eFlowMedia commented on #622
Hello.  Has anyone implemented this enhancement yet?

[2020-03-26 00:52] amane-ro opened #692 "Can't expand collapsed record at 2nd page"
### Issue Type (delete the irrelevant ones)

- [x] Bug?

### Specs
What version are you using?
2.19.1

What browser?
Chrome 80.0.3987.149

### Expected Behavior
If a group record, a grouped table spans pages, the next page can also be expanded from collapsed.

### Actual Behavior
Can be expanded only on the first page for each record.

### Steps to Reproduce the Problem
Please detail your steps he

[2020-03-30 07:22] udaraz opened #693 "How to use row buttons with Checkbox Table"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
What version are you using?
2.19.1
What browser?
firefox

### Expected Behavior
What did you expect to happen?
I need to use buttons with checkbox table
### Actual Behavior
What actually happened?
It's select the row (checkbox) when I click on the button
### Steps to Reproduce the Problem
Please detail your steps here

1.Use ch

[2020-03-31 10:10] udaraz commented on #693
I have fixed it like this
`<a href="javascript:void(0)" @click.stop="editRecord(props.row)">`

[2020-04-01 05:08] skillshrine opened #695 "Is this still maintained? The documentation is outdated."
### Issue Type (delete the irrelevant ones)
- [x] Question

### Specs
What version are you using?
v2.19.1

### Question
As the subject. I am finding a lot of documentation inconsistencies. One example is the server side rendering section: https://xaksis.github.io/vue-good-table/guide/advanced/remote-workflow.html

The handler methods are not inline with the main Configuration options section (in p

[2020-04-01 12:40] TheJaredWilcurt commented on #695
It's still maintained, documentation is hard, please create PR's when you find inconsistencies or things that are out of date,

[2020-04-03 18:24] jtlevy commented on #286
@xaksis we are wanting this feature as well.

Do you plan on supporting searching for a row, selecting row, the searching again while preserving the prior row selections?

[2020-04-04 19:03] focus97 commented on #286
Figured out a workaround for others struggling on this. Vue Good Table is awesome but we needed to be able to select rows and not have them clear on search. I looked through the VGT source and found that within the search functions the table selections are first reset before search begins. Seems to be done for a reason, but for us, the most common use case is for users to see rows in the table, cl