[2017-05-23 10:16] nivv opened #1 "[Suggestion] Add option to filter specific column on load"
Would be nice to be able to specify which column should be ordered by default

[2017-05-23 11:02] xaksis commented on #1
Good Suggestion! let me look into it today.

[2017-05-23 11:43] xaksis commented on #1
This option is now available via `:defaultSortBy="{field: 'id', type: 'desc'}"`. Thanks for your suggestion!

[2017-05-23 11:43] #1 closed

[2017-05-26 14:03] bmfteixeira opened #2 "[Feature / Question] Custom elements"
Any way to get this working with custom elements?

[2017-05-26 15:43] xaksis commented on #2
hey @bmfteixeira! tell me more?
If you mean html elements within table cells, you can do that by setting `html: true` on column
https://github.com/xaksis/vue-good-table#column-options

[2017-05-26 16:56] bmfteixeira commented on #2
Hey @xaksis, not really HTML elements (which is already good 👍 ) but custom elements. Like, passing slots to my table cells with my components to be rendered.

[2017-05-26 19:27] xaksis commented on #2
hmm. that would be tough, given that the rows are generated dynamically based on your data object. If you explain your use case more, i'll see if it is feasible. Do you wanna show custom vue components inside your dynamically generated table cells?

[2017-05-26 19:54] cristijora commented on #2
@bmfteixeira Usually an example of code on how you expect it to be helps a lot understanding the issue. Just make a very simple example of input and expected output and from there on ideas and implementation might be done faster rather than going back and forth with replies.

[2017-05-29 21:58] bmfteixeira commented on #2
Just getting inspired on datatables from Vuetify:

https://github.com/vuetifyjs/docs/blob/master/examples/tables/3.vue

What happens is that they manage the cell's content by slot. The sorting is done by a cell property. This give a lot of leeway to build a dynamic table :)

[2017-05-29 22:30] xaksis commented on #2
@bmfteixeira I see what you mean now. they use scoped templates to let you decide how to display tds within a row.

Could be a good usecase for an advanced version. I'll look into it but can't commit to this just yet. Thank you for bringing it up though and apologies for not understanding the use case initially.

[2017-05-30 08:35] bmfteixeira commented on #2
All good @xaksis. I think this is a major feature and will bring the vue-good-table to another level (once everyone can make the table way more dynamic). Good luck with that and maybe I'll try to give you a hand if I have time to it 👍

[2017-05-30 17:16] xaksis commented on #2
Alright! iteration 1 of this feature is now available in v1.3.0.
Example Usage:
[code]

[2017-05-30 17:16] #2 closed

[2017-05-30 22:16] bmfteixeira commented on #2
Great to see this @xaksis. Will try in a near future.

[2017-05-30 23:54] jlugao opened #3 "HTML fields are forced to the end of the table"
I am trying to use the first column as an image column, basically I am declaring the field as:
`'<img class= "img-thumbnail img-search" src="' +  config.imageServerURI + data.profilePic + '"/>'`
and the column configuration as:
`      {
          label: 'Profile Image',
          field: 'image',
          html: true,
          width: '100px',
        },`

The problem is the title is displaying in

[2017-05-31 00:16] xaksis commented on #3
Thank you for pointing this out. There's a bug in the code. I'm going to check in a fix right now.

To answer your question, v1.3.0 now supports dynamic tds so you can actually create the table cells yourself. Example:
[code]

[2017-05-31 00:18] #3 closed

[2017-05-31 00:19] xaksis commented on #3
All done! version 1.3.1 now has your fix as well.

[2017-06-01 19:45] bbennett36 opened #4 "Anyway you could add a "date" field to column types to sort on?"
I could probably hack something together or edit the current component but I'm sure you could do this more efficiently than me. Just let me know, thanks!

[2017-06-01 23:09] bbennett36 commented on #4
Guessing that's a no? Lol

[2017-06-01 23:10] xaksis commented on #4
Don't sell yourself short friend! You would have done a fine job i'm sure. I used moment to parse/format dates. you can find the changes in version 1.4.0.

[2017-06-01 23:11] xaksis commented on #4
Example usage:
you can add a column like so:
[code]
and your date should look like '20160423' //depending on the format you specify in inputFormat.

[2017-06-01 23:13] bbennett36 commented on #4
Awesome! Thanks, I appreciate it!

[2017-06-01 23:14] xaksis commented on #4
No problem! let me know if you have a problem using it.

[2017-06-01 23:17] bbennett36 commented on #4
Sounds good, ill do some testing tomorrow and report back with the results.

On Jun 1, 2017 7:14 PM, "xaksis" <notifications@github.com> wrote:

[2017-06-02 13:54] bbennett36 commented on #4
I got that working but it looked like there was an error in your sort method.

I had to change

[code]

to

[code]

Looks like you have it looking at the field name instead of the field type. My field name was "due_date" so it wasn't working at first and I had to go through and change that.

Other than that, it works great. Thanks again!

[2017-06-02 14:05] xaksis commented on #4
whoops! good catch... 1 fix coming right up.

[2017-06-02 14:13] xaksis commented on #4
v1.4.1

[2017-06-02 14:13] #4 closed

[2017-06-03 10:33] cristijora opened #6 "Contribution issues"
1. How to test the component locally? Do I have to setup a whole new project and use the library there?
2. The current demos folder structure doesn't allow `npm install`
3. Is there going to be a browser bundle so we can test stuff easily on jsfiddle for example ?

[2017-06-03 10:36] cristijora opened #7 "Moment.js might produce big bundles"
Moment.js is well known for a very high size
There are many issues around this https://github.com/moment/moment/issues/2373
I saw that vue-good-table uses moment only to format dates in a couple of places
A good alternative for such operations is https://github.com/date-fns/date-fns

With date-fns you can import only the functions you need (e.g format) and not import the whole library to do this o

[2017-06-04 03:30] xaksis commented on #6
1. for now, yes
2. removed demo folder in favor of [online demos](https://xaksis.github.io/vue-good-demos/#/simple-table)
3. I haven't looked into it yet

[2017-06-04 11:42] xaksis commented on #7
Thank you for bringing this up @cristijora. Makes a lot of sense. Looking into it.

[2017-06-04 12:33] xaksis commented on #7
v1.5.2 replaced moment with date-fns parse/format functions. Thank you @cristijora for the recommendation!

[2017-06-04 12:33] #7 closed

[2017-06-04 12:39] xaksis commented on #4
@bbennett36 I just switched out the date parsing/formatting library. Please let me know if all your use cases still work fine? Thank you!

[2017-06-06 13:52] ken-sands opened #9 "styleClass doesn't seem to work"
if I change the default in the vue it works but if I try to set it in the html it has no effect.

[2017-06-06 15:28] xaksis commented on #9
hey @ken-sands can you provide some example code so I can reproduce it on my end? thanks.

[2017-06-15 19:20] bbennett36 commented on #4
Are you able to use the 'defaultsortby' setting on a date field? Mine doesn''t seem to be working. The regular date sorting is still working perfect though.

[2017-06-22 00:43] vinnybod opened #11 "Suggestion: binding the search query string"
I'm not sure if this is currently possible, looking through the docs I don't believe it is.

It would be great to have the ability to pass in a string as a prop to the table component.
I have two use cases for this
1. It makes it possible to use a search bar other than the provided one or in a different location than the provided one
2. I have a case where when I type in a search string, I am emit

[2017-06-22 03:12] xaksis commented on #11
Cool! Please create a pull request and i'll review it. just a note - please call the option 'searchString' instead of just 'search' to avoid potential confusion.

[2017-06-22 04:57] vinnybod commented on #11
I created a PR https://github.com/xaksis/vue-good-table/pull/12

I went with `searchQuery.` Unfortunately my additions did create somewhat of a breaking change. I didn't want to mess too much with the logic of column filters vs global search so I kept that functioning the same way, so the property `globalSearch` stayed the same, but it the table just needs an additional prop of either `searchQuery

[2017-06-22 15:16] DaniloPolani opened #13 "Global search by submit"
Hi,
it would be great to choose if search in the whole table on each character typed or on submit (enter key).

I have a 15k+ table and it's impossible to search "live".

[2017-06-22 15:59] DaniloPolani opened #14 "[PR created] Single td class"
Is there the possibility to specify the class of each row td?

**PS**: Created PR

[2017-06-23 07:32] kjakobson opened #15 "Broken pagination with all rows per page"
![broken-pagination](https://user-images.githubusercontent.com/5407169/27471574-7547e2a4-57f8-11e7-8a3d-6fb4272b8e57.gif)

It seems when you choose **All** from **Rows per page** option it somehow breaks the pagination. You can then paginate and it only adds rows. I would expect that when I choose **All** the pagination should either disappear or be disabled, but still display the correct text ("a

[2017-06-23 12:06] xaksis commented on #15
ooh thank you for pointing this out! I'll look into it tomorrow morning.

[2017-06-23 15:07] imbolc opened #17 "Fuzzy filtering"
Hey, thanks for really good table :) It would be great to have option for fuzzy or maybe regexp filtering.

[2017-06-24 06:44] happyDemon commented on #17
http://fusejs.io/ would be great for this

[2017-06-24 08:06] kirk2022 opened #18 "Example usage of onClick"
I am currently attempting to use 'onClick' as per the instructions, however I get the following error:

'Uncaught TypeError: this.onClick is not a function'

Please add an example of onClick being used to the documentation.

[2017-06-24 15:38] xaksis commented on #18
@kirk2022 can you show your usage?
onClick needs to be a function for example:
[code]

[2017-06-24 15:45] xaksis commented on #18
readme updated to better show this. closing.

[2017-06-24 15:45] #18 closed

[2017-06-24 16:10] xaksis commented on #15
v1.6.1 fixed

[2017-06-24 16:10] #15 closed

[2017-06-24 18:05] xaksis commented on #6
soling this... seems like you addressed most of these :) 👍

[2017-06-24 18:05] #6 closed

[2017-06-24 18:05] xaksis commented on #9
closing this. Please re-open if you are still seeing the issue with an example.

[2017-06-24 18:05] #9 closed

[2017-06-26 13:43] kjakobson opened #19 "display all rows when not on the first page"
Thanks for previous fix of the pagination. I've found another one related to pagination. Steps to recreate:

1. On table populated with data with let's say 10 rows per page, go to 2nd page.
2. Choose to display **All**
3. Instead of all data, only last row is displayed until you click on **Previous**.

[2017-06-27 18:50] xaksis commented on #19
Thanks again for pointing it out! all fixed: v1.6.2

[2017-06-27 18:50] #19 closed

[2017-06-29 11:01] focussing opened #20 "Functionality: could you make table cells editable?"
For example per column property "setEditable".
After editing finished (td blur?) fire event.

[2017-06-29 11:14] xaksis commented on #20
thank you for your suggestion, however for additional functionality with table cells etc, you can just create the td template yourself, like so:
[code]

[2017-06-29 11:15] xaksis commented on #20
closing. Please re-open if this doesn't satisfy your needs.

[2017-06-29 11:15] #20 closed

[2017-06-29 21:24] dawgavins opened #21 "Failed to mount component: template or render function not defined"
I'd like to use this component (looks nice), but I have run into an issue.  When I try to load the page using the component, I get this:

[code]

I am using other vue components installed via NPM successfully.  I'm using a very recent install of Homestead, so Laravel 5.4 with Vue 2.1.10, Webpack, Laravel Mix.

I've googled it but found nothing that fixes it so far.  So I figured it would be worth

[2017-06-29 22:39] vinnybod commented on #11
Example usage for using embedded search
[code]
Example for external search
[code]

[2017-06-30 00:00] dawgavins commented on #21
Follow-up:  if I just use
`
    import VueGoodTable from 'vue-good-table/src/components/table.vue';
`
the component is working.

[2017-06-30 03:46] arivera12 opened #22 "How to do actions buttons with a custom vue event using htmlContent prop?"
First of all. Nice job so far you all are doing very well with this component. This is the easiest vue table component to implement I found on the internet and it meets at least my requirements.

I saw the td templating option with something like this
[code]
This template works perfectly and it gives you full content manipulation. However is I define this template optionI would need to rewrite all

[2017-06-30 04:14] arivera12 commented on #22
hmm I was reading the source I found something weird in here
[code]
I think this should be **if !column.html** then **display the field**?
 **v-if="!column.html" v-html="collect(row, column.field)"**
cause **if html is false** when want the **column.field** with **format** if specified
**if html is true** then **return the htmlContent**?
I don't see the htmlContent prop anywhere in the source...
I

[2017-06-30 04:23] arivera12 commented on #22
[code]
This work perfect but I would like to go with the other approach cause is more cleaner and concise...
Like this...
` { label:'Actions', field:'ID', html:true, htmlContent:'<button v-on:click=\'delete(props.row.ID)\'>Delete</button>' }`

[2017-06-30 07:08] happyDemon opened #23 "[bug] Row changes are not reflected in the table"
When I update properties on a row, these changes are not reflected in the table.
It ends up with stale data.

[2017-06-30 07:10] happyDemon commented on #23
This is because line 264

[code]

[2017-06-30 11:46] xaksis commented on #23
Hmm, interesting... I'll try to recreate this. I have a watcher on rows setup to watch for changes as well. Thank you for pointing it out.

[2017-06-30 12:09] happyDemon commented on #23
I've been digging in a little bit deeper, it might be better to make the  filteredRows a computed property?

[2017-06-30 12:10] xaksis commented on #22
@arivera12 thank you for spending some time understanding the component. The problem with what you are suggesting is that the component will then need to take your html string and somehow restore the binding + variables that you're using within your html string. This isn't currently supported by vue. If you wanted **static html** then sure you could specify html:true in the column (as indicated in

[2017-06-30 12:10] #22 closed

[2017-06-30 12:12] xaksis commented on #21
hmm this is strange. I haven't been able to reproduce this yet. Will continue digging.

[2017-06-30 12:14] xaksis commented on #17
@imbolc thanks! I have been thinking about custom filter support for a bit but haven't had time to implement it just yet. I'll keep this open for now.
@happyDemon thanks for the suggestion. Will look into it.

[2017-06-30 12:26] xaksis commented on #23
ah okay... so the problem was that my watcher isn't set up to deep watch and since rows is an array of objects we need to deep watch for this to work. Thank you again for pointing this out.

making filteredRows a computed property won't help I think because processedRows already have filteredRows as a dependency and filteredRows are updated everytime row is updated. so the chain is: rows -> filter

[2017-06-30 12:33] xaksis commented on #23
fixed: v1.6.3

[2017-06-30 12:33] #23 closed

[2017-06-30 12:44] arivera12 commented on #22
Ok I see. The problem with the bindings... Well I could still do some server side stuff for this I think. Thanks!

[2017-06-30 13:33] xaksis commented on #13
@DaniloPolani v1.7 supports this now. just add `searchTrigger="enter"` to the table.

I also made some efficiency improvements and tested live search with 15k+ tables and it worked well. So maybe want to give that a try again?

Also, Thanks for your submission on tdClass/thClass ... very useful.

[2017-06-30 13:33] #13 closed

[2017-06-30 13:35] xaksis commented on #14
available in v1.7

[2017-06-30 13:35] #14 closed

[2017-06-30 16:08] dawgavins commented on #21
Ok, let me know if I can provide any more info or help.

[2017-06-30 22:31] xaksis commented on #21
@dawgavins can you post some code as to how you're trying to load it into your app when you see that error?

[2017-07-03 16:35] arivera12 opened #24 "How to pass the rows index in template to the handlers function?"
[code]

[2017-07-05 09:42] cristijora commented on #21
@dawgavins if you `import VueGoodTable from 'vue-good-table` you have to install it as a plugin
`Vue.use(VueGoodTable)`
Directly using the component without installing it (Vue.use) will not work.

[2017-07-05 12:27] xaksis commented on #21
@cristijora with the answers! Thanks! will update.

[2017-07-05 19:12] dawgavins commented on #21
Sorry for the delay in responding.  @cristijora nailed it....the local usage posted at the bottom was exactly what I was trying to do.

I verified that it also works if I use
`Vue.use(VueGoodTable)`

I had tried that before, but I think I might have left something else in my code (possibly listing VueGoodTable as a local component) that caused an error.  But it does work, and is probably cleaner t

[2017-07-05 19:13] #21 closed

[2017-07-06 04:18] webit-moses opened #25 "Sorting doesn't work when global search is used"
When global search is used and the search term is not empty, sorting by clicking on the table header doesn't seem to work.

[2017-07-06 04:53] webit-moses commented on #25
I think this is because in the function processedRows, the global search filtering is done after the sorting. If the filter is done before the sort, then it works

[2017-07-06 18:43] xaksis commented on #25
This is now fixed - v1.7.1. Adding enter trigger introduced this bug. Thank you for pointing it out.

[2017-07-06 18:43] #25 closed

[2017-07-06 18:44] xaksis commented on #24
in v1.7.1 you can access index via props.index

[2017-07-06 18:44] #24 closed

[2017-07-06 18:48] xaksis commented on #21
added the following:
[code]
Tested and released: v1.7.1

[2017-07-06 22:46] xaksis commented on #11
hey @vinnybod so I looked at your changes and I don't think we need to create a breaking change for this. I created a branch with a version that seems to be doing what you wanted it to do:

basically I created 1 new property - externalSearchQuery the presence of this property ignores globalSearch and allows search through your external field.

Could you review this?
https://github.com/xaksis/vue-g

[2017-07-07 03:25] arivera12 commented on #24
Thanks dude it just worked as expected!!!!

[2017-07-07 03:27] arivera12 commented on #24
Did I miss this from the docs? I always read everything before asking questions over here. If isn't there please add it for future reference for other contributors/users.

[2017-07-07 12:39] xaksis commented on #24
@arivera12 actually I added it in v1.7.1 after seeing your question. So thank you for pointing it out. I will add it to the docs soon.

[2017-07-07 22:30] vinnybod commented on #11
@xaksis looks like a good solution to me

[2017-07-09 22:48] xaksis commented on #11
merged. v1.8.0

[2017-07-09 22:48] #11 closed

[2017-07-12 13:29] focussing commented on #20
I have created an editable component which I use in the td template like:

[code]

For the updated event I need the row index; how do I do that?

[2017-07-12 14:12] xaksis commented on #20
hey @focussing! You can get row index from `props.index`. make sure you're on v1.7.1 or later.

[2017-07-12 14:32] focussing commented on #20
Hi @xaksis!
Thank you.
Didn't know that there was a new release... I was still at 1.6.2.
How can I see there is a new release?

Another issue; after the page is loaded the rows order is not exactly as read from my database...
It should be ordered by index. But the first row has id 104, and the rest goes from id 12 upto 201

[2017-07-12 14:37] focussing opened #26 "Sorting on number sorts like text"
Column that has type='number' sorts like

103
114
12
121
etc...

[2017-07-12 17:57] focussing opened #27 "Next label vertical position out of line with rest"
From within Google Developer tools I removed

.label:not(:last-child) {
    /* margin-bottom: 0.5em; */
}

[2017-07-12 18:23] xaksis commented on #20
@focussing hmm... good question about where to see new release... perhaps i'll add a changelog.

I'll use the open issue to discuss the indexing problem. thanks for pointing it out.

[2017-07-12 18:25] xaksis commented on #27
thanks for pointing it out... will push the change with next release.

[2017-07-12 18:28] focussing commented on #20
Maybe you could make use of "Releases" like I see with other repositories?

[2017-07-12 18:34] focussing opened #28 "Functionality request: Colomn headers template?"
Like row templates, add possibility of defining column headers in html like adding font awesome icons

[2017-07-12 18:38] focussing opened #29 "Column width of 0px not working"
Hide an ID column using column width of 0px does not work.
Column itself needs to be present because of event handlers (editing a row for example) but holds no further interesting data.

[2017-07-12 19:10] focussing opened #30 "Functionality request: column header sortable boolean"
In order to disable sorting on that column, so column header can be clicked and event generated

[2017-07-12 22:15] cristijora commented on #20
@xaksis I see that you have version tags. You could use https://github.com/zeit/release
with which you can generate a changelog very fast

[2017-07-12 23:32] T-Bod commented on #26
I'm seeing this as well.

[2017-07-13 00:48] xaksis commented on #20
@cristijora awesome! Thanks, I'll use it for the changelog!

[2017-07-13 00:54] xaksis commented on #26
out of curiosity, @focussing @T-Bod is your initial data (in rows) of type string? or number? I am unable to replicate this if the type is number.

[2017-07-13 01:03] xaksis commented on #26
however, I will make the change to treat the column values as number if the type is number. Thank you for pointing this out.

[2017-07-13 01:30] xaksis commented on #27
hey @focussing, upon doing more research, that class is not coming from vue-good-table. Are you using bulma by any chance? because that's one place where that style rule could be coming from.

I will change the class name so it doesn't clash with external class names.

[2017-07-13 02:00] xaksis commented on #26
fixed in v1.9.0

[2017-07-13 02:00] #26 closed

[2017-07-13 02:02] xaksis commented on #29
added a hidden property to columns. hidden: true will hide the given column from view. v1.9.0

[2017-07-13 02:02] #29 closed

[2017-07-13 02:02] xaksis commented on #27
fixed v1.9.0

[2017-07-13 02:02] #27 closed

[2017-07-13 02:16] xaksis commented on #28
This is actually tricky since unlike rows, columns have the added ability to sort via click. If like row, I allow templates for columns, the component itself will no longer be able to register to click events and perform sorts.

I can however, look into allowing for html instead of strings as label.

[2017-07-13 06:02] focussing commented on #29
it hides the column header only :)

[2017-07-13 06:03] focussing commented on #27
👍  thank you

[2017-07-13 06:05] focussing commented on #27
yep I am using bulma, but other CSS libraries as well, preventing class names from clashing is the right way, or redefine the class name with other contents

[2017-07-13 06:10] focussing commented on #28
Using the thClass property html strings can be used as label (I did that with a font-awesome icon).
like `<i class="fa fa-trash-o"></i>`

Preventing a column from being sorted for example by `sortable:false` would open the gate for other click event handlers. Of course when other columns are being sorted the non-sortable class would be sorted as well because of the rows structure of the table.

[2017-07-13 06:13] focussing commented on #26
thanks 👍

[2017-07-13 06:26] focussing opened #31 "Initial table rows order differs from database rows order"
After the table is loaded the rows order is not exactly as read from my database...
That data is sorted by index.
The data is shown like this:

- 104
- 2
- 4
- 7
- 12
- ... etc
- 94
- 95
- 103
- 3
- 105
- 108
- ... etc
- 129
- 220

There is no defaultSortBy, pagination=false and no sorting click was done.

[2017-07-13 11:42] xaksis commented on #29
@focussing  can you post a screenshot? It should hide both column header as well as the td in rows.

[2017-07-13 11:44] focussing commented on #29
![schermafbeelding 2017-07-13 om 13 44 18](https://user-images.githubusercontent.com/26736152/28164825-6e09a67e-67d1-11e7-9714-3163ca56743b.png)

[2017-07-13 11:45] focussing commented on #29
[code]

[2017-07-13 11:46] focussing commented on #29
[code]

[2017-07-13 11:46] xaksis commented on #29
That's because you're showing the id in your dynamic template...
remove `<td>{{props.row.id}}</td>` and you should be good.

[2017-07-13 11:47] focussing commented on #29
I need the id to be present in the table otherwise I cannot see what the row when I fire an event

[2017-07-13 11:50] xaksis commented on #29
your id will be part of the prop anyway. It is not removed from your row object. you are passing the row object on click to your handler. Handler can access it by 'row.id'. Adding a <td> for id only displays it... doesn't mutate the data in any way.

[2017-07-13 11:50] focussing commented on #29
Or is the dynamic template some kind of post-processing action?
After the table is built up?

If so sorry for my mis-understanding. Maybe good to mention that in the docs.

[2017-07-13 11:51] focussing commented on #29
We where writing in parallel :)
OK thanks for your help!

[2017-07-13 11:51] xaksis commented on #29
it isn't post processing per say... it is just choosing what you want to display in your table. Glad you were able to resolve it.

[2017-07-13 11:55] xaksis commented on #31
I will take a look at this. In the mean time you can do defaultSortBy="id" to get the right order. sort should work even though the id column is hidden in your case.

[2017-07-13 19:15] T-Bod commented on #26
Sorry for the delayed response, yes, my data are numbers formatted as text.

[2017-07-16 14:26] darkermatter opened #32 "Missing search_icon.png"
Hi,

I'm got the following error trying to use this module in electron-vue:

[code]

I had to do the following hack to get it to compile:
[code]

[2017-07-16 14:34] xaksis commented on #32
hey @darkermatter can you tell me how you're including the library in your project?

[2017-07-17 06:15] darkermatter commented on #32
[code]

in main.js:
[code]

[2017-07-17 07:52] darkermatter commented on #32
I realised that I first installed the lib while the electron app was still running. So, to see if that made any difference (hot compile vs cold compile), I removed the lib and readded it with ```yarn add vue-good-table```.

No I'm getting the following error:
[code]

Weird!

[2017-07-17 08:54] darkermatter commented on #32
Okay, I fixed that last error by modifying my webpack configuration but the original problem still stands.

[2017-07-17 14:28] xaksis commented on #32
I am unable to replicate this.
`node_modules/vue-good-table/src/images/search_icon.png` already exists when you use yarn to install the package. So i'm not sure what your fix is accomplishing?
[code]

[2017-07-18 05:36] darkermatter commented on #32
The ```node_modules/vue-good-table/src/images``` directory is missing after I run ```yarn add vue-good-table```:

[code]

I'm new to node/npm/javascript so please forgive me if I'm missing something obvious.

Could the ```lint:fix``` step be doing something?

[2017-07-18 06:03] darkermatter commented on #32
I disabled the ```lint:fix``` step but the directory is still missing:

[code]

[2017-07-18 06:14] darkermatter commented on #32
Okay, I removed and installed again using npm and the directory is there:
[code]

So, ```npm``` works and ```yarn``` doesn't :-(

[2017-07-18 11:14] xaksis commented on #32
ah it could be this?
https://github.com/yarnpkg/yarn/issues/3169

[2017-07-18 12:17] darkermatter commented on #32
It looks like it. I installed the latest ```yarn``` nightly too and it's still happening. The weird thing is that you mentioned earlier that you installed without issue using ```yarn```. What version of ```yarn``` are you using?

[2017-07-18 12:35] xaksis commented on #32
I've got v0.27.5 and it works fine for me... leading me to believe that it has to do something with your local yarn...
did you try clearing the cache like they suggested in that thread?

[2017-07-18 13:14] darkermatter commented on #32
I blew away the whole yarn installation and cache and reinstalled it from Homebrew which gives me 0.27.5 too and it still didn't work.

After reading through the whole thread I saw ```.yarnclean``` mentioned. I have that file and there was a line in there for ```images``` which I commented out and it all works fine now. I have no idea where the file came from as it isn't in the ```electron-vue```

[2017-07-18 13:20] xaksis commented on #32
@darkermatter no problem! I'm glad you were able to resolve it!

[2017-07-18 13:20] #32 closed

[2017-07-22 09:30] iliran11 opened #34 "question about package.json of that project"
The `main` property in `package.json` points to `src/index.js` and not to `/dist/vue-good-table.min.js`

is it a mistake?
and if not - why is it so?

[2017-07-22 14:34] darkermatter opened #35 "Feature Request: Allow formatting of pagination page ranges for i18n..."
Hello!

While all the other text in the table can be internationalised, there is one item that can't:

Could we have an option to at least change the word "of"?

Thanks! :-)

[2017-07-26 11:32] 0libre opened #36 "How do I do this? [transpiler]"
It would be great with an proper example, I'm running this: https://github.com/wolfeidau/cognito-vue-bootstrap and would like to add **vue-good-table** but, being new in the world of webpack, vue etc - I have no idea what or how I should do this.
I've tried multiple guides but they also make vast assumptions.

So please, could someone help me out? :)

[2017-07-26 13:19] xaksis commented on #36
hey @0libre, cognito-vue-bootstrap is just another vue project... so I don't think you need to do anything special. It is the same process you'd follow for any vue plugin:

- first install the plugin: cd into your root directory and do: `npm i --save vue-good-table`
- then to use the plugin,  locate the file called main.js in your project's  `src` directory,
- in that file (main.js), add the follo

[2017-07-26 13:24] xaksis commented on #35
sure! I'll add that in to the next patch.

[2017-07-26 13:28] xaksis commented on #34
@iliran11 hey! that is not a mistake.... `/dist/vue-good-table.min.js` is meant to be used as a standalone (in case you want to use it on codepen or jsfiddle). For regular vue projects, the plugin to include is `src/index.js` so that your local build etc can be debugged properly and your build process can take care of minification etc for prod.

closing. please re-open if you have further question

[2017-07-26 13:28] #34 closed

[2017-07-26 13:36] 0libre commented on #36
@xaksis Hi, thank you for replying 👍
Problem is that if I follow your guide (and all others I can find)
**I get this error:**
VM8658:1 Uncaught SyntaxError: Unexpected token import

**On this row:**
import GoodTable from './components/Table.vue';

I read something about the plugin might need some "transpile" but I have zero idea how to do this, nor have I had this problem with another plugin. So I

[2017-07-26 19:06] xaksis commented on #36
I am unclear as to what you mean by template?... how have you included other plugins? how are you importing the current plugin? If you give a complete description of what you're doing, I might be able to understand your issue better...

[2017-07-28 12:58] #36 closed

[2017-08-01 06:50] RIanDeLaCruz opened #37 "Feature Request: Responsive tables"
Hi

What this aims to do is to add a scrollbar for when there is overflow on the x-axis.

[2017-08-01 13:49] xaksis commented on #37
Hi @RIanDeLaCruz, thanks... i'll review it shortly.

[2017-08-02 00:31] RIanDeLaCruz commented on #37
@xaksis I've put in a pull request for this

[2017-08-02 16:52] xaksis commented on #35
added in v1.9.1

[2017-08-02 16:52] #35 closed

[2017-08-02 22:31] darkermatter commented on #35
@xaksis That's great news. I'll update to it later this week. Thanks so much for the quick patch!

[2017-08-03 13:55] xaksis commented on #37
@RIanDeLaCruz thank you for your help! closing.

[2017-08-03 13:55] #37 closed

[2017-08-03 14:00] RIanDeLaCruz commented on #37
Thank you!

[2017-08-07 23:33] Webprogramo opened #39 "Computed property "paginated" was assigned to but it has no setter"
Hello,

The following error is displayed when the component is run.
<img width="787" alt="screen shot 2017-08-07 at 6 32 32 pm" src="https://user-images.githubusercontent.com/6793822/29050002-e109a27e-7b9e-11e7-84e3-ab2adb35e373.png">

[2017-08-08 01:39] xaksis commented on #39
hey @Webprogramo, could you show me how you're using the plugin? I'm having trouble reproducing it.

[2017-08-08 20:34] Webprogramo commented on #39
Everything works correctly, only in console it shows the previous error.

`<vue-good-table
                        title=""
                        :columns="columns"
                        :rows="rows"
                        rowsPerPageText=""
                        :paginate="true"
                        prevText="Anterior"
                        nextText="Siguiente"

[2017-08-09 06:37] Troland opened #40 "Input in the template slot?"
I have encounted a problem as below:

[code]

The problem is that the v-model in the input elememen seems not work, while i change the input value, the data is unchanged.I'm confused, any help is apperiated.

[2017-08-09 11:33] xaksis commented on #40
hey @Troland instead of using props values for your v-model, use:
[code]
try it out and close the issue if it works.

[2017-08-10 01:14] xaksis commented on #40
hey @Troland just released a fix in v1.9.3. You can now set model like so:

[code]
closing. please re-open if you have more questions

[2017-08-10 01:14] #40 closed

[2017-08-10 01:15] xaksis commented on #31
fixed in v1.9.3

[2017-08-10 01:15] #31 closed

[2017-08-11 13:50] ssuess opened #41 "Date is in unixtime, possible to use inputFormat?"
Hi, my date column is output in unixtime (ie `1486231256 `) and I have tried both 'U' (php designation) and 'X' (moment.js designation), but both result in "invalid date" message. Is there a way to format these in my table?

[2017-08-11 14:14] ssuess commented on #41
I found a fix myself by importing moment into Table.vue and changing line 214:

[code]

[2017-08-11 14:27] ssuess commented on #41
hm, i spoke too soon. The date formatting works, but the sorting is broken...

[2017-08-11 16:08] xaksis commented on #41
hmm looks like date-fns doesn't like string for "x" and "X" formats... and i'm forcing conversion to string. I'll release a patch version with a fix shortly.

[2017-08-11 16:14] ssuess opened #42 "Possible to format columns with a function?"
Is there a generic way to manipulate data before outputting to the column? Something like this?

[code]

(this works with quasar's q-data-table, but for projects where I don't want to use quasar, this would be super useful)

[2017-08-11 16:15] ssuess commented on #41
Thanks!

[2017-08-11 16:58] xaksis commented on #42
yeah, readme contains the instructions... but you can just do:
[code]
closing... please re-open if this doesn't work.

[2017-08-11 16:58] #42 closed

[2017-08-11 17:43] ssuess commented on #42
Thanks again!

[2017-08-14 08:06] ChadTaljaardt opened #43 "How do i make a selectable option?"
I want to have the first field to have a checkbox for each row, and then when the user selects a checkbox it will add it to the data model, how would i do this?

[2017-08-14 12:00] xaksis commented on #43
There are a few ways you can do it... the most straight forward way is to use your own template for the rows.
- define your first column as empty {label: '', field: ''} (this will make space for checkbox)
- within the template, add first td as your checkbox
[code]
- then in your method `checkboxClicked` do whatever you want with the clicked row.

closing... please re-open if you have more question

[2017-08-14 12:00] #43 closed

[2017-08-14 14:47] nhekkens opened #44 "Column "width" property is not working"
[code]

Here is my data for the colums, the table is working fine, however i need to specify the width of the columns. This is not workign for me.

[2017-08-14 18:12] xaksis commented on #44
@nhekkens can you explain what you mean by it's not working? the max space the table can occupy is the width of your screen. you have 8 columns of width 300px and 1 75... so total 2475px. Is that less than the width of your window?

if not, then it'll self adjust to whatever available space is.

[2017-08-14 18:24] xaksis commented on #17
closing this. Thanks again, @mossadal

[2017-08-14 18:24] #17 closed

[2017-08-14 18:24] xaksis commented on #41
fixed in v1.10.0.

[2017-08-14 18:24] #41 closed

[2017-08-15 15:12] Towerism opened #46 "Could not integrate in Browserify Babelify project"
I tried to use this package in a project that uses Browserify and I could not get it to work.

[2017-08-15 15:36] xaksis commented on #46
@Towerism please post some specifics about how you tried to include it so I can look into what might be going wrong.

[2017-08-15 21:21] amravazzi commented on #22
@xaksis could you give a more comprehensive example? I'm trying to replicate @arivera12 last example, unsuccessfully :(

[2017-08-16 00:47] xaksis commented on #22
@amravazzi what are you trying to do? Maybe open a new issue and post your code so I can take a look?

[2017-08-16 00:49] amravazzi commented on #22
Thanks @xaksis! I just figured out what I was doing wrong.

[2017-08-16 16:32] amravazzi commented on #22
So, I kept writing my code as so:

[code]
It throws the error:
`src="{{ imageLink.image1 }}": Interpolation inside attributes has been removed. Use v-bind or the colon shorthand instead. For example, instead of <div id="{{ val }}">, use <div :id="val">`

Then I change to
`... <img :src="{{ props.row.imageLink }}"/> ...` or `... <img v-bind:src="{{ props.row.imageLink }}"/> ...`
as it's said.

Then

[2017-08-16 17:57] xaksis commented on #22
this is unrelated to vue-good-table. You're binding your values incorrectly:
change: `<img :src="{{ props.row.imageLink }}"/>`
to: `<img :src="props.row.imageLink"/>`

you should go over the vuejs documentation... it will help you sort some of these things out.
relevant doc: https://vuejs.org/v2/guide/syntax.html#Attributes

[2017-08-16 21:39] amravazzi commented on #22
My bad. Thank you very much!

[2017-08-17 11:49] ssuess opened #48 "Latest release gives compile error, refuses to build"
[code]
Previous build worked fine...

[2017-08-17 11:51] ssuess commented on #48
Sorry I spoke too soon...this is related to a change in dev environment...still investigating...

[2017-08-17 11:58] ssuess commented on #48
hm, per [this issue](https://github.com/babel/babel-preset-env/issues/186) I tried to install babel-preset-env which did allow it to build, but now results in a blank page and error: `Uncaught TypeError: Cannot read property 'installed' of undefined`

[2017-08-17 12:18] xaksis commented on #48
@ssuess where are you seeing that error? I suspect this is unrelated to vue-good-table.

[2017-08-17 12:19] ssuess commented on #48
[code]
It could be unrelated, but no other component is throwing this error...

[2017-08-17 12:23] xaksis commented on #48
how are you including the plugins? can you paste your code so I get more context?

[2017-08-17 12:27] ssuess commented on #48
how am I including them?  You mean in main js or the vue files? I am doing both, either in main.js like:

[code]
Or in the view files like

[code]

[2017-08-17 12:29] xaksis commented on #48
looks correct, but if you include in the main.js, you shouldn't need to include it again in view files... unless they're in different projects?

[2017-08-17 12:32] ssuess commented on #48
No I just meant I have tried both separately, not both at the same time. And I am blocked on this error, which is strange, because in another project your module works just fine...I am going through the list of module differences between projects to see if I can find what is missing or different...

[2017-08-17 12:34] xaksis commented on #48
alright... it's tough for me to investigate this since I cannot reproduce it. let me know what you find out.

[2017-08-17 12:35] ssuess commented on #48
UGH I found it. It was related to another import line that I have erroneously pasted over with the import line from vue-good-table. Sorry to have bothered you, and thanks for the responses!

[2017-08-17 12:35] #48 closed

[2017-08-17 12:46] ssuess commented on #41
Are you sure this is fixed? I have tried 'U', 'x', and 'X' all of which return a date in 1970:

[code]

[2017-08-17 15:07] xaksis commented on #48
no prob. glad you were able to resolve it.

[2017-08-17 15:08] xaksis commented on #41
@ssuess make sure your date is not string...

[2017-08-17 15:21] ssuess commented on #41
my json return from axios call to the API that I am using for the table source shows non quoted (ie like 1482166496 not "1482166496"), is there something else I need to do?

[2017-08-17 16:09] xaksis commented on #41
https://date-fns.org/v1.28.5/docs/format
you'd need to multiply your datetime value with a 1000 to get it in the correct format for 'x' to work.

[2017-08-17 16:36] ssuess commented on #41
I did as you suggested and it works, thanks.

[2017-08-17 17:16] ssuess commented on #41
Except that sorting does not work on these formatted dates, is that to be expected?

[2017-08-18 02:22] xaksis commented on #41
good catch, looks like there's a bug there... gonna create another issue to fix that.

[2017-08-18 02:23] xaksis opened #50 "Sort for time in milliseconds doesn't work"

[2017-08-18 02:23] xaksis commented on #44
closing this. please re-open if you have questions/concerns.

[2017-08-18 02:23] #44 closed

[2017-08-18 02:26] xaksis commented on #39
@Webprogramo is this still an issue for you? do you mind creating a jsfiddle to illustrate this?
https://jsfiddle.net/aks9800/mn27rd7b/

[2017-08-18 13:44] focussing commented on #43
Hello!

How can I get the row number, in stead of the row content?

Best regards, Met vriendelijke groet,
Raymond Verbruggen

FOCUSSING B.V.
Mispel 8
7621 WB Borne
Netherlands
+31 6 250 500 69
mail@focussing.nl
www.focussing.nl

[2017-08-18 13:48] xaksis commented on #43
@focussing the readme contains this info, but here it is again:

[2017-08-18 13:51] focussing commented on #43
Sorry to bother you; with “originalIndex” you mean the row index before any sorting and filtering?

Best regards, Met vriendelijke groet,
Raymond Verbruggen

FOCUSSING B.V.
Mispel 8
7621 WB Borne
Netherlands
+31 6 250 500 69
mail@focussing.nl
www.focussing.nl

[2017-08-18 13:56] xaksis commented on #43
@focussing no problem. yes... originalIndex is the array index for the object without sorting/filtering/paging.. so if you do myRowArray[prop.row.originalIndex], this will give you the entire object for that row.

[2017-08-18 13:57] focussing commented on #43
thanks!
working now on my 3rd project with your table :)

Best regards, Met vriendelijke groet,
Raymond Verbruggen

FOCUSSING B.V.
Mispel 8
7621 WB Borne
Netherlands
+31 6 250 500 69
mail@focussing.nl
www.focussing.nl

[2017-08-21 07:06] sushant-j commented on #9
I have an issue with something similar.
The table adds .responsive as a container for the actual table.
Is there any way to remove/modify this class?

[2017-08-21 12:00] xaksis commented on #9
hey @sushant-j can you explain your issue a little? are you having a name-clash with 'responsive'? or is it resulting in some unwanted behavior? a screenshot might also help.

[2017-08-21 12:11] sushant-j commented on #9
No, I am not having any name clash as such. The only thing is, I don't want that class as a container, as it adds overflow-x: scroll along with a 100% width.

Right now, I am overriding it, but I have to use the generated hash from the plugin to style it.

[code]

I would like to know if there's any way I could control this class or related styles.

[2017-08-21 12:31] xaksis commented on #9
@sushant-j ok... so if i understand it right, when the screen width is smaller than your table width, you want to hide your content rather than scroll horizontally?
just to make sure we're on the same page, that class is only relevant if your table is wider than your screen width. The default behavior then is, overflowed content will be hidden and your users will never be able to view the hidden c

[2017-08-21 12:57] sushant-j commented on #9
Yes, when the table is wider than the viewport, I want it hidden. I also apply hide classes to certain columns in that scenario (using thClass prop), which allows me to show a smaller subset of columns on smaller viewport widths (think mobiles, tabs, etc.)

It would be great if you could make that class optional for above reason.

[2017-08-21 13:44] xaksis commented on #9
ok cool, i'll make it optional in the next patch release. will create a new issue for this

[2017-08-21 13:44] xaksis opened #51 "Make responsive container optional"

[2017-08-21 21:57] richardpenman opened #52 "Zero (0) values not displayed"
I noticed a value of 0 (zero) and leaving a value out will both result in a blank cell. For example with these rows:

    rows: [
        {id:1, name:"John",score: 0},
        {id:7, name:"Jane"},
      ],

I want to distinguish these two cases - is it possible to force displaying the 0 (zero)?

[2017-08-21 22:20] richardpenman commented on #52
I noticed setting `html: 'true'` in the columns definition will display the zero values - is that the proper way to achieve this?

[2017-08-21 22:56] mikezero84 opened #53 "Columns continue sorting with sortable "false""
Even with the parameter "sortable: false" in the columns array, it continues sorting.

{
  label: 'Member',
  field: 'memberName',
  sortable: false
},

[2017-08-21 23:00] mikezero84 opened #54 "Select rows property is not in the options"
The Vue good table don't have an option to can setup the rows to be selectable using checkboxes

[2017-08-21 23:19] xaksis commented on #52
@richardpenman 0 should definitely be displayed... you have indeed discovered a bug. I'll update this later today.

[2017-08-21 23:23] xaksis commented on #54
@mikezero84 to create checkboxes please create your rows dynamically. refer to the method suggested here: https://github.com/xaksis/vue-good-table/issues/43

closing this... please re-open if you have more questions or concerns.

[2017-08-21 23:23] #54 closed

[2017-08-22 00:27] xaksis commented on #53
@mikezero84 sortable is not a column property. It is a table property... ability to individually turn sorting on and off on column doesn't exist right now.

[2017-08-22 00:27] #53 closed

[2017-08-22 00:43] xaksis commented on #52
fixed in 1.10.1. 0 should now be displayed

[2017-08-22 00:43] #52 closed

[2017-08-22 00:44] xaksis commented on #51
fixed in v1.10.1

[2017-08-22 00:44] #51 closed

[2017-08-22 00:44] xaksis commented on #50
fixed in v 1.10.1

[2017-08-22 00:44] #50 closed

[2017-08-22 00:45] xaksis commented on #46
closing this for now...  please re-open if you can provide sample fiddle.

[2017-08-22 00:45] #46 closed

[2017-08-22 00:45] xaksis commented on #39
closing this, please re-open and create a jsfiddle if you can. thanks.

[2017-08-22 00:45] #39 closed

[2017-08-22 14:26] ssuess commented on #50
I just upgraded to this, and sorting on my unixtime date column (after formatting the date) does not work. Here is my formatting code for the date column:

[code]

[2017-08-22 15:06] ssuess commented on #43
Hi, I was able to add a row in the correct formatting, modifying your Table.vue with this:

[code]
And then adding a method:

[code]

but when I click on my edit link, I get errors:

`[Vue warn]: Property or method "props" is not defined on the instance but referenced during render. Make sure to declare reactive data properties in the data option.`
AND
`TypeError: undefined is not an object (evalu

[2017-08-22 15:28] ssuess commented on #43
Nevermind, I just figured out I needed to include my template code in my own vue, not the base Table.vue file.

[2017-08-22 15:59] ssuess opened #55 "use of template breaks filters"
I just started using templates, and I have found that they seem to break filters I had on the rows. For example, This is my template row:

`<td>{{ props.row.date }}</td>`

And it will display the unixtime value from my dataset just fine. But in my col defs I have this:

[code]

which is being completely ignored now that I am using a template. Is there a way to have my formatting still get applied

[2017-09-01 09:07] ChadTaljaardt opened #57 "Make a selected Option responsive?"
Hello,

Im making the options in my table selectable, in which a user can select a single row and it will be added to a array of "Selected Options".

I followed the answer from here: https://github.com/xaksis/vue-good-table/issues/43

When i check the checkbox, it calls the method in which i can console.log the results and it works. Is it possible to make it so that when a option is selected it wi

[2017-09-01 09:29] ssuess commented on #55
Hi, any advice on this? Am I doing something wrong? Thanks.

[2017-09-01 13:25] xaksis commented on #57
@ChadTaljaardt this doesn't seem to be related to vue-good-table. The way i'd do it is -
1. make sure every row has a unique id
2. when you click on a row, call a function
3. if the id of the clicked row matches one of the rows in your *selected array* remove it, else add the clicked row to the selected row.

closing this, since it is not related to vue-good-table. Please re-open if you have more

[2017-09-01 13:25] #57 closed

[2017-09-06 02:12] xaksis commented on #55
sorry for the delay... got really busy. You aren't doing anything wrong. The dynamic table was made with the assumption that all manipulation of data format will occur outside of the table component. However, with your usecase i do see a benefit of providing both the original data as well as the formatted row data.

So I have now added `props.formattedRow` to v1.11.0. For your usecase, update the

[2017-09-06 02:12] #55 closed

[2017-09-07 06:51] 2rohith2 opened #58 "Required Functionality Request: Allow user to delete the row."
The user should be able to delete the row and on confirmation, delete the row in the table and support for a custom method call (send the row details this method) where a developer can write there own code to delete data on server side.

[2017-09-07 07:12] 2rohith2 opened #59 "Required Functionality Request: Support for icons in row."
In my table, I have a **Gender** column, the data from the server is **m** or **f** for male or female respectively.

You should allow the use of icons for some particular data.

Ex: You can ask the user to supply icon HTML and place the icon in the row.
[code]

[2017-09-07 11:40] VisualBean commented on #58
you could just add another column with an actions menu - where you could delete the row based on what ever props.row.property

Like
[code]

and then delete the item in the array with above id

[2017-09-07 12:06] xaksis commented on #59
Hey @2rohith2, using html is already possible via `html` column property. You don't need anything specific for icons. If you want to dynamically create one icon vs. the other based on data, I suggest you use the dynamic templating (also explained in the readme)
[code]

closing.

[2017-09-07 12:06] #59 closed

[2017-09-07 12:09] xaksis commented on #58
thank you @VisualBean ,
@2rohith2 in addition, when you create dynamic template you also have access to the original row index via `props.originalIndex` (if you don't  have a unique id per row). this index can be used to delete the given row as well.

Closing. Please reopen if you have more questions/concerns

[2017-09-07 12:09] #58 closed

[2017-09-07 12:14] VisualBean opened #61 "Adding row to input array does not affect the table"
There is in issue regarding the table to being reactive to changes in the aray used for :row

[2017-09-07 12:32] VisualBean commented on #61
I see that it actually does get added, but it doesn't re-"filter" once the row is added

[2017-09-07 12:33] VisualBean commented on #61
Adding defaultSortBy fixed the issue. :) but maybe it should refilter on additions to the rows?

[2017-09-08 06:55] 2rohith2 opened #65 "formattedRow is empty and Date in the column is not converted."
Data from the server:
[code]
---

Data from `vue-good-table` `props.row`
[code]
---
Table Configuration

[code]
---
Column:

[code]
---
**Screen Shot**
In this screen shot, I didn't use `props.formattedRow.dob` because the column will be empty.
![image](https://user-images.githubusercontent.com/5773985/30199267-94d43b58-948f-11e7-9086-d3701aedf9f5.png)

Another issue is in the column header **DOB*

[2017-09-08 09:43] 2rohith2 commented on #58
@xaksis @VisualBean I have used a dynamic template, my custom function is called when I click on the delete and I will send an `ajax` call to delete from the server.

But still, I don't understand how do I delete the row from the table which is already rendered on the page?

[2017-09-08 11:16] xaksis commented on #61
Hey @VisualBean ... I'll keep this open for now and see if I can look into making the default state reactive.

[2017-09-08 11:18] xaksis commented on #65
@2rohith2 what version of the plugin are you using?

[2017-09-08 11:26] xaksis commented on #58
@2rohith2 you have to re-fetch your data and update rows once the row is deleted.

[2017-09-08 12:50] cristijora commented on #58
@xaksis isn't it possible to simply
[code]

Delete from local rows instead of refetching data?

[2017-09-08 14:09] xaksis commented on #58
@cristijora yes that's definitely a way to do it, but the problem I see with that approach is that it would create a out of sync condition between UI and backend, in case there was an error deleting the row.

In order to keep things in sync, this would need to be done in the handler of the delete call (handling the error case). Depending on the usecase (and payload size) it might be easier to just

[2017-09-08 14:55] 2rohith2 commented on #65
@xaksis I am using `"vue-good-table": "^1.10.1",`
I just installed using `npm install --save vue-good-table`

[2017-09-08 15:03] xaksis commented on #65
@2rohith2 please update your plugin to see formattedRows.
also, since you're using dynamic templates... component has no control over your html so you can right/left align as you want by directly manipulating the html tags - <td>

closing.

[2017-09-08 15:03] #65 closed

[2017-09-08 15:07] 2rohith2 commented on #58
@xaksis Do you mean I have to get the `Users` data after deleting the row from the table and assign new data to row?

[2017-09-08 15:14] cristijora commented on #58
He meqnt that you need to refetch the rows again and reassign the to the table. So you have to options. The one I mentioned above where you have to delete the item only in the success function/callback of your ajax delete call or simply refetch table data after your ajax delete call

[2017-09-08 15:23] 2rohith2 commented on #65
@xaksis I have updated the package to `"vue-good-table": "^1.12.0",` still issue is not fixed.
I am talking about the `formattedRow`

[2017-09-08 16:04] 2rohith2 commented on #58
@xaksis Please close his issue, I have used `re-fetch` the user details, the table is working fine.

Thanks to @xaksis @cristijora

[2017-09-08 16:41] 2rohith2 commented on #61
@VisualBean I have a small suggestion, you can re-fetch the data after adding the data to the server and reassign the data to row.

This might work.

[2017-09-08 16:56] 2rohith2 commented on #65
How can I do this?

Ex: `<td align="left">{{ props.row.dob}}</td>` If I use this the data in the row is aligned to left not the table header.

[2017-09-08 17:03] 2rohith2 commented on #65
How can I apply alignment to the table header?

[2017-09-08 17:37] 2rohith2 opened #66 "Required Functionality Request: How to make the dynamic table responsive."
@xaksis One of the columns in the table has more data to be displayed.
How I can make the table responsive i.e there should be no `Horizontal` scroll bar, this feature is required because the table can be viewed on different screens.

Ex: `DataTable` has a very good implementation to make the table responsive.
https://datatables.net/extensions/responsive/examples/styling/bootstrap4.html

Let me kn

[2017-09-08 21:44] xaksis commented on #65
@2rohith2 can you post your code regarding formattedRow? once you update make sure you re-run the vue project.

the reason why headers for DOB and Registered are right aligned is because they are both dates. It's good UX practice to keep dates right aligned for easy comparisons down a column. (same reason why numbers are right aligned).

If you really want them to be left aligned, you can use the

[2017-09-09 07:01] 2rohith2 commented on #65
@xaksis I have already posted my code in the issue.
Please let me know if you need more information.

[2017-09-09 12:55] xaksis commented on #65
I don't see any reference to formattedRow in your code.

[2017-09-09 15:17] 2rohith2 commented on #65
Code: `<td>{{ props.formattedRow.dob}}</td>`
If I use the above reference, the `dob` column is empty in my table.

Data from `vue-good-table` `props.row`
[code]

[2017-09-09 23:16] xaksis commented on #65
here's what i'm seeing with your data for `props.formattedRow.dob`:
`2nd Feb 85`

[code]

so the only thing I can think of as to why this isn't working is that your build has cached an older version of the plugin. Current version of the plugin seems to be working fine for all my tests.

[2017-09-11 07:36] 2rohith2 commented on #65
@xaksis I have cloned my project again, set it up newly but still, `formattedRow` is not working.
My `DOB` & `Registered` column is empty.

![image](https://user-images.githubusercontent.com/5773985/30263277-e82d82dc-96f1-11e7-8cf2-e51801501f96.png)

[2017-09-11 18:18] mgattelli opened #69 "Date type column format issue"
Hi @xaksis
First of all.... your component is really **good** as the name say :)

I'm having the following issue:
the input format for a column is a Date String with the following format `DD-MM-YYYY HH:mm:ss` but the date-fns parse can't parse my input string and, of course, the output is not the expected.

My column configuration is:
[code]

I'm using the version `"vue-good-table": "^1.10.1"` the

[2017-09-11 20:05] xaksis commented on #69
hey @mgattelli do you mind posting some of your data rows, so I can replicate it on my end?

[2017-09-11 22:58] eele94 opened #70 "Feature request Empty State"
If there are zero rows to show can we have a empty state with a slot?

<slot name="empty-state" v-if="rows.length === 0">
<span>no results</span>
</slot>

[2017-09-12 11:59] xaksis commented on #69
here's what i'm using
[code]
here's my output:

Name | Age | Created at
-- | -- | --
John | 20 | 09-07-2017 19:16:25
Jane | 24 | 10-09-2017 19:16:25

Let me know if you're doing something different.

[2017-09-12 12:22] mgattelli commented on #69
Sorry for the delay and really thanks for the quick response @xaksis

You pointed out the exact problem.

As you can see the input date String is in format **DD-MM-YYYY HH:mm:ss** (e.g. 07-09-2017 19:16:25 where 07 is the day, 09 is the month and so on) so why the output string is formatted as **MM**-DD-YYYY HH:mm:ss (`09-07-2017 19:16:25`)?

My rows are more or less like the ones you posted.

[2017-09-12 14:01] xaksis commented on #69
@mgattelli very interesting... looks like this is a date-fns issue. I'll check to see if they have a ticket for this already.

[2017-09-13 00:33] xaksis commented on #70
fixed in v1.12.2 (thank you for your help)

[2017-09-13 00:33] #70 closed

[2017-09-13 07:21] mgattelli commented on #69
Hola @xaksis

I found something interesting.

In order to parse the input date string you are using the method **parse** of the date-fns version `1.28.5` and in the [documentation](https://date-fns.org/v1.28.5/docs/parse) there's no information about the format string as the second argument... **_but_** it seems that the date-fns team works on another **parse** function that they will include in t

[2017-09-13 12:52] xaksis commented on #69
@mgattelli thank you for the suggestions and debugging. I'll look into that tonight.

[2017-09-13 18:16] Sjoerrdd opened #72 "Module build failed"
Hello,
I'm getting this error:
Uncaught Error: Module build failed: ReferenceError: Unknown plugin "transform-runtime" specified in "C:\\Users\\Gebruiker\\Desktop\\paste\\node_modules\\vue-good-table\\.babelrc" at 0, attempted to resolve relative to "C:\\Users\\Gebruiker\\Desktop\\paste\\node_modules\\vue-good-table"
    at C:\Users\Gebruiker\Desktop\paste\node_modules\babel-core\lib\transformatio

[2017-09-13 19:58] VitorLuizC commented on #72
Almost the same is happening to me, but instead of transform-runtime, babel-preset-stage-2 is unknow.
<details>
  <summary>Error Message</summary>
  <code>
    <pre>
Module build failed: Error: Couldn't find preset "stage-2" relative to directory "/Users/vit
orcavalcanti/Projects/Convenia/colaboradores/node_modules/vue-good-table"
    at /Users/vitorcavalcanti/Projects/Convenia/colaboradores/node_

[2017-09-14 10:18] kyvinh commented on #72
I got rid of those errors by simply adding thoses packages:
`npm install --save-dev babel-plugin-transform-runtime`
`npm install --save-dev babel-preset-stage-2`

[2017-09-14 12:01] xaksis commented on #69
@mgattelli v1.12.3 contains the alpha release of date-fns. Should fix this issue. Thanks for your help!

[2017-09-14 12:01] #69 closed

[2017-09-14 13:12] mgattelli opened #73 "Can't sort a date column"
Hi @xaksis

Thanks for upgrading the date-fns version, it works!

Now I'm having another problem when sorting a date column.
`[Vue warn]: Error in render function: "TypeError: 3 arguments required, but only 2 present"`
this is the error that I am seeing in the console.

I was trying to debug in order to find where the problem is but this time is a little bit harder.

[2017-09-14 13:41] VitorLuizC commented on #72
These errors stopped to me after apply vue-good-table as a plugin instead of as component.

This throws me those errors
[code]

This works fine
[code]

[2017-09-14 13:50] xaksis commented on #73
ah could be a bug! let me see.

[2017-09-14 14:02] xaksis commented on #73
fixed. v1.12.5 sorry i missed the parse function in sort.

closing. please re-open if you have more questions or concerns

[2017-09-14 14:02] #73 closed

[2017-09-14 14:03] mgattelli commented on #73
Great @xaksis
Thanks!

[2017-09-18 08:47] mgattelli commented on #28
@xaksis
It would be great to allow insert html instead of string as label in order (for example) to translate the headers.

[2017-09-18 12:35] cristijora commented on #28
@xaksis Maybe put the slot inside v-for?
[code]
Like this you can keep the icons and the click events like they are but rather customize the text/html for the header.
The usage would be
[code]

Sample fiddle https://jsfiddle.net/bt5dhqtf/1212/

[2017-09-18 13:38] Sjoerrdd commented on #72
Thanks :)

[2017-09-18 14:03] xaksis commented on #28
good idea @cristijora I'll look into this.

[2017-09-19 06:41] 2rohith2 commented on #66
@xaksis Any update on this?

[2017-09-19 10:34] xaksis commented on #66
Hey @2rohith2 this is not in the plans anytime soon. You are welcome to take a stab at it though. I'll be happy to review a pull request.

[2017-09-21 12:28] Yezuz05 commented on #72
I get this error
Couldn't find preset "env" relative to directory "C:\\xampp\\htdocs\\schollege2\\node_modules\\vue-good-table"
    at C:\xampp\htdocs\schollege2\node_modules\babel-core\lib\transformation\file\options\option-manager.js:293:19

after doing this
npm install --save-dev babel-plugin-transform-runtime
npm install --save-dev babel-preset-stage-2

[2017-09-21 12:34] kyvinh commented on #72
@Yezuz05 Try this:
`npm install babel-preset-env --save-dev`

[2017-09-21 12:47] Yezuz05 commented on #72
@kyvinh Thanks a lot it works now

[2017-09-22 16:19] Yezuz05 opened #77 "How do I do this"
Please how do I know which row is clicked or can I somehow access the values in a row that was clicked.

[2017-09-22 19:39] xaksis commented on #77
hey @Yezuz05 sorry, the documentation is a bit incomplete here, the `onClick` property lets you add an on click handler on your row. You can do :onClick="myMethod" where myMethod is defined as one of the methods in your component:
[code]
closing. Please re-open if you have more questions.

[2017-09-22 19:39] #77 closed

[2017-09-25 18:44] mcat opened #79 "Empty States inside tr makes it hard to render a td"
I'm trying to create a nice looking empty state for my table and I'm having trouble doing so.

It looks like vue has trouble rendering `<td>` elements inside `<tr>` elements.

I'm able to use a `<div>` however divs don't work with colspan so I can't do things like get my empty state to be horizontally centered in the table.

Instead of putting the empty slots inside of a `<tr>` like they are curre

[2017-09-25 19:36] xaksis commented on #79
@mcat good catch. I'll look into it tonight.

[2017-09-25 19:43] mcat commented on #79
Thanks @xaksis!

[2017-09-26 11:22] xaksis commented on #72
closing this.

[2017-09-26 11:22] #72 closed

[2017-09-26 22:27] serobalino opened #80 "How use on Laravel 5.5"
I want to use this marvel with laravel mix and all its backend, but it gives me an error someone already has it, help please

[2017-09-26 23:06] serobalino commented on #80
I try
`npm install babel-plugin-transform-runtime babel-preset-stage-2 --save-dev`

in a component assets/js/components/ucomponent.vue
`<script>
    import VueGoodTable from 'vue-good-table';
    Vue.use(VueGoodTable);
    export default {.......`

[2017-09-26 23:52] xaksis commented on #80
@serobalino can you paste what the error is?

Also, have you taken a look at the issue below:
https://github.com/xaksis/vue-good-table/issues/72

[2017-09-26 23:58] xaksis commented on #61
hey @VisualBean i just tested this... and it actually works without the default sort. I'm going to close this.

[2017-09-26 23:58] #61 closed

[2017-09-27 01:03] mcat commented on #79
Saw the fix @xaksis Looks great and works great, thank you!

[2017-09-27 02:26] xaksis commented on #79
awesome! closing this.

[2017-09-27 02:26] #79 closed

[2017-09-27 02:27] xaksis commented on #28
This is now available in v1.14.x Here's an example:
https://xaksis.github.io/vue-good-demos/#/dynamic-table
closing this.

[2017-09-27 02:27] #28 closed

[2017-09-27 02:33] xaksis commented on #65
@2rohith2 I actually was finally able to replicate the date bug where formattedRow is blank. I added a fix in version 1.14.1. That should fix it for you. Sorry about not being able to do this earlier.

[2017-09-27 09:37] Macavirus opened #81 "Introduce table grouping"
Is there a way to add custom table rows, for instance, to display a summary of data?
My use case is similar to producing an Excel table, where all rows belonging to a category will get their own "summary row" showing information about the rows below them. The problem is this summary does not exist in the rows object, I would need to somehow create it in the code. In the example below, for instance

[2017-09-27 11:41] xaksis commented on #81
Hey @Macavirus! This currently isn't possible.
It is a useful case but non-trivial to implement... I'll think about it. What is the expected behavior for sorting/filtering/paging in this case?

[2017-09-27 11:46] xaksis commented on #30
v1.14.1 allows custom templates for headers along with ability to add your own events.
closing.

[2017-09-27 11:46] #30 closed

[2017-09-28 05:05] zodman opened #82 "not render or mount"
[code]

give me:

[code]

[2017-09-28 05:39] 2rohith2 commented on #65
@xaksis Thank you!!!

But still, your fix is not working properly.
Please find the below screenshot.

![image](https://user-images.githubusercontent.com/5773985/30950881-3aa5a532-a43d-11e7-8d19-21d6c2d06f79.png)

`DOB` column is `left-aligned` instead of `right align`
`Registered` column has `Invalid Date` when I use ISO Date String.
Ex: 2017-07-31T10:14:01.198Z

Please re-open this issue.

[2017-09-28 11:45] xaksis commented on #65
@2rohith2
for alignment, like i mentioned before, if you're using custom row template, you'll have to align the td content yourself. The whole point of custom rows is to allow you to format the rows yourself.

secondly, your inputFormat for Registered date is wrong. you should use: `YYYY-MM-DDTHH:mm:ss.SSS` and it'll work fine.

[2017-09-28 13:18] xaksis commented on #82
have you tried
[code]

[2017-09-28 14:11] zodman commented on #82
yes didnt work because vue-good-table use /src/index.js and  its  es6. Im not using es6.

[2017-09-28 20:41] serobalino commented on #80
excellent works perfectly, now I need to change the language of the date format. Any advice?

[2017-09-28 22:58] zodman commented on #82
[code]

[2017-09-28 22:59] zodman commented on #82
closed!

[2017-09-28 22:59] #82 closed

[2017-10-03 12:23] Macavirus commented on #81
Agreed, it's not trivial.

I guess I would expect sorting to work per-section, leaving the summary rows locked at the bottom of each section. Filtering would probably be table-wide.

Pagination would only need to not leave an "orphan" summary row on page 2, for example. That does mean that each page would not return an exact number, but +-1.

There was one other library I evaluated that could do o

[2017-10-03 13:04] cristijora commented on #81
@xaksis @Macavirus Maybe as an inspiration
https://jsfiddle.net/75vst75d/1/

They basically render [a new table](https://github.com/ElemeFE/element/blob/dev/packages/table/src/table.vue#L82) below the main one and indeed this is not very trivial to implement

[2017-10-04 17:06] ahallez opened #83 "Failed to import component in my project"
I added these lines to my index.js file:
`import VueGoodTable from 'vue-good-table';
Vue.use(VueGoodTable);
`
When loading the application, I get this error message:
`SyntaxError: 'import' and 'export' may only appear at the top level (2:0) while parsing C:\ScoreExpress\loopback\node_modules\vue-good-table\src\index.js while parsing file: C:\ScoreExpress\loopback\node_modules\vue-good-table\src\in

[2017-10-05 10:03] Troland commented on #40
Sorry, so late for response.While it throws error

[code]
etc.

I'm using the latest`vue-good-table` version **1.14.1** and Vue version is **2.4.4**。

[2017-10-05 10:30] xaksis commented on #40
@Troland can you show me your usage in jsfiddle. I have created a base one for you here:

https://jsfiddle.net/aks9800/5pvh4r9p/2/

Thanks

[2017-10-05 13:17] Troland commented on #40
@xaksis Thanks, i have updated the demo [https://jsfiddle.net/5pvh4r9p/3/](https://jsfiddle.net/5pvh4r9p/3/).You open the webDev tools and see the data is changed.That's the problem, still unresolved.

[2017-10-06 07:12] Troland commented on #40
@xaksis I think i found the problem, i read the source code ,and found that i shoud take care of the property `paginated` to get the modified data.Thanks anyway, good work.

[2017-10-06 12:18] xaksis commented on #40
@Troland can you explain that a bit? how is paginated related here? I looked into it a little bit didn't get a change to dig deep enough. Would appreciate seeing your working code.

[2017-10-06 14:51] xaksis commented on #83
@ahallez vue-good-table uses ES6, in order to use it like the way you've described, you'd need to have a transpiler in your build process. Are you using one (eg babel) in your build process?

[2017-10-06 14:54] cristijora commented on #83
@ahallez @xaksis This might be due to js linting setup.
There are some linters (I think standard) which don't allow you to make imports after some statements.
Make sure all your imports are before any statements.

[2017-10-07 00:00] ImpossivelPT commented on #81
Hi there guys, I'm also looking for the same solution.
On our project we were using a rudimentar component that draw a table, and we made the total by rendering an extra row at the end, but in that case we had no sorting, so there where no problems.

I will follow for a solution,

Thanks!

[2017-10-10 07:57] hocheeseng opened #86 "Column sorting"
Is it possible to add a feature to be able to disable specific column sorting instead of all columns?

[2017-10-11 04:13] VitorLuizC opened #87 "Column filter placeholder"
I'm working on a project that uses portuguese language and a column property to define a custom placeholder will be very nice!

Example:
[code]

[2017-10-14 01:11] timur900 opened #90 "Dynamicly transfrorm label to textarea when user click on label"
Hi. I like your project , but i have the problem. I should create table where third element column dynamicly changed when it was clicked and transform to textarea where user can enter information. How can i do this ?PS sorry for my language ? i know this is just scary but i try do this better/

[2017-10-14 16:57] xaksis commented on #90
hey @timur900
your english is totally fine!

first, *update to v1.14.3*. after that... I created a jsfiddle for you to see how you can do it:
https://jsfiddle.net/aks9800/5pvh4r9p/4/

closing this for now. comment if this doesn't solve your problem, and i'll re-open the issue.

[2017-10-14 16:57] #90 closed

[2017-10-14 17:01] xaksis commented on #40
@Troland I was finally able to isolate and fix the issue. v1.14.3 has the fix that'll make this work for you. Here's a jsfiddle that should work.
https://jsfiddle.net/aks9800/5pvh4r9p/4/

[2017-10-14 17:03] xaksis commented on #80
hey @serobalino, I'm going to close this issue, do you mind creating a new one for your question about date language? thanks.

[2017-10-14 17:03] #80 closed

[2017-10-15 07:34] danielbruni opened #92 "Dropdown Filter with Labels"
Possible Enhancement for Dropdown filters:
[code]

Table.vue
[code]

[2017-10-16 12:45] VitorLuizC commented on #92
This way you describe is much better.

[2017-10-17 09:21] keyurptl opened #93 "How to work with Multi Dimensional Array Object"
Thanks for such great plugin.

It works for single dimension array. But my question is how it work in multi Dimension array.

https://www.screencast.com/t/nCaAFfCADpv

Please check above SS My data is something like that. Array inside each row so how can i access value for that.

[2017-10-18 14:34] nmfarshad opened #95 "Error on component import"
After npm install importing the module using below code throws this error
import VueGoodTable from 'vue-good-table';

Module build failed: Error: Couldn't find preset "env" relative to directory "D:\\wamp64\\www\\dashui2\\node_modules\\vue-good-table"

What am I doing wrong please advice !

[2017-10-18 14:38] xaksis commented on #95
hey @nmfarshad, this has been solved earlier. You need:
`npm install babel-preset-env --save-dev`

please take a look here for details: https://github.com/xaksis/vue-good-table/issues/72

closing for now,

[2017-10-18 14:38] #95 closed

[2017-10-19 13:35] cr1t opened #96 "OnClick and LineNumbers Props not setting"
Hi

I'm using the control like this in the example
http://jsfiddle.net/w4zku52c/

Setting LineNumbers to true and onclick prop not working.

[2017-10-19 13:56] xaksis commented on #96
@cr1t strange, i'll look into it shortly.

[2017-10-19 16:30] adrienbucci commented on #93
Did you find a way?

[2017-10-19 17:41] #87 closed

[2017-10-19 18:14] xaksis commented on #96
@cr1t this seems to be an issue only for the generated file... using the plugin normally seems to be working fine. i'll continue debugging

[2017-10-19 18:31] xaksis commented on #93
@keyurptl I'm not exactly sure what you want to do, my guess is your data has nested array and you want to reference things within an array? the field property of a column can take - a string (representing the property name, ex: 'company'), a dot notation string (like 'company.createdAt') or a function. What do you want the columns to be? If you mean you want to have groupings within the table lik

[2017-10-19 20:59] xaksis commented on #92
v1.15.0 allows both regular arrays and objects like shown here. Closing this.

[2017-10-19 20:59] #92 closed

[2017-10-19 21:02] xaksis commented on #83
closing this.

[2017-10-19 21:02] #83 closed

[2017-10-19 21:03] #66 closed

[2017-10-19 21:13] xaksis commented on #96
ah okay... it wants you to use snake case for html attributes which is probably the correct way of doing it anyway:
[code]
should work. closing this for now.

[2017-10-19 21:13] #96 closed

[2017-10-20 07:52] adrienbucci commented on #93
Hi dear,

Thanks for the awesome work, as well.

I was asking because I was thinking about having this kind of result:

Company A:
Address 1 street bla bla bla
Address 2 street pi pa po

Company B:
Address 3 street bla bla bla
Address 4 street pi pa po

and so on

Parsed from a Json like this:

company A : {
'name': 'tatz',
'addresses': [
{
   'name': 'address 1',
   'address': 'bla bla bla',
},
{

[2017-10-22 17:04] Hellek opened #98 "Is i can render defaults with slot="table-row"?"
Hi! How can i want to use inside this something like

[code]
I need this cause column counts comes dinamically and i can't hardcode this

I tried to use `field: () => {...} for this and html: true`
But theare another problem property
`:defaultSortBy="{field: 'order_id', type: 'desc'}"`
stop sorting by default

[2017-10-22 22:22] Hellek opened #99 "How can i extend "field" types?"
For example, i want to auto-mask phone numbers like +0 (000) 000 0000. Or in my case i need show dates like dd.mm.YY but if it's closest dates i need to show (yesterday, today, tomorrow) and it's must work with sorting like:
(today + 3 days)
(today + 2 days)
Tomorrow
Tomorrow
Today
(today - 2 days)

[2017-10-23 00:50] xaksis commented on #99
@Hellek 'field' property takes a function which is supplied rowObject as a parameter so you can do something like
[code]
you can use your custom method to do what you want. I'm going to close this for now, comment back if this doesn't solve your problem and i'll re-open it.

[2017-10-23 00:50] #99 closed

[2017-10-23 00:56] xaksis commented on #98
I can't say that i'm 100% sure what you want to do here @Hellek
can you create a jsfiddle to show me what you want to do?
you can use the following fiddle as your base:
https://jsfiddle.net/aks9800/mn27rd7b/

[2017-10-23 00:58] xaksis commented on #93
ah yeah, so that kind of grouping is currently not possible with vue-good-table. I will try and look into it when I get some free time though.

[2017-10-23 01:01] xaksis commented on #93
closing. will be addressed together with https://github.com/xaksis/vue-good-table/issues/81

[2017-10-23 01:01] #93 closed

[2017-10-23 05:43] keyurptl opened #100 "Filter Option For Multi Dimensional Array"
Thanks for such great plugin. Superb work.

I have installed and it works like charm.  Now my question is how to handle filter option on value which is coming from multi dimensional array.

Like There is list of user and also displaying all projects which is assigned  to that user. So how can i provide filter for project list.

https://www.screencast.com/t/vm65S7VOT

Please help me on this. Much a

[2017-10-23 06:43] keyurptl commented on #93
Hello Thanks for support and  Sorry for late reply.  I want something like this .
Like There is list of user and also displaying all projects which is assigned to that user. So how can i provide filter for project list.

https://www.screencast.com/t/vm65S7VOT

https://www.screencast.com/t/TSVILmw2IzP

Above is the user list which I am displaying.

So what actually is  there user array and inside u

[2017-10-23 06:45] keyurptl commented on #93
@adrienbucci No I am looking for solution.

[2017-10-23 08:38] focussing opened #101 "Column header alignment"
When the column definition contains `type: 'text',` only the header is right-aligned. Because 'text' is default, left-aligned would be expected. When I leave out the 'type: text' line it is left-aligned.

1) why is only the column header responding to this, and not all rows?
2) could 'text' be set to left-aligned as would be expected as it is the default setting?
3) despite this; how could I set '

[2017-10-23 09:22] adrienbucci commented on #93
@keyurptl
Yes, I understand, we're facing the same need.
Hop our great @Xaksis will manage with something :)

[2017-10-23 10:30] keyurptl commented on #93
@adrienbucci okay Thanks.  And   @xaksis  Let me know when this will be manageable. I am  eagerly  waiting for check that.

[2017-10-23 11:43] xaksis commented on #101
@focussing ... yeah that's definitely a bug. text should be left-aligned. thank you for identifying it. it seemed to have been introduced in this commit:
https://github.com/xaksis/vue-good-table/commit/5773f32538b644a9e8531e2be92c8d0f7b6441c2

will fix tonight.

[2017-10-23 11:47] xaksis commented on #100
hey @keyurptl, thank you for using the plugin. regarding your question: columns support an option called filter which takes in a function in the following format:
[code]
as you can see, filter can take a function that takes in row data and the filter string, you can then use this function to return the rows that match your criteria. Let me know if this doesn't solve your issue, and i'll re-open it

[2017-10-23 11:47] #100 closed

[2017-10-23 17:56] Hellek commented on #98
I cant show it on jsfiddle cause i don't understand how i can code it.
I just trying to find solution. I need wrap text to link if it's a special label, like
if (field == "page_id") {
    <td><a href="/page_id">page_id</a></td>
} else {
    <td>field</td>
}
I guess that better way to do this use slots, but i dont understand how do it with this plugin

[2017-10-23 18:07] xaksis commented on #98
@Hellek

here's one way to conditionally render your template within td:
https://jsfiddle.net/aks9800/mn27rd7b/1/

go through that and let me know if that makes sense?

[2017-10-23 18:37] Hellek commented on #98
So what if i have 20 columns? Or columns from user to user varies? Hardcoding of columns a bad idea.
Is there way to use something like this
[code]

[2017-10-23 18:39] Hellek commented on #98
[code]
This erase all other fileds. Not rewrite just age by IF condition

[2017-10-23 18:59] xaksis commented on #98
@Hellek if you look through the documentation, you'll find https://github.com/xaksis/vue-good-table#additional-columns
which explains how to add just the custom column you want, every other column is rendered as default.

[2017-10-23 20:27] Hellek commented on #98
OK, I'll try again explain a problem.
I have 20 columns, and want change a view of one of them by field condition. For this example i use order_id. If i use this
[code]
inside slot="table-row", table will contain just this one row, but i expect that table must render as original, but order_id <td> will contain not raw value, but value inside wrapper. In this example it's <a> tag

[2017-10-25 11:37] shamotj opened #102 "Empty cells in each row when using table-row-before and table-row-after"
I use both slots **table-row-before** and **table-row-after**. Header was two columns short, so I added two empty columns `{ label: '', field: '' }`. This solves column count in header, but it resulted in empty cells in each row at the beginning and at the end of row.

I believe this is bug and we can either automatically add header columns when table-row-before/after is used or somehow filter emp

[2017-10-25 11:40] xaksis commented on #102
@shamotj can you modify: https://jsfiddle.net/aks9800/mn27rd7b/ to show me what you're trying to do? I suspect there's a misunderstanding in how to use table-row-before/after here.

[2017-10-25 13:01] shamotj commented on #102
I modified jsfiddle but it works different. I noticed you use different **vue-good-table.min.js** file (from . I use this one https://raw.githubusercontent.com/xaksis/vue-good-table/master/dist/vue-good-table.min.js.

[2017-10-25 13:10] xaksis commented on #102
it's the same file. Can you share the modified jsfiddle so i can see it? btw, as documentation states (https://github.com/xaksis/vue-good-table#additional-columns), when you use the table-row-before/after slots, you'd need to provide appropriate columns in data.

for example, if i were adding a checkbox to the beginning of my table i'd have:
[code]
and in column definition i'd have to add:
[code]

[2017-10-25 13:16] xaksis commented on #102
oh whoops! it is not the same file... i actually shared an older jsfiddle. my apologies. let me share a new one!!
https://jsfiddle.net/aks9800/Lhowhqnk/

[2017-10-25 13:22] shamotj commented on #102
Here is modified jsfiddle with wrong behavior https://jsfiddle.net/Lhowhqnk/1/

[2017-10-25 13:32] xaksis commented on #102
@shamotj thank you so much. that certainly looks wrong. I'll debug this today.

[2017-10-26 02:13] xaksis commented on #102
@shamotj v1.15.2 now has the fix for this. Thank you for pointing it out.

[2017-10-26 02:13] #102 closed

[2017-10-26 02:14] xaksis commented on #101
@focussing v1.15.2 now has the fix for this.

[2017-10-26 02:14] #101 closed

[2017-10-26 04:49] keyurptl commented on #100
Okay Thanks for help. It Really helps me.

[2017-10-30 16:13] Hellek commented on #98
@danielbruni
For now i do this like that
[code]
Looks that i want, but "default sorting by id field" droped, and more, sorting by this field not sort rows as before. I don't understand why it's happens.

Another thing. I want to filter dates as date() objects, but show with my custom formatting. Let's say, that Today id 10 jan of 2017, when I filter by desc i expect to see something like this
12 j

[2017-10-31 11:22] rvasoya opened #105 "how can i set perpage value to 5 instead of 10 globally?"

[2017-10-31 11:23] rvasoya commented on #105
I want to set default per page value to 5 instead of 10.
If i set :perPage=5 it's no longer give me dropdown to change value

[2017-11-01 00:33] Hellek opened #106 "How to separate sorting from view?"
Hi, at first, thanks for this good plugin!

Is there way to separate sorting algoritm from view template? Few examples of problem
--- we have DESC id's of pages (201, 200, 107, 100, 99)
we want to show them like a links to pages <a href="page/99">99</a>
But after wrapping it becomes a string and sorting stop works as expected (like for integers).
DESC becomes (99, 201, 200, 107, 100)!! 200 between

[2017-11-01 20:20] xaksis commented on #105
@rvasoya ah yeah. if you manually set a perPage, it removes the option to change it to one of the pre-determined once. I can look into keeping that functionality.

[2017-11-01 20:22] xaksis commented on #106
@Hellek good idea. I'll look into adding custom sort function.

[2017-11-01 20:45] #98 closed

[2017-11-02 13:56] shamotj opened #107 "How to solve styling - support for CSS frameworks"
We are using Foundation CSS Framework and right now table looks non-native. I can override some CSS properties but some needs to be removed. So I see two options now: either remove styling all together or allow someway to override/inject custom styling.

I can make fork and modify code for Foundation but I'm not convinced it is the best way. @xaksis do you have any suggestions or opinion on this m

[2017-11-02 14:11] xaksis commented on #107
@shamotj can you create a jsfiddle so we can see what it looks like if you supply foundation class, in styleClass property?
you can use: https://jsfiddle.net/aks9800/Lhowhqnk/ as a base

[2017-11-02 15:52] shamotj commented on #107
I made changes to JS Fiddle https://jsfiddle.net/Lhowhqnk/2/ . Actually I overlooked option *styleClass* and it did the trick. I think we can consider this issue as resolved. Once we set styleClass to empty only css for <table> applies, which is harmless.

[2017-11-03 12:48] #107 closed

[2017-11-03 12:52] shamotj opened #109 "Add sortable setting for columns"
In some cases it is desirable to turn off sorting for some columns. It can be set up by adding option sortable  to columns (same way as  filterable is made).

[2017-11-03 13:01] xaksis commented on #109
@shamotj yeah... there's a pull request for this that I reviewed. I think i'll make the change myself for this soon.

[2017-11-06 23:58] kwerle opened #110 "CDN?"
Ugh.  If this were minified published to a CDN I'd be using it 15 minutes ago.

https://hackernoon.com/how-to-publish-your-package-on-npm-7fc1f5aae600

Yes, I'm begging.

[2017-11-07 00:08] xaksis commented on #110
heh :)
https://rawgit.com/xaksis/vue-good-table/master/dist/vue-good-table.min.js ?

[2017-11-07 00:16] kwerle commented on #110
Spectacular - though it might be nice to add unpkg - and document it in the readme.

I'll take it for a spin in a bit.

[2017-11-07 01:08] kwerle commented on #110
But this looks like it works.

[2017-11-07 01:08] #110 closed

[2017-11-07 19:32] kwerle opened #111 "Custom td contents"
vue-good-table is awesome.

I would like to display some custom content for a column.  I suppose I can do that by passing a function and rendering the html - but that makes me sad.

I would like to be able to supply the td contents using a template:

[code]
where \*\*field** is the column field string.  I'm not sure if the template should be responsible for the td tags or not...

[2017-11-07 19:46] xaksis commented on #111
if it is at the beginning or at the end of the columns, you can use 'template-row-before', 'template-row-after'... as described here: https://github.com/xaksis/vue-good-table#additional-columns

if it is in the middle somewhere, then i'm afraid you have to provide a template for all tds

[code]

[2017-11-10 04:22] zietbukuel commented on #109
Yeah, I was trying to do this too, it would be good to have a sortable option for columns because for example, we don't want to sort 'actions' (view, edit, delete buttons), because it doesn't make any sense.

[2017-11-10 04:31] zietbukuel opened #112 "Custom table row contents"
I'm having an issue where I want to display the date a user has been created:

[code]

This gives me an error:
`TypeError: Cannot read property 'date' of undefined`

This is what my `created_at` json field retrieved from my API looks like this:
[code]

The formatting settings in the column is:

[code]

If I use:

`{{ props.row.created_at.date }}`

Instead of:

`{{ props.formattedRow.created_at.dat

[2017-11-10 04:51] zietbukuel commented on #112
Ok, I found a much better and easier way to do this.

I removed the custom table-rows template, then in my column definitions, I'm using this:

[code]

And inside `methods` I have this:

methods: {
    ...
    displayRoles: function(rowObj) {
      return rowObj.roles.join(", ");
    },
    ...
}

And now everything works as expected.

[2017-11-10 04:51] #112 closed

[2017-11-13 09:04] Dalex96 commented on #109
Se puede agregar un botón sin traerlo de rows?

`{
            label:'',
            htmlContent: '<button>Hello</button>',
            html: true,
          }`

[2017-11-13 09:50] techytuppers opened #114 "Dynamic tdClass?"
Hello!

Loving your good-table component, thank you very much for the time and effort put in to it.

I was wondering if it was possible to utilise the tdClass property of a column, in a more dynamic way? A trivial example, if the data value was "red", and I wanted the class to be "colour--red", is there a way of doing that via the column attribute tdClass? The example just shows a single string di

[2017-11-13 19:22] mekhami commented on #32
I'm having a similar issue at the moment. Everything installed and compiled correctly, but when the table renders, I get a 404 on `/static/img/search_icon.6cf060d.png`, which is a directory that is served up by my webserver. Is there a better way to include this image file so that it does not conflict with webserver static paths?

[2017-11-14 14:34] xaksis commented on #114
I'll investigate this shortly... sorry for the delay.

[2017-11-14 15:39] T-Bod opened #115 "Total Row?"
Love good table, thanks for all of your effort on it!

This may be somewhat related to #81 but is there a suggested method for populating a total row? Strictly a sum or possibly a count of the column data, no additional manipulation or grouping.

[2017-11-14 16:52] VitorLuizC opened #116 "Bundle component"
Apparently all those webpack and build stuff does nothing since you're exposing source version of this module instead of a compile one.

https://github.com/xaksis/vue-good-table/blob/37b321dd2ab0037436d3cd1492f607eba2d17620/package.json#L5

Bundling it down to ES5 will solve some issues, like #95 #83 #72 #80 #48.

[2017-11-14 16:56] VitorLuizC commented on #116
Okay, they are closed. But I'm looking at this right now and I really don't want to add a lot of babel modules to my environment...

Also, https://github.com/egoist/bili and https://github.com/egoist/poi are nice replacements to all that webpack and build stuff.

[2017-11-14 17:01] VitorLuizC opened #117 "Ignore files"
Can you add build, test and other files in .npmignore? I really don't want to download all those files every time I install my project's dependencies.

![captura de tela 2017-11-14 as 14 59 22](https://user-images.githubusercontent.com/9027363/32793260-872acd86-c94c-11e7-82f8-fd838e19b7c9.png)

[2017-11-14 17:04] VitorLuizC commented on #109
i've already made a PR (#89) fixing this and changed things @xaksis asks, so now he just need to merge it

[2017-11-14 17:06] VitorLuizC commented on #109
Also, this issue is a duplicate of #86

[2017-11-16 10:43] scalarerp opened #119 "Javascript and/or via CDN"
Can create Javascript dist?

[2017-11-16 10:49] #119 closed

[2017-11-16 10:49] scalarerp commented on #119
ok

[2017-11-18 17:28] #86 closed

[2017-11-18 17:58] xaksis commented on #105
@rvasoya v1.16.0 adds custom perPage to existing defaults. should fix your issue.

[2017-11-18 17:58] #105 closed

[2017-11-18 17:59] xaksis commented on #109
this is now available in v1.16.0 thanks to @VitorLuizC for the work!

[2017-11-18 17:59] #109 closed

[2017-11-18 23:04] xaksis commented on #114
@techytuppers seems to be working fine for me:
https://jsfiddle.net/aks9800/y4egud23/

closing this. If you continue to see the problem, let me know and I'll reopen the issue.

[2017-11-18 23:04] #114 closed

[2017-11-18 23:05] xaksis commented on #111
closing this. Let me know if above hasn't resolved your issue and i'll reopen it.

[2017-11-18 23:05] #111 closed

[2017-11-18 23:24] xaksis commented on #116
@VitorLuizC the build does create an es5 version of the module:
https://rawgit.com/xaksis/vue-good-table/master/dist/vue-good-table.js

the primary intent of the plugin is to be used with the vue-cli project setup that already sets up your environment with the proper babel modules.

I am confused as to why you have to delete your .babelrc every time you have to install vue-good-table. Can you expa

[2017-11-18 23:38] xaksis commented on #116
I'll look into exposing the es5 bundle for npm as opposed to the source one.

[2017-11-19 17:00] VitorLuizC commented on #116
That's a UMD version, it includes other compiled dependencies. Would be better to provide, also, a CommonJS module that exposes ES5 sources & require dependencies.

I'm using babel 7, because syntax-optional-chaining and some optimizations. So, I have `@babel/babel-preset-env` instead of `babel-preset-env`. So, when `babel-loader` recursively look into included module's `.babelrc` it won't find ba

[2017-11-21 09:53] tonimc opened #122 "`originalIndex` is losed when `globalSearchAllowed` is enabled"
When `globalSearchAllowed` is enabled the filter is made directly on `this.rows` without adding the `originalIndex` (https://github.com/xaksis/vue-good-table/blob/master/src/components/Table.vue#L457), to avoid that I create this PR with the fix https://github.com/xaksis/vue-good-table/pull/121.

[2017-11-21 10:52] tonimc commented on #122
@xaksis you can see it quickly in the first example in https://xaksis.github.io/vue-good-demos/#/dynamic-table When you write something on the filter, the original index column becomes empty.

[2017-11-21 15:56] xaksis commented on #122
@tonimc good catch! I'll merge this in tonight. Thank you so much for the PR!

[2017-11-22 09:17] davidohlin opened #125 "Option to completely leave out styles?"
Great component, thanks for your hard work! 👍

I would like to completely omit the `<style>` tag and its contents. Is there a way to do that right now? If not, is it possible to implement?

[2017-11-23 08:23] zaytseff opened #126 "Show "undefined" when rows is emty array"
@xaksis, hi!
When y set :rows property to an empty array, i got "undefined" before emptystate templte.
custom template not fix this
I don't know how insert screenshot, but in browser this looks like this:

undefined
No data for table.

Thanks!

[2017-11-23 16:20] tonimc commented on #125
@davidohlin `vue-good-table` give you the prop styleClass which overwrite the styles for the table. Using `<vue-good-table styleClass="">` the table will be without styles. Only, the pagination will have them.

@xaksis one possibility would be moving `styleClass` to the main div instead put it on the table? It will be a breaking change but it could be good.

[2017-11-25 13:17] zaytseff opened #128 "How to use ajax data with component?"
Hi @xaksis !

Your component is great! I'd like to use them in my project, but i don't understand how to push ajax data into rows prop.
Can you add solution in documentation page about this?

Thanks!

[2017-11-26 10:38] kashifullahwebdeveloper commented on #128
Hi @xaksis!

    I do agree with @zaytseff. I need the same.

+1 for ajax data into rows prop.

[2017-11-27 17:05] zaytseff commented on #126
In browser ad code it look's like this:
![undefined](https://user-images.githubusercontent.com/1374234/33278944-69395ada-d3b6-11e7-87e5-f6bb57e90651.jpg)

[2017-11-28 12:33] arivera12 commented on #128
@zaytseff
@kashifullahwebdeveloper
vue-good-table has a prop called rows you need to pass an array of properties and rows props will populate from that array. The prop rows needs to be an array or it will not work. See the snip of code below for example
[code]

[2017-11-28 12:36] arivera12 commented on #126
Can you please share the code you are using on this so I can reproduce and look for a fix?

[2017-11-28 12:47] arivera12 opened #130 "Sometimes props.index is undefined"
I have used this plugin on a lot of view and works very smooth and nice, but I have encountered on 2 view that sometime props.index is being undefined. I have compared this view with others working views and I can't figure out why this happens sometimes. Here is a snip of a case I am having problem with the index.

[code]

[2017-11-28 13:17] arivera12 commented on #130
I just updated vue good table with the last version available and its working without any source code modifications! Thanks anyway for this awesome plugin!

[2017-11-28 13:17] #130 closed

[2017-11-28 13:52] zaytseff commented on #126
@arivera12, hi

I include  component into common project file like this:
[code]
And after use it on page-module like this:
[code]
Also when i set rows: [{....}] with array data and use unserchable filter query - i got undefined too

[2017-11-28 14:08] corbosman opened #131 "search doesn't match sub string"
The search in column search does not match substrings correctly. This can easily be tested by going to your demo and searching for "ane". It does not return the Jane row.

Interestingly the globalsearch does work correctly.

[2017-11-28 14:48] corbosman opened #132 "paginator translation strings dont work"
The nextText,prevText etc pagination strings dont work. This is because they are being passed as props to Table.vue, but never sent to Pagination.vue which takes them as props.

[2017-11-28 15:00] corbosman opened #133 "option to disable filtering on a column when using globalsearch"
It would be nice if you can configure a column to never match when using globalsearch. Maybe even use "filterable" for that, or even nicer, allow for filter method (which could always return false).

use case, i would like to prevent some columns from matching a search string because they are never relevant to the searches.

[2017-11-28 15:05] VitorLuizC commented on #131
There's already a PR (#118) to fix it. @xaksis was revising it and, I guess, will merge soon.

[2017-11-28 16:24] sylvainmasson commented on #132
I have the same problem and i saw the same thing into the code.

[2017-11-28 17:04] zaytseff commented on #128
@arivera12? thanks!
After your comment i solve this "problem" )))
[code]

[2017-11-28 17:04] #128 closed

[2017-11-28 17:05] arivera12 commented on #126
To show the emtpy state of vue-good-table you should insert a slot like this:
[code]
This should show up when there are no columns as specified in the docs but that's pretty weird cause it doesn't make any sense an empty stats for columns but for empty rows indeed.

[2017-11-28 17:07] arivera12 commented on #128
Glad I could help!

[2017-11-28 17:42] zaytseff commented on #126
@arivera12, I try this and wrote about this. But i try one more time and nothig changed.

![emptystate-custom-slot_undefined](https://user-images.githubusercontent.com/1374234/33333832-6b9db41c-d481-11e7-8047-44af1e0a770d.jpg)

I look code in https://github.com/xaksis/vue-good-table/blob/master/src/components/Table.vue#L88  starting with line 88 and below and did not see the condition of not displ

[2017-11-28 18:17] arivera12 commented on #126
I see. Maybe you hit a bug. Wait for @xaksis to get an answer for you on this. I looked the code a bit and looks fine for me.

[2017-11-29 11:28] corbosman commented on #122
Did you end up merging this? I dont see it in the code. Im running into the same issue. I need to make api calls and then update the row, but after search I dont have a row index in the row object.

[2017-11-30 08:45] sarath49 opened #134 "Select all checkbox on header"
How to setup to allow select all checkbox in <th> using this library.

[code]
Where checkboxAction(props) will select only one item at time on click action (currently when I click on one item all checkboxes are triggered to store and check date in an array.

And using computed property to get all values when checkboxMulitple modle is triggered.

As shown in fiddle [https://jsfiddle.net/thanhmabo/a

[2017-12-01 11:45] y-kushnir commented on #131
You can use custom 'filter' function as temporary solution
`filter: function(data, filterString){
            if (_.isUndefined(data)) return;
            return _.includes(data.toLowerCase(), filterString.toLowerCase());
        }`

[2017-12-05 20:02] xaksis commented on #122
@tonimc @corbosman sorry for the delay, I was on vacation. This is now available in v1.17.0

[2017-12-05 20:02] #122 closed

[2017-12-05 20:03] xaksis commented on #131
@VitorLuizC @corbosman this should now be available in 1.17.0. Sorry for the delay.

[2017-12-05 20:03] #131 closed

[2017-12-05 20:04] xaksis commented on #132
this is now fixed in v1.17.0 (Sorry for the delay)

[2017-12-05 20:04] #132 closed

[2017-12-07 06:14] tonimc commented on #122
thanks @xaksis and dont worry.

[2017-12-07 16:15] ruslankonev opened #135 "SyntaxError: Unexpected token import - ??"
How I can see this on fronted? and what I need to config?
![image](https://user-images.githubusercontent.com/2588730/33724310-2a974f0e-db80-11e7-9970-ef521172186f.png)

[2017-12-10 19:36] ianhd opened #136 "If I add a template with slot='table-row-after', there is a missing th"
How do I specify a column for my custom template column?

Example:

[code]

If I specify 2 columns in my `columns` attribute, then have that third column defined via template, then there ends up being just 2 `th`'s in the `<thead>`. How do I specify a third column, one where I can do something like `{label: 'myField'}` (I can't b/c `field` is required, which I don't need b/c I'm defining it myself

[2017-12-11 00:49] Yezuz05 opened #137 "Search Icon"
The search icon doesn't load, so I usually copy the file to wherever the app expects to find it. Is there a way I can specify the src attribute of the image?

[2017-12-12 12:31] arivera12 commented on #137
You need to add the folder static/img. Take a look of the folder structure [dist](https://github.com/xaksis/vue-good-table/tree/master/dist)

[2017-12-12 20:14] arivera12 opened #138 "Custom row templates don't work in IE"
This plugin doesnt work on IE11.
I added the polyfills for includes and entries to fix this and still doesn't work.
Take a look of these threads in stackoverflow.

[Link Includes](https://stackoverflow.com/questions/31340868/includes-not-working-in-all-browsers)
[Link Entries](https://stackoverflow.com/questions/42446062/object-doesnt-support-property-or-method-entries)

![image](https://user-imag

[2017-12-12 20:20] arivera12 commented on #138
I think that these polyfills aren't working maybe cause the object's type are not set correctly. The method includes is on a string context and the method entries is on an object's context. Does this makes any sense or I am wrong?

[2017-12-12 21:00] arivera12 commented on #138
I was wrong with the polyfills I where using after reading the code.
The polyfills needed are based on Arrays rather than string or object so I added this polyfills and now the errors has gone but data isn't being displayed correctly.
This is how it should work (google chrome screenshot)
![image](https://user-images.githubusercontent.com/5600102/33908054-8ba266ae-df5d-11e7-955c-7d1b4b8a4da9.png)

[2017-12-12 21:06] arivera12 commented on #138
This is the template I am using for this
[code]

[2017-12-13 12:53] TimurShaykhiev opened #140 "Highlight the column used for sorting"
Hello. It is rather a question/idea than an issue.
I want to highlight the table column which is currently used for sorting. I think it improves user experience on big tables with a lot of columns.
The only solution I found so far:
[code]
But it looks like a hack, because 'sortColumn' is an internal component data.
Did I miss something? If no, are you going to add this feature to the component?

[2017-12-13 12:56] arivera12 commented on #138
Digging more deeper into this I found 2 things on this on IE11.

If I change this
`<td v-text="props.row.NeedAreaOrTrainingDescription"></td>`
into this
`<td>{{ props.row.NeedAreaOrTrainingDescription }}</td>`

The props data gets rendered correctly.

So vuejs directives like v-text and v-html aren't working as expected on slots on IE11.

The second thing is that I found that props aren't being in

[2017-12-13 13:03] arivera12 commented on #136
I am not really sure if your issue is certainly referenced with my issue  but

There is an issue with `<td>` and `<th>` elements when using slots.

Take a look of my link [138](https://github.com/xaksis/vue-good-table/issues/138)

I am trying to look what is wrong with `<td>` that aren't being rendered on IE11.

All versions of IE aren't not working as expected.

[2017-12-13 13:18] xaksis commented on #140
Hey @TimurShaykhiev! Here are my 2 cents: In most tables implementation that I have seen, the sort indicator on the column header is what is used to indicate which column is being used for sorting. While in big tables this might be a subtle signifier, making the whole column highlight in all cases will probably cause too much of a distraction on smaller tables. There are other considerations like

[2017-12-13 13:34] TimurShaykhiev commented on #140
@xaksis Thank you for quick response. I totally agree that it should be optional. In many cases you don't need this, it'll just distract user. It is useful for big tables only. For example, this is NHL players statistics table [http://www.nhl.com/stats/player?reportType=season&seasonFrom=20172018&seasonTo=20172018&gameType=2&filter=gamesPlayed,gte,1&sort=points](url) This is the case I'm talking a

[2017-12-13 13:47] xaksis commented on #138
@arivera12 sorry Ive been sick last few days. This is happening because IE doesn't allow <slots> tag inside tables: https://github.com/vuejs/vue/issues/3028
I will need to write up a fix for this later today. I apologize for the inconvenience.

[2017-12-13 13:52] xaksis commented on #136
@ianhd you'll need to specify the header for the third column as well. Field in this case is optional (I will update the document to reflect this). the template is only for the row data. so your columns should look something like:
[code]
closing this. Let me know if this doesn't work for you and I'll re-open.

[2017-12-13 13:52] #136 closed

[2017-12-14 00:11] arcisd opened #141 "Is there a CDN?"
Hello. Is there a CDN? Thanks!

[2017-12-14 11:53] Peace-N commented on #126
I'm also having the same issue, i'm getting data from the Server and this should be an issue that needs addressing, so when I have no data I get an error:

[code]

[2017-12-14 14:12] xaksis commented on #126
@zaytseff I have created a jsfiddle but I'm unable to reproduce your issue:
https://jsfiddle.net/aks9800/80dj8vug/1/
can you try and reproduce it for me here so I can take a look?

@Peace-N can you please check if your data is actually formatted correctly? the error you're getting usually happens if rows exists but is not an array.

[2017-12-14 14:14] xaksis commented on #141
Hi @arcisd you could use: https://cdn.jsdelivr.net/npm/vue-good-table@1.17.0/dist/vue-good-table.min.js perhaps?

closing.

[2017-12-14 14:14] #141 closed

[2017-12-14 15:44] arivera12 commented on #138
@xaksis  I have been sick too these days :cry:  there is something in the air that everyone is getting sick I got my kids and my brother sick too.
I hope you get well soon!
In the meantime this plugin isn't working with any IE version since.
I have test it on IE9, IE10, IE11.
I looked at the referenced issue you added to this thread and I went over it yesterday I knew after various test that this

[2017-12-14 15:51] arivera12 commented on #138
@xaksis  I have been sick too these days :cry:  there is something in the air that everyone is getting sick I got my kids and my brother sick too.
I hope you get well soon!
In the meantime this plugin isn't working with any IE version since.
I have test it on IE9, IE10, IE11.
I looked at the referenced issue you added to this thread and I went over it yesterday I knew after various test that this

[2017-12-14 16:15] mihirchronicles opened #142 "Download Table Data in CSV Format"
Is it possible to download the table data in csv format on a click handler?

[2017-12-14 16:31] xaksis commented on #142
this functionality doesn't exist yet... but sure would be nice to have that.

[2017-12-14 18:37] arivera12 commented on #142
@xaksis for this I use this plugin [tableExport.jquery.plugin](https://github.com/hhurz/tableExport.jquery.plugin)
I have worked with this plugin for various of years.
You can still take a look of the source and do some portations from jQuery to pure JS instead.
I think this plugin is  huge plus in any project due to his various ways to export a table.
Hope this helps!

[2017-12-14 18:48] arivera12 commented on #138
I think you should state that for using this plugin with IE include the 2 polyfills I added here so this plugin can work on IE for other users of this plugin.

[2017-12-15 17:03] mihirchronicles commented on #142
Thanks for the update! That is a good point @arivera12.

[2017-12-15 21:01] arivera12 commented on #138
@xaksis  any update on this?

[2017-12-16 13:39] xaksis commented on #138
@arivera12 i was able to solve it by adding babel-polyfill to my projects. Just install babel-polyfill
`npm i --save-dev babel-polyfill`
then, if you're using webpack build for your vue project, add babel-polyfill to your webpack.base.config:
[code]
(don't forget to remove the earlier polyfills that you added, babel takes care of all those)
closing.

[2017-12-16 14:11] xaksis commented on #137
@Yezuz05 v1.17.1 has a css icon instead of a png. This should solve your issue.

[2017-12-16 14:11] #137 closed

[2017-12-16 16:20] arivera12 commented on #138
Babel-polyfill at least makes the table render but not to render correctly on IE.

IE still doesn't render correctly take a look:
![image](https://user-images.githubusercontent.com/5600102/34072295-e6629ec4-e25a-11e7-9394-99333cce30ba.png)

IE doesn't put `<td>` inside`<tr>` as expected on the template slot
![image](https://user-images.githubusercontent.com/5600102/34072303-25e6cd22-e25b-11e7-88b3

[2017-12-16 16:31] arivera12 commented on #138
v-text and v-html directives aren't even working on the template scope they just render blank on IE.

[2017-12-16 19:37] xaksis commented on #138
@arivera12  can you try https://xaksis.github.io/vue-good-demos/#/dynamic-table on your browser and paste a screenshot here?

[2017-12-17 14:29] arivera12 commented on #138
The demo site works as expected. The problem that I have is that on my project this doesn't render correctly. I updated vuejs, this plugin and still doesn't work.
I will share my code here so if u can see anything is wrong  with it cause I don't see anything wrong with this.
[code]
The `<td>` element never gets rendered and both cells are inside the `<tr>`.

This is what it gets rendered using thi

[2017-12-17 21:38] arivera12 commented on #138
Can you share vue-good-table code that is being used on the demo to see what's difference with my source? Thanks.

[2017-12-18 07:43] kashifullahwebdeveloper opened #143 "Creating progress-bar dynamically"
Hi @xaksis,

   I am stuck in very strange issue, I actually want to create bootstrap 'progress-bar' dynamically based on some condition.
For example: let's say I have a value of 43. now I want to make it to red progress-bar if the value is less than 50, and blue progress-bar if in between 50 - 60 else > 60 to green progress-bar.

The code for progress bar is as follow:

[code]

Note: `aria-valuen

[2017-12-18 12:15] xaksis commented on #143
@kashifullahwebdeveloper you need to put the progress bar within a <td> for this to work. I am not sure what your question is here? Can you create a jsfiddle for me to take a look?

[2017-12-18 12:17] kashifullahwebdeveloper opened #144 "Getting a Warning: Avoid using non-primitive value as key, use string/number value instead."
Hi @xaksis,

   I am getting this error when using field as function where I getting an html for that field, could you please tell me why I am getting this?

![non-primitive](https://user-images.githubusercontent.com/12660951/34105681-1d67a3fc-e417-11e7-8aa6-6c102cd171d1.png)

My code is :

[code]
[code]

[2017-12-18 12:18] kashifullahwebdeveloper commented on #143
Thank you, so much for quick reply, let me make one for you.

[2017-12-18 12:20] xaksis commented on #144
@kashifullahwebdeveloper good catch! that is indeed a bug, I'll add a fix to remove this shortly.

[2017-12-18 12:24] xaksis commented on #143
you can use: https://jsfiddle.net/aks9800/80dj8vug/ as a base

[2017-12-18 12:35] kashifullahwebdeveloper commented on #143
I think I can't make it very clear by using jsfiddle, but using your example as base, I need to make bootstrap progressbar http://bootstrapdocs.com/v3.0.3/docs/components/#progress, based on age with the following logic:
if( age <= 50) {
// show red progress bar
} else if (age > 50 && age <=80) {
 // show yellow progress bar
} else if (age >80 && age <= 100) {
// show green progress bar
}

Let me

[2017-12-18 21:20] DerekNMartin opened #145 "Clear/reset global search?"
Is there any way to clear the global search upon some event?

[2017-12-19 16:09] CentristPhilosopher opened #146 "Search multiple items and out of order?"
Wondering if this is possible - I would like to be able search in a way that will give me back the correct rows even if I search terms out of order.

For instance, I currently have a 'Name' field, and an 'Instruments' field.

I would like 'Bob Piano Guitar' and 'Guitar Bob Piano' to come up with the same results.

Is there anything built in to do this, or an easy way I could perhaps modify the cur

[2017-12-21 08:18] eric-naguras opened #147 "Table jumps back to first page"
After clicking on a row, I display an edit form with info from the row clicked.
But directly after the click, the table jumps back to the first page even if you were a few pages further when clicked on a row.

My table definition is:

[code]

In the rowClick event I get some data from an API server like this:

[code]

I have no idea why the table jumps to the first page and how to prevent this.
I

[2017-12-21 11:40] eric-naguras opened #148 "How to have a new row appear in the correct (sorted) order?"
When I add a new row to a table, it does not show up in the expected sorted place.
I have to sort a column to see the new row show up where it should be.
How can I do this the correct way?

This is my table definition:
[code]
I assign values to the rows property after I get data from a server:

`this.rows = this.$store.state.showsList`

When I add a new row via a different component I add it to a

[2017-12-21 12:40] xaksis commented on #147
hi @eric-naguras ! thank you for using the library. Can you tell me what you do with the response once you receive it?

[2017-12-21 12:43] eric-naguras commented on #147
Hi.
What I’ll do with a response?
I’ll use the guidance to make my app work the way it’s expected to work.

Cheers
Eric.
On Thu, Dec 21, 2017 at 7:40 PM xaksis <notifications@github.com> wrote:

[2017-12-21 12:45] xaksis commented on #146
@CentristPhilosopher currently theres no way of doing it. however i do think adding a custom search function is very useful for global search. will look into adding that shortly. thank you for bringing this up.

[2017-12-21 13:07] xaksis commented on #147
haha... no i meant...
[code]
what do you do with the response above. do you manipulate row data?

[2017-12-21 13:22] eric-naguras commented on #147
Hahaha, sorry for the confusion.

I don't manipulate the row data itself.
The row data contains a summary of data plus the id of the record.
So I get the whole record from the server and show that in an edit form.
But the row data itself is not changed.

[2017-12-21 13:32] eric-naguras commented on #147
So far good-table is a very nice component. I really like it.
When I'm done with my project I'll extract some examples because the manual and examples could be a bit more verbose.

I'll send you the text so you can put it on your site to help other users.

[2017-12-21 14:03] xaksis commented on #134
@sarath49 I created a checkbox example here:
https://xaksis.github.io/vue-good-demos/#/dynamic-table

closing.

[2017-12-21 14:03] #134 closed

[2017-12-21 20:07] VitorLuizC commented on #148
JS uses references. You need to create a new Array instead of assign this one, like the example below.
[code]

[2017-12-22 01:04] eric-naguras commented on #148
Vitor,
Thanks for your reply.

I'll try to use Getters like you suggested.
Creating a new array would be inefficient as the showList is very large.
I don't want to double the memory footprint of my app as I have 4 of these
large list.

Cheers,
Eric

On Fri, Dec 22, 2017 at 3:07 AM Vitor Cavalcanti <notifications@github.com>
wrote:

[2017-12-22 16:36] xaksis commented on #133
@corbosman this is now available in v 1.18.2. use `globalSearchDisabled` property on the column

1.18.2 also introduces custom filter function that you can supply to the table with `globalSearchFn` property

[2017-12-22 16:36] #133 closed

[2017-12-22 16:37] xaksis commented on #146
@CentristPhilosopher v1.18.2 introduces custom filter function that you can supply to the table with `globalSearchFn` property. Readme contains usage information.

[2017-12-22 16:37] #146 closed

[2017-12-22 16:37] xaksis commented on #144
@kashifullahwebdeveloper this is now fixed in v1.18.2

[2017-12-22 16:37] #144 closed

[2017-12-22 16:39] xaksis commented on #126
please provide a jsfiddle if this is still an issue for you. I will re-open this.

[2017-12-22 16:39] #126 closed

[2017-12-22 16:42] xaksis commented on #138
@arivera12 if you weren't able to fix your build... try updating to v1.18.2 I have added the polyfills to the built plugin so hopefully you don't need to do anything else.

the source to vue-good-demo is available on github: https://github.com/xaksis/vue-good-demos

[2017-12-22 22:39] xaksis commented on #117
This is now done with v1.18.2. closing.

[2017-12-22 22:39] #117 closed

[2017-12-24 13:53] xaksis commented on #135
hey @ruslankonev v1.18.2 should have fixed this for you as it exposes a UMD es5 bundle file as opposed to the component src. Give that a try and let me know. If it doesn't solve your issue, i'll re-open it.

closing for now.

[2017-12-24 13:53] #135 closed

[2017-12-26 08:49] kashifullahwebdeveloper opened #149 "Help wanted: Timezone Date format to Local time"
Hi @xaksis,

   Thank you for date format support, it's amazing. But I am stuck in converting a timezone date into local time zone for that date: **2017-10-11 17:59:40+05** with local timezone.

So far, I have tried this:
[code]
But no luck, Could you please tell me what am I doing wrong?

[2017-12-26 09:51] kashifullahwebdeveloper commented on #144
That's great, thank you.

But could you please tell me how to update only this package in my package.json, I am new to this thing? Sorry for stupid question

[2017-12-26 14:42] xaksis commented on #144
following should get you the latest:
`npm uninstall vue-good-table`
`npm install vue-good-table`

[2017-12-26 14:46] xaksis commented on #149
@kashifullahwebdeveloper
can you paste sample input for this date column? and expected output?

[2017-12-26 15:12] kashifullahwebdeveloper commented on #149
Thank you, @xaksis for your valuable time.

Here is my sample fiddle: `https://jsfiddle.net/aks9800/Lhowhqnk/`

And I need to convert a timezone date into local time zone for example **2017-10-11 17:59:40+05** into exact DateTime along with which timezone it belongs to.

[2017-12-26 15:13] kashifullahwebdeveloper commented on #144
Perfect. Thank you so much :)

[2017-12-26 15:27] xaksis commented on #149
@kashifullahwebdeveloper looks like you forgot to update the fiddle sample before sending me the link :)
so your input is 2017-10-11 17:59:40+05? and the output you're looking for is? can you paste a sample output?

[2017-12-26 15:35] kashifullahwebdeveloper commented on #149
Oh, I changed your jsfiddle but I think I forgot to update, sorry for that, here is my updated jsfiddle: `https://jsfiddle.net/kashifullah/x9mqfy5y/`

And I want the output to be UTC for example, **Dec 26 2017 20:35:30 GMT+0500 (Local Standard Time)**

[2017-12-26 15:51] xaksis commented on #149
ah... UTC functions are WIP with datefns. You can follow the progress here:
https://github.com/date-fns/date-fns/milestone/7

However, you can convert the date to local time yourself in your rows like they do here:
https://github.com/date-fns/date-fns/issues/556

Unfortunately there isn't much vue-good-table can do in this regard so I'm going to close this for now.

[2017-12-26 15:51] #149 closed

[2017-12-26 15:59] kashifullahwebdeveloper commented on #149
No problem, I will look into it.

thank you for time :)

[2017-12-27 08:41] raymondlukanta opened #150 "pageChanged doesn't seem to be fired"
I want to add onPageChanged handler. But I don't know why, the pageChanged seems not triggered

Here's the code (taken from README.md):
[code]

[2017-12-31 18:26] #145 closed

[2018-01-01 23:32] species7213uv opened #151 "i18n support for column label (and format)"
When changing the current language, everything changes except the table.
Please add an optional field e.g. label_i18n which results in $t('keyword').
Or a more flexible way with label_bind which has to have the complete expression as a value.
(Same for date formats.)

[2018-01-04 16:26] sorribes22 opened #152 "Text Options - "No data for table.""
Hi. The prop to edit the message that appears when no rows are founded exists?
I didn't found it into documentation, and the other messages are editable.

[2018-01-04 16:29] xaksis commented on #152
You can add whatever you want there in your own slot:
https://github.com/xaksis/vue-good-table#empty-state-slot

closing. Let me know if this doesn't solve your problem and i'll re-open

[2018-01-04 16:29] #152 closed

[2018-01-08 23:01] leonardochen30 commented on #138
Hi bro, i really need your help. i just create a new project with command **npm install --global vue-cli** and them **vue init webpack my-project**, them import the plugin and works great, but when a test it on IE10 it din't work. just launch a syntax error.
is not necessary create a component that use the tables, just import it and the error appear. Please help mem IE10 is the minimun browser tha

[2018-01-09 11:20] arivera12 commented on #138
@leonardochen30  Use latest version of vue-good-table. I am still having the same rendering issue on the tables on IE which td elements doesn't gets render. Please let me know if you have the same problem as me so we can reopen this thread.

[2018-01-09 13:00] leonardochen30 commented on #138
Hi, i use the last version of vue-good-table yesterday with npm.

[2018-01-09 21:01] leonardochen30 commented on #138
On IE11 works great and chromiun based browser, on IE10 not load.

[2018-01-09 22:33] arivera12 commented on #138
@leonardochen30 can you please share with me your vuejs version and the sample you are using for vue-good-table. I don't know why code doesn't work on IE11. Thanks in advance.

[2018-01-10 15:42] leonardochen30 opened #153 "vue good tables don't work on IE10"
On IE10 vue good tables is not working, send syntax error, vue-good-demos also does not run on IE10.

[2018-01-10 19:28] leonardochen30 commented on #153
i resolve the issue adding this **resolve('node_modules/vue-good-table/src')** to the babel-loader include section.

[2018-01-11 01:46] paulocr commented on #151
+1

[2018-01-11 11:36] nascimentoleo commented on #150
I solved this on this way:

[2018-01-11 11:39] nascimentoleo commented on #150
I solved this on this way:
<vue-good-table
      :paginate="true"
      :lineNumbers="true"
      v-on:pageChanged="onPageChange($event)" />

on methods:

onPageChange (event) {
      console.log(event)
}

[2018-01-11 12:54] xaksis commented on #151
@species7213uv can you explain this a bit more. I don't have much experience with i18n. What exactly is not translating?

[2018-01-11 13:22] xaksis commented on #150
@raymondlukanta as @nascimentoleo mentioned, pageChanged is a custom event. so you can either use:
`v-on:pageChanged="onPageChange"`
or the shorthand:
`@pageChanged="onPageChange"`

closing.

[2018-01-11 13:22] #150 closed

[2018-01-11 13:26] xaksis commented on #153
hey @leonardochen30 can you explain how you were including the plugin before? technically you shouldn't need to be referring to the source files. Plugin exposes the transpiled es5 version of the component.

[2018-01-11 13:52] leonardochen30 commented on #153
hi @xaksis, I followed the installation instructions with the command npm install --save vue-good-table, in my package.json was added in the dependencies section, "vue-good-table": "^ 1.18.2".
Then in my main file main.js I import it in the following way import VueGoodTable from 'vue-good-table'; and then Vue.use (VueGoodTable);
From what I saw in IE10, it did not work because it included the rese

[2018-01-11 13:53] leonardochen30 commented on #138
I resolve the issue adding this resolve('node_modules/vue-good-table/src') to the babel-loader include section.
On IE10 was my issue, IE11 work fine.

[2018-01-11 16:58] Tooblippe opened #155 "width property dont make any changes to table width"
when the width is set via the width : '100px' setting the table does not adjust...

could bootrap be respoinsible?

[2018-01-11 20:51] xaksis commented on #155
hey @Tooblippe as this jsfiddle shows, this is working fine:
https://jsfiddle.net/aks9800/80dj8vug/

it could very well be that your custom styles are effecting the width, or the table content itself could be responsible for it. Since this isn't a library specific question, I'll close this for now.

[2018-01-11 20:51] #155 closed

[2018-01-11 21:05] plehnen commented on #151
i18n for column names and some other texts can be done like this:
[code]

Unfortunately it doesn't work for placeholders and filterOptions.
So whenever the language is changed, those texts will not update.
I currently don't have any clue how to solve this...

[2018-01-11 23:00] xaksis commented on #147
@eric-naguras sorry for the delay on this. I have been trying to reproduce this table jump on my end but so far I haven't been able to. I have a feeling that maybe as a result of fetching data etc, the component is updated somehow. Were you able to make any progress or figure out why this was happening?

[2018-01-11 23:47] sergiocastrovale opened #156 "Customize global search template"
Right now global search fills the whole width of the table by being placed on a `tr > td`.

Now in terms of layout organization this is rarely useful - we usually don't need a search input that spans across so much space. More often than not you end up adding action buttons, grid toggling or filters right next to the search bar. Is there anyway we can do that with the current build?

[2018-01-12 00:08] xaksis commented on #156
@sergiocastrovale good point... but it really depends on the width of your device where the table is showing. For now, the table doesn't allow adding elements next to the search bar, however If you want to add action buttons etc, you can use the
[code]
this appears on the top right of the table. this is good feedback though, so i'll think about a responsive solution for the global search space.

[2018-01-12 00:22] sergiocastrovale commented on #156
What I would suggest is that the global search stepped out of the table and became a slot on its own. So, instead of being in a `thead > tr > td`, it would be a "top" slot where we could override things in the same way we override columns. It could even look like it belongs to the table by default (borders and such). Does that make sense?

It's very uncommon to see search inputs span across the wh

[2018-01-12 02:51] eric-naguras commented on #147
@xaksis I haven't made any progress on this as I have no idea what to do.
the same thing is also happening with column sorts and filters.
Basically the whole page table gets reset.

What I will do is make the smallest possible project whit a table and a
fetch and publish that on Github.
I'll try do have that done this weekend.

Thanks for your reply and concern.

On Fri, Jan 12, 2018 at 6:00 AM xa

[2018-01-12 09:52] deanilvincent opened #157 "Error in ./node_modules/vue-good-table/src/components/Table.vue"
Good day,

It's my first time to install this package in my project.

I just simply imported the package above my js. `import VueGoodTable from "vue-good-table"`

But I'm having an error.

Here's what it says:

![capture](https://user-images.githubusercontent.com/10904957/34869238-3e7e3fd4-f7c1-11e7-8465-cac35958573e.PNG)

I'm using webpack anyway.

[2018-01-12 10:48] arivera12 commented on #138
I am not using babel or webpack either. Just wanted a working template of vue-good-table....

[2018-01-12 15:06] xaksis commented on #147
@eric-naguras That would be really helpful! you can also do this on jsfiddle, using
https://jsfiddle.net/aks9800/Lhowhqnk/ as base and then using https://jsonplaceholder.typicode.com/ for your rest api calls.

[2018-01-12 15:12] xaksis commented on #157
Hi @deanilvincent! how did you create your project? did you use vue-cli?

[2018-01-12 16:44] deanilvincent commented on #157
No, I didn't use vue-cli in creating my ASP.NET Core project @xaksis  but it has package.json and I have a webpack + babel too. The other packages are working. These packages are stored in my node_modules. It's weird why it's error in calling the Table.vue from the components.

[2018-01-12 16:45] xaksis commented on #151
global search placeholder can be defined by `globalSearchPlaceholder` property. column filter placeholders can be defined by `placeholder` property within columns and filterOptions are texts provided by the users. you can provide each one of them accordingly:
[code]
if it doesn't work on input fields, then it's more of a i18n issue rather than vue-good-table's. closing for now.

[2018-01-12 16:45] #151 closed

[2018-01-12 16:48] xaksis commented on #157
this plugin is for vuejs framework. if you aren't using vue, this library will not work.

closing for now. Let me know if you need me to re-open this.

[2018-01-12 16:51] xaksis commented on #153
@leonardochen30 can you try v1.18.6 and let me know if it solves your issue. You should be able to remove the babel resolve statement.

[2018-01-12 16:54] deanilvincent commented on #157
But I'm using vue.js framework in my project. @xaksis

In fact, I'm pulling Vue in node_modules

[2018-01-12 16:59] deanilvincent commented on #157
Hold on let me try.

[2018-01-12 17:13] deanilvincent commented on #157
@xaksis yeah it's working like a charm now. :) Thank you so much for the support and quick response. Thank you for this cool plugin as well. It helps a lot of developers! You may close this issue. Have a great weekend! 👍

[2018-01-12 17:45] #157 closed

[2018-01-12 20:21] arivera12 commented on #138
@xaksis I just tried the new build and I am still having the same issue...

[2018-01-12 20:38] arivera12 commented on #138
@xaksis  # This works on IE11

data () {
    return {
      columns: [
          {
            label: 'Name',
            field: 'name',
          },
          {
            label: 'Age',
            field: 'age',
            type: 'number',
          },
          {
            label: 'Joined On',
            field: 'joined',
            type: 'date',
            inputFormat: 'YYYYMMDD',

[2018-01-12 20:58] leonardochen30 commented on #153
Hi bro, update to the latest version and comment on the **resolve('node_modules/vue-good-table/src')** and it worked correctly in IE10. so you can close this issue. Thanks a lot.

[2018-01-12 21:06] leonardochen30 commented on #138
@arivera12 are you using it via CDN? I Try your example in IE10 and IE11 and it worked correctly. I do use a project via vue-cli with webpack and babel.

[2018-01-12 21:08] arivera12 commented on #138
@leonardochen30 please try the second example that I say it doesn't work first and confirm that this is working or not. I have all my files are locally.

[2018-01-12 21:13] arivera12 commented on #138
@leonardochen30
Try this and tell me whats is your output on IE?

[code]

[2018-01-12 21:33] #153 closed

[2018-01-12 21:41] leonardochen30 commented on #138
Yes, i tried the last example and it works:

IE10:

![ie10](https://user-images.githubusercontent.com/35241410/34896327-6dac55ca-f7b7-11e7-9b3d-2d7883d9a96d.png)

IE11:

![ie11](https://user-images.githubusercontent.com/35241410/34896344-73d1f93c-f7b7-11e7-9e3c-ae7d01563478.png)

[2018-01-12 22:36] arivera12 commented on #138
@leonardochen30
OMG!!!! Why it doesn't work on my browser!!!! Please send me a build of your project to see if I can make this work out of the box! I tried the new build on the dist folder vue-good-table.min.js and still doesn't work on my browser. Please help me I have struggling on this over exactly one month!!!!!

[2018-01-13 15:56] leonardochen30 commented on #138
Hi bro, attached a demo project. Execute:

npm install
npm run dev.

[Test.zip](https://github.com/xaksis/vue-good-table/files/1628481/Test.zip)

[2018-01-13 22:03] leonardochen30 commented on #138
What error gave to you?
Nmp install?
Npm run dev?

[2018-01-13 22:43] arivera12 commented on #138
I am not using vue-loader or webpack or any module bundler. I am just using the https://github.com/xaksis/vue-good-table/blob/master/dist/vue-good-table.min.js into my project and thats all.

This seems to be working on the module bundle but the standalone lib doesn't work on IE.

If you just add the vue.min.js &  vue-good-table.min.js without any module bundle you will run into my problem.

This

[2018-01-14 13:51] egoist commented on #125
CSS should not be bundled into JS anyways, it's better that you can extract CSS from `dist/vue-good-table.js`

[2018-01-15 04:21] deanilvincent opened #159 "vue-good-table conflicts with Bulma Modal"
Good day,

I have this snippets in my page.

[code]

The vue good table is showing properly with its details. But the problem is, the bulma modal doesn't show up even it's directly show up. I also tried to trigger it using @click event of vue, but still, it doesn't show up. When I comment out the `<vue-good-table.../>`, the modal is finally showing up.

Any ideas on how to fix this conflict? @xaks

[2018-01-15 05:56] eric-naguras commented on #106
Are there any plans on implementing custom sort per column? I really need this. If there is no work being done on this I will try myself but if someone working on this, I'd rather spend my time on other things.

[2018-01-15 13:05] xaksis commented on #106
Hi @eric-naguras This is in the plans, but I haven't started working on it yet. I will be very happy to review a PR if you want to work on it.

[2018-01-15 13:08] eric-naguras commented on #106
I have never done a PR but I'm willing to try.
It would be nice to give something back.

I looked already in the sources how the clickrow is done.
I guess I need to do something simular except it should be a choice.
If no sort function is given as a prop, it should still do a regular sort.

Cheers,
Eric

On Mon, Jan 15, 2018 at 8:05 PM xaksis <notifications@github.com> wrote:

[2018-01-15 15:08] xaksis commented on #106
@eric-naguras yeah! I know first PR is always a little nerve-wracking. You can try it, or if you want to wait till tonight, I'll take a look at it and if it's simple enough I'll implement it tonight.

[2018-01-15 15:19] eric-naguras commented on #106
@xaksis It will take a few days before I can start anyway.
So if you can take a look that would be great.
It’s only a pointer to a custom function, right?

On Mon, Jan 15, 2018 at 10:08 PM xaksis <notifications@github.com> wrote:

[2018-01-15 23:23] sergiocastrovale opened #160 "Global search colspan is incorrect when a table-row-after is present"
Case in point: my table has 4 columns and one extra slot `table-row-after` for actions.

However, when the search bar is rendered, instead of filling 100% of the screen, it stops at the actions column since it only spans by the "regular" columns.

![screenshot_1](https://user-images.githubusercontent.com/8822036/34965331-237b560e-fa4b-11e7-9f19-02e159600c2d.png)

[2018-01-16 00:56] xaksis commented on #160
you are missing placeholder column definitions in your columns data for your table-row-after columns. refer to: https://xaksis.github.io/vue-good-demos/#/dynamic-table (checkbox example).

[2018-01-16 00:56] #160 closed

[2018-01-16 02:09] xaksis commented on #106
@Hellek @eric-naguras this is now available in v1.19.0 you can provide your own custom function via `sortFn` column property. @eric-naguras feel free to take a look at the changelog to see how I did it.

closing.

[2018-01-16 02:09] #106 closed

[2018-01-16 03:13] deanilvincent commented on #159
Hello, we just found out today that it doesn't work in the html page but when we tried to move the table in .js file using a custom Vue.component, it works indeed.

[2018-01-16 03:13] #159 closed

[2018-01-16 06:36] eric-naguras commented on #106
@xaksis Thank you very much. I'll try it right away.
I did look at the change log already but need to play with the debugger a while to fully understand it.

[2018-01-17 13:22] deanilvincent opened #161 "Is it possible to have horizontal scrollable in the table?"
Good day @xaksis

I have a question, is it possible to have horizontal scrollable inside the table? I've noticed that there's an disabled left and right arrows.

Suppose I have more than 15 headers that need to be shown. I hope it is possible.

![horizontalscroll](https://user-images.githubusercontent.com/10904957/35044612-0ff2a678-fbcc-11e7-9573-b45091b0f7d1.PNG)

[2018-01-18 08:32] #161 closed

[2018-01-18 08:38] deanilvincent opened #162 "Design problem in using 20+ headers in horizontal scroll"
Good day,

I tried to use 20+ headers but the table footer isn't responsive.

The search box is stuck at the left side as well.

![scrolltabletest](https://user-images.githubusercontent.com/10904957/35088163-c59626d4-fc6d-11e7-95e7-fa5526e45d4c.PNG)

Is there any fix for this? Thank you

[2018-01-22 11:36] sorribes22 commented on #162
I also have a problem related to the responsive.
When I see the table at the mobile phone I can't adjust the width to the mobile phone screen. If you found the solution to make it responsive share it please.

![screenshot_2018-01-22-12-31-36](https://user-images.githubusercontent.com/23049412/35218886-95c7c93e-ff70-11e7-87be-5512cfeb8fd7.png)

[2018-01-25 05:40] fsfj opened #164 "vue good table footer"
Hello, i want to add footer in table. Is it possible? how can i do that?

Thank you.

[2018-01-25 19:20] maurocasas opened #165 "[Bug] Sorting decimal values isn't working properly"
I have a dataset with a column with values
100.00
0.00
1.12
17.5

And when I sort, it's not doing 0.00 towards 100.00, but sorting them strangely. Not even following a regular order.

My column has "decimal" type setting.

[2018-01-25 22:00] xaksis commented on #165
hey @maurocasas
jsfiddle seems to be working fine: https://jsfiddle.net/aks9800/1t1czL6f/
can you reproduce the behavior in a fiddle? what is your column definition?

[2018-01-26 01:12] thelowellgallery opened #166 "hyphen breaking search"
A search of column data is not returning rows in which the searched string comes after a hyphen. Thanks!

[2018-01-26 07:16] rayets123 opened #167 "warn: Computed property "paginated" was assigned to but it has no setter."
Computed property "paginated" was assigned to but it has no setter.

found in

---> <VueGoodTable> at /Users/akshay/Projects/learn/vue/plugins/vue-good-table/src/components/Table.vue

When I remove paginate="true",  the error still remains

[2018-01-26 11:39] rayets123 commented on #162
Add styleClass="table-responsive"

[2018-01-26 12:08] rayets123 commented on #167
OOOOPPPSSS!!!wtf
I use https://github.com/TahaSh/vue-paginate in my project end when I import it like this :
import VuePaginate from 'vue-paginate'
	Vue.use(VuePaginate)
i have error : Computed property "paginated" was assigned to but it has no setter.
Рow can I solve this conflict?

[2018-01-26 12:58] rayets123 commented on #167
I find this issues in #39 , but it without solution

[2018-01-26 13:24] rayets123 commented on #167
My quick and dirty solution:
in node_modules/vue-paginate/dist/vue-paginate.js
find method: paginated: function paginated (listName) {.....
and rename this method
after all works without errors

[2018-01-26 14:16] xaksis commented on #167
@rayets123 as you've discovered this seems to be a problem of name conflict with a different library. Unfortunately I cannot do much about it. However I suggest you import these components locally as apposed to using it globally in the app, that might help.

closing for now.

[2018-01-26 14:16] #167 closed

[2018-01-26 14:16] xaksis commented on #166
@thelowellgallery can you please create a jsfiddle so I can see what the problem is?

[2018-01-26 14:20] xaksis commented on #164
This isn't possible as of now. but there's an enhancement request for this.

Duplicate of #115

[2018-01-26 14:20] #164 closed

[2018-01-27 00:09] thelowellgallery commented on #165
Search for 'James' here comes up empty

https://jsfiddle.net/5fzdm30y/5/

[2018-01-27 00:41] xaksis commented on #166
hey @thelowellgallery, hyphen doesn't break the search, the default search matches 'starts-with' as opposed to 'includes' which means if you filter with middle letters, it won't match the row.

you can add your own filter to the column like so:
[code]

jsfiddle: https://jsfiddle.net/aks9800/obfky53g/2/

closing.

[2018-01-27 00:41] #166 closed

[2018-01-27 00:43] thelowellgallery commented on #166
Ah, got it. Thanks! Sorry to bother.

[2018-01-29 01:44] fsfj commented on #164
Thank you @xaksis

[2018-01-29 12:35] deanilvincent commented on #162
I don't know why, after I put that code in my styleClass, it's still the same. @rayets123

[2018-01-29 13:10] xaksis commented on #162
@deanilvincent because that is a solution only for people using bootstrap. I'll try to put in a fix for this today. In the mean time, you can create your own class emulating what bootstrap does and pass it through :styleclass property:
https://github.com/twbs/bootstrap/blob/v4-dev/scss/_tables.scss

[2018-01-29 14:51] deanilvincent commented on #162
@xaksis thank you for your quick response. I'll wait for the new version then. :)

[2018-01-29 21:00] TheJaredWilcurt opened #169 "slot-scope warning"
In the documentation there are a few code samples that use `<template scope="props">`. Using this throws a warning:

[code]

[2018-01-30 07:07] ModestasV commented on #162
Hello,

Unfortunately, we have come across the same issue too. Adding the table-responsive did not help at all.

http://prntscr.com/i7iix2 (Custom css applied for colors, rounded corners but even reverting it - has no affect to footer).

The main reason why we got this issue is that the footer is a different element all together http://prntscr.com/i7ik06

Maybe anyone has an idea how to fix this?

[2018-01-30 20:18] TheJaredWilcurt opened #172 "Emit Per Page amount"
I need to know how many items are being displayed and what page I'm on so I can make network requests that pass in offsets for route pagination. But Vue-Good-Table does not tell me how many items are being displayed per page.

The `onPageChanged` event needs to be updated to display perPage count.

Also, when the perPage changes, an event should be emitted with the same data so the network request

[2018-01-31 12:46] #169 closed

[2018-01-31 12:52] #172 closed

[2018-01-31 13:04] #165 closed

[2018-01-31 13:04] xaksis commented on #165
closing. let me know if this is still an issue and we'll take a look.

[2018-01-31 13:16] xaksis commented on #162
This should now be fixed in v1.19.2. Problem was introduced when pagination was separated from the main table rendering responsive class ineffective. closing.

[2018-01-31 13:16] #162 closed

[2018-01-31 13:17] xaksis commented on #143
closing this. please create a jsfiddle to illustrate the issue and i'll re-open.

[2018-01-31 13:17] #143 closed

[2018-01-31 13:19] ModestasV commented on #162
@xaksis Can confirm that this issue was fixed after update for our project :)

Thank you!

[2018-01-31 13:43] deanilvincent commented on #162
Hello @xaksis still, my header is the same even I already upgraded the vue-good-table to version 1.19.2

[2018-02-01 23:27] TheJaredWilcurt opened #177 "Customizable Per-Page dropdown"
I'll be creating a PR for this. It will allow you to pass in an array of objects

[code]

Each object can accept:

 * a boolean for `default` to set it as the default value
 * a string for the `label` if they want to customize the label for that object
 * a number for `amount` (required)

If no label is passed in the the label will default to `amount.toString()`. If -1 is used for amount, then all

[2018-02-02 03:26] deanilvincent commented on #162
@xaksis I can confirm that the footer is okay now. But the header position with search isn't fixed while scrolling horizontally.

[2018-02-02 16:48] TheJaredWilcurt opened #178 "Reset to Page 1 on per-page dropdown change"
**Scenario:**

* I have 100 items.
* I am displaying 10 items per page.
* I am on the last page (90-100 of 100)
* I change the per-page dropdown from 10 to 20
* I am now displaying the first 20 items on the page and the pagination shows 180-200 of 100
* I click the "Prev" button 5 times and now I see the last 20 items of the list and the pagination is 80-100.

**Proposed solution:**

I'd like to b

[2018-02-03 09:13] michelvocks opened #179 "How to do proper styling"
Hello,

I've some trouble to correctly customize the style of the table.
I made a fiddle: https://jsfiddle.net/Lhowhqnk/10/

Everything is working smoothly there. I can just override the given CSS-Classes.
If I do the same within my project, it simply does not work and I have no clue why this happens.

Some more details about my project. My project is based on vue-admin (https://github.com/vue-bul

[2018-02-03 17:37] xaksis commented on #179
Does your style tag have a `scoped` attribute? If so, those styles will not effect anything outside the scope of that component.

[2018-02-04 16:44] frommie opened #180 "Add Datepicker to Filter"
Hey,

is there an easy way to get a date picker filter for datetime fields?

I'm having issues to modify the filter inputs, so I added an input as a custom column label but now I cant filter the computed rows. I modified the source-list but the changes are not reflected in the rendered list (so maybe an update function for the table would be fine for a workaround).

Best regards
Christian

Update:

[2018-02-05 15:03] michelvocks commented on #179
Oh wow. Thanks a lot. You made my day 👍

[2018-02-05 15:03] #179 closed

[2018-02-05 15:48] f-r3d opened #181 "Fixed header"
Hi',

It can be usefull to have to possibility to set the header fixed, in this way with css (especially flex) it will be possibile to set easily the height of the table body for scrolling and leave the header (and the footer) always visible.

Best regards
Federico

[2018-02-05 15:58] f-r3d opened #182 "Alternate paging"
Hi',
with a large number of pages it can be difficult to reach a specific page using "next", it can be usefull to use an input tag instead of, for example, 1 - 10 of 1000.
In this way changing the input value it can be triggered the new page value.

`<span class="page_number"><input type="number" value="x"></span> <span class="page_of"> / 1000</span>`

Best regards,
Federico

[2018-02-08 08:34] jannishuebl opened #183 "Sorting is broken when cell data is undefined"
Hey,

thank you for this amazing package!

I get an error when a cell contains undefined data:

[Vue warn]: Error in render: "TypeError: d is undefined"

full backtrace:
[code]

I guess this error comes from:
https://github.com/xaksis/vue-good-table/blob/5f9eb92ef79297c5a40184c7b9266256920a531e/src/components/types/default.js#L15

Is there a workaround for this, like setting a default value to a n

[2018-02-08 14:28] hhertogh opened #184 "Prefill filter column"
Hello,

is it possible to prefill the filter column with some data so that the search function is automatically launched when loaded?

This can be useful when you search for some data, click on an item, go to a page, then come back, you would like to see the search filter already filled.

Thanks.

[2018-02-08 15:19] xaksis commented on #183
@jannishuebl You're very welcome! Thank you for bringing this up. looks like a bug, will take a look at it shortly. An interim workaround would be to replace undefined with empty text.

[2018-02-08 15:25] xaksis commented on #184
@hhertogh you bring up a good usecase. Currently vue-good-table doesn't support this for column filters (for global filter you can use `externalSearchQuery`), but I'll look into adding this in.

[2018-02-08 15:26] xaksis commented on #182
@f-r3d good point! I'll look into this.

[2018-02-08 15:40] xaksis commented on #180
@frommie this is strange, because any change in the source list should be reflected in the generated table as the table is watching for row data changes. I'll look into this.

[2018-02-09 19:55] pjv opened #186 "Pagination with lotsa rows on a server"
This is a very nice, clean component.

Maybe I'm missing something, but let's say I want to use the table to page through a database table on a remote server that has many thousands of rows. I don't want to retrieve all of those rows at once and stuff them all into the browser. Is there (or could there be) any simple way to provide the paginator with just a page worth of rows but a count of the to

[2018-02-10 15:19] digital-phantom opened #187 "Thousands/Millions Comma Separator for Decimal Data Type"
Hi! Loving your package so far.

I would like to ask if it's possible to add a thousands/millions comma separator (like 1,000,000) when displaying data with type "Decimal" ? It would be useful for displaying financial data.

I'm not sure if it's already possible after reading through documentation. Please advise.

Thank you!

[2018-02-13 15:38] bcrowe306 commented on #183
@xaksis You can check an undefined value in your default compare function. There is a cook function that assumes that the value passed to it will be text. You can check it there and set the text to be an empty string.That will solve this issue

compare: function compare (x, y) {
    function cook (d) {
      return d.toLowerCase()
    }
    x = cook(x)
    y = cook(y)
    return (x < y ? -1 : (x >

[2018-02-13 23:15] xaksis commented on #186
hmm yes this is a very valid usecase. Unfortunately, vue-good-table currently doesn't support it yet but it should. I'll label this as an enhancement for now.

[2018-02-14 06:13] blak3r commented on #125
+1 would be nice to completely omit.  I used the styleClass attributes I set `table table-sm table-condensed` and those are already defined by my CSS and your built in ones are overriding some of it's css.

[2018-02-14 10:08] adamwright104 opened #189 "Sort by currency"

[2018-02-14 10:48] #189 closed

[2018-02-14 18:29] advicepyro opened #190 "Global search broken when using vue-good-table in DOM template"
The table in my project is defined as follows:

[code]

With 1.19.0 search works in my table. Starting from 1.19.2, search produces an error in the console:

![screen shot 2018-02-14 at 1 26 46 pm](https://user-images.githubusercontent.com/6377466/36221115-13350c3e-118b-11e8-96f4-bac78d690521.png)

[2018-02-15 16:21] christiancadieux2 opened #191 "enhancement"
an optional second table row that takes all the columns (skip the first column) to display things like long text (errors for example) that dont fit  well in a column and are not always present. so lets say secondary='error' , then display a separate row if error !== '' . that field takes all columns (skip the first for indentation) . thanks

[2018-02-15 18:48] xaksis commented on #190
@advicepyro thanks for pointing this out, fix coming up shortly

[2018-02-15 18:53] xaksis commented on #183
@jannishuebl @bcrowe306 this should now be fixed in v1.19.3

[2018-02-15 18:53] #183 closed

[2018-02-15 18:53] xaksis commented on #190
@advicepyro this should now be fixed in 1.19.3

[2018-02-15 18:53] #190 closed

[2018-02-15 18:55] xaksis commented on #191
@christiancadieux2 any reason this error notification shouldn't be outside the table?

[2018-02-15 19:52] christiancadieux2 commented on #191
error was an example. but in this case the error information is different on each row and is easier to display right under each row as a separate row, sometimes with a + sign on the row to expand the row if applicable. I guess my request if for the ability to have 2 or more rows in the template with v-if on the rows, but right now, the template can only generate one row, when I try to include </tr

[2018-02-15 19:53] christiancadieux2 commented on #191
correction: maybe i just need to use < .  span v-html="rawHtml"   >< .  / span .  >

[2018-02-15 19:55] christiancadieux2 commented on #191
Example:
![expand](https://user-images.githubusercontent.com/31523474/36277936-888605aa-124f-11e8-8ecf-54a773e3a5bc.png)

[2018-02-15 20:00] christiancadieux2 commented on #191
tried the 'span' idea but it does not work, need a second template slot that can use v-if ...

[2018-02-15 20:33] christiancadieux2 commented on #191
multiple templates with v-if does not work, I guess the condition is not resolved per-row. so 2 templates with different slot and a new attribute to control when to display the second slot could work.

[2018-02-15 21:18] xaksis commented on #191
@ah yeah, Unfortunately vue-good-table doesn't support that yet. There is an enhancement ticket for total/grouping of rows but there's no ETA for that yet.

[2018-02-15 21:24] christiancadieux2 commented on #191
I was imagining something simplistic like this in Table.vue:
![extra](https://user-images.githubusercontent.com/31523474/36281714-dd2a4d6c-125b-11e8-8e30-9540c6dae123.png)

maybe I can play with it.
thanks for the quick response.

[2018-02-15 22:47] christiancadieux2 commented on #191
the following is sufficient to make it work with optional row:
<tbody>
          <template v-for="(row, index) in paginated">
          <tr
            :key="index"
            :class="getRowStyleClass(row)"
            @click="click(row, index)">
            <th v-if="lineNumbers" class="line-numbers">{{ getCurrentIndex(index) }}</th>
            <slot name="table-row-before" :row="row" :index="i

[2018-02-19 23:26] maurocasas commented on #165
This is actually still happening.

I have defined my columns properly, and I'm getting an indexOf() error from the console.
As if it's not finding the next/prev value to arrange it.

[2018-02-20 15:10] oslislo-owl commented on #102
I had a similar issue, I was accidentally setting a value for `field`

[code]

[2018-02-22 07:26] sarath49 opened #192 "Slow network wrong data being shown on tabs"
I am showing rows of data via tabs using view good table.
While in fast network the table rendering is good, however when network is slow and there is large amount of data to be fetched it does not show the correct data.

For example
I have two tabs shown via vue good table
 a) received
   Shows entries that were received by current logged in user.
b) forwarded
   Which were forwarded by current l

[2018-02-22 12:23] StefanOosten opened #193 "Column filters substring search"
Hello,

Is there a way for column filters to search for substring too instead of an exact match?

Searching for "Doe" in a name column won't result fields containing "John Doe"

[2018-02-22 13:32] xaksis commented on #193
Hi @StefanOosten, you can add your own filter function for columns:
https://jsfiddle.net/aks9800/obfky53g/

By default, vue-good-table does a filter for `begins-with`

[2018-02-22 13:32] #193 closed

[2018-02-22 13:38] StefanOosten commented on #193
Thank you!

[2018-02-22 18:25] T-Bod opened #194 "Filtering True/False?"
Great functionality, appreciate your work on this!

I'm displaying status data where status is a true/false value, sorting works as expected however filtering doesn't seem to be working as I receive the following JS error when trying to enter 'true' or 'false':

Error in callback for watcher "columnFilters": "TypeError: _this2.collect(...).toLowerCase is not a function"

Any suggestions?

[2018-02-25 14:36] xaksis commented on #194
@T-Bod for custom behavior like filtering true/false etc you should use your own filter for the column.
Here's a jsfiddle that shows you how you can use your own filter function for a column.
https://jsfiddle.net/aks9800/obfky53g/

[2018-02-25 14:36] #194 closed

[2018-02-25 15:05] xaksis commented on #191
@christiancadieux2 while custom solutions like these might work in the short term, over time it'll make the component a lot less scalable and maintainable. Having said that, there is clearly a need for a more customized table with extra rows/summary rows/grouping etc. I'll have to plan out the exact approach for this. I'll keep this enhancement request open for now.

[2018-02-25 16:33] xaksis commented on #187
hey thank you, @digital-phantom. v1.20.0 supports `formatFn` for columns, where you can specify your own formatting.

[2018-02-25 16:33] #187 closed

[2018-02-25 16:34] xaksis commented on #184
@hhertogh this is now added in v1.20.0. you can use `filterValue` property for columns to pre-populate the filters or change them on the fly.

[2018-02-25 16:34] #184 closed

[2018-02-25 16:36] xaksis commented on #180
@frommie v1.20.0 allows you to specify `filterValue` on the columns to change the filter value for a column. You can edit this value on the fly and the table will update to reflect the change. This should work for your usecase.

[2018-02-25 16:36] #180 closed

[2018-02-25 16:37] xaksis commented on #178
hey @TheJaredWilcurt this is now fixed in v1.20.0

[2018-02-25 16:37] #178 closed

[2018-02-25 16:38] xaksis commented on #177
This PR has been merged along with another that adds more customization ability to the pager.

[2018-02-25 16:38] #177 closed

[2018-02-25 16:39] xaksis commented on #148
@eric-naguras I'm going to close this for now. Please re-open if you are still experiencing a problem with this.

[2018-02-25 16:39] #148 closed

[2018-02-25 16:39] xaksis commented on #147
@eric-naguras closing this, please comment here if you're still experiencing an issue with an example, and i'll re-open.

[2018-02-25 16:39] #147 closed

[2018-02-27 22:07] sylvaincaillot commented on #186
I would be also very interested in a good-table based on server-side data source when doing pagination.
The api would take care of showing the relevant data asked by the good-table (number of rows to be displayed, number of rows in total, sorting, filter with fields and values, etc..).
Would be definitively a great enhancement

[2018-03-03 02:56] khe817 commented on #138
@arivera12 Did you figure it out or find a fix for it yet? I've encountered the same issue with <td> tags not being rendered at all.

[2018-03-03 11:33] arivera12 commented on #138
No I could never figure it out. This plugins only works out of the box if you are packaging it using webpack. If you use this as standalone version it won't work. @xaksis any update on this?

[2018-03-04 00:40] xaksis commented on #138
@khe817 how are you incorporating the plugin? what version are you using?

[2018-03-04 03:43] khe817 commented on #138
I did the same thing @arivera12 did here in my project:

To clarify, I include `vue.js` and `vue-good-table.js` directly as `<script>` tags in my project. No webpack, nor bundle anything.

I am using the newest versions for `vue` and `vue-good-table` downloaded from `npm` (`2.5.13` and `1.20.0` respectively).

When I try to use `<template slot="table-row" slot-scope="props">` to customise the cont

[2018-03-04 11:20] Idan747 opened #195 "input event not fired on select element in IE11"
Hi,

There is a bug on IE11 when changing the filter value in the select filter.
way to fix:
need to replace 'v-on:input' to 'v-on:change'

                  <select v-if="column.filterDropdown && typeof(column.filterOptions[0]) !== 'object'"
                    class=""
                    :value="columnFilters[column.field]"
                    v-on:input="updateFilters(column, $event.target.val

[2018-03-04 13:29] xaksis commented on #138
I'm going to re-open this issue. This is only happening in the case of custom template because IE doens't allow anything inside tr other than td. So the `slot` gets removed before Vue has had a chance to parse it. Unfortunately, I cannot provide a workaround for this without introducing breaking changes. so a fix will come in the new major version (v2.0.0) which is in alpha right now.

I'll update

[2018-03-04 14:26] arivera12 commented on #138
@xaksis thanks I will wait for this!

[2018-03-04 22:17] xaksis commented on #138
alright I think the alpha is finally ready for IE

There are quite a few changes, so make sure you read the upgrade guide:
https://github.com/xaksis/vue-good-table/wiki/Guide-to-upgrade-from-1.x-to-v2.0

You can read the full documentation here:
https://github.com/xaksis/vue-good-table/tree/new-build

If you're using the CDN version, these links will get you the latest alpha
**js file**: https://u

[2018-03-05 07:45] kashifullahwebdeveloper opened #197 "Help: Need to i18n of Column Labels"
Hi @xaksis,

   I am currently stuck into an issue of translating Table Column Labels (Heading). Could you help me how can I achieve this?

Let's put this into coding :)

[code]

Thank you

[2018-03-05 09:26] kashifullahwebdeveloper commented on #197
Hi @xaksis,

  I solved my issue using the following code, but I don't know if that is the right way, please let me know.

[code]

Thank you for amazing plugin. :+1:

[2018-03-05 09:26] #197 closed

[2018-03-05 14:14] arivera12 commented on #138
@xaksis I will try this on these days, I am little busy for the moment. I will give you feedback about it. @khe817 try to give feedback on this.

[2018-03-05 20:18] khe817 commented on #138
@xaksis I have tested it in my project. It works beautifully in all major browsers (firefox, chrome, Edge, IE 11).

There a small bug in IE 11 and Edge though: When the page loads initially, in pagination, "Rows per page" is set to `All` instead of `10` like it should. However, clicking on `Next`, or select a different "Rows per page" will set it back to being functional normally.

[2018-03-06 00:14] xaksis commented on #138
💥 ! good news that this is now working in IE. and @khe817 thank you so much for spending time testing the new version out!! I'll make fixes to this and update once they're in.

[2018-03-06 02:25] xaksis commented on #195
closing! thank you for the PR

[2018-03-06 02:25] #195 closed

[2018-03-06 09:46] MohanadI opened #199 "how can I add check box or radio btn ?"
Hello all ,

I need something like this
![screenshot-mecore souktelstaging com-2018 03 06-11-45-31](https://user-images.githubusercontent.com/26893608/37025317-09a4bcc4-2134-11e8-9cc4-017569c982cd.png)

any Ideas ?

[2018-03-06 09:50] MohanadI commented on #199
I found the answer .. thank you

https://github.com/xaksis/vue-good-table/issues/134

[2018-03-06 09:50] #199 closed

[2018-03-06 11:55] darrylpblack opened #200 "Unable to get rid of unnecessary horizontal scrollbar"
I have used styleClass to customize the table but am unable to get rid of the horizontal scrollbar at the bottom even though it is not needed.  Seems to appear in all the samples too.  I've tried to explicitly disable it with overflow-x: hidden without any luck.  Any ideas?  Thanks for your help.  Here's the code, modified from your example.

<template>
  <div class="container">
    <vue-good-tabl

[2018-03-06 11:57] darrylpblack commented on #200
Lost some code in the cut and paste save so here it is again with less rows:

<template>
  <div class="container">
    <vue-good-table title="Demo Table" :columns="columns" :rows="rows" :paginate="true" :lineNumbers="true" styleClass="table condensed table-bordered table-hover sampleCustomization" />
  </div>
</template>
<script>
export default {
  name: 'Search',
  data() {
    return {
      col

[2018-03-06 11:58] darrylpblack commented on #200
<template>
  <div class="container">
    <vue-good-table title="Demo Table" :columns="columns" :rows="rows" :paginate="true" :lineNumbers="true" styleClass="table condensed table-bordered table-hover sampleCustomization" />
  </div>
</template>

[2018-03-07 01:28] xaksis commented on #138
@khe817 v2.0.0-alpha.7 should now have the fix for

- correct index for the dynamic rows
- no columnFilter errors on table update.

[2018-03-07 14:53] khe817 commented on #138
@xaksis v2.0.0-alpha.7 works as expected.

Another note for the pagination bug in IE 11 and Edge. If I specify `:per-page` and `:custom-rows-per-page-dropdown`, then the Rows per page will display correctly on the first page load.

[2018-03-08 16:04] Fabio1988 opened #201 "draggable rows"
i want to make the rows draggable, but it's not working with draggable or transition-group...

https://jsfiddle.net/h81th3ys/

Is it possible to make the rows draggable within a vue-good-table?

greetings Fabio

[2018-03-08 16:38] xaksis commented on #201
Hey, @Fabio1988 this is currently not supported in vue-good-table. It is not on the roadmap in the near future either, but I'll gladly review a PR.

closing.

[2018-03-08 16:38] #201 closed

[2018-03-08 16:40] xaksis commented on #200
@darrylpblack what browser are you on? can you create a jsfiddle where I can reproduce this?

[2018-03-08 18:52] darrylpblack commented on #200
Hi Xaksis,

Thanks for getting back to me.  I can create a sample for you but even your
samples have the unnecessary horizontal scrollbar in them.  Here's a quick
snapshot with the unnecessary scrollbar show in your vue-good-demos (
https://xaksis.github.io/vue-good-demos/#/simple-table) with a green
rectangle around it.

Let me know if you still need a sample.

Thanks,

-Darryl

On Thu, Mar 8, 20

[2018-03-09 01:09] nwaughachukwuma opened #202 "Column Index onClick"
Hey @xaksis and everyone, is it possible to get the column index onclick. This will be very helpful. Thanks

[2018-03-09 08:17] nwaughachukwuma commented on #96
Hi @xaksis, is it possible to get column index on-click? It will be very useful. Thanks

[2018-03-09 13:20] xaksis commented on #202
hey @nwaughachukwuma, the onClick event is triggered by a row click and not at the TD level. I'll look to see if I can modify this functionality but the fix would likely be in the new major version that's in alpha right now.

[2018-03-11 07:35] Mont4 opened #204 "AJAX datatable"
Please support [Yajra Datatable](https://github.com/yajra/laravel-datatables) for ajax base api.

it 's not solution ([#128](https://github.com/xaksis/vue-good-table/issues/128)) counld not search on database.

[2018-03-12 19:37] nwaughachukwuma commented on #202
Thanks so much @xaksis I look forward to that. But at the moment, am using plain Javascript onclick to get the table cell clicked, and get the index of the column from there. I can paste my code here if it will help someone else. Thanks so much

[2018-03-14 09:03] deanilvincent opened #205 "Error in Render: "TypeError": cannot read property 'length' of 'null'"
Version: 1.19.2

![screen shot 2018-03-14 at 5 01 15 pm](https://user-images.githubusercontent.com/10904957/37392561-6e4b3600-27a9-11e8-982e-430cafdcd411.png)

[2018-03-14 11:44] xaksis commented on #205
@deanilvincent this was fixed in v1.20 please update your package.
I'd also suggest when you have some time, to upgrade to v2.0.0-beta. It has a lot of stability and overall component improvements. it does contain breaking changes though so make sure you read the upgrade guide:

https://github.com/xaksis/vue-good-table/wiki/Guide-to-upgrade-from-1.x-to-v2.0

[2018-03-14 11:44] #205 closed

[2018-03-14 11:48] xaksis commented on #204
@Mont4 vue-good-table will not be made in-charge of calling API endpoints. The recommended way of doing that would be to have a remote mode where vue-good-table will emit every necessary event (like paging/filtering/sorting) and then you use these events to update your rows accordingly.

A draft version of this is available in the new major version, which is currently in Beta - https://github.com/

[2018-03-14 11:48] #204 closed

[2018-03-14 11:54] xaksis commented on #200
@darrylpblack This should now be fixed in v1.20.3

[2018-03-14 11:54] #200 closed

[2018-03-14 12:06] deanilvincent commented on #205
Thank you @xaksis  We trust your vue-good-table for enterprise level application. :) I'm done installing the 2.0.0-beta.0. I'll drop comments if I would find any bug or enhancement that needs to be address.

[2018-03-14 12:54] darrylpblack commented on #200
Xaksis,

Just upgraded; your fix works perfectly.  Awesome.  Thanks so much.

Your vue-good-table is an extremely valuable and well-built Vue
component--great work!

Regards and thanks again,

-Darryl

On Wed, Mar 14, 2018 at 7:54 AM, xaksis <notifications@github.com> wrote:

[2018-03-14 13:42] xaksis commented on #200
Thank you so much @darrylpblack! Also, when you get some time, try out version 2.0 (it is currently in Beta). I have added a bunch of overall component improvements there.

[2018-03-14 13:44] xaksis commented on #205
That is a great compliment, @deanilvincent! Looking forward to your feedback.

[2018-03-14 15:43] StefanOosten opened #206 "Non hard coded filter options"
Let's say you get an array from the database with all possible filter options.

Is it possible to use this in the dropdown filterOptions, instead of hard coded values?

[2018-03-14 18:11] darrylpblack commented on #200
Hi,

Did spend a few minutes on Version 2.0.  The upgrade guide is great but it
would be helpful to have a complementary sample that shows off the new
stuff.  I got my simple sample working again but it is unclear to me how I
get bordering, stripping and condensed table attributes turned on again?
Got the nocturnal working but too dark for my use.

I will look again in a few months.

Thanks!

-Dar

[2018-03-14 18:21] xaksis commented on #200
hey @darrylpblack the new documentation is actually on the new-build branch. You can see it here:
https://github.com/xaksis/vue-good-table/tree/new-build

I'll create some recipes (still work in progress for now). Thank you for checking it out.

[2018-03-15 12:44] unsama commented on #72
Error: Cannot find module '!!../../node_modules/css-loader/index.js?{"minimize":false,"sourceMap":false}!../../node_modules/vue-loader/lib/style-compiler/index.js?{"vue":true,"id":"data-v-a440e668","scoped":true,"hasInlineConfig":false}!../../node_modules/vue-loader/lib/selector.js?type=styles&index=0!./Pagination.vue' from 'C:\Users\fahad khatri\Desktop\RAfinal\ra_admin_final\node_modules\vue-goo

[2018-03-15 12:48] unsama commented on #72
first time i use vue-good-table and this error is show compilation
`Error: Cannot find module '!!../../node_modules/css-loader/index.js?{"minimize":false,"sourceMap":false}!../../node_modules/vue-loader/lib/style-compiler/index.js?{"vue":true,"id":"data-v-a440e668","scoped":true,"hasInlineConfig":false}!../../node_modules/vue-loader/lib/selector.js?type=styles&index=0!./Pagination.vue' from 'C:\Us

[2018-03-15 20:42] Sharvadze opened #207 "Duplicate keys detected: 'rows-dropdown-option-20'"
Hi, thanks for the nice component! I'm getting this warning and it's kinda annoying. Any idea how to fix it?

![image](https://user-images.githubusercontent.com/964784/37489968-96f21ad8-2899-11e8-8ea5-20c536873406.png)

[2018-03-16 16:25] zeusfly-spb opened #208 "Date localization"
How can I localize the date formatting?

[2018-03-16 17:44] xaksis commented on #207
hey @Sharvadze, thanks for using the component. As the warning suggests, it's happening because drop-down options for rowsPerPage has duplicates in them. Looks like you're using the customRowsPerPage and have duplicates in them?

going to close for now, if this isn't the case lets create a jsfiddle to reproduce this and I'll re-open the ticket to investigate.

[2018-03-16 17:44] #207 closed

[2018-03-16 17:48] xaksis commented on #206
hey @StefanOosten, yes, that should work just fine. filterOptions is just a javascript object as long as it's in the right format it'll do what it's supposed to.

load data from your server and store it in this.myData. then do filterOptions="myData"

[2018-03-16 17:48] #206 closed

[2018-03-16 23:47] Sharvadze commented on #207
@xaksis Thanks for guidance. Actually I have added :customRowsPerPageDropdown="[20]" and warning has gone away. Thanks again

[2018-03-17 23:52] xaksis commented on #208
Hey @zeusfly-spb, can you explain with examples as to what you mean by localizing the format?

[2018-03-18 00:11] zeusfly-spb commented on #208
Hello, xaksis! Thanks for the response, I have already solved the problem in php. What can you say about dynamically changing the width of columns in a table, such as colResizeable?

[2018-03-18 00:54] xaksis commented on #208
@zeusfly-spb if you mean setting it programmatically, you can do it via "width" property of column. If you mean via user dragging to change width, that is currently not supported.

either way, i'm going to close this ticket since you seem to have solved it.

[2018-03-18 00:54] #208 closed

[2018-03-19 09:04] StefanOosten commented on #206
Hey @xaksis thanks for the reply.

I still can't get it to work? Check out this jsfiddle:

https://jsfiddle.net/obfky53g/10/

[2018-03-19 11:58] xaksis commented on #206
@StefanOosten you're trying to set data from another data member, this won't work since the data is not initialized till after the data function returns. If I add:
[code]
to your fiddle, it works as expected.

refer to this StackOverflow question:
https://stackoverflow.com/questions/46491468/how-to-put-a-value-of-data-object-in-another-data-object-vuejs

[2018-03-19 17:00] bjh81782 commented on #125
+1 for me on this.  I would rather the bootstrap styles apply directly.  The built in ones seem to override.  Specifically .table-sm

[2018-03-19 19:32] xaksis commented on #125
@bjh81782 @blak3r @davidohlin this now exists in the next major version (currently in beta) you can read the documentation here:
https://github.com/xaksis/vue-good-table/tree/new-build

upgrade guide:
https://github.com/xaksis/vue-good-table/wiki/Guide-to-upgrade-from-1.x-to-v2.0

[2018-03-20 12:50] aspirin37 opened #210 "rowStyleClass / perPage"
Hello. I've got several problems after the latest update:
1) "rowStyleClass" stopped working for me. Neither string, nor function.
2) when "perPage" is set it's dropdown doesn't work. It means I can not set a default value for my table anymore.

[2018-03-20 13:15] xaksis commented on #210
@aspirin37 thank you for reporting this, can you confirm that you're using the beta build?

[2018-03-20 13:24] xaksis commented on #210
I just tested both properties, and they seem to be working fine.
here's a fiddle:
https://jsfiddle.net/aks9800/6jboy8hv/

[2018-03-20 13:26] aspirin37 commented on #210
Well, I just updated my npm modules with "npm i" and then all tables in my project stopped working correctly. There's "vue-good-table": "^1.12.0" in my package.json. Probably the problem is on my side

[2018-03-20 13:28] xaksis commented on #210
ahh! that's a really old version, you should upgrade to the latest. The latest version (non-beta) is 1.20.3. I'm going to close this issue.

[2018-03-20 13:28] #210 closed

[2018-03-20 13:31] xaksis commented on #192
@sarath49 when you have some time, could you try the beta build and see if this problem exists for that build as well?

documentation: https://github.com/xaksis/vue-good-table/tree/new-build
upgrade guide: https://github.com/xaksis/vue-good-table/wiki/Guide-to-upgrade-from-1.x-to-v2.0

[2018-03-21 00:46] xaksis commented on #81
@Macavirus @ImpossivelPT Sorry this took a while but the new major version 2.0 (which is now in beta) now allows grouped tables! you can check out a basic example here:
https://jsfiddle.net/aks9800/0t820euy/
you can also create summary rows with totals:
https://jsfiddle.net/aks9800/0t820euy/

to upgrade to 2.0, please use [the upgrade guide](https://github.com/xaksis/vue-good-table/wiki/Guide-to-u

[2018-03-21 00:50] xaksis commented on #115
Hey @T-Bod, the new major version 2.0 (which is now in beta) now allows grouped tables! you can check out a basic example here:
https://jsfiddle.net/aks9800/wtwwkcgm/
you can also create summary rows with totals:
https://jsfiddle.net/aks9800/0t820euy/

to upgrade to 2.0, please use [the upgrade guide](https://github.com/xaksis/vue-good-table/wiki/Guide-to-upgrade-from-1.x-to-v2.0)

and you can see

[2018-03-21 00:51] xaksis commented on #115
whoops didn't mean to close it. Will close when the new build is out of beta.

[2018-03-21 08:45] ImpossivelPT commented on #81
@xaksis thanks for the update!

[2018-03-21 19:56] lamka02sk opened #212 "Input data lost after search / filter - v2.0 - Feature request"
This is probably not a bug, I think it is done on purpose, that when I update cell value inside row prop and then emit event to my root component, data inside table component are not updated. This is why they get lost and are reset to defauls after search or column filter action. Would be nice to have these edited data updated.

[2018-03-21 23:06] xaksis commented on #212
@lamka02sk can you please create a fiddle to show this behavior? would be easy for me to plan a course of action once I see it.

[2018-03-22 08:55] lamka02sk commented on #212
@xaksis I created a simple fiddle, but I use always rather .vue single file components, so this demo somehow does not wanna work, but I believe it would be 30 seconds for you to fix...https://jsfiddle.net/t4ugvqcu/27/

[2018-03-22 11:21] xaksis commented on #212
you were correct in that this is not a bug but by design. the data within the table is a copy of your original data which is why you can filter/sort etc without affecting your original component data. so you should not be modifying the data in the table, but the original data in your component by using `rows[props.row.originalIndex]`

Refer to the checkbox example here, where the checkbox v-model

[2018-03-22 11:21] #212 closed

[2018-03-22 13:39] jprivillaso opened #213 "Issue sorting columns"
When data type of the rows is different than String, it throws an error because the method `compare` is trying to execute this line of code:

[code]

`toLowerCase` function only exist for strings.

[2018-03-22 13:49] xaksis commented on #213
hey @jprivillaso by default, your data type is treated as string. Did you specify a type for your column?

[2018-03-22 13:53] jprivillaso commented on #213
Hi! Thanks for you super fast answer.
Actually, I make a server call that retrieves data in its original format and then I return it. I have it wrapped inside the computed method `columns`.
Then answer to your question is no, i'm not specifying the type.

Thanks

[2018-03-22 13:55] xaksis commented on #213
ah yeah, without `type` sort behavior will be unpredictable for dates/numbers etc... so this is by design. going to close this.

[2018-03-22 13:55] #213 closed

[2018-03-22 14:21] jprivillaso commented on #213
Awesome.
Thanks :) Working now 🥇 👍

[2018-03-23 08:23] derFaizio opened #214 "BUG: The starting index string of the next page is incorrect"
If the first page contains 10 (elements 1-10), the next of the next page should start from 11. Right now it lists 10-20. It should be 11-20.

[2018-03-23 12:25] skray opened #215 "Add ability to 'All' option from page size dropdown"
The addition of `customRowsPerPageDropdown` has been great, but I am confused as to why the `All` option (with a value of -1 for the page) is still hardcoded in when providing the custom perPage dropdown.

In my case, I never want the user to be able to select `All`, as my table is so large (15k rows) that it grinds the browser to a halt while attempting to render so many rows.

Would it be reason

[2018-03-23 12:31] xaksis commented on #215
absolutely reasonable! It's in there because most use-cases would still need a way to show all rows. But l agree that there should be a way to hide that option. Do you mind telling me if you using the new beta version? or released version?

[2018-03-23 12:33] xaksis commented on #214
@derFaizio just to confirm, you're talking about the pagination numbers only right? the rows themselves seem to be correct for each page.

also, can you tell me what version you're on?

[2018-03-23 12:35] derFaizio commented on #214
Exactly. Only the pagination numbers. The rows themselves are perfectly fine. I am on version 1.20.3.

[2018-03-23 12:45] skray commented on #215
Thanks for the quick response! I am not using the beta version yet, just the latest released version.

[2018-03-25 10:39] ggedde opened #216 "[BUG] New 'on-search' Event only firing on 'enter' even though the search is on 'key-up'"
### Issue Type
Bug

### Version
2.0.0-beta.5

### Expected Behavior
Should be firing based on 'searchTrigger'.

### Current Behavior
New "on-search'  Event is only firing on 'enter'  even though the search is on 'key-up'.

[2018-03-25 10:44] ggedde opened #217 "[Enhancement] Add "filteredRows" in the event from the new 'on-search' Event"
### Issue Type
- [ ] Enhancement

### Version
2.0.0-beta.5

### Expected Behavior
I would like to also get the 'filteredRows' back in the event from the new 'on-seach' Event.
At least is there a way for me to get that data?

I would like to get all the data from the filteredRows, but if that is not that easy or may cause a performance issue for every on 'key-up' event then at least get the number

[2018-03-25 11:28] xaksis commented on #216
seems to be working fine here:
https://jsfiddle.net/aks9800/57a2a4ce/

can you create a jsfiddle to demonstrate this?

[2018-03-25 11:34] xaksis commented on #216
ah okay, I see what you mean, the event itself is only triggered on enter. got it.

[2018-03-25 20:27] xaksis commented on #217
this is now fixed in version 2.0.0-beta.6

[2018-03-25 20:27] #217 closed

[2018-03-25 20:27] xaksis commented on #216
fixed in version 2.0.0-beta.6

[2018-03-25 20:27] #216 closed

[2018-03-25 20:50] xaksis commented on #215
in version 1.21.0 you can hide the 'all' option, use `paginateDropdownAllowAll`

[2018-03-25 20:50] #215 closed

[2018-03-25 20:53] xaksis commented on #214
@derFaizio  this should now be fixed in v1.21.0.

[2018-03-25 20:53] #214 closed

[2018-03-25 21:37] ggedde commented on #216
@xaksis Awesome, Thanks

[2018-03-25 21:39] ggedde commented on #217
@xaksis Awesome, Thanks for the quick update.
So far really loving the simplicity of your this  module.
Thanks

[2018-03-26 09:16] ggedde opened #218 "[Enhancement] Add Option to change the name of the Component on import"
### Issue Type
Enhancement

### Version
2.0.0-beta.6

I would like to have an option on
`Vue.use(VueGoodTable)`
To change the name of the component.
Nothing against the name, but I would prefer to use `<data-table>`
Or I might be prefixing it with my project name.

So it would be nice to do
`Vue.use(VueGoodTable, {name: 'data-table'})`

I think you would just need to change:
[code]
TO
[code]
in yo

[2018-03-27 12:48] MohanadI opened #219 "Is it possible to change the type of the filter ?"
### Issue Type
- [ ] Bug
- [ ] Enhancement
- [ 1 ] Question

### Version
1.20.2

### Expected Behavior
Is it possible to change the type of the filter ? for example : drop-down menu ( select with options ) instead of input text .

[2018-03-27 12:58] MohanadI commented on #219
I found the solution here ..
https://github.com/xaksis/vue-good-table/issues/92

thank you

[2018-03-27 12:58] #219 closed

[2018-03-27 13:20] MohanadI commented on #128
any ideas of how we can api call when the user filter the table ?

[2018-03-29 01:34] nwaughachukwuma opened #220 "Dynamic column labels"
Hello @xaksis, is it possible to dynamically change the column labels, or to have it render dynamically using vue `{{}}`? I wish to be able to update the label of a column month to month. Thanks so much

[2018-03-30 01:19] xaksis commented on #220
@nwaughachukwuma yes, you can find the documentation for it here:
https://github.com/xaksis/vue-good-table#custom-columns

closing.

[2018-03-30 01:19] #220 closed

[2018-03-30 14:54] jjhesk commented on #205
got the same issue on beta

[2018-03-31 01:57] jjhesk commented on #126
i have this
[code]

[2018-03-31 02:06] jjhesk commented on #190
im on vue 2.5.13 and vue beta.7 and this is still the problem.

[2018-04-01 00:05] xaksis commented on #81
closing.

[2018-04-01 00:05] #81 closed

[2018-04-01 00:05] xaksis commented on #115
closing

[2018-04-01 00:05] #115 closed

[2018-04-01 00:05] xaksis commented on #116
closing

[2018-04-01 00:05] #116 closed

[2018-04-01 00:06] xaksis commented on #125
closing.

[2018-04-01 00:06] #125 closed

[2018-04-01 00:06] xaksis commented on #138
closing.

[2018-04-01 00:06] #138 closed

[2018-04-01 00:07] xaksis commented on #156
search moved out of the table and the same row is now used for action-items-slot. closing.

[2018-04-01 00:07] #156 closed

[2018-04-02 15:13] deanilvincent opened #221 "How to expand width of the specific column?"
Good day @xaksis

Is there a way to expand the specific column in the table?

Suppose I have a column of description and one of the description cell is composed of 100 characters. The problem is, the 100 characters is just fitting horizontal in that cell.

I hope there's a way like I can set a width specifically for one column in the table.

I'm using version:  "1.20.3"

[2018-04-02 15:20] xaksis commented on #221
use the `width` property in column definition.
https://github.com/xaksis/vue-good-table#width-number

this works the same way in 1.x

closing.

[2018-04-02 15:20] #221 closed

[2018-04-02 15:28] deanilvincent commented on #221
Yes, I already tried using width before. But when I tried to create a sample description word by word, I got this kind of result.

![vuetabletest](https://user-images.githubusercontent.com/10904957/38202182-71fdb182-36cd-11e8-9c72-3dd67eedee45.PNG)

Instead of horizontal expansion.

[2018-04-02 16:36] xaksis commented on #221
@deanilvincent can you create a jsfiddle reproducing this? I would like to take a look. I suspect the issue is more with how html tables work rather than vue-good-table itself.

[2018-04-02 17:09] TheJaredWilcurt opened #222 "Documentation"
`paginateDropdownAllowAll` is not documented

also

* https://github.com/xaksis/vue-good-table/wiki/Guide-to-upgrade-from-1.x-to-v2.0

says `npm install --save vue-good-table@beta`

The `@beta` can probably be removed now

[2018-04-02 18:36] xaksis commented on #222
hey @TheJaredWilcurt
`paginateDropdownAllowAll` is now part of paginationOptions as `dropdownAllowAll`
https://github.com/xaksis/vue-good-table#pagination-options

removed beta from guide! 👍

[2018-04-02 18:36] #222 closed

[2018-04-02 18:37] jrpub opened #223 "filterValue and programmatic changes/reset: bug with dropdown filters"
It seems there is a bug but difficult to understand.

- Two columns: one with a text filter (column1), the other one (column2) with a dropdown filter and a filterFn function.
- Two buttons to automatically apply a filter on one or the other column, and a third one to reset all filters by setting both filterValues to '' (empty string).
- The following workflows work:

1. button1 (filter the column1

[2018-04-02 18:56] xaksis commented on #223
That is some usecase, @jrpub. Can you create a jsfiddle so I can take a look at it. You can use the following as the base:
https://jsfiddle.net/aks9800/57a2a4ce/

[2018-04-02 22:17] jrpub commented on #223
I tried to reproduce the bug.
Problem: I don't know how to use jsfiddle exactly (!!)

Here is my current code. I don't know why the filterAge callback is not called here. Not related to the bug, but to reproduce the error I would need some help to be sure this is not a JSfiddle thing, and as I have a filter callback in my code I prefer to reproduce it.

https://jsfiddle.net/03wgykmr/22/

[2018-04-02 22:45] xaksis commented on #223
Here. Data needs to be a function. try reproducing it now.

https://jsfiddle.net/aks9800/1bkzcd3n/

[2018-04-03 03:06] deanilvincent commented on #221
I have this similar codes:

[https://jsfiddle.net/kpzexmL4/11/](url)

[2018-04-03 09:11] StefanOosten opened #225 "div slot emptystate broken?"
### Issue Type (delete the irrelevant ones)
- [x] Bug

### Specs
2.0.0

What browser?
Chrome

### Expected Behavior
The text inside the emptystate slot doesn't show anymore since 2.0.0 when the table is empty.

### jsfiddle
https://jsfiddle.net/57a2a4ce/43/

[2018-04-03 11:51] jrpub commented on #223
Oups, I was tired. Thanks.

Here is the jsFiddle with the two defect scenarios.

https://jsfiddle.net/03wgykmr/60/

[2018-04-03 23:09] xaksis commented on #223
@jrpub Thank you for taking the time to create the usecase! this is indeed a bug, will push in a fix, shortly.

[2018-04-04 02:00] jrpub commented on #223
Confirmed, it works also in my module. Many thanks for the quick fix! :+1:

[2018-04-04 03:13] Jochii12 opened #226 "Column Data Resizable"
Hi sir Good day,

Can  ask sir if you can add column resizable ,

Thank you Sir

[2018-04-04 11:43] xaksis commented on #226
Hi @LeoKi, if you use the template provided when you create the issue, it'll help avoid me having to ask you a bunch of questions regarding your request.

What do you mean by column resizable? do you mean for users to be able to resize the columns by dragging an edge? or you being able to resize the column in your code?

for the latter, you can use column property `width: '200px'`.

the former is

[2018-04-04 13:07] LeoKi commented on #226
Hello sir

I mean about resizable is, the user can drag and drop the size of column,

Anyway sir thank you ill use width for sizing.

Thank you sir

On 4 Apr 2018 7:43 PM, "xaksis" <notifications@github.com> wrote:

[2018-04-04 18:40] skray opened #227 "Return to first page when executing global search"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request
- [x] Question

### Specs
What version are you using?

2.0.1

### Expected Behavior

When executing a global search, I would expect the pagination to start back at the first page.

### Actual Behavior

The pagination stays on the current page, or the last available one if the list is shortened.

### Steps to Reproduce the Probl

[2018-04-04 19:18] khe817 opened #228 "Rows per page displays incorrectly in IE 11 and Microsoft Edge on page load"
### Issue Type

- [x] Bug

### Specs
What version are you using?
2.0.1

What browser?
IE 11 and Microsoft Edge

### Expected Behavior
Using this setting: `:pagination-options="{ enabled: true, perPage: 10, }"` , expect "Rows per page" display correctly on page load, which is `10`.

### Actual Behavior
When the page loads initially, in pagination, "Rows per page" is set to `All` instead of `10` lik

[2018-04-05 01:25] xaksis commented on #227
fixed in v2.0.2 your jsfiddle is working now. Thank you for taking the time to create it. I also added a way to programmatically switch pages - https://github.com/xaksis/vue-good-table#paginationoptionssetcurrentpage-number

closing.

[2018-04-05 01:25] #227 closed

[2018-04-05 05:08] sylvaincaillot opened #229 "Fetch data from API"
### Issue Type
- [x] Enhancement Request

### Specs
Using the 2.0.2 version, I would like to use Good-table which is very neat to do API calls to fetch  data. My API is already taking care of the pagination, sorting and filtering and return formatted json but I don't know how to send the relevant parameters to it from Good-table and then how to process what has been returned.

is it possible? That

[2018-04-05 12:43] skray commented on #227
Great, thank you!

[2018-04-06 02:04] xaksis commented on #228
hahaha... jeez @khe817 i'll try to reproduce it on my end... somehow.

[2018-04-06 08:49] arthurkirsz opened #230 "Add a prop to make the "No data for table" message customizable"
### Issue Type

- [x] Enhancement Request

### Specs
Using 2.0.3
I was expecting all texts to be customizable. Unfortunately, the message when no data is available ("No data for table") is hardwritten.

Would love if you guys could make this overridable through a prop :)

[2018-04-06 09:24] arthurkirsz commented on #230
Closing this one now :) I just got to the end of the doc : `<div slot="emptystate">` is my answer. Maybe improve a bit the documentation, I had a hard time to find it.

[2018-04-06 09:24] #230 closed

[2018-04-06 12:06] xaksis commented on #228
https://twitter.com/michlbrmly/status/981855020948877312

Even github is dropping support for IE

[2018-04-06 12:30] xaksis commented on #228
that took a few attempts. but this is now fixed in v2.0.5

[2018-04-06 12:30] #228 closed

[2018-04-06 12:40] xaksis commented on #230
@arthurkirsz thank you for the feedback, I'll see if I can make that more discoverable.

[2018-04-06 15:53] khe817 commented on #228
Bug is confirmed fixed.

Thank you very much!

[2018-04-09 01:58] stuartjnelson opened #233 "Selecting all rows from current page"
### Issue Type
- [x] Question

### Specs
What version are you using? `2.0.5`

What browser? `Chrome 64.0.3282.186`

### Question
Hello! I was hoping to be able to select the checkbox in the header row and then return only the rows from the current page. How would you go about getting just the rows from the current paginated page?

### jsfiddle
[checkbox table fork](https://jsfiddle.net/eyduxn5a/3/

[2018-04-09 20:43] skray opened #234 "`remote` mode does not currently work for ungrouped rows"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?

Latest (v2.0.3)

What browser?

Firefox

### Expected Behavior
What did you expect to happen?

I was trying out the new undocumented `remote` mode. Using the `remote` mode property, I expected to be able to provide the `rows` property as a regular array.

### Actual Behavior
What actually happened?

No r

[2018-04-09 23:48] xaksis commented on #229
@sylvaincaillot I'm currently working on remote mode for the table... which won't do any sorting/paging etc locally and instead will just emit events with the necessary parameters so you can update the table with remote data. I will try and come up with an example soon.

[2018-04-10 00:11] xaksis commented on #233
Hi @stuartjnelson I have updated the example to select/deselect all rows: https://jsfiddle.net/aks9800/keLjcssn/

Currently there's no good way to select only the items on the current page. Having said that, I do think this is a good feature request, and I'll work on adding that in.

[2018-04-10 00:12] 0b3202b1-9ea6-4018-9159-718338b9f295 opened #235 "row keys"
I notice when you loop over rows you use the index as the key.  Vue documentation makes it very clear that that is bad practice.  Actually it offers no value at all.  I suggest the following: suggest to users that they include a `key` value for each row and use that key when it is available.  Also---and this is the real reason why I'm making this post---publish an array of keys to the parent objec

[2018-04-10 00:13] xaksis commented on #234
whoops! this is clearly a bug... thank you for pointing it out. I'll check in the fix shortly

[2018-04-10 02:47] stuartjnelson commented on #233
Hey @xaksis,

Thanks for that! Let me know if you need help testing that

[2018-04-10 07:14] sylvaincaillot commented on #229
That would be perfect, just emit the events, or provide the sorting, query, paging parameters and the API will take care of returning the relevant data.
Thank you

[2018-04-10 12:01] xaksis commented on #233
@stuartjnelson what would you think is the expected behavior if I
1. select all on the current page
2. then change page or filter
it would not make sense to still have the selectAll checkbox checked... since none of the items on the next page would be selected. would you just reset your selection to none?

or does it make more sense for selectAll to really just be select all rows and not just the

[2018-04-10 16:25] HorstBrack opened #236 "Template change in footer"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

### Specs
What version are you using?
2.0.5

What browser?
Chromium

### Expected Behavior
What did you expect to happen?

I have rows with checkboxes, and I would like to have a "delete all selected" button at the bottom under the checkboxes.
Right above the "Rows per page" line.
There seems to be no way to pass templates to

[2018-04-11 00:31] xaksis commented on #233
@stuartjnelson with `v2.1.0` you should now be able to do this with a much cleaner interface. checkout the working example with paging:
https://jsfiddle.net/aks9800/dzka5qz0/

closing this.