[2018-04-11 00:31] #233 closed

[2018-04-11 00:33] xaksis commented on #234
this is now fixed in v2.1.0. @skray remote mode has not been through a litmus test yet, I plan on using it myself over the next few days, so there might be more changes coming soon.

closing this for now.

[2018-04-11 00:33] #234 closed

[2018-04-11 00:46] xaksis commented on #236
@HorstBrack you are correct in that there's no footer template. for table actions, I suggest you use the table-actions slot which will show up on the top-right of the table.

Relevant documentation:
https://github.com/xaksis/vue-good-table#table-actions-slot

Also for checkboxes, `v2.1.0` has in-built support for checkboxes. refer to a working example here: https://jsfiddle.net/aks9800/dzka5qz0/

[2018-04-11 00:46] #236 closed

[2018-04-11 07:29] HorstBrack opened #237 "Selecting all visible rows"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.1.0
What browser?
Chromium
### Expected Behavior
What did you expect to happen?
Checkbox "select all" selecting all on the current page, then after changing to the next page,
"select all" selecting all there in addition
### Actual Behavior
What actually happened?
"Select all" on consecutive page voids p

[2018-04-11 10:58] xaksis commented on #237
@HorstBrack this is by design. selectAll only selects the visible rows. If you move to the next page, filter, or sort, the selectAll checkbox is unchecked and the selection is reset. selectAll needs to be reset because otherwise, you'd have the selectAll checkbox checked while nothing would be selected on the next page.

Similarly, you might select all to select all visible rows and then try to fi

[2018-04-11 13:48] TheJaredWilcurt opened #239 "Pagination position on both top and bottom"
While user testing our app, the user requested that it would be convenient to have the "next" button pagination at the top too. Currently the `paginationOptions` `position` only allows for `top` or `bottom`, but not `both`.

[2018-04-11 15:01] TheJaredWilcurt commented on #239
Making a PR for this

[2018-04-11 15:01] HorstBrack commented on #237
Ok, maybe it is easier to explain what I have here:
There is a list with 1000 domains.
I want to be able to browse through all domains, mark those I wish to delete and when I am done press "delete" to kill them all.
Right now this is not possible.
What I believe would be more intuitive is that the state of the checkboxes is maintained throughout page changes.
Is this possible?

[2018-04-11 18:28] khe817 opened #241 "sort-options interferes with input on page 2 and onward"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.1.1

What browser?
Chrome 65 , Firefox 59, IE 11, Edge

### Expected Behavior
When configure pagination and sort together for a table with inputs in each row, should be able to enter input regardless of which page user is in.

### Actual Behavior
When add sort to vue-good-table with inputs in each row a

[2018-04-11 21:05] kgrosvenor opened #242 "Feature Request - self.$emit('onRowHover', row)"
I hope the title explains it, really like the plugin its fantastic, it seems long winded for me to do custom column template though, what does everyone else think about this?

`<component @onRowHover="selectRowFn"></component>`

[2018-04-11 22:15] xaksis commented on #237
alright! I think this should solve all your issues, as a bonus, I also created a new slot for you to put your action button in.
https://jsfiddle.net/aks9800/dzka5qz0/

closing.

[2018-04-11 22:15] #237 closed

[2018-04-11 22:17] xaksis commented on #241
hey @khe817, v2.2.0 fixes this. your jsfiddle is now working.

closing.

[2018-04-11 22:17] #241 closed

[2018-04-12 00:22] andrewsheffield opened #243 "Passing components as column values"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

### Specs
2.2.0

What browser?
NA

### Expected Behavior
Pass a string in the fashion of
[code]

implements with <component :is='what-ever-string-passed'></component>

This would allow me to build components in the column value for each row.  I could add button groups or hover events or whatever i need.

[2018-04-12 00:25] kgrosvenor commented on #242
And for it to emit current object in the callback

On 11 Apr 2018 23:19, "xaksis" <notifications@github.com> wrote:

@kgrosvenor <https://github.com/kgrosvenor> are you just looking for an
event handler for row hover?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/xaksis/vue-good-table/issues/242#issuecomment-380613870>,
or

[2018-04-12 06:16] col-panic commented on #242
Row hover event would be interesting, would give the chance to provide a tooltip or something else!

[2018-04-12 08:07] HorstBrack commented on #237
Cool, thanks :)

[2018-04-12 12:07] xaksis commented on #243
hey @andrewsheffield you can pass your custom component in the slot for the cell.
refer to this example:
https://jsfiddle.net/aks9800/tkuao8f5/

relevant documentation: https://github.com/xaksis/vue-good-table#custom-row-template

closing.

[2018-04-12 12:07] #243 closed

[2018-04-12 12:17] xaksis commented on #242
@kgrosvenor @col-panic sounds like a plan, expect this in an upcoming release shortly.

[2018-04-12 17:11] andrewsheffield commented on #243
Thank you for the quick response!

This solution doesn't help my use case.  I wrapped your component in my own in order to be able to style and code once on the apps data table design and formatting.  However, I have 1 view that needs a very specific style component in the column for each row.

I implemented your solution as a work around for the moment but takes away the abstraction from the comp

[2018-04-12 17:54] xaksis commented on #243
hey @andrewsheffield, thank you for the compliment and I am glad vue-good-table is useful to you. I am actually still unclear as to what your use-case is. Is it possible for you to create a jsfiddle to demonstrate what you're trying to do?

[2018-04-13 17:29] andrewsheffield commented on #243
I couldn't reproduce my use case in jsfiddle.

So I made an example in this repo: https://github.com/andrewsheffield/datatableexample

In short, I am wrapping your component to be able to style, add custom logic or provide additional formatting in one place that will apply to the whole app.

I would like to be able to pass components into a column of each row from my wrapper.  This means that addi

[2018-04-13 20:38] christoxl opened #244 "Search don't work when you have Grouped Rows"
Bug

vue-goog-table 2.2.0

Search should work similar to when you don't have groups

Check your own jsfiddle example, just search for 'guppy', the last element of the last group

https://jsfiddle.net/aks9800/wtwwkcgm/

[2018-04-13 20:56] xaksis commented on #244
ooh... this looks all kinds of wrong... will have to look into it. thank you for pointing it out.

[2018-04-14 01:47] #239 closed

[2018-04-14 01:53] xaksis commented on #244
@christoxl this is now fixed with v2.3.0 the jsfiddle is working as well.

closing.

[2018-04-14 01:53] #244 closed

[2018-04-14 01:55] xaksis commented on #242
This is now available as a table event `@on-row-mouseenter` and `@on-row-mouseleave`. table events section also added to the documentation:
https://github.com/xaksis/vue-good-table#table-events

closing.

[2018-04-14 01:55] #242 closed

[2018-04-14 14:12] TheJaredWilcurt opened #245 "Top/Bottom Pagination not synchronized"
* **Type:** Bug
* **Version:** 2.3.0
* **Example:** https://jsfiddle.net/57a2a4ce/210/
* **Steps to Reproduce**:
 1. Set `paginationOptions.position` to `'both'`
 1. Supply enough data for multiple pages
 1. Click "Next" on top or bottom, see how the other is not also updated.

[2018-04-14 15:24] TheJaredWilcurt commented on #245
I'm not sure how to synchronize the top and bottom pagination with one another. Perhaps `prop.sync`?

* https://codesandbox.io/s/k2952lq523

[2018-04-14 18:44] christoxl commented on #244
I've just tested it on my own project, It's working now

Thanks for the quick response!

[2018-04-16 08:31] StefanOosten opened #246 "fromDate - toDate filter"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

### Expected Behavior
Two filter rows (or datepickers) in a single column to allow users to enter two date's (from and to), the table will then search between those two date's.

[2018-04-17 04:59] shahzadcacf opened #248 "Table-row-after and Table-column-after missing in 2.x?"
### Issue Type (delete the irrelevant ones)

- [x] Question
I have used Table-row-after in the 1.x and now i have upgraded to 2.x and its now working. Cant find the documentation either
### Specs
What version are you using?
vue-good-table 1.x
What browser?
Chrome

[2018-04-17 11:42] xaksis commented on #248
hey, @shahzadcacf custom rows have been simplified a lot in 2.0. You no longer need to specify each td for custom template, just the ones that need to be custom, relevant documentation:
https://github.com/xaksis/vue-good-table/wiki/Guide-to-upgrade-from-1.x-to-v2.0#custom-tdrow-now-works-differently

To see a working example of how you'd create before and after columns, you can look at this jsfidd

[2018-04-17 11:42] #248 closed

[2018-04-17 13:08] lamka02sk opened #249 "Add row parameter into sortFn"
### Issue Type
- [x] Enhancement Request

### Specs
2.3

Would be nice to have row parameter available inside sortFn or at least originalIndex of the row.
[code]

[2018-04-18 00:46] xaksis commented on #249
@lamka02sk what do you mean by row? x and y here come from two different rows.

[2018-04-18 07:11] lamka02sk commented on #249
@xaksis I meant index of the `x` row. It could be very useful in some situations, like mine where I have built wrapper over the table. Without index, I am honestly totally lost right now. More specifically, this would be enough and very helpful:
[code]

[2018-04-18 17:02] skray commented on #245
There is an internal `changePage` method in the table component (https://github.com/xaksis/vue-good-table/blob/master/src/components/Table.vue#L704..L717) that explicitly sets the current page of the child pagination components. It looks like that method needs to be updated to account for having two pagination components, but then it might be able to be used from the 'pageChanged'/'perPagedChanged

[2018-04-18 21:36] DanSias opened #250 "Conditional tdClass"
### Issue Type

- [x] Question

### Specs
vue-good-table v2.0.0 in Google Chrome 65

### Expected Behavior
I'd like to apply a class to a <td> based on a conditional value. For example: if the cell value is negative add  .font-red or if it's > 20 add .font-green, etc.

### Actual Behavior
Seems to only be able to set a string, so all rows in that column have the same class

### jsfiddle
[This Fidd

[2018-04-19 00:46] TheJaredWilcurt opened #251 "Show global search and filters at the same time in Remote mode"
* **Type:** Enhancement
* **Version:** 2.4.0

When you use a global search, it hides the filter rows. This makes sense for the default (local) mode of VGT, however for Remote mode, you should be able to show and handle both manually.

This would allow our users to search across all fields with the global search, except for those that have filter values, which will use their specific values instead

[2018-04-19 07:33] doanvulong94 opened #253 "How i can rowspan."
- [ ] Bug
- [ ] Enhancement Request
- [x] Question

|              |  name  |  ...
|              |  name  |  ...
|  group  |  name  |  ...
|              |  name  |  ...
|              |  name  |  ...

i just want like this, please help me custom. Thanks

[2018-04-19 11:38] xaksis commented on #249
Thank you for your PR. This is now part of v2.4.1

closing.

[2018-04-19 11:38] #249 closed

[2018-04-19 11:40] xaksis commented on #253
hey @doanvulong94 can you explain your question better? are you just looking to group rows?
you can look at an example here: https://jsfiddle.net/aks9800/wtwwkcgm/

[2018-04-19 19:17] jonathan-wondereur opened #255 "`html: true` & `formatFn`"
### Issue Type

- [x] Bug
- [x] Enhancement Request
- [x] Question

### Specs
What version are you using?
`2.3.0`

What browser?
`Chrome`

### Expected Behavior
To be able to set `html: true` and specify html in the `formatFn` function.

### Actual Behavior
Data printed directly (not using the `formatFn` function).

### Steps to Reproduce the Problem
1. Try to use `formatFn` for a row with html us

[2018-04-19 19:30] xaksis commented on #255
Hey @jonathan-wondereur, what you're trying to do, should be accomplished using custom cells. Refer to this example: https://jsfiddle.net/aks9800/wtwzg6Lz/

`html: true` is to be used if your row data already contains html.
`formatFn` is to format the data in your row, not to render html.

closing. Let me know if this doesn't solve your issue and I'll re-open the ticket.

[2018-04-19 19:30] #255 closed

[2018-04-19 19:59] TheJaredWilcurt commented on #253
@xaksis
He's talking about how `cat` spans 3 rows

* https://jsfiddle.net/odyvgzkn/

[2018-04-19 20:03] xaksis commented on #253
@TheJaredWilcurt, reading the title I thought so as well (and the answer to that is - this isn't supported in vue-good-table and there's currently no ETA on that)

however, the example @doanvulong94 posted seems to just have a group row as opposed to a cell spanning span across rows?

[2018-04-19 20:04] jonathan-wondereur commented on #255
@xaksis this works beautifully, thanks for the fast reply with the great example!

[2018-04-20 03:03] doanvulong94 commented on #253
Thanks guys.
i wanna spans 3 rows like @TheJaredWilcurt, and this isn't supported in vue-good-table, may be i'll 'cheat' 1 div outside for my project, but i think it will develop hardly in future

[2018-04-20 04:08] sergeevpasha opened #256 "Checkbox all do not uncheck all when data loaded via ajax"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs

What version are you using?
2.4.1

What browser?
Chrome/Firefox/IE/Opera/Safari

### Expected Behavior
Checkbox All should actually check and uncheck all

### Actual Behavior
In fact it only checks all, but never uncheck (However in console log i can see that everything is ok, but visually - no)

[2018-04-20 04:09] sergeevpasha commented on #256
I did actually check out some older versions, but that didnt help me at all

[2018-04-20 04:30] sergeevpasha commented on #256
i locolized the problem:
[code]
if i will add data manualy into rows: [] everyting really works. But when i try to add data via http request - its not.
Help me, is that really a bug or i am doing smth wrong

[2018-04-20 11:58] xaksis commented on #256
@sergeevpasha I was able to reproduce this on my end. will debug further to see what is going wrong.

[2018-04-20 13:13] jprivillaso commented on #256
I was facing the same issue.
In my case the error was that in the older version, the date columns had these two properties:

- inputFormat
- inputFormat

In the new version, those properties were changed to

- dateInputFormat
- dateOutputFormat

After changing that, the clear/unclear worked.

[2018-04-20 13:51] jprivillaso commented on #256
I am facing the same issue.
I don't know if it is related but errors start appearing when you use vue-router and somehow it keeps old references to the older table.

On my end, I have a menu with different menu items that correspond to different pages.
I have a dynamic route that is used on all the pages. E.g /app/:table_name

On that route, I render a table that displays the data from the `table_

[2018-04-20 14:02] xaksis commented on #256
@sergeevpasha your issue should be fixed with version 2.4.3.
here's a working checkbox example that loads data from a remote server: https://jsfiddle.net/aks9800/mc2sfkjb/

@jprivillaso your issue seems to be related to vue-routing and not vue-good-table. vue caches your route components and changing the route parameter does not guarantee a refresh of all components.

You'll see examples of how to

[2018-04-20 14:02] #256 closed

[2018-04-20 14:03] sergeevpasha commented on #256
@xaksis
thx, works great now

[2018-04-20 17:58] jprivillaso commented on #256
@xaksis Thanks!!
Indeed I though it was an issue with vue-router. However, I still can make it work 😞

[2018-04-24 09:23] sergeevpasha opened #257 "Styles"
### Issue Type (delete the irrelevant ones)

- [x] Question

Just wondering is there any native way to change style - vgt-wrap? Without touching Table.vue ofcourse

[2018-04-24 11:04] xaksis commented on #257
hey @sergeevpasha can you tell me what exactly is your use-case for styling the table wrap? you can provide/override any style within the table by supplying it via [style-class](https://github.com/xaksis/vue-good-table#styletheme). Alternatively, you can also leave off the styles provided with the table and use your own styles for everything. Also, the styles within the component are not scoped, S

[2018-04-24 11:04] #257 closed

[2018-04-24 15:06] rockyshukla opened #258 "column.filed is not working"
guys, I m new to Vue and stuck in a situation and don't know how to do that if anybody suggests me how I can do this let me show my code first

<div class="table-responsive-sm">
    <vue-good-table
        title="Shop List Table"
        :columns="columns"
        :rows="rows"
        :paginate="true"
        :lineNumbers="true"
        :globalSearch="true" >
  <template slot="table-row" slot-scop

[2018-04-24 15:10] sergeevpasha commented on #257
i have 3 tables in one project and all are different. I can't use style scoped cause I actually prefer using scss in a different file. So atm i have to make a div and put table inside this div to be able to write styles different for all. Because i always need to change not only table data, but also search, pagination etc. So just asking, if there was an easier way

[2018-04-24 15:15] xaksis commented on #258
@rockyshukla can you post what your template looks like? also what do your rows look like? If possible, create a jsfiddle to demonstrate what you're doing because it is tough to know what you're trying to accomplish with just the code posted.

[2018-04-24 15:25] xaksis commented on #257
Let me see if I understand this right. You have a few tables and in order to style them all differently you're doing the following:
[code]
and in your scss files then you're doing something like:
[code]
so, is the issue just that you have an extra div tag to wrap your table? because even if you were able to add additional classes to vgt-wrap itself, you'd still have to do the styling the same way.

[2018-04-24 15:31] sergeevpasha commented on #257
maybe, atm I did first ask i didnt do that =)

[2018-04-24 15:49] xaksis commented on #257
heh! okay... try it out and let me know if that works. If not, we'll think of something. 👍

[2018-04-24 16:02] niceque opened #259 "<vue-good-table> - Did you register the component correctly?"
How to use it without npm?

`<script src=".../vue-good-table.min.js"></script>`

...

`Vue.use(vueGoodTable);`

...

`<vue-good-table :columns="somecolumns" :rows="somerows"></vue-good-table>`

Thnx

[2018-04-24 18:34] T-Bod commented on #115
Hey @xaksis, thanks for your work on this, the new version has been great!

Quick question and maybe I'm just misunderstanding the docs / being dumb, but what is the recommended handling if there are no sub-categories as shown in the grouped-summary example but instead I just want a single summary/total row?

For example, if I wanted a single "total row" at the bottom which was simply a sum of the

[2018-04-24 18:49] #259 closed

[2018-04-24 20:40] T-Bod commented on #115
Got it, thanks!

[2018-04-25 10:34] rockyshukla commented on #258
xaksis if found my problem actually I was using old version of vue good table

[2018-04-25 12:06] xaksis commented on #258
Glad you were able to resolve it.

Closing.

[2018-04-25 12:06] #258 closed

[2018-04-26 19:24] NathanStrutz opened #260 "Table headers hide borders when sorted"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
vue-good-table latest version, running on Firefox.

### Expected Behavior
Sorting by header should leave display alone aside from adding up and down arrows.

### Actual Behavior
Sorting by header hides the border around my <th> table header elements.

## Fix:
Apply `background-clip: padding-box;` to the `th.sorting-desc, th.sorting-

[2018-04-26 20:00] paulocr opened #261 "Allow search in nested rows object"
I will try to get a PR in but wanted to get this out there and hopefully get your thoughts.

I have an object within my rows so for example I can access `props.row.system_id` and `props.row.customer.name` from the table however the global search function is unable to find the values in the nested object.

I assume there needs to be some kind of iteration if props.row has children but I'd like to g

[2018-04-27 04:34] stuartjnelson commented on #233
Hi @xaksis,

Sorry, its taken me ages to reply! That's an awesome update thank you! You've added loads of functionality.

Say I wanted all but one cell in the row to fire `@on-row-click`. Is this possible?

<img width="587" alt="screen shot 2018-04-26 at 21 33 44" src="https://user-images.githubusercontent.com/5795894/39344808-8895adee-4999-11e8-993b-bdf89adc3007.png">

[2018-04-27 14:51] xaksis commented on #261
hey @paulocr! the easiest way you can do this is, have a hidden column for that data:
[code]
then it'll be part of search even though it is hidden.

closing. let me know if you have problem with this approach and I'll re-open this.

[2018-04-27 14:51] #261 closed

[2018-04-27 17:58] Niallfitzy1 opened #262 "Trigger: 'enter' does not disable search on 'key-up'"
### Issue Type

- [x] Bug

### Specs
What version are you using?
vue-good-table@2.4.3
vue@2.5.16
What browser?
Firefox 5.0.2, Edge 41.16299.402.0, Chrome 67.0.3396.18
### Expected Behavior
With `:search-options="{ enabled: true, trigger: 'enter'}"` enabled search should only occur when 'enter' key is pressed.

### Actual Behavior
The table searches on 'key-up'.

### Steps to Reproduce the Problem

[2018-04-27 18:08] mgd722 commented on #142
@mihirchronicles I'm not sure I understand why you closed this?  This still seems like a valid enhancement to me.

[2018-04-27 19:28] xaksis commented on #260
@NathanStrutz can you help me reproduce this? I'm testing this on firefox with multiple columns with long headers and still doesn't cause the border around header elements to disappear?

[2018-04-27 19:39] xaksis commented on #262
thank you for bringing this up. It is now fixed in v2.4.4. your jsfiddle should now be working.

closing.

[2018-04-27 19:39] #262 closed

[2018-04-27 19:40] xaksis commented on #260
I've added the requested style for the classes in v2.4.4... although I wasn't able to reproduce it, the new styles don't seem to be affecting existing functionality/visuals so it's all good.

closing.

[2018-04-27 19:40] #260 closed

[2018-04-28 13:38] kgrosvenor commented on #242
Amazing thanks for taking that on board, makes it all the better 👍 💯

[2018-04-29 13:01] mihirchronicles commented on #142
@mgd722 I reopened it.

[2018-04-29 13:33] xaksis commented on #142
@mihirchronicles @mgd722  There are services available to export table out to csv/excel as @arivera12 mentioned and I don't know if vue-good-table core should include these. These are hefty optional features that'll increase the vue-good-table size by quite a bit.
Vue-good-table does provide action slots where you can place the interactive elements (export buttons) that can be used to trigger thes

[2018-04-29 16:56] mgd722 commented on #142
PapaParse (minified) weighs in at 17kb, so bundling it with VGT would be about a 20% increase in size.  Pretty hefty indeed.  I guess I'd have to take a look at how much faster (if at all) it is to convert our native JSON to CSV versus parsing the HTML table to CSV.

Past that, one of my main use-cases for exporting being integrated is the ability to export fields that exist in the data but aren't

[2018-04-29 16:57] mgd722 commented on #142
Perhaps having `@on-search` and `@on-column-filter` emit the filtered dataset would be a happy compromise?  With that I'd just listen to one of those events and store the filtered data as JSON outside of VGT.  When a user clicks on the export action button, I could use whatever CSV serialization logic I wanted to export the filtered dataset to CSV (or whatever format I choose, actually).  Emitting

[2018-05-01 01:02] mgd722 commented on #142
Seems like it could be as easy as adding `filteredRows` [here](https://github.com/xaksis/vue-good-table/blob/44f5ca7f7c61bdedbb8f56faf591b029b97f9238/src/components/Table.vue#L515) and [here](https://github.com/xaksis/vue-good-table/blob/44f5ca7f7c61bdedbb8f56faf591b029b97f9238/src/components/Table.vue#L935)?

[2018-05-01 10:45] ankitwashere opened #263 "combination of custom rows and html row data"
### Issue Type

- [x] Question

### Specs
v2.4.3

Firefox, chrome

### Expected Behavior
HTML output when using {{prop.formattedRow[prop.column.field]}} on custom row template.

### Actual Behavior
Instead it just displays the whole html as plain text. the column definition defines HTML as true. if i do not use custom definition this works okay but when using the custom row template for another fi

[2018-05-01 15:13] sergeevpasha opened #264 "deleting rows"
hi again, found one more strange thing. When i delete rows via ajax everything works great and rows disappears... But when i try to delete all, or the last ones - they keep showing until a page restart.

[2018-05-01 18:42] jprivillaso opened #265 "Event for toggle checkbox"
### Issue Type (delete the irrelevant ones)
- [x] Enhancement Request

### Specs
2.4.4

What browser?
Chrome

It's not a bug, but a behavior that would be nice to have. I need to have an event to know when the user clicked on the checkbox that is created when I choose to have select-options.
Currently, I can only have an event @on-select-all but I need to have an event that will be triggered when

[2018-05-01 20:07] xaksis commented on #265
hey @jprivillaso for individual checkboxes you can use @on-row-click. if selection mode is enabled, `params.selected` will tell you whether the row that was clicked on was selected or unselected. refer to this example: https://jsfiddle.net/aks9800/keLjcssn/

for pre-selected rows, just set a property in your row item -  `vgtSelected: true`

This should solve all your concerns. closing.

[2018-05-01 20:07] #265 closed

[2018-05-01 20:11] xaksis commented on #263
hey @ankitwashere, just use v-html:
[code]

closing.

[2018-05-01 20:11] #263 closed

[2018-05-02 06:51] yudhiezk opened #266 "Invalid Date"
I just downloaded vue-good-table this morning, basically I just copied everything just to see how it works. But on the date side (from the example, the "joined" field) I always get "Invalid Date".
And again for the record, basically I just install and run it. But the date always get "Invalid Date". And I tried changing the format, but still got the same thing.

Is there anything Im doing wrong?

[2018-05-02 10:11] ankitwashere commented on #263
ahh thanks did not know we could do that
tweaked it a little bit to do exactly what i want it to do

    <vue-good-table
        :columns="columns"
        :rows="rows"
        :pagination-options="{ enabled: true, perPage: 4}"
        :search-options="{ enabled: true}">
        <template slot="table-row" slot-scope="props">
        <span v-if="props.column.field == 'age'">
         age: {{props.r

[2018-05-02 11:47] xaksis commented on #266
hey @yudhiezk, thanks for trying out vue-good-table. It is difficult to say what is going on without seeing how you are using it. What does your code look like? What is the format you're using? What version of the plugin are you using?

I created the issue template so that I don't have to waste people's time asking the same questions... have you taken a look at one of the examples from the recipe

[2018-05-02 11:49] xaksis commented on #264
hey @sergeevpasha tough to debug without seeing what you're doing. the issue template (and the answer provided there) would have helped me debug this further... but there isn't much to go by in your description. How are you using the table? are the rows actually deleted? Have you verified that the rows object is empty?

[2018-05-02 13:07] JavaGT opened #267 "Setting rows to empty array."
### Issue Type (delete the irrelevant ones)

- [x] Bug

What browser?
Google Chrome

### Expected Behavior
What did you expect to happen?
For default "No data" label to appear.

### Actual Behavior
What actually happened?
Table content remained the same

this.rows = [] // No change in table. although accessing through dev tools seems so show data changed in vue component, just not the rendered out

[2018-05-02 21:54] xaksis commented on #267
@JavaGT Thank you for pointing this out. I was able to reproduce this on my end. will check in a fix shortly

[2018-05-02 21:55] xaksis commented on #264
closing. This is the same issue as #267 will be fixed shortly.

[2018-05-02 21:55] #264 closed

[2018-05-03 03:25] JavaGT commented on #267
Excellent thanks

On Thu, 3 May 2018, 09:54 xaksis, <notifications@github.com> wrote:

[2018-05-03 18:34] mgd722 commented on #111
@xaksis just to confirm: 'template-row-before' and 'template-row-after' got nixed somewhere along the line to the current version, right?

[2018-05-03 19:15] xaksis commented on #111
hey @mgd722 yeah. you don't need them anymore. Just supply the column names and then provide the row-template:
https://jsfiddle.net/aks9800/hsf0sqf8/

[2018-05-04 22:37] jacebot opened #268 "Inconsistent code and doc references"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
2.3.0

### Expected Behavior
Your docs to be consistent  with the expected code.

### Actual Behavior
```searchOption```  vs  ```search-options```

Please update your docs to be accurate. Your recipe shows one way, while your docs say otherwise.

https://jsfiddle.net/aks9800/57a2a4ce/

Also, basic search does not work on objects or

[2018-05-05 00:27] xaksis commented on #268
@jacebot HTML attributes are case-insensitive, so when using non-string templates, camelCased prop names need to use their kebab-case (hyphen-delimited) equivalents. Read about it here: https://012.vuejs.org/api/options.html#props.

I'm not quite sure what you mean by basic search not working on objects or time objects? what is your use case. Vue-good-table does not use moment.js it uses datefns.

[2018-05-05 12:36] xaksis commented on #267
this should be fixed in v2.4.5.

closing.

[2018-05-05 12:36] #267 closed

[2018-05-05 12:38] sergeevpasha commented on #267
@xaksis thx from me too =) atm this is the best tables for vue =)

[2018-05-07 07:35] yudhiezk opened #269 "Class on vgt-global-search"
Bug
How come the class vgt-global-search alwasy show event though I have set the searchEnabled to 'false'? Is there a way to remove the element totally if I set it to false?

[2018-05-07 12:45] xaksis commented on #269
@yudhiezk you seem to be using an older version of the doc. version 2 requires `search-options: {enabled: false}` please refer to the docs here:
https://github.com/xaksis/vue-good-table#search-options

closing.

[2018-05-07 12:45] #269 closed

[2018-05-07 18:25] tonimc opened #270 "External query doesn't work"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?

2.4.5

What browser?

Chrome

### Expected Behavior
What did you expect to happen?

Good Table should allow using a data as a source of search/

### Actual Behavior
What actually happened?

It doesn't rendered the table and throws an error in console.
![image](https://user-images.githubusercontent.com/75

[2018-05-08 03:43] yudhiezk commented on #269
I'm referring to the docs and its written "searchOption" not "search-options". And I tried "serach-option" and It doesn't work also. The class "vgt-global-search" is still taking space.

[2018-05-08 13:54] xaksis commented on #270
v2.4.6 fixes this. your jsfiddle is now working.

[2018-05-08 13:55] #268 closed

[2018-05-08 14:18] xaksis commented on #270
ok now it should be working fine. :) v2.4.7

[2018-05-08 14:18] #270 closed

[2018-05-08 20:05] vivekt001 opened #271 "footer style"
- [x] Question

I am trying to adjust the padding of the footer but i am  unable to do it. Can anyone help me?

What browser?
Chrome
### jsfiddle
(https://jsfiddle.net/aks9800/57a2a4ce/)

[2018-05-08 20:48] xaksis commented on #271
@vivekt001 what have you tried so far?

[2018-05-08 20:51] xaksis commented on #271
I just had to modify the vgt-wrap__footer to change the padding:
[code]

closing. Let me know if this doesn't work for you and I'll re-open.

[2018-05-08 20:51] #271 closed

[2018-05-09 03:08] yudhiezk opened #272 "Backspace triggering search when it should only be triggered on 'enter'"
Question

Is it possible to create custom function when I use @on-sort-change and prevent the default function?

Oh and one more thing.
On search options, I use enter as trigger, but backspace also running the search function. How to prevent backspace from calling the search function, and only trigger by enter?

[2018-05-09 11:16] xaksis commented on #272
hey @yudhiezk, you can customize sort for any column by supplying `sortFn` for that column, see here: https://github.com/xaksis/vue-good-table#sortfn-function

the backspace thing seems to be a bug. I'll look into it.

[2018-05-09 13:40] xaksis commented on #272
hey @yudhiezk the backspace trigger should now be fixed in v2.4.8.

closing.

[2018-05-09 13:40] #272 closed

[2018-05-10 13:10] stepanorda opened #275 "Adding a way to manipulate selected filters from outside"
### Issue Type (delete the irrelevant ones)
- [x] Enhancement Request

### Specs
It would be cool to have a way to manipulate selected filters outside of component. For example adding a prop 'columnFlters' and event @on-filter-change to keep track of changes made inside of component.

Right now I solved this for me bu just accessing VgtFilterRow directly but that's not a reliable solution.

[2018-05-10 16:40] xaksis commented on #275
hey @stepanorda!
doesn't on-column-filter do what you're looking for?
https://github.com/xaksis/vue-good-table#on-column-filter

everytime filter changes, it emits an object indicating the current state of all filters.

[2018-05-10 16:53] xaksis commented on #275
Ah... are you looking for a way to create filter inputs outside the table and use that to filter the table?

[2018-05-10 17:59] stepanorda commented on #275
Yes I want to control them from outside of the component. I have charts and want to sync selection of the data on charts and in filters. I already did that, but in vary dirty hack way...
[code]

[2018-05-11 08:29] T-Bod opened #276 "Accessing different row object from non-header row?"
- [x] Question

Is there a standard way for a non-header row to access other rows (in this case, all rows above it in the table post-sort)?  I'm trying to create  a running balance field which will ideally dynamically iterate over all prior rows and return the sum of an amount field but haven't been able to figure out how to have the field respect the sort order in its summing.

[2018-05-11 09:28] MoYummy opened #277 "Fields containing dot('.') will get value lost"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?

2.4.8

What browser?

Chrome

### Expected Behavior
What did you expect to happen?

I intend to display data `[{playerlimit:{count:0}}]` by flatting it with '.' as separator.
I use a workaround (4 underscores temp separator) to achieve this.
[code]
[code]
![image](https://user-images.githubusercontent.co

[2018-05-11 16:38] stepanorda opened #278 "More visual customization, classes, custom pager and filter components"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request
- [x] Question

### Specs
Right now there is not much instruments to customize the look of table. For example many of the classes are hard coded. Is this by design and you don't want to overcomplicate it and it should used as is or maybe there is plans to change that? I want to use it on project with bootstrap3 I can set the ma

[2018-05-11 16:54] xaksis commented on #278
@stepanorda feel free to create a sass theme for your particular use case and submit as a PR. you can follow the "nocturnal" sass file for reference.
https://github.com/xaksis/vue-good-table/tree/master/src/styles/nocturnal

Creating props for customizing style for every single element is a bit overkill, specially when you can override any of those styles by providing your own style rules for the

[2018-05-11 16:54] #278 closed

[2018-05-11 16:57] stepanorda commented on #278
well if you already have all the classes like in bootstrap case, creating a sass theme with the same functionality is not the most handy and logical solution :) But ok, I understand your position I guess you don't want to overcomplicate this.

[2018-05-11 17:04] xaksis commented on #277
@MoYummy for nested fields you need to make sure your `field` is "playlimit.count". you should not be replacing it with `___` and then be using it for `field`.

take a look at this example for reference: https://jsfiddle.net/aks9800/8otsu2vo/

closing.

[2018-05-11 17:04] #277 closed

[2018-05-11 17:10] xaksis commented on #276
hey @T-Bod i'd sugest you use the @on-row-click to get the row that was clicked on

To get all the rows in the current page, put a `ref` on the table and then access `paginated` which contains all rows in the current page in the correct order. you can then figure out what rows appear before the clicked row and do what you want with them.

this is too specific of a usecase for the library so a gene

[2018-05-11 17:10] #276 closed

[2018-05-11 17:12] xaksis commented on #278
not sure what you mean by sass theme with the same functionality? sass themes are simply variants of existing variables and classes to create a new theme. That's exactly what you'd do if you wanted to create a new theme for bootstrap right?

[2018-05-11 18:00] sergeevpasha opened #279 "Select on checkbox only"
So i have selectable rows that are links... Is there a way to allow user select rows only by pressing a checkbox? Cause I use entire row as a link

[2018-05-12 18:45] AhmedElbatt opened #280 "Can't find module "vue-good-table" Typescript"
I am newbie to either typescript and Vue.js ; and I am experiencing an issue that related with using the Vue-good-table componant inside a typescript file like this;

import VueGoodTable from 'vue-good-table';
import 'vue-good-table/dist/vue-good-table.css'

**TS compiler throws a compile error (Can't find module "vue-good-table")**.Can anyone help me please ?

[2018-05-14 02:36] MoYummy commented on #277
I tried it but found that there would be performance issue.
For same array (length 20) of objects(depth 4), actions like switching pages or searching key words will take `10s` through nested field path while it takes `200ms` for pre-flattened.

[2018-05-14 08:30] MoYummy commented on #277
It looks like the recommended way will has worse performance than flattened one.
![image](https://user-images.githubusercontent.com/8344384/39985824-6153516c-5792-11e8-8553-a4c83f4b5398.png)

Please kindly check https://moyummy.github.io/vue-static/src/#/vue-good-table-demo

Repro:
1. Click 'LOAD'
2. Search something like '6' in search box / 2. Click columns to sort
3. Check console log

In compar

[2018-05-14 13:45] odusseys opened #281 "Enhancement Request: 'trigger' in column filterOptions / debouncing"
- [x] Enhancement Request

Right now, only the global search seems to accept the {trigger: 'enter'} option. This would be quite useful for column filtering too, as the keyup trigger can be quite slow if the data is large.

Furthermore, to address said performance issue, I think it would be a good idea to add a debounce to the search in order to avoid searching on EVERY keyup, which can be super sl

[2018-05-14 14:15] mlholt03 opened #282 "Expose DOM Click Event Object In Row/Cell Click Handler"
### Issue Type (delete the irrelevant ones)
- [x] Enhancement Request

### Specs
It would be nice if the DOM click event object was expose-able to the click handler.  My use case is that I would like the ability to know if the user was holding Alt, Ctrl, etc., when they clicked on a row.

[2018-05-15 21:05] mgd722 commented on #142
@xaksis Any thoughts here?  I'll submit a PR with these changes and the associated documentation if it's desired core functionality.

[2018-05-17 02:54] sergeevpasha opened #283 "removing Utility styles"
Hello. Just updated vgt and got a problem, that all my styles now completely broken. Utility styles that are in the bottom of the page rewrites all my styles, and i have no clue how to delete em. And what was the reason to put em there?

[2018-05-17 12:08] xaksis commented on #283
Hi @sergeevpasha please use the provided template for issues otherwise i'd have to ask you a lot of redundant questions to get the context.
what version were you using before? what version are you using now? how were you overriding styles before? which utility files are you referring to? No new utility style files have been added in recent releases.

[2018-05-17 12:29] sergeevpasha commented on #283
Sorry.
I used v 2.4.8 then updated to 2.5.1. Also I did overwrite every style to my own needs. I had a separate css file that was included in head (so i can't really call that overwrite, I simply didn't enable the basic styles). The problem now is that in the bottom of the page I have <style> block generated by js. And this block obviously overwrites all my styles.

[2018-05-17 13:01] sergeevpasha commented on #283
I did 0 changes, Only updated vgt.

[2018-05-17 13:27] xaksis commented on #283
were you including the css file provided by vue-good-table before? or completely leaving it off?

[2018-05-17 13:28] sergeevpasha commented on #283
completely leave off

[2018-05-17 13:29] xaksis commented on #283
ah so you're saying that now just adding the component is adding the styles there as well?

[2018-05-17 13:31] sergeevpasha commented on #283
Exactly

[2018-05-17 13:32] xaksis commented on #283
apologies! I misunderstood. Let me look into it.

[2018-05-17 14:33] sergeevpasha commented on #283
Thank you=)

[2018-05-17 22:28] kmonagle commented on #142
I'd absolutely use this. I actually need it today!!:)

[2018-05-18 03:04] xaksis commented on #142
@mgd722 @kmonagle sorry for the delay in response!

filteredRows actually contains the entire filtered set and not just the current page, so depending on your use-case you might want to access:
1. filteredRows - set of all rows that match filter combinations
2. paginated - set of all rows that match filter in the current page

in either case, you access the desired set of rows at any time by putti

[2018-05-18 13:33] kmonagle commented on #142
that is perfect. I had gotten as far as this.$refs.myTable.filteredRows, didn't realize I needed to drill down a bit more. Direct access to the currently filtered rows is exactly what I need. Thanks!!!

[2018-05-18 13:43] xaksis commented on #142
cool! so I'll close this for now. @mgd722 let me know if this doesn't work for you and we can re-open and discuss more.

[2018-05-18 13:43] #142 closed

[2018-05-18 20:36] mgd722 commented on #142
oh, nope, that works great!  thank you!

[2018-05-21 08:14] RaghunathHyd opened #284 "Feature Request: Row Headers"
It will be great if in future versions, if you could also include row headers as well. Will be useful for display of information in a different manner.

Thanks

[2018-05-22 08:31] sergeevpasha commented on #279
so is it possible to do smth with that?

[2018-05-22 20:42] mgd722 opened #285 "Error on sorting boolean field. Maybe need to add boolean type?"
### Issue Type
- [x] Bug

### Specs
What version are you using?
2.4.4

What browser?
Chrome Version 66.0.3359.139 (Official Build) (64-bit)

### Expected Behavior
What did you expect to happen?
I expected to be able to sort a column by a boolean value.

### Actual Behavior
What actually happened?
Clicking the column header of my boolean value logged an error to the console and broke sorting on all

[2018-05-22 20:47] mgd722 commented on #285
The error, `TypeError: d.toLowerCase is not a function`, makes sense-- the sorting algorithm runs by lowercasing the text before evaluation so we're comparing apples and apples.  This fails on boolean values however, because `true.toLowerCase()` isn't a thing.  Simplest solution I can think of is to cast the values to string before lowercasing them.

[2018-05-22 21:00] xaksis commented on #285
ah! good catch @mgd722 I think we need a type boolean for vgt column. I'll work on it. out of curiousity, how do you show boolean on the table? string "true"/"false"?

[2018-05-22 21:02] xaksis commented on #284
@RaghunathHyd sorry I'm not quite clear on the requirement here... can you explain a bit more about what you mean by

[2018-05-22 21:30] mgd722 commented on #285
Yeah, my current workaround is to cast the boolean to string (just "true"/"false") by passing a function to the field instead of the field name: [https://jsfiddle.net/gn5ubo8a/3/](https://jsfiddle.net/gn5ubo8a/3/).  This works alright, but prevents me from passing the field name to `initialSortBy` since there isn't really a field name.  This isn't a big deal for my use case, but I could see that g

[2018-05-22 23:34] RaghunathHyd commented on #284
Apologies for not being more clear.

Right now we have headers for each column in the top row.

What I was requesting is to have a header for each row in the first column. Useful for small table to display information where using a normal table might be overkill.

Please see the pic.

![row headers](https://user-images.githubusercontent.com/17150206/40395631-ac4e2d1c-5e46-11e8-97a9-83f27270a3e6.pn

[2018-05-23 12:10] JevPrentice opened #286 "Searching table clears selected checkboxs on ui"
### Issue Type (delete the irrelevant ones)
- [x] Bug

### Specs
MacBook Pro (Retina, 15-inch, Mid 2015)

What browser?
Chrome - Version 66.0.3359.181 (Official Build) (64-bit)

### Expected Behavior
On vue-good-table should the user select a checkbox and then type a search query the ui should still reflect that the original item was selected

### Actual Behavior
On vue-good-table should the user

[2018-05-23 15:17] xaksis commented on #286
@JevPrentice this was done by design after the following discussion:
https://github.com/xaksis/vue-good-table/issues/233

What is your use-case? Since filtering might hide selected rows and in most cases would render select-all to false. What do you think should be the proposed behavior?

[2018-05-24 11:58] JevPrentice opened #287 "Feature to toggle checkbox state programatically"
### Issue Type (delete the irrelevant ones)
- [x] Enhancement Request

### Specs
MacBook Pro (Retina, 15-inch, Mid 2015)

### What browser?
Chrome - Version 66.0.3359.181 (Official Build) (64-bit)

### New Desired Behavior
Please introduce a trigger to allow a developer to update the state of the checkboxes on the UI, for example having the table load with various values with all the items already

[2018-05-24 14:04] xaksis commented on #287
Hey @JevPrentice just add 'vgtSelected: true' to row objects that you want to appear selected.

closing.

[2018-05-24 14:04] #287 closed

[2018-05-24 14:56] JevPrentice commented on #287
Thanks @xaksis this is working well!

[2018-05-24 19:14] xaksis commented on #285
column type `boolean` now added in v2.5.5

closing.

[2018-05-24 19:14] #285 closed

[2018-05-25 05:59] hemanthReddy06 opened #288 "Pagination for ALL is not working properly"
- [x] Bug  -  If we change the no of records to ALL in rows per page, it should disable the next button.

What browser?
In all browsers

### Expected Behavior
If we change the no of records to ALL in rows per page, it should disable the next button.
### Actual Behavior
After changing no of rows to ALL in rows per page next button is enabled.

### Steps to Reproduce the Problem
Please detail your s

[2018-05-26 00:01] xaksis commented on #288
@hemanthReddy06 good catch! will release a fix shortly.

[2018-05-26 00:51] xaksis commented on #279
@sergeevpasha reasonable ask! will work on it shortly

[2018-05-26 00:57] xaksis commented on #288
fixed in v2.6.0

[2018-05-26 00:57] #288 closed

[2018-05-26 00:58] xaksis commented on #282
`on-row-click` and `on-cell-click` both now contain the click event in their params - v2.6.0

[2018-05-26 00:58] #282 closed

[2018-05-26 00:59] xaksis commented on #279
v2.6.0 now allows you to specify `selectOptions.selectOnCheckboxOnly: true`

[2018-05-26 00:59] #279 closed

[2018-05-26 01:00] xaksis commented on #192
closing.

[2018-05-26 01:00] #192 closed

[2018-05-26 04:12] hemanthReddy06 commented on #288
Thanks

On Sat, May 26, 2018, 6:27 AM xaksis <notifications@github.com> wrote:

[2018-05-27 19:57] Dried09 commented on #280
Problem is actual. I tried to add this:
shims.d.ts
[code]
my-component.ts
[code]
Compiler has no errors, but runtime has error:

Can someone give more specific advice with short example?

[2018-05-28 15:28] sergeevpasha opened #289 "npm 2.6 missing"
update npm plz =)

[2018-05-28 19:11] xaksis commented on #289
@sergeevpasha thank you for pointing that out... turns out npm wrongly was showing success on publish even though nothing was being published. See here:
https://github.com/npm/registry/issues/333

I have now published the newer version (v2.6.1) to npm registry.

[2018-05-28 19:11] #289 closed

[2018-05-29 03:14] sergeevpasha opened #291 "checkbox bug"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
2.6.1

What browser?
Chrome

### Expected Behavior
Click on checkbox checks the box

### Actual Behavior
Click on checkbox do not work, while click on a row checks the checkbox

[2018-05-29 18:27] xaksis commented on #229
@sylvaincaillot I was finally able to test and release a backend driven vue-good-table instance and can confirm it works well. I created a wiki to go over the workflow:
https://github.com/xaksis/vue-good-table/wiki/Remote-Mode-Workflow

Let me know if you have any issues with this. Closing.

[2018-05-29 18:27] #229 closed

[2018-05-30 03:12] xaksis commented on #291
fixed in v2.6.2

[2018-05-30 03:12] #291 closed

[2018-05-30 13:39] vikingmaster opened #292 "Empty state slot creates additional [tbody] element when mode is remote"
### Issue Type (delete the irrelevant ones)
- [x] Bug
### Specs
What version are you using - 2.6.2
What browser - Chrome 66.0

### Steps to Reproduce the Problem
1. Initialize vgt table with an emptystate slot
1. Make sure that there are no rows and mode is `remote`
1. Inspect element, see 2 tbody elements

![image](https://user-images.githubusercontent.com/2473385/40723071-aa6a6ed0-6426-11e8-91cc

[2018-05-30 13:52] vikingmaster commented on #292
Apologies, apparently having multiple `tbody` elements is okay according to this question in SO: https://stackoverflow.com/questions/3076708/can-we-have-multiple-tbody-in-same-table

Thus closing the issue!

[2018-05-30 13:52] #292 closed

[2018-05-31 21:01] joannesalfa opened #293 "Invalid regular expression: /\/: \ at end of pattern"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.6.2.

### Expected Behavior
What did you expect to happen?

It should not display the error.

### Actual Behavior
What actually happened?

It broke the page after accidentally typed one letter  "&#92;"

### Steps to Reproduce the Problem
Please detail your steps here

1. Use the simple example with vue

[2018-05-31 21:05] joannesalfa commented on #293
Also it applies to "[" and "]"

[2018-06-02 09:39] fabiokounang opened #295 "Searching"
Hey guys, im having a little trouble here, so i have 100 data, and the limit of my data is 10 per page. And when i enter keyword to search, it's just searching through that 10 data on the page, but what i want is to search for all the 100 data. anyone can help ? thank you ! ^ ^

[2018-06-05 22:58] xaksis commented on #295
hey @fabiokounang can you show me how you're using it?

[2018-06-06 16:54] xaksis commented on #293
@joannesalfa this should now be fixed in v2.6.3 thanks to @OperKH

[2018-06-06 16:54] #293 closed

[2018-06-06 19:15] TheJaredWilcurt opened #296 "2.6.3 causing infinite network request loop"
* **Issue Type:** Bug
* **Version:** 2.6.3 (issue does not occur in 2.6.2)
* **Browser:** Any
* **Expected Behavior:** Load the page, populate the content in the table
* **Actual Behavior:** Loads the page, content is populated which triggers a page change, which then triggers data to be requested again, data is populated which triggers a page change, etc.

[2018-06-06 19:31] xaksis commented on #296
In other words, I'm not seeing

Not sure why populating rows would trigger a page change? can you give me a bit more detail of what is causing it?

[2018-06-06 19:47] TheJaredWilcurt commented on #296
![event-log](https://user-images.githubusercontent.com/4629794/41061145-b1eb22ca-699f-11e8-9ad0-451bd4ec8218.png)

I have a component (`baseTable.vue`) that is a wrapper for VGT.

I have a Vuex module (`organizations.js`), that has a action (`getOrganizationAssets`) that makes a network request for data, then a mutation updates the state with the data that comes back.

So on page load, we run the

[2018-06-06 20:31] TheJaredWilcurt commented on #296
Confirmed fixed. 👍

[2018-06-07 12:16] drna3r opened #297 "Please Add " totalRows " prop to Readme!"
Table.vue
[code]

**Not knowing this has hurt me...!**

[2018-06-07 13:15] xaksis commented on #297
@drna3r apologies!! This is still somewhat in testing so I haven't fully documented it. However, now I think it's mature enough (I just rolled out an implementation to prod for one of my projects) so I'll definitely make it more visible in the readme shortly.

There's a wiki that details a sample remote workflow:
https://github.com/xaksis/vue-good-table/wiki/Remote-Mode-Workflow

[2018-06-07 16:52] edjabe opened #298 "Problem with trying to see the data into table after update data for each me.row[index]"
- Question

Specs

What version are you using?

- vue-good-table: 2.6.4

What browser?

Google Chrome

### Expected Behavior
What did you expect to happen?

After update for each me.row[index] with new value I was expecting that the data in table get show but with the new values.

Code :

[code]

What actually happened?

Currently when the open code run change the values in the variable 'rows' but

[2018-06-07 18:46] xaksis commented on #298
@edjabe your issue seems to be related to vue reactivity and not vue-good-table. You might get some relevant information here:
https://vuejs.org/v2/guide/reactivity.html

closing.

[2018-06-07 18:46] #298 closed

[2018-06-07 18:57] drna3r opened #299 "Please Add loadingText"
Please Add loadingText (for changing loading text) like :
    // text options
    nextText: 'Next',
    prevText: 'Prev',
    rowsPerPageText: 'Rows per page',
    ofText: 'of',
    allText: 'All',

( loading... ) in remote mode.
thank u..

[2018-06-07 19:19] xaksis commented on #299
just use loadingContent slot within the table tag.
[code]

closing.

[2018-06-07 19:19] #299 closed

[2018-06-07 19:20] drna3r commented on #299
Thank u

On Thu, Jun 7, 2018, 23:49 xaksis <notifications@github.com> wrote:

[2018-06-08 07:38] drna3r commented on #299
@xaksis Thank you for introducing loadingContent slot!
But I couldn't find " **loadingContent slot** " in Readme or Wiki ..
Is there another doc ?!

_thanks for supporting_ ...

[2018-06-08 13:44] drna3r opened #300 "@on-row-mouseenter for changing background color of row"
What is the best way to use " @on-row-mouseenter  " for change background color of rows or any css change

[2018-06-08 13:59] fagworio opened #301 "How to create a action bar inside the row?"
- [x] Question

Amazing tab.

How to create a action bar inside the row ?
Like Delete, Edit, Disable

Every row will have the actions.

Thanks.

[2018-06-08 15:29] drna3r commented on #301
I created an simple action bar with "[Custom Row Template](https://github.com/xaksis/vue-good-table#custom-row-template)" :

like this :
[code]

[2018-06-08 19:10] fagworio commented on #301
Lol, Thanks.

[2018-06-08 21:42] drna3r commented on #301
👍

On Fri, Jun 8, 2018, 23:40 João Fagner <notifications@github.com> wrote:

[2018-06-09 07:36] drna3r commented on #300
i find it.. thank u...

[2018-06-09 07:36] #300 closed

[2018-06-11 20:50] akselect opened #302 "Create reset method for table (paginate to page 1 and clear column filters)"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

Allow programmatically resetting of the table to remove all column filters + paginate back to 1. This is specially useful for remote mode.

[2018-06-11 21:16] drna3r commented on #302
Thanks you for discuss this issue!
I Use [Remote Mode ](https://github.com/xaksis/vue-good-table#remote-mode) With [Axios ](https://github.com/axios/axios) and I have to repeat my code in [Mounted ](https://vuejs.org/v2/api/#mounted) When Get I Empty String [on column filter](https://github.com/xaksis/vue-good-table#on-column-filter) ....

But I'm not sure that this is the best solution...!

[2018-06-11 22:27] brokeyourbike opened #303 "Clear the selected rows"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
What version are you using?

- [x] 2.6.6

### Expected Behavior
Is there any way to clear the selected rows programmatically?
User select rows, press button for action, and in the end it would be nice to clear selection.

[2018-06-12 01:40] xaksis commented on #303
hey @brokeyourbike, just put a `ref` on the table and then call `unselectAllInternal()`

[code]

closing.

[2018-06-12 01:40] #303 closed

[2018-06-12 01:41] xaksis commented on #301
thanks @drna3r . closing this.

[2018-06-12 01:41] #301 closed

[2018-06-12 02:08] xaksis commented on #302
@drna3r @akselect all done now you can use `reset` method of the table.

<vue-good-table ref="my-table" ...>
</vue-good-table>

// in your handler
this.$refs['my-table'].reset();

closing.

[2018-06-12 02:08] #302 closed

[2018-06-12 13:42] JoshDev1205 opened #304 "Access to externalquery from searchfn"
### Issue Type (delete the irrelevant ones)

- [x] Question

Hello i want to know if it's possible to access externalquery from a created searchfn.

Thanks for your help.

Kind regards

[2018-06-13 03:52] neverender24 commented on #235
I seconded this one, as standard Vuejs looping should use the key instead of the index. As index will remain even when sorting but keys are persistent like v-for="item,key in temp"

[2018-06-13 08:45] drna3r commented on #304
Hi @JoshDev1205 ...

   **IF (** you mean is that You can Create ServerSide Searching (With: ajax, axios , ..etc) **) {**
        you should read this articles :
        1 - [Remote Mode](https://github.com/xaksis/vue-good-table#remote-mode)
        2 - [Remote Mode Workflow](https://github.com/xaksis/vue-good-table/wiki/Remote-Mode-Workflow)

**}Else {**
Please describe your question in more deta

[2018-06-13 10:53] rockyshukla opened #305 "is vue table can handle data ~1 lakhs"
hello guys, your vue-good-table is so good and I want to know how I can handle data up to  ~1 lakhs or more is it possible and one more thing is  vue table work for server side like datatable

[2018-06-13 10:55] JoshDev1205 commented on #304
Hi @drna3r

I created a Sandbox with my example

https://codesandbox.io/s/o5l750282q

I try to search my ExternalQuery value in my default searchFn that i created.

searchFn: my-func

my-func: function(row, col, cellValue, myExternalQuery){ ... }

After that i cant reset the table to original state.

Thanks for your help

[2018-06-13 12:27] xaksis commented on #305
@rockyshukla thanks for the kind words.
To make vue-good-table work with a very high payload, you can follow the remote workflow (where server needs to take care of sorting/filtering/pagination etc) - https://github.com/xaksis/vue-good-table/wiki/Remote-Mode-Workflow

closing.

[2018-06-13 12:27] #305 closed

[2018-06-14 02:51] marcoapferegrino opened #306 "Boolean columns does not change with remote data"
Hi Guys Nice to talk and before all nice Job!! very useful

- [x] Bug

### Specs
What version are you using?
"vue-good-table": "^2.7.0",

What browser?
Versión 66.0.3359.181 (Build oficial) (64 bits)

### Expected Behavior
What did you expect to happen?
When I change my page or an filter or sort is fired The boolean columns change which its own values because it seems like the table values has cac

[2018-06-14 06:46] rockyshukla commented on #305
@xaksis  thanks for your response it tried your suggestion but the global search is not working in a mode remote

[2018-06-14 08:03] rockyshukla opened #307 "search option is not working"
hello folks thanks for such great table i have issue with search let me show my code first

                 <vue-good-table
                                   mode="remote"

                                  @on-page-change="onPageChange"
                                  @on-sort-change="onSortChange"
                                  @on-column-filter="onColumnFilter"

[2018-06-15 01:43] marcoapferegrino commented on #306
SOLVED.
It was a problem about the _aweasome font library_ it seems the icons were caching something.

[2018-06-15 01:43] #306 closed

[2018-06-18 08:21] fabiokounang commented on #295
hey, sorry for the late reply, i already figured it out^ ^, i wasnt get to database when i search it, but now i do, so it is solved ^ ^.oh by the way,  the new problem is, the vue warning about props, how can i solve it ? the warning is "avoid mutating direct props" blablabla

[2018-06-18 08:58] StefanOosten opened #308 "Dropdown filter not working in Edge"
### Issue Type (delete the irrelevant ones)

- [x] Bug

What browser?
Edge

The dropdown filters don't seem to work in Edge. (normal filters do)

### jsfiddle
This fiddle works fine in Chrome, but try it in Edge.

https://jsfiddle.net/57a2a4ce/353/

[2018-06-18 10:17] xaksis commented on #295
Sounds like you're mutating props in your component which vue frowns upon. If you look it up online, you'll see some alternative patterns that are more in line with Vue's best practices.

Since this isn't related to vue-good-table, I will close this.

[2018-06-18 10:17] #295 closed

[2018-06-18 22:07] xaksis commented on #297
new documentation is up which includes `totalRecords` as one of the table properties:
https://xaksis.github.io/vue-good-table/guide/configuration/#totalrecords

closing this.

[2018-06-18 22:07] #297 closed

[2018-06-19 05:33] aloay opened #309 "how to show images/image thumbnails inside cells?"
### Issue Type
- [x] Question

[2018-06-19 12:08] rafaelgov95 opened #310 "Error while using Typescript"
### Issue Type (delete the irrelevant ones)
- [x] Question

### Specs
What version are you using?
2.7.2
What browser?
Google Chrome

### Steps to Reproduce the Problem
Please detail your steps here

1.
How to use typescript VueTS

[2018-06-19 12:14] xaksis commented on #309
hey @aloay, you can do it two ways:
1.  preferred way - use custom row template: https://xaksis.github.io/vue-good-table/guide/advanced/#custom-row-template
2. Use the html property of column: https://xaksis.github.io/vue-good-table/guide/configuration/column-options.html#html

closing.

[2018-06-19 12:14] #309 closed

[2018-06-19 12:16] xaksis commented on #308
@StefanOosten thank you for pointing it out. I only have a mac so sometimes it's tough to identify these bugs. I'll see if I can find a way to debug this.

[2018-06-19 22:33] xaksis commented on #307
@rockyshukla this should now be fixed. @on-search should now emit an event in remote mode.

closing.

[2018-06-19 22:33] #307 closed

[2018-06-20 07:46] neverender24 opened #311 "Search highlight"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

### Specs
What version are you using?
Latest
What browser?

### Expected Behavior
What did you expect to happen?
Can we apply something like this in search, its like highlight the words that comes from search

### jsfiddle
https://jsfiddle.net/HubertWang/t5ac1quc/

[2018-06-20 11:48] robertjk opened #312 "Unable to register component locally"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.8.0

What browser?
Firefox 61.0b5

### Expected Behavior
What did you expect to happen?

I'd expect to be able to import `VueGoodTable` component and register it locally using `components` prop on my component which uses `VueGoodTable` in it's template.  Especially tha the [docs](https://xaksis.github.i

[2018-06-20 12:52] xaksis commented on #310
duplicate of #280. will be fixed shortly.

[2018-06-20 12:52] #310 closed

[2018-06-20 12:53] xaksis commented on #312
same issue as #280 component export has a bug. Will be fixed shortly.

keeping #280 open for now.

[2018-06-20 12:53] #312 closed

[2018-06-20 12:53] robertjk opened #313 "Do not use rem units for styling"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

### Specs
What version are you using?
2.8.0

What browser?
Firefox 61

### Expected Behavior
What did you expect to happen?

I expected to use your table component and have the styles applied correctly.

### Actual Behavior
What actually happened?

The table looks very bad. That is because you use `rem` units to set padding on

[2018-06-20 13:02] xaksis commented on #280
@Dried09 @AhmedElbatt component export should now be fixed with v2.8.1

Install instruction for your ref:
https://xaksis.github.io/vue-good-table/guide/#installation

[2018-06-20 13:02] #280 closed

[2018-06-20 13:03] xaksis commented on #312
@robertjk component export should now be fixed with v2.8.1. thank you for reporting with detailed usage.
[code]
Install instruction for your ref:
https://xaksis.github.io/vue-good-table/guide/#installation

[2018-06-20 13:04] xaksis commented on #310
@rafaelgov95 component export should now be fixed with v2.8.1.

import { VueGoodTable from }  from  'vue-good-table';

export default {
  components: {
    VueGoodTable,
  },
  (...)
};
Install instruction for your ref:
https://xaksis.github.io/vue-good-table/guide/#installation

[2018-06-20 13:05] robertjk commented on #312
Thanks :).

[2018-06-20 13:06] xaksis commented on #313
@robertjk good point. I'll take a look.

[2018-06-20 13:13] rafaelgov95 commented on #280
Do you have a solution?

[2018-06-20 13:17] robertjk commented on #313
The other thing you might think about is, enapsulating styles inside the component (and making them scoped). Then people using the component, wouldn't have to import the stylesheet separately - it would be imported along with the component. Unless you want the stylesheet to be optional, but still you can probably achieve both by having some component prop controlling if the styles would be declare

[2018-06-20 13:54] rafaelgov95 commented on #310
Not Run!!!!! SOS!
[code]
Error

Could not find a declaration file for module 'vue-good-table'. '/home/rafael/Documentos/Materias/TES/Trabalho-III/compras-front/node_modules/vue-good-table/dist/vue-good-table.cjs.j
s' implicitly has an 'any' type.
  Try `npm install @types/vue-good-table` if it exists or add a new declaration (.d.ts) file containing `declare module 'vue-good-table';

[2018-06-20 13:56] xaksis commented on #280
@rafaelgov95 umm... yeah... v2.8.1 should have a fix to the problem stated here...

[2018-06-20 14:10] xaksis commented on #310
you are trying to import an es module directly as a typescript component. refer to #280 to see how to properly import es component.

[2018-06-20 14:40] rafaelgov95 commented on #280
@xaksis follows what @Dried09 said but does not work.

[2018-06-20 18:49] rafaelgov95 commented on #312
@xaksis the same error happens when I use shims-vue.d.ts need help to use in TS

[2018-06-20 21:09] Dried09 commented on #280
I figured out this problem, but... it's actually not a good solution
add vue-good-table.d.ts file anywhere in project, for example, and add into it:
[code]
Then in some component add import:
`import * as VueGoodTable from 'vue-good-table';`
And finally in this component add global import:
`Vue.use(VueGoodTable.default);`

After that table component should work.
P.S. To my mind - it's not a solutio

[2018-06-20 21:57] xaksis commented on #280
@Dried09 with 2.8.1 you should be able to do what you were doing before:

shims.d.ts
[code]
my-component.ts

[code]
can you confirm that this doesn't work for you?

[2018-06-21 07:43] robertjk opened #314 "Sortable headers should suggest to the user visually that they can be clicked"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

### Specs
What version are you using?
2.8.0

What browser?
Firefox 61

### Actual Behavior

The headers are sortable, but that's not in any way communicated visually to the user. There is no icon, no underline, not even cursor changes to pointer, when the user hovers the header with mouse. Only when the user clicks the header,

[2018-06-21 13:16] xaksis commented on #313
hey @robertjk the styles were part of the component to begin with but were moved out because community requested it. People have spoken and want the option to leave the styles out completely. Whether the styles are imported or not cannot be controlled via props if the styles are part of the component, I think you meant have it conditionally apply via props which is exactly how it was before - howe

[2018-06-21 13:18] xaksis commented on #314
@robertjk cursor to pointer is a great catch... i meant to do that but amongst all the other things it got put on the back burner. will add that in.

For any other additional styling, you can use custom column headers:
https://xaksis.github.io/vue-good-table/guide/advanced/#custom-column-headers

[2018-06-21 15:25] nikolay-turpitko opened #315 "During upgrade from v2.6.2 sort headers stop switching from desc to asc (in the remote mode)"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?

I tried to upgrade from 2.6.2 to 2.7.0 and 2.8.1

What browser?

Chrome 66

### Expected Behavior
What did you expect to happen?

In version 2.6.2 when I click several times on the sortable column header, sorting switches between asc/desc and back.

### Actual Behavior
What actually happened?

In version

[2018-06-21 15:36] xaksis commented on #315
@nikolay-turpitko this was a bug introduced in 2.6.3 but was fixed in 2.6.4. Are you sure that you don't have that version cached somehow?

[2018-06-21 15:42] xaksis commented on #311
while this is a really cool functionality. It has the potential of making the table really inefficient since it introduces several new tags dynamically. Imagine a table with 1000s of rows and you type "a" in the search box, now you potentially have 1000s of new `spans` created for the highlight effect.

I'll still look into it as an optional feature.

[2018-06-21 15:43] nikolay-turpitko commented on #315
@xaksis yes, absolutely. I've never used 2.6.3, and switched from 2.6.2 to 2.7.0. Also I tried to upgrade to 2.8.1 and then downgraded back to 2.6.2 because of the error.

[2018-06-21 15:45] xaksis commented on #245
@TheJaredWilcurt wanna take a look at it when you get some time? In the mean time I have removed it from documentation because the functionality is essentially broken.

[2018-06-21 15:54] xaksis commented on #235
row keys was changed to an internal property index (which doesn't change while you're interacting with the table) https://github.com/xaksis/vue-good-table/blob/master/src/components/Table.vue#L116 a while back.

The header row and columns still uses index to loop through, but header rows or column orders are not effected by table interactions. I will be introducing order for columns and we'll upgr

[2018-06-21 15:54] #235 closed

[2018-06-21 15:55] xaksis commented on #315
are you using remote mode? or regular mode?

[2018-06-21 17:49] Dried09 commented on #280
Nope, still not :(
`shims.d.ts src
Module ''vue-good-table'' has no exported member 'VueGoodTable'.`

[2018-06-21 18:17] xaksis commented on #280
I don't use typescript so someone else can help you better here but it seems like you need to export it from your shim too like:
[code]

so following that logic, your shim might need to be:
[code]

make sure you're on 2.8.1 because 2.8.1 exports VueGoodTable versions before don't.
https://github.com/xaksis/vue-good-table/blob/master/src/index.js#L15

[2018-06-21 19:10] robertjk commented on #313
Thanks for the explanation.

I didn't mean conditionally apply styles. I thought it was possible to somehow wire importing the stylesheet with the prop value, but I did some research and it seems impossible indeed. It's a bit surprising to me people want to use component without styles, but if they want it, I understand your position :).

[2018-06-22 04:34] nikolay-turpitko commented on #315
@xaksis Yes, as I said it both in the header and in the issue description, I use vue-good-table in the remote mode. It seems to me like order directions changes after rows are populated from the remote response. It seems like it briefly changed to the right value (arrow blinks) while request is in progress and then reset back after response.

[2018-06-22 09:06] rangata opened #316 "Format rows from API call"
Dear Friends,

I am a new in JavaScript like languages. Maybe is not the right place to ask here, but I hope you can help me.

I want to show table with grouped rows by category.

Here is my data structure
`[{"id":1,"name":"ProductName","model":"the model","created_at":"2018-06-21 06:05:41","updated_at":"2018-06-21 06:05:41","product_type":"basic","category":"CARS"]`

How can I adopt it to fit in

[2018-06-22 10:43] xaksis commented on #315
Sounds like the columns are being recreated when the results come back? Does the handler for your request, re-mount the table? Are you doing anything other than just updating the rows.

There are a few people using the remote mode including myself and its working fine, so I'm thinking this might be something specific to your implementation. Maybe put up some code to show how you're using it?

[2018-06-22 11:03] nikolay-turpitko commented on #315
@xaksis

I'm not sure (because of other frameworks involved), but probably no.
As far, as I can tell, I'm updating total rows number on the app.data, and then I'm updating rows array on the app.data, but via setter (lib I'm working with have some restrictions, so that events won't emit for complex type otherwise). As far, as I know, vuejs emits some events to update component. This magic worked OK

[2018-06-22 12:16] xaksis commented on #315
so here's what I think is happening (my best guess since I don't know your exact implementation). The only reason column order is reset, is because columns are being recreated in the table. Internally, VGT has no watchers that recreate columns. So the only way the columns get reset is if externally one resets them on the component level like... `columns = new data` or makes a reactive edit like `V

[2018-06-22 12:20] xaksis commented on #315
ohh! something just came to me... are you setting an initialSort on your table?

[2018-06-22 14:34] BBroerse opened #317 "maak fixed header"
### Issue Type (delete the irrelevant ones)

- [x] Bug
- [x] Enhancement Request
- [x] Question

### Specs
What version are you using?

What browser?

### Expected Behavior
What did you expect to happen?

### Actual Behavior
What actually happened?

### Steps to Reproduce the Problem
Please detail your steps here

1.
1.
1.

### jsfiddle
If you provide a jsfiddle reproducing the issue, it'll be add

[2018-06-22 14:34] #317 closed

[2018-06-22 14:48] nikolay-turpitko commented on #315
@xaksis Yeah, that's it! I have declaration like below in my html:

        :sort-options="{enabled: true, initialSortBy: {field: 'UserEmail', type: 'asc'}}"

I removed it and it started to work (v2.8.1). Is there a way to have them both, though?

[2018-06-22 15:05] xaksis commented on #315
ah ok! so we're getting somewhere. So basically what's happening is `:sort-options` is being set again once your results come back. But if it's hardcoded like that, then it shouldn't be set again when your call returns. so weird... almost feel like your component is in fact, being mounted again.

One thing you can do is have `:sort-options="sortOptions"` then set `sortOptions = {enabled: true, , i

[2018-06-22 18:58] sorayadragon opened #318 "Hide/Show Columns On Demand"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

### Specs
What version are you using?
2.6.3

### Actual Behavior
What actually happened?
Currently, you can set each column to 'hidden: true' or 'hidden: false' (https://xaksis.github.io/vue-good-table/guide/configuration/column-options.html#hidden). This allows the developer to hide columns in the table.

### Expected Behavio

[2018-06-23 04:30] xaksis commented on #316
@rangata hey there! you can take a look at the following that guides you through making a grouped table.
https://xaksis.github.io/vue-good-table/guide/advanced/grouped-table.html

in your case the format of the rows would need to be something like:
[code]
going to close this. if you run into issues, comment again and we'll see if we can help.

[2018-06-23 04:30] #316 closed

[2018-06-23 15:53] vigorem opened #319 "html rendering in Grouped Table"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
What version are you using?
2.8.1

What browser?
Chrome

Whit `groupOption` enabled, I'm looking for a way to display directly html to the groupRows inserted.

I tried the following :

    rows: [
            {
              mode: 'span',
              label: '<div class="h2">Mammal</div>',
              children: [

[2018-06-23 20:43] xaksis commented on #318
hey @sorayadragon, you can set columns to hidden at any time... but you have to do it the vue way. If you do `this.$set(this.columns[0], 'hidden', true)` it will work as expected.

so to make this work, simply create a list of columns on your component and on-click on column name, set hidden to true or false. Or am I not understanding the ask here?

[2018-06-23 20:50] xaksis commented on #319
@vigorem with v2.8.2 you can specify `html: true` and you'll get what you want.
example:
[code]

closing.

[2018-06-23 20:50] #319 closed

[2018-06-23 20:51] xaksis commented on #314
fixed in v2.8.2

closing.

[2018-06-23 20:51] #314 closed

[2018-06-23 20:52] xaksis commented on #313
styles updated to use em units in v2.8.2

[2018-06-23 20:52] #313 closed

[2018-06-23 21:05] vigorem opened #320 "Define CSS class of Grouped Rows"
### Issue Type (delete the irrelevant ones)
- [x] Enhancement Request

### Specs
What version are you using?
`2.8.2`
What browser?
`Chrome`

Using `groupOption`, it would be great to be able to define the CSS class of the groupRows inserted for higher display customization.

[2018-06-24 05:35] nikolay-turpitko commented on #315
@xaksis Yep, this trick worked. I moved sort options initialization into the app.data property, as you suggested and it works fine with v2.8.1. I vaguely suspect (not quite sure, I have not much experience with vue), that it's related to this: https://vuejs.org/v2/guide/conditional.html#Controlling-Reusable-Elements-with-key. You see, actually I'm using 2 table (master-detail), which I'm switching

[2018-06-25 01:52] xaksis commented on #315
@nikolay-turpitko ah! yeah, that makes sense. Using a unique key probably re-mounts the component each time. I'm glad we figured this out!!

going to close this now.

[2018-06-25 01:52] #315 closed

[2018-06-25 14:01] sorayadragon commented on #318
@xaksis I didn't realize I had to set it the Vue way,  thanks! I had to make my own checklist to allow the user to choose which columns to hide/show, but I've got it working now.

[2018-06-26 19:01] T-Bod opened #321 "Maintaining header visibility on scroll?"
- [x] Question

Is there a recommended way to "freeze panes" or maintain visibility of the headers when scrolling through a long table?  There are a bunch of possible JS/CSS solutions online, just wondering if there's a supported way I should be using.

[2018-06-27 00:41] xaksis commented on #318
@sorayadragon sweet! closing.

[2018-06-27 00:41] #318 closed

[2018-06-27 16:02] benrolfe commented on #255
@xaksis, although this works as you've stated - I'd love to be able to format the text with HTML. It keeps all the column settings together.

[2018-06-27 19:07] xaksis commented on #255
@benrolfe could you tell me more about what column settings are being lost by using the method above? or an example of what you want the formatted value to look like?

[2018-06-28 01:04] rlightner commented on #313
@robertjk I use the component with a completely different style sheet to mimic Tabler, so I'm happy they aren't scoped.

[2018-06-28 07:59] robertjk commented on #313
@rlightner I understand the need, but for me one big idea of components is about sealing all the things inside the component, so that they don't pollute the global scope. Is it possible to have a separate stylesheet for the component and don't pollute the global scope?

[2018-06-28 08:11] benrolfe commented on #255
I'd like to be able to use this JS, but it doesn't work. Your proposed solution requires me to move the <strong> away from the code block into the HTML.

[code]

[2018-06-28 12:50] rlightner commented on #313
@robertjk What exactly is being polluted? He has things 'namespaced' under vgt-. Sealing all the things means they become unchangeable, then we really would be locked in to a control that has no ability to be styled do to the extra tags Vue.js adds to every single rendered component. Outside of using rem (which is pretty common) are you actually experiencing a style creep?

[2018-06-28 13:41] robertjk commented on #313
By polluting I mean creating some rules in global CSS scope. Maybe the author of this comonent prefixes all his CSS classes names, so that they target nothing more than his component, but not all of the authors do. Some of them create classes like `.input`, `.select` and `.container`. And some of them use selectors only with HTML elements without class at all, like `input[type="search"] { ... }` o

[2018-06-28 14:43] rlightner commented on #313
@robertjk  I get all that, but that's not what this author is doing. If you want the table to only be in one component, you can just import the css in that component. It's namespaced enough that it won't affect any of your normal styles. I know this issue is closed, but I'd say this request is a step backwards and would potentially affect other people using it who rely on the table following their

[2018-06-28 14:58] robertjk commented on #313
Oh I'm not requesting to change it. I see people need such feature, so I think it's better to stay like that. I'm more about saying we should re-think the idea we write our styles with Web Components emerging and find some modular way to do that.

[2018-06-29 03:07] jiabingtian commented on #297
@xaksis the newest code doesn't 'totalRecords' property

[2018-06-29 09:46] sudhir600 opened #323 "How to add custom buttons for action in a row?"
Hi Team,
Is there any way to add custom button in row and bind any action.
See this screenshot-
![image](https://user-images.githubusercontent.com/4952560/42085720-df21730e-7bae-11e8-9c4e-3b7be7b39e94.png)

I tried below code but its rendering html code as a string.
[code]

and above code is rendring like this.
![image](https://user-images.githubusercontent.com/4952560/42085892-47c1468c-7baf-11e8-

[2018-06-29 10:28] xaksis commented on #323
@sudhir600 as the documentation states, there are two ways you can do this.
1. add property `html: true` to your column (however if you're adding buttons etc this won't suffice since you probably need some interaction. So use method 2.

2. Custom row template - https://xaksis.github.io/vue-good-table/guide/advanced/#custom-row-template

closing.

[2018-06-29 10:28] #323 closed

[2018-06-30 10:09] vigorem opened #324 "Adding custom buttons in Grouped Rows Headers"
### Issue Type
- [x] Question
- [x] Enhancement Request

### Specs
What version are you using?
2.8.1

What browser?
Chrome

Following the **excellent** enhancement provided in [#319 ](https://github.com/xaksis/vue-good-table/issues/319) which allows injecting `html`  in row headers, I was looking for a way to add buttons (like show / hide details).

I've tried the following :

    rows: [{

[2018-07-01 00:30] jamessnook opened #325 "Pagination resets after remote sort"
### Issue Type:

- [x] Bug??  (or else  user error...)
- [x] Question

### Specs
2.8.2

What browser?
Chrome

### Expected Behavior

Pagination remains unchanged after remote sort of current page.

### Actual Behavior

Select column sort while pagination is showing records 11-15.  After sort,  pagination shows that it is at records 1-10 and previous button is disabled though the visible data is no

[2018-07-02 02:11] jamessnook commented on #325
It looks like it is a feature.  From line 822 of Table.vue:

     // every time we change sort we need to reset to page 1
      this.changePage(1);

I can program around this by resetting page to one in my code whenever there is a sort.  However it would still be nice to have a way to programmaticly  tell the paginator what page you are on.

[2018-07-04 03:40] VictorCazanave opened #326 "Custom pagination"
### Issue Type

- [x] Enhancement Request

### Specs
What version are you using?
2.4.5

What browser?
Last 2 versions, IE >= 10, Safari >= 7

### Expected Behavior
What did you expect to happen?

In my project I need to display a pagination that is pretty different than the one provided (first/last page buttons, refresh button, more labels, different elements position...).
Would it be possible to

[2018-07-04 10:03] sudhir600 opened #328 "How to set custom column with?"
I don't see any custom way to set column width in this table. If i use css like this

[code]

above code change the table column but behind that whole table took same width as previous.
See in this screenshot.

![image](https://user-images.githubusercontent.com/4952560/42270864-7bc4f5d4-7f9f-11e8-9c3b-a7c7c0c96293.png)

[2018-07-04 10:46] sudhir600 commented on #226
@LeoKi
"for the latter, you can use column property width: '200px'." where to set column with in `<vue-good-table />`

I m facing the same issue, I want to set different column with for each column. how is it possible?

[2018-07-04 10:51] sudhir600 commented on #226
It work like this.
[code]

[2018-07-04 10:58] sudhir600 commented on #226
@LeoKi  can we add custom style or css class on each column.
ror E.g.

[code]

[2018-07-04 16:22] belvederef commented on #328
The documentation talks about it here https://xaksis.github.io/vue-good-table/guide/configuration/column-options.html#width.
[code]

[2018-07-04 20:56] fagworio opened #329 "how to create a Dropdown options list in columns"
Nice work, very good component.
So, I have a doubt about how to create a Dropdown options list in columns,
I try the docs and unfortunately I was not able to reproduce the tutorial.

So, have someone a sample to share about how to create dropdown options on collumns?
Image sample
https://github.com/xaksis/vue-good-table/raw/master/README/images/vgt-table.advanced.png

[2018-07-05 09:31] LeoKi commented on #226
ahehe.. thank you sir...
there some user like to use a resizable column like excel cols . it can be resize. but i stop looking the solution. ill stick it with the current version of this.

thank you

[2018-07-05 20:33] sorayadragon opened #330 "Radio-button Table?"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
2.8.2

What browser?
Chrome

### Question
Is it possible to only allow the user to select a single row in the checkbox table (i.e. a radio-button table)?

[2018-07-06 01:46] xaksis commented on #325
@jamessnook this is a rather debated UX feature. Consider this - If the user is on page 4 and sorts on a column, there's no way to predict what the content of page 4 would be. In fact, the user will end up somewhere in the middle of the sorted range. This is why the decision was made to go to the beginning of the table on sort.

I'm going to close this unless there's a strong preference/reason as

[2018-07-06 01:46] #325 closed

[2018-07-06 01:48] xaksis commented on #326
@VictorCazanave this isn't on the roadmap and I don't think I'll have time to tackle this any time soon. feel free to submit a PR for this and I'll review.

[2018-07-06 01:50] xaksis commented on #321
hey @T-Bod this is currently not supported in vue-good-table. If you submit a PR i'll be more than happy to review it.

[2018-07-06 02:00] xaksis commented on #328
@belvederef thank you for referencing the doc.
@sudhir600 it seems like an issue with your custom styles and not vgt. If you can reproduce this in a jsfiddle I'll take a look.

closing for now.

[2018-07-06 02:00] #328 closed

[2018-07-06 02:06] xaksis commented on #329
hey @fagworio thank you. Here's a simple example of dropdown filter:

https://jsfiddle.net/aks9800/a6k1uoxn/

closing.

[2018-07-06 02:06] #329 closed

[2018-07-06 02:11] xaksis commented on #330
it certainly should be possible @sorayadragon but you'll have to do some customizations. Here's a possible plan:

1. create a custom [before column of radio buttons](https://xaksis.github.io/vue-good-table/guide/advanced/#adding-custom-columns)
1. make sure all radio buttons are part of the same group.
1. keep track of which row is selected via [on-row-click handler](https://xaksis.github.io/vue-g

[2018-07-06 02:11] #330 closed

[2018-07-06 12:51] Flow999Cloud commented on #266
Thanks, @yudhiezk

[2018-07-06 18:26] KINKCreative opened #331 "Control selected rows from the component"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Question

How can I control the selected rows from the component itself? E.g. I'd like to check certain rows or all rows at time of instantiation of the table / or with a method?

[2018-07-06 21:05] xaksis commented on #331
hey @KINKCreative please refer to this closed issue:
https://github.com/xaksis/vue-good-table/issues/287

you can use vgtSelected property to achieve what you're looking for.

closing.

[2018-07-06 21:05] #331 closed

[2018-07-09 12:23] fagworio commented on #329
Thanks, Lol.

This help me a lot.

[2018-07-12 11:44] jurgenbosch opened #332 "Keep selected rows when searching rows"
### Issue Type
- [x] Enhancement Request

Enhancement idea;
When using the checkbox option and combining it with the search option the following happens;
When checking two rows and than search the two selected rows got forgotten.

This behavior is due to line 897 in component Table.vue that reads;
this.unselectAllInternal(true);

If you unselect this rule it will not flush the options anymore.
Ide

[2018-07-13 03:06] sylvaincaillot opened #333 "Remote pagination and sorting"
### Issue Type (delete the irrelevant ones)
- [x] bug
- [x] Enhancement Request

### Expected Behavior
Using the remote mode, I would expect when you sort a column, to be automatically redirected to the first page with the correct sorting.

### Actual Behavior
It is marked first page but in reality it keeps the current page number which prevents the sorting to be correct.

I had to change the code

[2018-07-13 04:13] sylvaincaillot opened #334 "Format filter value"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request
- [x] Question

### Expected Behavior
In remote mode, I would like to format the filter values first. For example, I have a date column in VGT but I would like to see all the records from 2018. So I type 2018 in the relevant column filter but would like to send '01-01-2018' instead to my API. Can it be done?

Is it also possibl

[2018-07-13 15:02] xaksis commented on #333
Hey @sylvaincaillot, Not sure what you mean by

in remote mode, the table cannot change the actual row data for you, you'll have to handle it in the `on-sort-change` handler which you seem to be doing. This is also true for `on-filter-change`, on-`global-search` etc. With each such event, you need to reset the page to 1 in the handler.

closing.

[2018-07-13 15:02] #333 closed

[2018-07-13 15:07] xaksis commented on #334
@sylvaincaillot in remote mode, you're fully in-charge of what your API receives. set a handler on 'on-filter-change' and put your logic in that handler. For example in your case, In the filter-change handler you'll test to see If date column has a filter, and if it's "2018", change it to "01-01-2018" before you send the request to the backend.

Currently using custom widgets for filter is not pos

[2018-07-13 15:07] #334 closed

[2018-07-13 15:33] xaksis commented on #332
@jurgenbosch this isn't as straightforward as just removing the reset. The selected row info is based on displayed rows (processed rows). If you remove the reset, as you search, the displayed rows change, the selected info changes to say 'there's nothing selected' even though there are rows selected, they just aren't visible.

It'll take some effort to figure out how to do this without breaking th

[2018-07-16 10:14] gergo2007 commented on #28
Hello, can you please add the example for this somewhere? Page is throwing a 404

[2018-07-16 11:11] xaksis commented on #28
hey @gergo2007 This is an old issue that references deprecated docs. Current documentation covers all of this.
https://xaksis.github.io/vue-good-table/guide/advanced/#custom-column-headers

[2018-07-16 12:08] gergo2007 commented on #28
@xaksis thanks for the reply, im still using the old (1.21) version. Does the new doc cover the old version as well?

Thanks!

[2018-07-17 01:40] VictorCazanave commented on #326
@xaksis Thanks for your time and this great component!

[2018-07-17 02:06] sylvaincaillot commented on #334
Thnak you very much @xaksis,

I am now using the `@on-column-filter="onColumnFilter"` to reformat my date as necessary but it makes me think of some improvements which might be useful to vue-good-tables.

Since you have now this remote mode, it would be great to filter a column based on a different field in the API:

For example, I want to display a datetime field in my table but i want to get the

[2018-07-17 02:50] sylvaincaillot opened #335 "Collapsable filter header"
### Issue Type

- [x] Question

Hello,

Is there any css class attached with the filter header row? I would like have it collapsed by default and then give the user to expand it when needed.

Any suggestion?

Thank you

Sylvain

[2018-07-17 04:04] Alirezanet opened #336 "drop-down all option in server side mode not working"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.9.0
What browser?
chrome
### Expected Behavior
show all records after selecting All option in paging bar

all option perPage value should be equal to totalRecords

### Actual Behavior

after selecting all option, perPage value is -1

[2018-07-17 11:02] xaksis commented on #336
@Alirezanet this is by design. In order to specify 'all' records to the server, you need a non-positive integer value. You can either make a change at the server indicating that -1 == all records... or add a condition in 'on-per-page-change' to catch -1 and change it to whatever value you want to send to the backend.

closing.

[2018-07-17 11:02] #336 closed

[2018-07-17 19:00] xaksis commented on #324
hey @vigorem v2.10.0 allows customizing header rows using slots:
https://xaksis.github.io/vue-good-table/guide/advanced/grouped-table.html#customizing-header-row

closing.

[2018-07-17 19:00] #324 closed

[2018-07-17 19:01] xaksis commented on #320
@vigorem you can now use slots to customize header rows
https://xaksis.github.io/vue-good-table/guide/advanced/grouped-table.html#customizing-header-row

closing.

[2018-07-17 19:01] #320 closed

[2018-07-17 19:02] xaksis commented on #335
hey @sylvaincaillot you can now customize header rows using slots:
https://xaksis.github.io/vue-good-table/guide/advanced/grouped-table.html#customizing-header-row

closing.

[2018-07-17 19:02] #335 closed

[2018-07-18 13:38] standfv opened #337 "How to add Button function??"
### Issue Type (delete the irrelevant ones)

- [ ] Bug
- [ ] Enhancement Request
- [x] Question: How to add Button function?

### Specs
What version are you using?

What browser?

### Expected Behavior
What did you expect to happen?

### Actual Behavior
What actually happened?

### Steps to Reproduce the Problem
Please detail your steps here

1.
1.
1.

### jsfiddle
If you provide a jsfiddle reprod

[2018-07-18 15:12] xaksis commented on #337
@standfv I have no idea what this issue is about?? I'm going to close this. Please add more details about what you're asking and I'll re-open if it is relevant.

[2018-07-18 15:12] #337 closed

[2018-07-18 20:04] xaksis commented on #182
@f-r3d v2.11.0 allows for page mode with the ability to jump to any valid page.
https://xaksis.github.io/vue-good-table/guide/configuration/pagination-options.html#mode

closing.

[2018-07-18 20:04] #182 closed

[2018-07-18 20:12] xaksis commented on #332
same as #286 going to keep that one and close this.

[2018-07-18 20:12] #332 closed

[2018-07-19 08:42] enghelewa opened #338 "Columns html as a slot"
Is it possible to make column's html as a slot rather than embed it inside javascript using the column definition?

[2018-07-20 08:19] VictorCazanave commented on #245
Hi! I'm working on pagination, so I had a look at this bug.
I think it doesn't need `prop.sync` because there is already a watch on `perPage` in `VgtPagination`.
I tried a quick fix (with some code simplification) on this [branch](https://github.com/VictorCazanave/vue-good-table/tree/fix-pagination-sync):

- For page:
  - add a `page` property in `VgtPagination`
  - pass `currentPage` in `Table`

[2018-07-20 18:18] enghelewa opened #339 "Docs update"
### Issue Type
Enhancement Request

### Specs
VGT v2.11.0

### Expected Behavior
Could you please update the docs so that people could find the right info there.

In the section of "[Custom pagination](https://xaksis.github.io/vue-good-table/guide/advanced/#custom-row-template)" you need to add more information about how to use the provided `props.pageChanged()` and `props.perPageChanged()` becaus

[2018-07-23 05:17] sylvaincaillot opened #340 "InitialSortBy with properties"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
Hello,

I am using theVGT as a table component and would like to pass the default ordering as a property something like:

[code]

I tried to reflect this on the vue-good-table component with no success such as:
[code]

What should be the correct syntax to pass these properties to my VGT component?

Thank you

S.

[2018-07-24 09:44] nwaughachukwuma opened #341 "Multiple table headers"
Hi @xaksis is it possible to use multiple table headers on vue-good-table. This will be required for column headers grouping. I feel I have come across something like that, but don't know where to find it on VGT. Please correct me if am wrong. Your response is highly appreciated, thanks

[2018-07-24 12:44] xaksis commented on #341
hey @nwaughachukwuma. Unfortunately, there's no way of doing col-spans (grouped headers) currently in VGT. I can chalk this up as an enhancement but there wouldn't be an ETA on this just yet.

[2018-07-24 12:49] xaksis commented on #340
hey @sylvaincaillot this isn't related to VGT - there are a number of things wrong with your code:

1. sortOrder seems to be an array of object. so you'd need to use `sortOrder[0].field`
2. you seem to be using `this` inside your markup template... which isn't correct. If sortOrder is something in your data function... then the correct syntax would be:
[code]

closing.

[2018-07-24 12:49] #340 closed

[2018-07-24 12:51] xaksis commented on #339
@enghelewa thanks for pointing this out. @VictorCazanave wanna take this one? If not, I'll see if I can do it when I get a few free cycles.

[2018-07-24 12:53] xaksis commented on #284
@RaghunathHyd sorry for the delay. Unfortunately currently there's no way of doing this in VGT and this isn't on the roadmap for the near future either. Pivoting tables would take non-trivial effort which isn't a high priority for VGT right now. I will gladly review a PR though if you want to take a shot at it.

closing.

[2018-07-24 12:53] #284 closed

[2018-07-24 13:08] VictorCazanave commented on #339
@xaksis Yes, I'll try to do it this week.

[2018-07-24 14:38] wussup opened #342 "Show all rows causes total page number is minus rows number (ex. 1 from -28)"
### Issue Type
Bug

### Specs
vue-good-table 2.11.0
Chrome 67.0.3396.99

### Expected Behavior
When I select show all rows, I would like to see info on right bottom : page 1 from 1.

### Actual Behavior
I actually see page 1 from -28 (rows number)

### Steps to Reproduce the Problem
1. Load page with table
2. Select show all records
3. See pages section

### Possible solution
Change method in Tabl

[2018-07-25 08:29] wussup commented on #342
@xaksis no problem ;) could you please tell me, when it can be done?

[2018-07-25 13:47] xaksis commented on #342
@wussup v2.11.1 now has the fix. Unfortunately, it wasn't as simple as correcting the pageChangeEvent object... since that is just the payload to the outside component for a page change event specifically (which isn't fired on perPageChange).

Internally VgtPagination had to be updated to convey the right currentPage value to VgtPaginationPageInfo component so that the input widget could be adjust

[2018-07-25 13:47] #342 closed

[2018-07-25 22:50] xaksis commented on #339
@enghelewa @VictorCazanave I had some time so I updated the documentation:
https://xaksis.github.io/vue-good-table/guide/advanced/#custom-pagination

closing.

[2018-07-25 22:50] #339 closed

[2018-07-27 05:21] xaksis commented on #321
@T-Bod this is now implemented in v2.12.1. You can see the documentation here:
https://xaksis.github.io/vue-good-table/guide/configuration/#fixed-header

closing.

[2018-07-27 05:21] #321 closed

[2018-07-27 05:22] xaksis commented on #181
@f-r3d this is now implemented in v2.12.1. documentation:
https://xaksis.github.io/vue-good-table/guide/configuration/#fixed-header

closing.

[2018-07-27 05:22] #181 closed

[2018-07-27 09:23] gthuo opened #344 "Table column width not being picked, and how to make rows not wordwrap"
### Question
My table does not seem to respect the column width i set in the headers. It just automatically allocates the width to use. Also, due tho this dynamic width adjustment, some row contents end up to be so much word-wrapped, which makes the rows very thick. Any solutions, or ideas of what I could be doing wrong?
![image](https://user-images.githubusercontent.com/13334580/43313066-afcfdf06

[2018-07-27 09:47] #344 closed

[2018-07-28 18:11] jcasale opened #345 "Custom header slot not rendering"
### Issue Type

- [x] Bug (possibly in documentation only)

### Specs

vue-good-table v2.12.1
Chrome v67.0.3396.99

### Expected Behavior

Using the [Basic Example](https://xaksis.github.io/vue-good-table/guide/) from the docs and inserting the [table column slot](https://xaksis.github.io/vue-good-table/guide/advanced/#adding-custom-columns) and swapping the icon for text should change column head

[2018-07-30 10:27] babslgam opened #346 "get paging direction"
hi,
is it possible to get the paging "direction"? i would need to know, if the user hit the prev or the next button.
thanks!

[2018-07-31 12:10] dregge8 opened #347 "Virtual Scroller"
### Issue Type

- [x] Enhancement Request

###

Is there any plan to implement a Virtual Scroller?  Would be pretty neat to be able to pull a few thousands rows and just render accordingly as opposed to pagination.  It is becoming quite a popular method of rendering tables and lists.  Please see the following examples.

https://github.com/Akryum/vue-virtual-scroller
https://github.com/tangbc/vue-v

[2018-08-01 09:34] martinmildner opened #348 "Sorting doesn't work after filtering data"
After filtering the data table, sorting does not work anymore as expected.

### Steps to Reproduce the Problem
1. Add filter
2. Add sorting
3. Filter data, then try to sort the data

thanks and greetings,
martin

[2018-08-02 01:06] neverender24 opened #349 "Set server-side pagination rendering with Laravel 5.6"
### Issue Type (delete the irrelevant ones)
- [x] Question

### Specs
Latest

What browser?

### Expected Behavior
Chrome

I'm currently implementing this using laravel 5.6 and its working fine, how do I set it up with server-side rendering with pagination?

Should I use the paginate() function in Laravel controller?

I don't have actually any idea on how to implement this.

[2018-08-03 09:11] benrolfe commented on #299
Could this be added to the documentation please?

[2018-08-04 00:48] niallobrien commented on #347
I too would love to see this feature implemented. Thanks in advance.

[2018-08-04 09:27] dregge8 commented on #347
Yeah its a great feature and I am finding it extremely difficult to implement into my application.  Not many vue scrollers work well with tables, they all seem to have caveats or are overly complex.  If someone with the knowledge can handle this, it will continue to set vue-good-table above the rest!

[2018-08-04 11:07] xaksis commented on #349
@neverender24 you might have better luck asking this question in laravel forums or stack overflow. Issues here specifically deal with the plugin itself.

closing.

[2018-08-04 11:07] #349 closed

[2018-08-05 12:10] g-plane opened #350 "Dependencies are too large"
### Issue Type (delete the irrelevant ones)

- [ ] Bug
- [x] Enhancement Request
- [ ] Question

### Specs
What version are you using?
2.12.2

What browser?
Not related.

### Expected Behavior
What did you expect to happen?
1. `Array#forEach` can be used safely in ES5 environment, so we can remove `lodash.foreach`. Other lodash utilities also may be able to be removed.
2. `date-fns` is so large an

[2018-08-06 12:38] danchristian opened #351 "Adding Custom Row Template to specifc row?"
Is it possible to apply a Custom Row Template to a specific row? My end goal is inline-editing, so when a user clicks on an individual row, that row then turns into editable inputs, they would be able to edit the inputs and when clicking outside the row, the data would be saved and the row returns to read only.

I've been able to make a start by doing a simple `v-if`, but it then applies that Temp

[2018-08-06 14:30] danmash opened #352 "Uncaught TypeError: Failed to execute 'getComputedStyle' on 'Window': parameter 1 is not of type 'Element'."
Hi, I'm using [vue-native-websocket](https://github.com/nathantsoi/vue-native-websocket#dynamic-socket-event-listeners)
and add my listener inside a created hook.

[code]
and after I added `rowStyleClass`
[code]
I started getting the following error:

[code]
looks like class was applied to rows, but the error is annoying.

[2018-08-06 14:58] kn7007 opened #353 "Fixed column & header"
Hello,
First, thank you for this beautiful package.
Do you planned to implement fixed columns?
Btw, fixed header may be still not complete. Header column width too long for column width.

![capture](https://user-images.githubusercontent.com/35058512/43724299-ca7ef074-99c3-11e8-8882-8446351cd0e4.JPG)

[2018-08-06 15:13] AndersSchmidtHansen opened #354 "Importing in Vue 2.5+ and Webpack 4 requires VueGoodTable.default in Vue.use()"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
"vue": "^2.5.16"
"vue-loader": "^15.2.6"
"webpack": "^4.16.3"

What browser?
Chrome

### Expected Behavior
Expected to not having to write `Vue.use(VueGoodTable.default)` instead of the usual `Vue.use(VueGoodTable)`.

### Actual Behavior
Console errored with
[code]

### Steps to Reproduce the Problem
Please detail your steps he

[2018-08-06 21:31] sylvaincaillot opened #355 "Visible property for vgtFilterRow"
### Issue Type (delete the irrelevant ones)
- [x] Enhancement Request

### Specs
VGT: 2.12.2

### Expected Behavior
Using the filter by columns, I would like to be able to hide the filter row easily (vgtFilterRow). Would it be possible to add a visible property to it or at least add a css class to
`<tr data-v-2949d74f="" data-v-0c8b4370="">...</tr>`?

Thank you

S.

[2018-08-06 23:31] xaksis commented on #348
going to close this. Let me know if you can reproduce it, I'll re-open.

[2018-08-06 23:31] #348 closed

[2018-08-06 23:42] xaksis commented on #351
@danchristian here's a quick example I created to show how you can change the row template based on a click:
https://jsfiddle.net/aks9800/1764cbs8/

obviously you'll have to take care of what happens when a click happens outside, or on another row. But this should get you started.

closing.

[2018-08-06 23:42] #351 closed

[2018-08-06 23:56] xaksis commented on #354
@AndersSchmidtHansen this is interesting... because vue-good-table does export default:
https://github.com/xaksis/vue-good-table/blob/master/src/index.js#L14

Did you import exactly like the installation guide?
https://xaksis.github.io/vue-good-table/guide/#installation

[code]

can you show me how you're importing the plugin?

[2018-08-07 07:39] danchristian commented on #351
@xaksis That's really helpful thanks. And just to be clear, if I wanted some of them editable and not others and some of the editable items are different types of input, then I have to do a check for each one, within the `v-if`? So..

[code]

[2018-08-07 08:58] danchristian commented on #351
Also, just for anyone looking at this in the future, I converted the loop from your example into ES6 syntax 🙂

[code]

[2018-08-07 09:31] danmash opened #356 "Manage Loading state."
Would be nice to have access to customize and manage a state of this `Loading...` Is it possible?
![2018-08-07 12-29-53](https://user-images.githubusercontent.com/3535056/43767381-a5e4a3a6-9a3d-11e8-915e-91dd786038fb.png)

[2018-08-07 10:16] xaksis commented on #356
hi @danmash the documentation is a bit lacking here, I'll work on adding the necessary bits there but here's the gist:

If you want to show loading notification manually, you can do so using table's: `isLoading=true` property.

if you want to customize what loading looks like you can make use of this slot:
[code]
closing.

[2018-08-07 10:16] #356 closed

[2018-08-07 11:18] danmash commented on #356
Thanks!

[2018-08-07 13:52] entwicklerRepo opened #357 "Server side filtering for columns"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
What version are you using?
latest

1. Sorry I'm pretty new in vuejs, but Is there a way to do server side filtering for columns?

[2018-08-07 17:12] AndersSchmidtHansen commented on #354
@xaksis - Hmm, the import is exactly like in the installation guide. Well, I tried with both "VueGoodTablePlugin" and "VueGoodTable" as the import name, but that shouldn't make much a difference, right?

This is how it currently looks:
[code]

I'm leaning towards that it's something wrong in my Webpack setup since your `index.js` looks perfectly fine. 🙂

I'll tinker around with it some more.

[2018-08-07 18:03] abhinavsingi commented on #347
Would be great to have it - no table currently supports it

[2018-08-08 01:10] xaksis commented on #357
hey @entwicklerRepo welcome to vue and vue-good-table! for server-side workflow, you can refer to the following workflow:
https://xaksis.github.io/vue-good-table/guide/advanced/remote-workflow.html

specifically for server-side column filtering, as the document states, you'll make use of the `@on-column-filter="onColumnFilter"` event. Hopefully, this should get you started.

closing.

[2018-08-08 01:10] #357 closed

[2018-08-08 08:10] entwicklerRepo commented on #357
@xaksis thanks a lot! it took a while to fully understand, but it runs like a charm now 👍

[2018-08-08 10:44] pedroresende opened #358 "Unable to customize the message "No data for table""
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

### Specs
Version: 2.8.2
Browser: Any

### Expected Behavior

I would be nice to be able to customize the "No data for table" message, passing by props.

### Actual Behavior

It's not possible to customize, since it is harcodded

### Steps to Reproduce the Problem
Please detail your steps here

1.Add a table, without any conte

[2018-08-08 11:35] xaksis commented on #358
Hi @pedroresende, a slot has already been provided to customize the empty state. I think It's straightforward enough to use without having to use a prop for it.

https://xaksis.github.io/vue-good-table/guide/configuration/#empty-state-slot

closing.

[2018-08-08 11:35] #358 closed

[2018-08-08 11:38] xaksis commented on #354
Ok, I'll keep this open for now... @AndersSchmidtHansen thank you for looking into it, please let me know if you find more deets on it.

[2018-08-08 14:51] ubstack opened #360 "Table not getting cleared when service response empty, showing previous results."
### Issue Type

- [x] Bug

### Specs
Vue 2.5

What browser?
Chrome

### Expected Behavior
Expecting grid to show NO DATA text

### Actual Behavior
It is showing previous records, even the response is empty

### Steps:
Input:
data() {
    return {
      items: []
     }
}

Update:
axios.get(url, {params: this.searchObj})
      .then(response => {
           this.items = response.data.items
       }

[2018-08-08 16:15] manofthefort commented on #353
I also experience this problem when using fixed header.  There needs to be an offset for the scroll bar.

[2018-08-08 17:38] danmash opened #361 "How to handle double click?"
- [ ] Enhancement Request

Hi, I need to handle double click instead of simple click.
Double click will open a new tab. Single click while copy some info from the row.

[2018-08-08 18:19] manofthefort commented on #353
I have devised a workaround with some CSS.

    /* Vue Good Table OVERRIDES */
    /* ################################################################# */
    table.vgt-table.vgt-fixed-header {
        position: relative !important;
    }

    table.vgt-table.vgt-fixed-header th:last-child {
        /* Offset for the scrollbar, you may have to adjust this */
        width: calc(100% + 17px) !impor

[2018-08-09 14:32] Sharvadze opened #362 "Sort by id doesn't work"
If you have numeric value in the table, the sorting doesn't work

`Error in getter for watcher "selectedRows": "TypeError: d.toLowerCase is not a function"`

[2018-08-09 15:09] xaksis commented on #362
hey @Sharvadze, if you don't specify column type, it's going to assume it's a string. Refer to:
https://xaksis.github.io/vue-good-table/guide/configuration/column-options.html#type

closing

[2018-08-09 15:09] #362 closed

[2018-08-10 11:28] danmash opened #363 "formatFn with html true"
### Issue Type (delete the irrelevant ones)

- [x] Bug

`formatFn` function doesn't work together with `html=true` (I see raw value instead of function result)
[code]
If `html=false` I see a function result html code.

[2018-08-10 11:56] xaksis commented on #363
hey @danmash, any reason you can't use the row template here? it'll be a lot cleaner than using a format function to render HTML. FormatFn is meant to provide a quick way to format your text, not to render HTML elements.

Take a look here:
https://xaksis.github.io/vue-good-table/guide/advanced/#custom-row-template

[2018-08-10 12:06] xaksis commented on #353
@kn7007 @manofthefort keep in mind that this only happens on windows. The fix will actually be an issue on macs since the default scrollbars there don't take up additional space - so use with caution.

[2018-08-11 19:02] danmash commented on #363
you are right. finally, I choose the row template option.
Thank you

[2018-08-11 19:02] #363 closed

[2018-08-14 09:26] StefanOosten commented on #308
Any updates on this? It would be nice if it was fixed since Edge is quite a major browser nowadays :)

[2018-08-17 09:26] danmash opened #364 "While the mode is `remote` the `initialSortBy` sort param is permanent."
While the mode is `remote` the `initialSortBy` sort param is permanent.
Can't be changed.

[2018-08-17 15:59] sorayadragon opened #365 "Performance Issues in Edge"
### Issue Type
- [x] Bug

### Specs
What version are you using?
2.12.2

What browser?
Edge

### Expected Behavior
What did you expect to happen?
Relatively quick load and functionality

### Actual Behavior
What actually happened?
Edge (and IE) is extremely slow to render the table as well as perform functions (such as selecting a rows or changing the page) when there are a large number of columns

[2018-08-17 21:37] xaksis commented on #364
Hey @danmash, not sure what you mean by permanent? initialSortBy is meant to be the sort for when the table is initially mounted. Once it is mounted, you need to either re-mount the table or call the internal function reset `this.$refs['myTable'].reset()`

closing.

[2018-08-17 21:37] #364 closed

[2018-08-17 22:07] xaksis commented on #360
Hey @ubstack there's no reason why it shouldn't update when there's no data. Just make sure you set it to empty array `[ ]` when there's no response.data.items.

closing. Let me know if the above doesn't work and we'll work it out.

[2018-08-17 22:07] #360 closed

[2018-08-17 22:08] xaksis commented on #353
@kn7007 glad the fix worked for you. The fixed column is not on the roadmap just yet, but I'll happily review a PR for it.

closing.

[2018-08-17 22:08] #353 closed

[2018-08-18 01:37] xaksis commented on #361
`on-row-dblclick` event added for table row in v2.13.0. Keep [browser compatibilty](https://developer.mozilla.org/en-US/docs/Web/Events/dblclick) in mind.

[2018-08-18 01:37] #361 closed

[2018-08-18 01:38] xaksis commented on #352
fixed in v2.13.0

[2018-08-18 01:38] #352 closed

[2018-08-18 01:39] xaksis commented on #346
pagination event now contains prevPage along with currentPage to let you know what page you're coming from:
https://xaksis.github.io/vue-good-table/guide/configuration/table-events.html#on-page-change

closing.

[2018-08-18 01:39] #346 closed

[2018-08-18 09:41] danmash commented on #364
@xaksis I mean when I set `initialSortBy` I see this sort, but after this I can't change sorting at all. This small triangle every time in the single place (initial sort by column)

[2018-08-18 09:58] danmash commented on #361
I'm using chrome and this feature  doesn't work

[2018-08-18 10:00] danmash commented on #361
it works thank you

[2018-08-19 14:41] ubstack commented on #360
Still trying different ways to get ride of this, i tried setting to [], table data still remains it's not getting cleared. Please let me know if you need additional inputs to get it resolved, Thanks.

[2018-08-20 07:16] danmash opened #366 "externalQuery questions"
- [ ] Why I can't use `externalQuery` with default interface? I want to bind some field to default input. Is it possible?

- [ ] My problem can be solved also with a different trigger type. A type which would trigger a search with some delay after `key up`. To allow user type something in the input field and then make search after without pushing the `Enter` key.

[2018-08-21 13:43] Dracks977 opened #367 "Column search+ global search"
- [x] Question

is it possible to have a global and column search at the same time ?

[2018-08-21 20:01] ChaStPierre opened #368 "Filter Reset issue"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
Version 2.12.1 introduced a bug when trying to use the reset method on a table. Issues does not exist in 2.12.

What browser?
All browsers

### Expected Behavior
What did you expect to happen?
When invoking this.$refs['sr-table'].reset(); it should reset columns filters

### Actual Behavior
What actually happened?
Using v2.12.1 and

[2018-08-22 09:44] xgx252c opened #369 "Grouping header table cells are not hidden when the column is hidden"
### Issue Type
- [x] Bug

### Issue
When a column has hidden set to true then the column cells are hidden, but it does not hide the grouping cells for the same column. See jsfiddle below.

### Specs
Version: v2.13.0

### Possible solution
I looked into [VgtHeaderRow.vue](https://github.com/xaksis/vue-good-table/blob/master/src/components/VgtHeaderRow.vue) line 24+ and adding !column.hidden there s

[2018-08-22 15:01] danchristian commented on #367
https://xaksis.github.io/vue-good-table/guide/configuration/column-filter-options.html#enabled

Although this functionality would be great.

[2018-08-23 06:57] josephting opened #370 "Pagination Info Not Updating Upon Reseting Current Page to 1"
### Issue Type

- [x] Bug

### Specs
vue-good-table@2.13.0
Chrome Stable Latest (v68.0.3440.106)

### Expected Behavior
Current page in pagination info should go back to page 1 when currentPage is reset back to 1 due to filtering or perPageChange.

### Actual Behavior
Current page did not get updated in Pagination Info component but the table is displaying page 1 records.

### Steps to Reproduce t

[2018-08-23 09:43] appinteractive opened #372 "Add Sub-Row"
### Issue Type

- [x] Enhancement Request
- [x] Question

### Sub Row

Hey, first thanks for this nice repo!
Is there a possibility to add a "Sub-Row" somehow? This is the only feature I currently missing from your repo. Or did I miss something?

Here is what I mean: (taken from datatable)

<img width="715" alt="grafik" src="https://user-images.githubusercontent.com/432828/44517952-56d16180-a6c9-1

[2018-08-23 12:19] xaksis commented on #372
@appinteractive this is currently not possible in vue-good-table. I'll chalk this up as an enhancement.

[2018-08-23 12:28] xaksis commented on #368
hey @ChaStPierre! The error seems to indicate that *the ref for the table is undefined*, not the reset method itself - meaning `this.$refs['sr-table']` doesn't exist when you're trying to reset it. You need to wait for table component to render and become part of $refs before calling reset on it.

closing.

[2018-08-23 13:03] ChaStPierre commented on #368
Thanks for the follow.
Actually the ref is properly defined and the table is totally rendered. Note that changing to version 2.12.x bring out the issue/bug.

[2018-08-23 15:46] Dracks977 commented on #367
it's possible, just activate one and put one variable in the other

[code]
and

[code]

[2018-08-23 15:47] Dracks977 commented on #367
it's a usebug, but it works xD

[2018-08-23 15:47] #367 closed

[2018-08-25 12:11] xaksis commented on #370
@josephting this is now fixed in v2.13.1

closing.

[2018-08-25 12:11] #370 closed

[2018-08-25 12:11] xaksis commented on #369
@xgx252c this is fixed in v2.13.1

closing.

[2018-08-25 12:11] #369 closed

[2018-08-25 12:12] xaksis commented on #308
@StefanOosten sorry for the delay. Finally got my hands on a windows machine so was able to debug. Looks like v-on:input doesn't work on edge with <select>. This is now fixed in v2.13.1

closing.

[2018-08-25 12:12] #308 closed

[2018-08-27 08:27] VictorCazanave opened #373 "Improve fixed header"
### Issue Type

- [x] Enhancement Request

### Specs
What version are you using?
2.13.1

What browser?
Last 2 versions, IE >= 10, Safari >= 7

### Expected Behavior
What did you expect to happen?
The [fixed header](https://xaksis.github.io/vue-good-table/guide/configuration/#fixed-header) should perfectly match the columns and show a scrollbar in the table body.

### Actual Behavior
What actually

[2018-08-28 16:39] ChaStPierre opened #374 "Grouped table select row display"
This is question or  a possible enhancement request.

- [x] Question

Is there a way to the :rows config to a specific row with no success. Is this possible? :rows="rows[0]"

### Expected Behavior
  Was looking to only display the selected row.

### Actual Behavior
 Table does not render throwing errors in console.

### jsfiddle
see fiddle using supplied example where I just selected the first row

[2018-08-29 07:26] deanilvincent opened #375 "Disable Whole Table Option"
Hi @xaksis

I'm just wondering, is there any option that we can disable the whole table?

For instance, I have a request from my API. I want to disable the whole table while my request is communicating with my REST Service/Server.

So far, I've tried the `:disabled="true"` inside the table option but I'm not sure if it is possible.

Thank you!

[2018-08-29 07:32] 1stkeks opened #376 "Trigger column-filter on filterValue change"
### Issue Type
- [x] Question

### Specs
What version are you using?
2.12.2

What browser?
Google Chrome

### Expected Behavior
If I set the "filterValue" the columnfilter should filter

### Actual Behavior
- With JQuery clicking on the filter-input opens a daterangepicker
- On selecting a daterange I set the "filterOptions.filterValue" of the column
- To actually filter the data I have to click o

[2018-08-29 11:11] thenightex commented on #373
+1

[2018-08-29 17:10] danchristian commented on #367
I can't get this to work. I want a table without checkboxes and global and column search.

https://jsfiddle.net/tob624xf/

[2018-08-30 09:31] danchristian opened #377 "Are Column Filters and Global Search being used together a planned feature?"
- [x] Question

Are Column Filters and Global Search being used together a planned feature?

[2018-08-30 10:50] danchristian opened #378 "Can't seem to filter Boolean values"
- [x] Bug

What version are you using?
2.0.0.alpha

What browser?
Chrome

### Expected Behavior
I can filter boolean values

### Actual Behavior
I can't filter boolean values

### jsfiddle
https://jsfiddle.net/ywdujp43/

[2018-08-30 13:38] xaksis commented on #368
@ChaStPierre apologies for closing this issue prematurely. I see this is actually a bug. Will work on it.

[2018-08-30 15:06] xaksis commented on #376
Hey @1stkeks, remember that for vue to detect changes in nested objects, you need to keep the caveats in mind - https://vuejs.org/v2/guide/reactivity.html#Change-Detection-Caveats
To fix your issue:
`self.$set(found.filterOptions, 'filterValue', $(this).val());`

[2018-08-30 15:06] #376 closed

[2018-08-30 15:08] xaksis commented on #375
hey @deanilvincent this should be easily doable via simple css. Just put:
`pointer-events: none;`
on the table wrapper and none of the elements within the table will be reactive.

[2018-08-30 15:08] #375 closed

[2018-08-30 15:10] xaksis commented on #366
@danmash - don't understand what you mean by not being able to use externalQuery with default interface.

for column filters, you can use filterValue key to set filter values from outside the table. Just keep in mine that you can't simply assign values to this property... you'll need to use `$set` for nested object change detection.

closing.

[2018-08-30 15:10] #366 closed

[2018-08-30 15:12] xaksis commented on #246
@StefanOosten you can use external libraries to modify the input widget to make this happen. Here's an example:
https://jsfiddle.net/aks9800/ekawt34s/

closing.
closing.

[2018-08-30 15:12] #246 closed

[2018-08-30 15:17] xaksis commented on #378
hey @danchristian thank you for pointing this out. This is now fixed in version 2.13.2

closing.

[2018-08-30 15:17] #378 closed

[2018-08-30 15:17] xaksis commented on #368
This should now be fixed in v2.13.2

[2018-08-30 15:17] #368 closed

[2018-08-30 15:43] ChaStPierre commented on #368
I've just tested the latest version and the issue still exists. I had to revert to version 2.12

Also note that your version number is not in sync.

Thanks for the quick follow-up.

[2018-08-30 16:37] xaksis commented on #368
@ChaStPierre can you explain what you mean by version number not in sync? the currently released version is 2.13.2
here's a jsfiddle to show you that it works:
https://jsfiddle.net/aks9800/1bkzcd3n/

[2018-08-30 16:52] xaksis commented on #373
@VictorCazanave clever! However, there are a few things that I think will be tough to solve for with this approach.
1. the divs within th assume that the wrapper is the relatively positioned element and not the th and as a result, each div actually spans the full length of the wrapper... the reason we don't actually see this is because luckily the next column div is drawn on top of the first one.

[2018-08-30 17:12] ChaStPierre commented on #368
Downloaded v2.13.2 and opened vue-good-table.js which shoed version 2.13.1

[2018-08-30 17:27] oflittlemother opened #379 "Add text masking to filter column input fields"
- [x] Enhancement Request
Add text masking to filter column input fields
- autoformatting for phone, currency, etc

[2018-08-30 17:29] oflittlemother opened #380 "Can column filter dropdown be autogenerated?"
- [x] Question
Can column filter dropdown be autogenerated?
- ex. based on a 'Date' column, auto populate the dropdown items based on the data dates

[2018-08-30 17:31] oflittlemother commented on #380
or perhaps can a Datepicker (ex. vue-datepicker-local) component be attached to the input field?

[2018-08-30 17:32] xaksis commented on #368
Perhaps you downloaded it before npm had a chance to sync it? Not sure. Seems fine to me though.

[2018-08-30 17:35] xaksis commented on #380
hey @oflittlemother here's an example of how you can use third party library for date input created by another user:
https://jsfiddle.net/aks9800/ekawt34s/

closing.

[2018-08-30 17:35] #380 closed

[2018-08-30 17:36] ChaStPierre commented on #368
I`ve just ted using the cdn version (js shows 2.12.3) and it works perfectly! The issue resides in the latest release package pointing to v2.13.1
Thanks for the quick fix :)

[2018-08-30 18:09] ChaStPierre commented on #368
The latest version via the release section points to 2.13.1

https://github.com/xaksis/vue-good-table/releases <https://github.com/xaksis/vue-good-table/releases>

[2018-08-30 18:27] xaksis commented on #368
ah yeah... that's a bug in the release plugin I use... it sometimes takes the last commit of the last release. You can ignore that. The npm package/or github clone should give you the right version.

[2018-08-30 19:07] ChaStPierre commented on #373
I'm also experiencing this issue and a scrollbar issue when using the max-height. Not sure if this should be another ticket.

Using the max-height we loose the top arrow  scroll button. You can actually see it in action in the [documentation](https://xaksis.github.io/vue-good-table/guide/configuration/#fixed-header) and here's a codepen https://codepen.io/cspx99/pen/pONXoO

![2018-08-30_14-59-00](

[2018-08-30 19:18] xaksis commented on #373
@ChaStPierre this is a windows only issue that happens because the scrollbar occupies actual space there.
here's a fix suggested by @manofthefort in an earlier reported ticket.

[code]

[2018-08-30 21:15] oflittlemother commented on #380
Thank you, perfect example!

[2018-08-31 02:03] VictorCazanave commented on #373
@xaksis Thanks for your detailed feedback!
You're right, I tried this solution on a simple use case: no filters row and no sort indicator.
By curiosity I will try to solve this issue on a more complex example, but now it looks much harder than I thought 🤔 😄

Maybe it would be interesting to add @manofthefort fix in the documentation?

[2018-08-31 02:53] kn7007 opened #381 "[Fixed Header] Header not scroll with horizontal scrollbar"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.12.2
What browser?
Chrome
### Expected Behavior
What did you expect to happen?
Header should be scroll with table body when scroll
### Actual Behavior
What actually happened?
Header not scroll with horizontal scrollbar on table body
### Steps to Reproduce the Problem
Just use `fixed-header` configuratio

[2018-08-31 08:49] josephting opened #382 "Page change event triggered when perPage is changed"
### Issue Type

- [x] Bug

### Specs
* v2.13.2
* Latest Chrome Stable

### Expected Behavior
Changing perPage should **ONLY** trigger `on-per-page-change` event

### Actual Behavior
Changing perPage triggered both `on-per-page-change` & `on-page-change` event

### Steps to Reproduce the Problem
Please detail your steps here

1. Next & Prev page is working properly with only `onPerPageChange` event

[2018-08-31 08:52] danchristian opened #383 "filterValue always returns undefined from Boolean type"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
@2.13.2

What browser?
Chrome

### Expected Behavior
Using a button in a Table Action Slot I should be able to `console.log` the value of `filterValue` from a Boolean type column.

`console.log(this.columns[4].filterOptions.filterValue)`
`false`

I want to be able to test if there is any value, before applying a filter. So if there

[2018-08-31 09:36] danchristian opened #384 "How to filter column for null values?"
### Issue Type
- [x] Question

### Specs
What version are you using?
@2.13.2

What browser?
Chrome

### Expected Behavior
If I have a column with String values, how can I apply a filter that only shows the `null` (empty) rows?

`this.columns[9].filterOptions.filterValue = null`

### Actual Behavior
I can only seem to be able to reset it to show all rows.

### jsfiddle
https://jsfiddle.net/wbx0z8ra

[2018-08-31 09:52] danchristian opened #385 "How to set filterValue based on condition?"
### Issue Type
- [x] Question

### Specs
What version are you using?
@2.13.2

What browser?
Chrome

### Expected Behavior
If I have a column of Boolean values, how can I set `filterValue: "false"` to show all false rows, unless there are no `false` values in which case, show all true rows (or all rows if not Boolean)

Either built into the `filterValue` functionality or customisable like `filterVa

[2018-08-31 12:05] xaksis commented on #385
@danchristian use the filterFn property to do this - [FilterFn](https://xaksis.github.io/vue-good-table/guide/configuration/column-filter-options.html#filterfn)
[code]
A lot of these answers can be found by going through the documentation or posting on StackOverflow.

closing.

[2018-08-31 12:05] #385 closed

[2018-08-31 13:07] danchristian commented on #385
Thanks. I had read the docs but didn't realise `filterFn` and `filterValue` could be used together. Sorry, there was a `Question` option on the Issue so seemed appropriate to ask here.

[2018-08-31 15:40] ChaStPierre commented on #373
Wow, never realized that the OS had an impact on browser rendering. I've tested the workaround in both environments (OSX and Windows and browsers) and get really different results.

Windows - Chrome (68.0.3440.75)
   - fixed scrollbar and column are aligned however, do  not resize the browse. Column alignments reappear.
Windows - IE 11
   -  fixed scrollbar and but columns are still misaligned. Re

[2018-08-31 15:54] josephting commented on #382
It seems like this is intentional behavior from #371 ?
Please confirm. It feels like we're losing feature here to only change page back to 1 only when the current page exceeds the max page number after having the perPage changed.

[2018-09-03 04:51] josephting commented on #382
@VictorCazanave Got it. Thank you for your confirmation. Agreed. Going with simpler method is usually better in this case.

@xaksis I've put together a JSFiddle to highlight the issue I'm facing with using `on-per-page-change` and `on-page-change` event.

https://jsfiddle.net/8dbemzjp/

Since `on-page-change` event is always called regardless of page or perPage being changed, I figured I should on

[2018-09-03 05:33] deanilvincent commented on #375
Thank you @xaksis :)

[2018-09-03 10:44] jbussemaker opened #386 "styleClass should be style-class"
### Issue Type (delete the irrelevant ones)

- [x] Bug
- [ ] Enhancement Request
- [ ] Question

### Specs
What version are you using?
2.13.2

What browser?
Firefox 58 ESR

### Expected Behavior
What did you expect to happen?
Adding the *styleClass* attribute (as described [in the docs](https://xaksis.github.io/vue-good-table/guide/style-configuration/style-classes.html) to the vue-good-table elem

[2018-09-03 14:44] jbussemaker commented on #386
@xaksis I know, but maybe it would be clearer if you would update the documentation to show *style-class*, as that would also make it work when Vue is used from HTML, right?

[2018-09-03 15:22] jreq opened #387 "Server side LoadItems()"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
What version are you using?
2.0

What browser?
Google Chrome

`loadItems() {
                getFromServer(this.serverParams).then(response => {
                    this.totalRecords = response.totalRecords;
                    this.rows = response.rows;
                });`

What should I do for use loadItems() ? Replace getFr

[2018-09-03 23:54] xaksis commented on #387
@jreq I'm sorry, this is beyond the scope of the plugin. You might have better luck by asking that question on stackoverflow. You can get an idea about the service signature here: https://xaksis.github.io/vue-good-table/guide/advanced/remote-workflow.html#prep-work

[2018-09-03 23:54] #387 closed

[2018-09-04 01:29] xaksis commented on #384
hey @danchristian what's your usecase for this? the filterValue should not have values that cannot be entered by an endUser in a column filter. Otherwise you'll have inconsistent behavior between filter via code vs. filter via user interacting with the column filters...

[2018-09-04 01:48] xaksis commented on #382
@josephting took your recommendation. 2.13.3 has your fix.

[2018-09-04 01:48] #382 closed

[2018-09-04 05:35] danchristian commented on #384
@xaksis I have a column of ‘comments’. I want the column to be searchable but also have a button that when clicked will filter the table by a Boolean value on another column && all entries with no comments.

[2018-09-04 07:54] eklnc opened #388 "Grouped Table Collapse Grouped Value"
### Issue Type (delete the irrelevant ones)

- [] Bug
- [x] Enhancement Request
- [x] Question

### Specs
What version are you using?
v2.13.3

What browser?
any

### Expected Behavior
What did you expect to happen?
I thought I could collapse the table grouping

### Actual Behavior
What actually happened?
It did not happed. Because this component hasn't grouped values collapse option.

Example:
...

[2018-09-04 08:29] dariagrudzien opened #389 "defaultSortBy to sort by more than 1 column"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
1.21
Chrome Version 69.0.3497.72 (Official Build) beta (64-bit)

### Expected Behavior
Looking for a way to have `defaultSortBy` sort the table by two columns, first by Date then by From. Tried with an array of objects. How could this be done?

### Actual Behavior
No change, table is sorted by the first column only.

### Steps

[2018-09-04 16:23] oflittlemother opened #390 "Saving sort & filter"
### Issue Type (delete the irrelevant ones)
- [x] Question
How can the sorted and/or filtered state of the table be saved?
For example, I'm displaying database data and would like to save my custom sorting and filtering as a custom view of that first data pull.

[2018-09-04 20:49] TheJaredWilcurt opened #391 "💯 Releases!"
![100 releases](https://user-images.githubusercontent.com/4629794/45056073-d7944400-b05f-11e8-9224-3129eb806851.png)

@xaksis @tonimc @VisualBean @VictorCazanave @megaket4up @VitorLuizC @RIanDeLaCruz @cristijora

We did it! (and by "we" I mean mostly @xaksis)

![dog confetti](https://user-images.githubusercontent.com/4629794/45056984-699d4c00-b062-11e8-89ac-adf7d6ff8f23.gif)
![cat confetti](https:

[2018-09-05 01:07] xaksis commented on #391
haha! Wow... thank you for keeping an eye on it @TheJaredWilcurt! Well done all of us!

[2018-09-05 01:38] xaksis commented on #384
hmm One thing I can think of is prepopulate the comments that are empty with something like `N/A` then in formatFn you can check to see if the value is N/A and show '' instead. Here's an example:
https://jsfiddle.net/aks9800/csrq0h4v/

this is your example. click on 'show empty' to show empty rows.

[2018-09-05 04:45] g-plane commented on #350
ping @xaksis

[2018-09-05 10:56] jayadevkv commented on #287
vgtSelected: true not working for rows. I can see that it is a property of selected rows object. Could you pls show an example

[2018-09-05 11:03] VisualBean commented on #391
:)

[2018-09-05 11:36] xaksis commented on #287
Hey @jayadevkv! You simply have to modify your components row object and not the table's

`this.rows[0].vgtSelected = true`

[2018-09-05 12:01] jayadevkv commented on #287
Still it is not working. I am doing everything in created hook. Only after getting response to data that I am setting
   `this.rows[0].vgtSelected = true`
I tried to move it to mounted , but giving error
Thank you for helping me

[2018-09-05 13:17] JevPrentice commented on #287
Hi @jayadevkv, if it helps - consider my implementation

methods: {
	...
	onSelectAll: function (params) {
        let vm = this
        vm.modalDashboardAppIds = []
        params.selectedRows.forEach(function (key) {
          if (params.selected) {
            key.vgtSelected = true
          }
        })
      }
    ...
}

[2018-09-05 13:45] #391 closed

[2018-09-05 15:49] sorayadragon opened #392 "Selecting rows in Checkbox Table causes rows to jump around"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.13.3

What browser?
Chrome

### Actual Behavior
I'm using a table to display data retrieved from a database. The table is created before the data is retrieved. So when the table is created "rows" is an empty array. Once the data is retrieved from the database, "rows" is updated and the data shows up in

[2018-09-05 21:51] oflittlemother opened #393 "All remote serverParams?"
- [x] Question
What are all the possible remote serverParams?
For example, what parameter needs to be updated when [ @on-search="onSearch" ] is triggered?
How about when [ @on-column-filter="onColumnFilter" ] is triggered?

The documentation is vague regarding remote mode.

[2018-09-05 22:50] xaksis commented on #287
Hey @jayadevkv ... you have to think about vue's reactivity caveat. You can't just assign the value to a nested json. you'd have to use Vue's set
https://vuejs.org/v2/guide/reactivity.html#Change-Detection-Caveats
try:
`this.$set(this.rows[0], 'vgtSelected', true);`

[2018-09-05 22:56] xaksis commented on #393
hey @oflittlemother can you tell me what about the documentation is vague?
https://xaksis.github.io/vue-good-table/guide/advanced/remote-workflow.html#prep-work shows you exactly what you need to send to server each time any of the triggers is hit, regardless of what trigger...
each time you'll be sending:
[code]
back to the server and server should bring back new set of `rows` and `totalRows`...

[2018-09-05 22:56] #393 closed

[2018-09-05 23:05] xaksis commented on #392
@sorayadragon looks like its happening for the rows that have the same value in the sorted column... on every select, it processes the rows again... and since the items to sort by have the same value... they end up in random order.

[2018-09-05 23:08] xaksis commented on #390
um... just save the initial state variables in your db or something? Then before you pull the data, fetch the default settings and initialize the table. This isn't really a plugin question. You'll just need to save the default state either in your DB or local storage etc.

closing.

[2018-09-05 23:08] #390 closed

[2018-09-05 23:08] xaksis commented on #388
hey @eklnc, this is currently not possible with vgt. Will chalk this up as an enhancement for now.

[2018-09-06 07:26] jayadevkv commented on #287
Now i have modified my sql to return vgtSelected property by default. I am wondering why it still not working

[2018-09-06 12:04] jayadevkv commented on #287
Found the issue it is working only if we enable global search

`:search-options="{ enabled: true }"`

I think now it is a bug. I prefer individual search and filters

[2018-09-06 14:22] oflittlemother commented on #393
Will Global Search work with Column Filters in remote? If so, what are the serverParams for Global Search? My current project loads data correctly from the server but nothing works. No Global Search, no Column Filters, no Sorting, no Paging.

    onSearch(params){
      this.updateParams({search: params.searchTerm});
      this.loadRecords(this.the_start_date, this.the_end_date, this.the_group_by)

[2018-09-06 18:32] oflittlemother opened #394 "'totalRecords' incorrect when grouping rows"
- [x] Bug
Why does 'totalRecords' show only 1 when I group rows?
Shouldn't the behavior always show a total of all items pulled from the database, independent of groups?
The current behavior showing only 1 creates a problem with paging, sorting, column filtering, global search.

[2018-09-06 18:35] oflittlemother commented on #394
Nothing works, it just outputs a list of the children items, but I'm unable to interact with it.
Here is my debug output:

Rows:
[ { "transaction_id": null, "transaction_type": null, "storage_account_id": null, "storage_account_name": "Total:", "transaction_value": null, "transaction_date": null, "transaction_days_active": 0, "children": [ { "transaction_id": 2573, "transaction_type": "Deposit", "

[2018-09-06 18:48] xaksis commented on #394
@oflittlemother there are 15k downloads of this library a month. So while there might be bugs, I highly doubt that a statement like "nothing works" is productive. I understand you're frustrated but you'd need to create a more descriptive ticket of how you're using the table - remote mode or client side only? what version? relevant code that you're using (not a dump of your row data)

I'm closing t

[2018-09-06 18:48] #394 closed

[2018-09-06 19:00] oflittlemother commented on #394
I'm using
- remote mode
- latest version 2.13.3

updateParams(newProps){
      this.serverParams = Object.assign({}, this.serverParams, newProps);
    },
    onSearch(params){
      this.updateParams(params);
      this.loadRecords(this.the_start_date, this.the_end_date, this.the_group_by);
    },
    onPageChange(params){
      this.updateParams({page: params.currentPage});
      this.loadRecords

[2018-09-06 19:01] oflittlemother commented on #394
<vue-good-table
        mode="remote"
        @on-search="onSearch"
        @on-page-change="onPageChange"
        @on-per-page-change="onPerPageChange"
        @on-sort-change="onSortChange"
        @on-column-filter="onColumnFilter"
        :totalRows="totalRecords"
        :pagination-options="paginationOptions"
        :group-options="groupOptions"
        :search-options="searchOptions"

[2018-09-06 19:02] oflittlemother commented on #394
columns: [
        {
          label: 'Transaction ID',
          field: 'transaction_id',
          type: 'number',
          sortable: true,
          filterOptions: {
            enabled: true,
            placeholder: 'Transaction ID…',
          },
        },
        {
          label: 'Transaction Type',
          field: 'transaction_type',
          filterOptions: {
            enabled: tru

[2018-09-06 19:09] oflittlemother opened #395 "totalRecords only showing 1 when using remote mode on v2.13.3"
### Issue Type (delete the irrelevant ones)
- [x] Bug
- [x] Question

### Specs
What version are you using?
2.13.3

What browser?
Chrome & Firefox

### Expected Behavior
What did you expect to happen?
I expected the totalRecords to be a total count of items, independent of grouped rows.

### Actual Behavior
What actually happened?
It only counted the grouped rows, in this case 1.

### Steps to Rep

[2018-09-06 19:12] oflittlemother commented on #395
DATA
[code]

[2018-09-06 19:12] oflittlemother commented on #395
TEMPLATE
[code]

[2018-09-06 19:18] TheJaredWilcurt opened #396 "VGT crashes when nested fields are null"
If a nested field like `score.a.b` has a null value in any of the parent parts of the nest (`score` or `a`), then the table crashes.

You can see this when you try to sort by Percent

* https://jsfiddle.net/57a2a4ce/553

Making a PR to fix this.

[2018-09-07 03:18] kn7007 opened #398 "[Enhancement] th/tdClass should be able to take in a function"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
What version are you using?
2.13.3

What browser?
Chrome
### Expected Behavior
I'm searching everywhere but not found solution. I want to format td class base on value itself, how can i do with vue good table.
Eg: if value is string, td have .blue class, if value is number, td have .red classs. Hope its clear enough.

[2018-09-07 13:54] nacimgoura opened #399 "how to add button each row"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
What version are you using?
2.13.3

What browser?
All browser.

Thank you for your librarie. I would like to be able to add buttons to each line instead of selecting a line and clicking on the button. Like this image:

![maxresdefault](https://user-images.githubusercontent.com/9990521/45222888-00157b80-b2b6-11e8-90b9-b25caf4742

[2018-09-07 18:16] danchristian commented on #384
If I `console.log(this.rows.length)` on my project I get `Cannot read property 'length' of undefined"` but when I do that on your link I get `8`. If I `console.log(this)` on your link I can see the `get rows` but I only have `get columns` in my project console. Any idea what could be going on?

[2018-09-07 22:28] xaksis commented on #399
hey @nacimgoura you need to use a custom row template:
documentation - https://xaksis.github.io/vue-good-table/guide/advanced/#custom-row-template
in your case:
[code]

closing.

[2018-09-07 22:28] #399 closed

[2018-09-07 22:30] xaksis commented on #398
Hey @kn7007 , you can find an example right in the wiki:
https://jsfiddle.net/aks9800/t6vt8q84/

closing.

[2018-09-08 03:01] kn7007 commented on #398
Thank you @xaksis, i thinking about it before but for me, it seem to be tricky because it not effected on td tag and we must style for span properly. Its more useful if you can add function style to tdClass like rowStyleClass.

[2018-09-08 12:06] xaksis commented on #398
Hey @kn7007 good suggestion. I'll look into this.

[2018-09-08 21:11] nacimgoura commented on #399
Thanks :wink: I didn't understand correctly.

[2018-09-10 09:52] wwwork commented on #180
Is it possible to add date picker to filers place under column label?

[2018-09-10 12:27] kn7007 commented on #398
No problem, i'm waiting for the next version. Hope here from you soon

[2018-09-10 14:54] oflittlemother commented on #395
Sorry, is this a known issue when grouping?
I'm only seeing this when in remote mode, when testing with demo data in the Vue 'data() return' sorting, column filtering & paging work as expected.

Really appreciate your insight, again sorry for the previous issue written with no format and explicit data.

[2018-09-10 14:57] oflittlemother commented on #395
When in remote, I'm pulling data with an rpc function from a postgres database, parsing the information using the correct structure for grouping columns.

[2018-09-11 01:07] #396 closed

[2018-09-11 02:11] xaksis commented on #398
@kn7007 done:
https://xaksis.github.io/vue-good-table/guide/configuration/column-options.html#tdclass

[2018-09-11 02:11] #398 closed

[2018-09-11 02:14] xaksis commented on #395
@oflittlemother sounds like it is indeed an issue with remote + grouped table. Can you try remote with ungrouped table? just do `this.rows = result.rows.children`; as opposed to `this.rows = result.rows;`?

[2018-09-11 14:14] oflittlemother commented on #395
Without grouping the totalRecords in remote does show up correctly.

[2018-09-11 16:55] sorayadragon commented on #392
@xaksis Is there any way to provide a secondary sort column? Or make it so they don't appear in random order? Ideally, I'd like the rows to end up in the same sort order after a checkbox is clicked so it doesn't look like the rows are jumping around.

[2018-09-12 01:56] sgjackman opened #400 "externalQuery and remote mode error with on-search parameters"
### Issue Type
- [x] Bug

### Specs
Version 2.14.0
Chrome

### Expected Behavior
I want to use remote mode with an external query field and a custom @on-search event to load my data from the server.

### Actual Behaviour
Everything works, but it seems that this combination causes the @on-search event to fire early, so that the last character entered in the search field does not come through in the

[2018-09-12 19:39] oflittlemother opened #401 "Global Search & Column Filters without Remote"
### Issue Type
- [x] Question
Is it possible to have both Global Search & Column Filters without Remote Mode?

[2018-09-13 10:41] ivarzap opened #402 "Single select on checkbox table"
Is it possible to single select?
In case not, is there a workaround? It should:
1) Hide the SelectAll check box
2) Intercept the @on-selected-rows-change event and update the SelectedRows list.

### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request
- [x] Question

### Specs
What version are you using?
2.14.0
What browser?
Chrome 69.0.3497.92

[2018-09-13 14:29] sorayadragon commented on #402
See Issue #330

[2018-09-13 21:03] HudsonMCynner commented on #378
Hello, I found a solution to this problem, I added another IF condition in the Compare function inside the default.js file that is inside the folder.

I added this code :   **if (typeof d === 'boolean' ) return d;**

compare(x, y) {

    function cook(d) {

      if (typeof d === 'undefined' || d === null) return '';
      if (typeof d === 'boolean' ) return d;
      return d.toLowerCase();
    }

[2018-09-13 22:36] xaksis commented on #401
same as #377
closing.

[2018-09-13 22:36] #401 closed

[2018-09-13 22:37] xaksis commented on #377
I'm looking into this, this should be available shortly.

[2018-09-13 22:39] xaksis commented on #402
@sorayadragon thanks for the reference ticket. @ivarzap you should be able to create a single select table following that plan.

closing.

[2018-09-13 22:39] #402 closed

[2018-09-14 14:12] xaksis commented on #400
Hey @sgjackman, thanks for pointing this out. it is now fixed in v2.14.1. your jsfiddle is working too now.

[2018-09-14 14:12] #400 closed

[2018-09-14 14:13] xaksis commented on #377
This is available now in v2.14.1.

closing.

[2018-09-14 14:13] #377 closed

[2018-09-15 14:28] xaksis commented on #384
@danchristian depends on where you're console logging it. As the error indicates, in your case you seem to be logging rows before rows exist? hard to tell without looking at the code. Either way this sounds like a different issue than the original ticket.

I'll close this ticket since the original issue can be dealt with using the example I provided above.

[2018-09-15 14:28] #384 closed

[2018-09-17 19:53] oflittlemother commented on #395
UPDATE:
I updated to the latest version 2.14.1 & deleted mode="remote", and these are all working as expected:
- Global Search
- Column Filters
- Column Sorting
- Column Grouping
- Pagination

[2018-09-17 23:16] xaksis commented on #395
oh my! did you just want to fetch some data from backend and show it on the table? remote mode is for if you want to tech data from the backend page by page. no wonder!! in remote mode everything - sorting/filtering/pagination etc... just emits a signal so you can fetch the relevant page! Ah man... I'm sorry you had to spend so much time...

... on the bright side... I think we can close this tick

[2018-09-17 23:16] #395 closed

[2018-09-18 14:50] sivagollapalli opened #403 "Pagination is not appearing for server side in remote mode"
[code]

[code]

Please let me know where I am doing wrong. Thanks for the help.

[2018-09-18 15:21] oflittlemother commented on #395
No worries ;)
After testing, all is running well, thanks again for this awesome component!

[2018-09-18 18:40] oflittlemother opened #404 "Total Records Counter"
- [x] Question
Is it possible to show a 'total records counter' in the pagination footer (or anywhere, ex. 'table actions')?
This counter should update with global search/column filters.

I think a visual reference to total records (regardless of grouping) is helpful, paired with pagination.

[2018-09-19 00:35] xaksis commented on #403
hey you'd have to use `pagination-options` https://xaksis.github.io/vue-good-table/guide/configuration/pagination-options.html#enabled

closing.

[2018-09-19 00:35] #403 closed

[2018-09-19 01:01] xaksis commented on #404
tha pagination shows total records right between previous and next buttons... take a look here.
https://jsfiddle.net/aks9800/3wze61oj/
1-5 of 11 where 11 is the total number of rows.

closing.

[2018-09-19 01:01] #404 closed

[2018-09-19 02:02] ChaStPierre opened #405 "Column filtering - multiple selection"
- [x] Question

Current filterOptions offers filterDropdownItems selection array which is mutually exclusive.
Is there a option or workaround to have a mutually inclusive offering multiple selection dropdown.

Here's an image to help highlight the use case.

Thanks
<img width="626" alt="screen shot 2018-09-18 at 9 42 42 pm" src="https://user-images.githubusercontent.com/26698165/45726716-6dff5400-

[2018-09-19 19:45] oflittlemother opened #406 "html = true disappears when using slots"
- [x] Bug
I can't seem to output column rows with html when using slots.

### Specs
What version are you using?
2.14.1

What browser?
Chrome & Firefox

### Expected Behavior
What did you expect to happen?
The html to be interpreted.

### Actual Behavior
What actually happened?
Just appears as text.

### Steps to Reproduce the Problem
Use the table row slot.

[code]

[2018-09-20 11:43] xaksis commented on #406
thanks @mbalandis. @oflittlemother you can't use declarative rendering `{{}}` for rendering html. This is more about vue than the plugin itself. Please refer to the link posted by @mbalandis.

closing.

[2018-09-20 11:43] #406 closed

[2018-09-20 11:45] xaksis commented on #405
@ChaStPierre, unfortunately, mult-select is not currently possible for filters. I'll chalk this up as an enhancement.

[2018-09-20 11:58] xaksis commented on #275
@matdar @stepanorda this functionality has actually been added to the plugin, I forgot to update here. You can use `filterOptions.filterValue` of a column to populate the filter and have the table respond accordingly.
refer to:
https://xaksis.github.io/vue-good-table/guide/configuration/column-filter-options.html#filtervalue
here's a working example:
https://jsfiddle.net/aks9800/1bkzcd3n

closing.

[2018-09-20 11:58] #275 closed

[2018-09-20 13:07] manofthefort commented on #373
@ChaStPierre @xaksis
FYI
The CSS workaround will also not adjust properly on window resizing, so I am currently working on a solution for that.

[2018-09-20 13:52] oflittlemother commented on #406
So true, I was so involved with Python backend yesterday that I completely forgot about this hahaha
Thank you @mbalandis & @xaksis for pointing this out so quickly :metal:

[2018-09-20 17:01] ChaStPierre commented on #405
Great. This would be a beautiful and powerful enhancement. There aren't many libraries that offer this feature. Combination of multiple column selective filtering would offers limitless views and would greatly help overall UX.  Looking forward to it !
Cheers

[2018-09-21 02:53] VictorCazanave commented on #373
@manofthefort  Thanks! I didn't know this property. Unfortunately I think the [browsers support](https://caniuse.com/#search=scrollbar) is not good enough 😢
However it can be a good workaround for people who only need to support Chrome/Safari.

[2018-09-21 12:05] TheFrankman opened #409 "Unable to hide a column on specific screen sizes"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
Good Vue Table latest
Chrome (latest)

### Expected Behavior
Using bootstrap classes I'd like to be able to hide a column on mobile.

### Actual Behavior
TD still visible on search / filter row.

Perhaps the documentation isn't clear on this.

### Steps to Reproduce the Problem

With bootstrap 4 add these classes to thClass and tdCl

[2018-09-21 14:57] ChaStPierre opened #410 "Can column filter dropdown be autogenerated? - Revisited"
- [x] Question

I see that you have already answered this question #[380](https://github.com/xaksis/vue-good-table/issues/380) however I'm also looking to autogenerate/prepopulate the dropdown based on the existing unique values of the columns.

I've tried various ways to do this via the filterDropdownItems however it doesn't seem to support a function call to return the required array.

Is there

[2018-09-21 16:15] ChaStPierre commented on #410
Update
I finally got this going by directly accessing the proper $ref table column fields. Hope there a better workaround or simpler solutions. Rendering is slowed down when work with 100 records

 [https://codepen.io/cspx99/pen/pONXoO](https://codepen.io/cspx99/pen/pONXoO)
Thanks

[2018-09-25 00:18] xaksis commented on #410
hey @ChaStPierre you don't need to use refs here... just set `column.filterOptions.filterDropdownItems` with whatever you want. Here's an example:
https://jsfiddle.net/aks9800/u7n9x4vb/

closing.

[2018-09-25 00:18] #410 closed

[2018-09-25 00:19] xaksis commented on #409
same as #381

closing (will be taken care of in 381)

[2018-09-25 00:19] #409 closed

[2018-09-25 16:34] ChaStPierre commented on #356
@xaksis Do you have a working example of this? I know its very simple to do but I haven't had any success getting this to run.

[2018-09-25 17:37] apanag opened #411 "Shift-Select multiple checkboxes"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request
- [x] Question

### Specs
What version are you using?
v2.14.1

What browser?
any

### Expected Behavior
What did you expect to happen?
While using the checkbox table, I am trying to find a way to check and by pressing shift-select multiple checkboxes. Is there a way to achieve that?

[2018-09-25 18:02] TheJaredWilcurt opened #412 "Content range shows 1 - 0 of 0"
* **Type:** Bug
* **Version:** latest
* **Browser:** any
* **Expected:** Content range should show `0 - 0 of 0`
* **Actual:** Content range shows `1 - 0 of 0`

**Steps to Reproduce:**

1. Don't pass in data

**Repoduction:**

* https://jsfiddle.net/57a2a4ce/603/

[2018-09-25 23:18] joshua-s opened #414 "Support programmatic navigation"
### Issue Type (delete the irrelevant ones)
- [x] Enhancement Request

### Specs
What version are you using?
2.14.1

What browser?
Firefox

### Expected Behavior
I'd like to be able to navigate programmatically. I tried setting `paginationOptions.setCurrentPage` to no avail.

### Actual Behavior
This option only works when the table is first rendered.

[2018-09-25 23:19] xaksis commented on #411
@apanag I don't think I understand the use case here... you can select multiple checkboxes by clicking on the rows? Is that not what you want to do?

[2018-09-25 23:30] joshua-s commented on #414
[code]

[2018-09-25 23:33] xaksis commented on #414
heh... that's what i suspected... remember that vue cannot see your nested data change if you assign like that...
https://vuejs.org/v2/guide/reactivity.html#Change-Detection-Caveats

use `$set`

closing.

[2018-09-25 23:33] #414 closed

[2018-09-25 23:45] joshua-s commented on #414
Hey, thanks for the advice. I tried:
`this.$set(this.ruleTable.pagination, 'setCurrentPage', 1)`

It didn't do anything.

[2018-09-26 00:34] xaksis commented on #414
@joshua-s hmm... not sure what you're doing wrong. Here's a quick working example I created:
https://jsfiddle.net/aks9800/m5rz4adh/

also, just because a property is defined in data doesn't automatically make it reactive. only primitive values are reactive by default. nested properties in arrays and objects are not. Read the link I provided above.

[2018-09-26 00:39] #412 closed

[2018-09-26 05:42] apanag commented on #411
@xaksis Please take a look at this codepen. By using a combination by shift-click you can select multiple checkboxes at once, without the need to click one by one.

[2018-09-26 06:53] the94air opened #415 "Go Flexbox"
### Issue Type
- [x] Enhancement Request
### Specs
**What version are you using?**
v2.14.1

**What browser?**
Chrome v68
### Expected Behavior
**What did you expect to happen?**
All the styling is based on CSS floats and not modern flexbox.
### Actual Behavior
**What actually happened?**
All styles should be changed to flexbox for all features like filters, global search, and pagination... etc. I

[2018-09-26 11:43] xaksis commented on #415
Hey @the94air I don't think moving to flexbox is  as of now because of following reasons:
1. Quite a few clients of vue-good-table are on IE 9 and flex is not supported there. In fact, even IE 11 implementation of flex is full of bugs
1. There's no real gain in switching from float to flex specifically for vue-good-table. In fact, there's loss in cross-browser compatibility
1. vue-good-table's sty

[2018-09-26 11:43] #415 closed

[2018-09-26 11:46] xaksis commented on #411
Interesting! Let me look into it.

[2018-09-26 20:50] T-Bod opened #416 "Styling issue moving from 2.11 to 2.14"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
Trying to move from 2.11 to 2.14

What browser?
Chrome
### Expected Behavior
What did you expect to happen?
Styles to remain consistent after update
### Actual Behavior
What actually happened?
No longer getting styles from vue-good-table.css

I don't have an issue on local (macOS) however when building for production all VGT styles

[2018-09-26 21:47] ChaStPierre opened #417 "Manage loading state"
- [x] Bug
- [x] Question

@xaksis in #356 you show how to manage loading.

I know its very simple to implement but I haven't had any success with it. Not sure if I'm doing something wrong or if its a bug.

Do you have a working example of this?
thks

[2018-09-27 00:32] xaksis commented on #417
@ChaStPierre what did you try? Can you post your code?

[2018-09-27 00:33] xaksis commented on #416
hey @T-Bod nothing has changed that would result in styles being dropped. How do you build for production? How do you include styles?

[2018-09-27 01:00] ChaStPierre commented on #417
I've basically cut and pasted your code.  I would submit an example but sure how to simulate this in a sandbox.

[code]

[2018-09-27 01:02] ChaStPierre commented on #405
@xaksis do you have an idea if this might be part of the roadmap anytime soon?
Thanks

[2018-09-27 06:45] Dragonxero opened #419 "Update Documentation for Custom row"
### Custom Row Template
Update or clarify documentation with examples or more details for:
- customs columns containing HTML elements such as buttons
- custom columns for calculable data.

[2018-09-27 11:36] xaksis commented on #419
@Dragonxero can you explain what exactly do you need clarified?
https://xaksis.github.io/vue-good-table/guide/advanced/#custom-row-template
The documentation has example code along with live output of the example code here.

What do you mean by calculable data?

[2018-09-27 11:42] xaksis commented on #417
ah... @ChaStPierre loading is only supported for when you're using the table in **remote mode**. `mode="remote"`

In other words, when filtering/paging etc shoots a request to the backend to get new page of data. You can read more about it here:
https://xaksis.github.io/vue-good-table/guide/advanced/remote-workflow.html#why-remote-mode

closing.

[2018-09-27 11:42] #417 closed

[2018-09-27 13:19] Dragonxero commented on #419
For example a detail check-out tablet with quantity and price, for showing subtotal oficina each ítem type.

[2018-09-27 18:16] joshua-s commented on #416
I have a hunch this might be related to the issue I fixed in #420

[2018-09-28 09:31] kn7007 commented on #381
Hi @xaksis! for a long time to investigate, i found a solution for fixed header issue. This is my example: https://jsfiddle.net/kn7007/3xb57qp2/17/. Please consider refactor and integrate it to your lib.

Thank you!

[2018-09-29 15:27] xaksis commented on #419
@Dragonxero I don't know if I understand your usecase completely but looks like you're talking about grouped rows: https://xaksis.github.io/vue-good-table/guide/advanced/grouped-table.html#_5-what-if-you-wanted-to-add-a-total-count-in-summary-rows

also there's a recipe in the wiki showing exactly how to use this:
https://jsfiddle.net/aks9800/0t820euy/

closing.

[2018-09-29 15:27] #419 closed

[2018-09-29 15:32] xaksis commented on #381
@kn7007 thank you for the suggestion!! But looking at it... I don't think we can force a no-wrap on td, because data could be really long and people would want it to wrap in the cell. If I remove the no-wrap... it creates an issue - try expanding the table. Good attempt though, I'll look into this in more detail shortly.

[2018-09-29 15:39] akaitani commented on #405
I believe that if you could customize the sorting and allow developers to access Filter fields slots. This shall add one awesome capability to this amazing masterpiece. { Date range selector, multichoice } and so many examples.

[2018-09-30 21:46] #381 closed

[2018-10-01 09:15] StefanOosten opened #421 "InitialSortBy and fieldFn?"
### Issue Type (delete the irrelevant ones)

- [x] Bug
- [x] Enhancement Request
- [x] Question

### Specs
What version are you using?
2.13
What browser?
Chrome

Is it possible to use the initialsortby on a field that uses a function to calculate a number and therefore has no field name?

Something like this doesnt seem to work:
   initialSortBy: {field: 'fieldFn', type: 'desc'}

[2018-10-02 16:30] oflittlemother opened #423 "Table Actions footer?"
- [x] Enhancement Request
- [x] Question
Can the table actions be set as a fixed footer, instead of a header?

### Specs
What version are you using?
Latest

What browser?
Chrome & Firefox

[2018-10-02 16:32] oflittlemother commented on #423
These are currently tied to the Global Search area, so hacking the CSS would need JS to move it to the bottom.

[2018-10-02 23:15] xaksis commented on #423
@oflittlemother any reason you can't just create a div below the table? Why does it need to be part of the library?

[2018-10-03 13:56] oflittlemother commented on #423
I was asking something similar to #236, currently the table actions are on top, and the grouping summary row scrolls when using a max height. I was looking for a fixed footer option/template, if existed.

[2018-10-03 13:58] oflittlemother commented on #423
Perhaps a toggle option for just the table actions, so you can position them top or bottom, or both (like pagination).

[2018-10-03 15:35] tripflex commented on #335
@sylvaincaillot I was looking to do this as well, and @xaksis provided a method for doing this by setting the filter enabled false, see #355 for details and fiddle

[2018-10-03 15:43] T-Bod commented on #416
Sorry, was out of town without internet access, @joshua-s hit the nail on the head, thanks for the quick reply!

[2018-10-04 10:32] bogatyrjov1 opened #425 "Expanding rows with subtables"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request

### Specs
What version are you using?
2.13.3

### Expected Behavior
I am implementing a table in which every row could be expanded with another vue-good-table instance. While I didn't find this to be in the standard functionality, some other solutions are offering this out of the box. What would be community's recommendation o

[2018-10-04 17:42] axelitus commented on #404
But how about if I'm using `mode: 'pages'` and still want to display the total number of records?

I see there's a prop aptly named `totalRowCount`, but how can I access it in the `table-actions` slot to display it there?

[2018-10-04 18:29] axelitus opened #426 "Sorting should sort UTF-8 encoded values "naturally""
### Issue Type (delete the irrelevant ones)

- [ ] Bug
- [x] Enhancement Request
- [ ] Question

### Specs
What version are you using?
2.14.6

What browser?
Chrome 69.0.3497.100

### Expected Behavior
What did you expect to happen?
The values are sorted "naturally" even when UTF-8 encoded values are present:
- Abraham
- Ángel
- Bárbara
- Beto

### Actual Behavior
What actually happened?
The values

[2018-10-04 21:09] tripflex commented on #318
I think this would be a good feature to have available natively, since it would be pretty standard and easy to do

[2018-10-04 22:01] tripflex commented on #318
For anybody looking to do this, here's example code of how I did it (on site with bootstrap):

[code]

And inside `methods`:

[code]

[2018-10-05 00:53] tripflex commented on #410
While I understand it would be easy to do this with custom code ... @xaksis but why not add this to library?

[2018-10-08 16:35] axelitus commented on #388
I was looking into this feature also, but not collapsible columns but collapsible rows instead, so that the spanned header rows appear collapsed by default and if I need to look at the children I could do so by clicking and expanding the row I'm interested in.

[2018-10-09 06:35] sylvaincaillot opened #427 "Change row color on mouse events"
### Issue Type

- [x] Question

### Specs
What version are you using?
2.14.6

What browser?
Chrome

### Question

I would like to change the color of a whole row when I overlay it and in a different color when I double-click on it.

After searching the documentation, I've been using @on-row-dblclick and @on-row-mouseenter so far but didn't find examples on how to change the color.

Thank you for y

[2018-10-09 09:20] dsudaez opened #428 "npm build not compile vue good css."
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
What version are you using?

"vue-good-table": "^2.13.0",

What browser?

Chrome Versión 65.0.3325.181

### Expected Behavior

I am using VUE CLI for my application. So I need to deploy my app to aws.

I use vue good table for some views. And  I need it shows ok.

### Actual Behavior

When I run npm run build and deploy the app

[2018-10-09 12:49] d-knafo opened #429 "plugin to export"
### Issue Type
- Enhancement Request

### Specs
What version are you using?
2.14.6

an plugin for export (in Pdf, Excel, Csv, Print) is planned?

thanks for you work !
Great !

[2018-10-10 00:41] xaksis commented on #429
Hi @d-knafo. This is currently not in the roadmap. You can read more about this topic in the following issue:
https://github.com/xaksis/vue-good-table/issues/142

closing.

[2018-10-10 00:41] #429 closed

[2018-10-10 01:17] xaksis commented on #427
hey @sylvaincaillot you can use `rowStyleClass`, https://xaksis.github.io/vue-good-table/guide/configuration/#rowstyleclass

just use a function for rowStyleClass and conditionally put a class on the row that matches the row that  you're hovering over, or double clicking on.

closing.

[2018-10-10 01:17] #427 closed

[2018-10-10 01:42] #423 closed

[2018-10-10 01:42] #426 closed

[2018-10-10 01:45] xaksis commented on #428
@dsudaez this should now be fixed in v2.14.7 thanks to @XertroV's PR

[2018-10-10 01:45] #428 closed

[2018-10-10 01:53] xaksis commented on #423
hey @oflittlemother I have added a footer action slot in v2.14.7 that you can use:
https://xaksis.github.io/vue-good-table/guide/configuration/#table-actions-footer-slot

[2018-10-10 01:54] xaksis commented on #426
@axelitus thank you for pointing this out: The default sort in v2.14.7 now takes diacritic into account.

[2018-10-10 03:48] sylvaincaillot commented on #427
Thank you @xaksis, it works well with mouse over:
[code]

with the following CSS:
[code]

However, I don't see how to use the @on-row-dblclick to change dynamicaly the class for the row. Would you have any examples?

Thank you

[2018-10-10 06:48] sylvaincaillot opened #432 "Clear style of other rows"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
What version are you using?
2.14.6

What browser?
Chrome

### Question
Following my previous question #427 , I have updated my code as follow

[code]

Not sure if it is the best solution but it works.
However, when I click on a different row for example, I would like to set the active value to False except for the double-clicke

[2018-10-10 12:14] j--w opened #433 "Built-in Search Performance"
### Issue Type
- [x] Bug

### Specs
What version are you using?
2.5.17
What browser?
Chrome 69.0.3497.100
### Expected Behavior
Global search should be performant with a moderately sized dataset(1000 rows, 6 columns)

### Actual Behavior
Search performance is notably laggy and this gets worse with larger search terms and bigger datasets.

Some quick troubleshooting by a colleague indicated that th

[2018-10-10 16:37] Hego2017 commented on #226
Jochii12 Did you find a solution? I have the same problem. I want that td of my table will be resizable

[2018-10-10 21:03] oflittlemother commented on #427
@sylvaincaillot You can check for the 'vgtSelected' boolean property and toggle your styling accordingly. This property exists in each row when ':select-options' is enabled.

Example:

[code]

[code]

[2018-10-11 01:45] Jochii12 commented on #226
@Hego2017 unfortunately sir i didn't find a solution for re sizable column. but there is a pure js table column re sizable .

[2018-10-11 01:45] #226 closed

[2018-10-11 07:11] Hego2017 commented on #226
Jochii12 , ok, I suppose that we can do it with Javascript. Thanks!

[2018-10-11 16:11] oflittlemother commented on #383
I believe it's a bug with all types, I've tested with date & number, and get undefined as well.

[2018-10-11 16:13] oflittlemother commented on #383
I'm creating a functionality to save the table state, so any applied column filters would be saved and used in the filterValue property to prepopulate when the saved table is pulled up. That's how I too came across undefined.

[2018-10-11 21:47] owensource opened #434 "Module not found - 'date-fns/compareAsc'"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?

**^2.14.7**
What browser?

**Chrome**

### Expected Behavior
What did you expect to happen?

**Expected the component to load correctly.**
### Actual Behavior
What actually happened?

**Component won't render - error in console is as follows:**

**ERROR in ../node_modules/vue-good-table/dist/vue-good-tab

[2018-10-12 00:35] xaksis commented on #434
@owensource are you using the same version of vgt in other branches where it's working?

[2018-10-12 00:48] xaksis commented on #432
here's a working example:
https://jsfiddle.net/aks9800/kv60L5rd/

closing.

[2018-10-12 00:48] #432 closed

[2018-10-12 01:12] owensource commented on #434
@xaksis I will have to triple-check when I get into work in the morning, but yes - I believe so. The only other factor I can think of that may have influenced this was that I updated Visual Studio (Community 2017) to the most recent version this morning. Regardless, I've tried to hunt down exactly why I'm being prompted for these two date-fns modules, to no avail. As mentioned, installing date-fns

[2018-10-12 01:14] owensource commented on #434
As a side note, when I get in tomorrow I'll attempt to put together a fiddle with some non-proprietary code and see if I can independently reproduce the error.

[2018-10-12 01:45] ChaStPierre opened #435 "Trigger a default column sort based on saved user settings"
- [x] Question

I'm currently saving users preferred column filters and sort view to local storage and now need to trigger the column sort on page load. How can I do this? I've tried to set the table @sort-options using the no success.
self.$refs["sr-table"].sortOptions.initialSortBy.field
self.$refs["sr-table"].sortOptions.initialSortBy.type

I have however been able to get the sort going using t

[2018-10-12 01:46] xaksis commented on #434
That would be very helpful... if it's working for all other branches I suspect it's not the library but the setup

[2018-10-12 01:48] xaksis commented on #435
@ChaStPierre don't forget the vue nested object caveat. You can't simply assign nested objects... you have to do it the vue way. also you don't have to do this via $ref. You can this.$set your sortOptions data in the component.

closing.

[2018-10-12 01:48] #435 closed

[2018-10-12 03:08] #433 closed

[2018-10-12 03:17] xaksis commented on #433
looks like it is indeed caused by diacriticless comparison. What I can do is allow the ability to skip diactric comparison via a prop. you can now use the following in v2.15.0:
https://xaksis.github.io/vue-good-table/guide/configuration/search-options.html#skipdiacritics

[2018-10-12 04:41] u007 commented on #134
updated here
https://xaksis.github.io/vue-good-table/guide/advanced/checkbox-table.html

[2018-10-12 12:55] xaksis commented on #373
@VictorCazanave @ChaStPierre I added a few fixes last night. Can you guys confirm if this resolves some of the issues observed earlier (specially with resizing)? I don't have access to a windows machine and the simulators are all acting up :(

[2018-10-12 13:15] giraz82 opened #436 "Bug in sorting related to initialSortBy"
### Issue Type
- [x] Bug

### Specs
What version are you using?
2.15.0

What browser?
Chrome 69.0.3497.100, Safari 12.0

### Expected Behavior
Sort changes when clicking on column headers

### Actual Behavior
Sort does not change

### Steps to Reproduce the Problem
https://jsfiddle.net/gira82/cq4etkp6/1/

Basically I need to have an array of ids related to selected rows.
So I have a selectionChang

[2018-10-12 15:18] xaksis commented on #436
you need to take care of the 0 length case when sort is changed:
This will make your jsfiddle work.
[code]

closing.

[2018-10-12 15:49] giraz82 commented on #436
Sorry, but the .reduce correctly return an empty array when params.selectedRows is empty.
In my humble opinion, the point is not this, and the sort is still not working in the updated fiddle: https://jsfiddle.net/gira82/cq4etkp6/18/

I carefully debug the problem before I opened the issue, and I cannot see any problem in this simple code.
It's curious that removing initialSortBy all starts to work

[2018-10-12 15:54] axelitus opened #437 "Error missing loadash.clone dependency"
### Issue Type (delete the irrelevant ones)

- [x] Bug
- [ ] Enhancement Request
- [ ] Question

### Specs
What version are you using?
2.15.0

What browser?
Chrome (although the error is prior to web publish)

### Expected Behavior
What did you expect to happen?
No error is outputed when compiling assets (I'm using Laravel) with `npm run dev` or `npm run prod`

### Actual Behavior
What actually ha

[2018-10-12 16:01] lloydjatkinson commented on #437
Same issue here. The issue was introduced in 483a9a9.

[2018-10-12 16:05] axelitus commented on #437
It seems that [vue-good-table.es.js](https://github.com/xaksis/vue-good-table/blob/91adb9dc4e9e016b9c81074d7d6b85b98fca65b8/dist/vue-good-table.es.js#L15) is still trying to import loadash.clone even when in version 2.15.0 was removed as a dependency.

Removing that line does the trick and the assets compile just fine.
![image](https://user-images.githubusercontent.com/732441/46880516-72760000-ce0

[2018-10-12 16:31] axelitus commented on #437
For the time being, as a workaround, I'm adding `"lodash.clone": "^4.5.0"` to my `packages.json` file to include the missing dependency, but this needs to be fixed.

[2018-10-12 16:32] xaksis commented on #437
looking into this.

[2018-10-12 16:35] xaksis commented on #437
weird... dist still shows version 2.14.7 I'll republish with a patch to see if it updates.

[2018-10-12 16:37] owensource commented on #437
I'm getting this error as well, in addition to the errors in my issue, after updating the package (2.15.0).

[2018-10-12 16:45] xaksis commented on #437
give npm a few minutes. 2.15.1 should be available with the fix:
https://github.com/xaksis/vue-good-table/blob/master/dist/vue-good-table.es.js

closing.

[2018-10-12 16:45] #437 closed

[2018-10-12 16:46] owensource commented on #434
So - I've confirmed that the package is still functioning correctly in my other branch. However, I was incorrect regarding them using the same versions.

The version in the functioning branch is @2.14.1
The branch producing the errors is at 2.14.7 (initially, producing date-fns/compareAsc & date-fns/isValid), and then upgraded to 2.15.0 (producing compareAsc/isValid **and** the lodash error).

I'l

[2018-10-12 17:02] axelitus commented on #437
Removed the `lodash.clone` dependency, removed the `lodash.clone` folder from the `node_modules`, updated the npm modules and try to compile again and... it worked correctly!

Thanks for the awesome response time on this!

[2018-10-12 17:11] xaksis commented on #436
apologies for the initial haste, I'll re-open this. However if i comment out this.selectedIds assignment... everything seems to be working fine. I'll debug it more.

[2018-10-12 17:18] xaksis commented on #436
looks like if I don't print out {{ selectedIds }} , everything is working as well. strange.

[2018-10-12 17:36] owensource commented on #434
Okay, updated the non-functional branch to 2.15.1, and I'm still getting the error. Digging deeper in the debugger, this is popping up after webpacking:

`eval("__webpack_require__.r(__webpack_exports__);\n/* harmony export (binding) */ __webpack_require__.d(__webpack_exports__, \"VueGoodTable\", function() { return VueGoodTable; });\n/* harmony import */ var diacriticless__WEBPACK_IMPORTED_MODULE

[2018-10-12 17:46] owensource commented on #434
So, I've rolled the non-functional branch back to version 2.14.1, and it's working perfectly (same version as my functional branch). The date-fns related errors are gone.

I apologize for the inconvenience of this issue - this is a large enterprise project and I'm heavily restricted in what I can and can't post into a fiddle. I wish I could I have been more helpful in reproducing the error.

I'm g

[2018-10-12 19:30] giraz82 commented on #436
Yes, as I wrote at the beginning, three things will make the script work:
1. Do not render (or use in any way) selectedIds array in the template
2. Do not update selectedIds array at the end of the method
3. Remove the option "initialSortBy: {field: 'name', type: 'asc'}" from the options.

1 and 2 sound  inexplicable to me (after about 2 years of Vue developing)

If you look at console, it seems t

[2018-10-13 00:49] xaksis commented on #436
so just published 2.15.2 and seems to have passed all my tests... I'm going to keep this open for a bit so we can test with your jsfiddle

[2018-10-13 00:50] xaksis commented on #436
ok tested with your fiddle... seems to be working well now. Thanks for reporting this!

[2018-10-13 00:50] #436 closed

[2018-10-13 09:00] giraz82 commented on #436
Thank you to you for so fast fix! 👍

[2018-10-14 18:40] xaksis commented on #434
@owensource Please don't apologize! You are helping the community by posting detail reports of your error and debugging process.
I did some more digging of my own and I believe this was being caused by the relative import of date-fns modules. I believe 2.15.3 should solve this for you.

Will close this for now... can you please test and update here to let me know if it worked or not?

[2018-10-14 18:40] #434 closed

[2018-10-15 02:04] VictorCazanave commented on #373
@xaksis Thanks for still working on it! I'm too busy recently.

Here is how the examples of the documentation look on Windows (10) + Chrome (69):

![image](https://user-images.githubusercontent.com/8233304/46925683-c1ff3a80-d05f-11e8-9127-c0e8fd7fec89.png)
😞

Even with a normal table:

![image](https://user-images.githubusercontent.com/8233304/46925737-0e4a7a80-d060-11e8-893a-d745acb69a28.png)
😩

[2018-10-15 03:13] xaksis commented on #373
@VictorCazanave oh yea, don't worry about the documentation right now... Vue press adds some classes to table element that I'd need to override to make documentation look good. Have you tried one of the js fiddle examples in windows?

[2018-10-15 07:00] igorpocta opened #438 "Filtered data"
### Issue Type

- [x] Question

### Specs
What version are you using?
Latest

What browser?
Chrome

### Qustion
Hello, is there any option to get filtered data from the parent component when I am using
`<vue-good-table :columns="columns" :rows="rows" />`
Eg. I have total 500 records. When I use filter, I give back 180 records. I need to access to this set.

[2018-10-15 15:31] oflittlemother commented on #383
Perhaps this line is the culprit:

[code]

[2018-10-16 10:33] xaksis commented on #438
@igorpocta you can get filtered rows by putting a ref on your table in the following way:

[code]

if you are using pagination and only want rows matching filters on the current page, use `paginated[0]` instead of `filteredRows[0]`

closing.

[2018-10-16 10:33] #438 closed

[2018-10-17 19:59] oflittlemother opened #440 "VGT save properties object (persisted state)"
### Issue Type
- [x] Enhancement Request

Could we have or does it exist already an output object of properties that change when using VGT?

For example:
- initial/normal click sort
- column filtering
- global search
- pagination
- etc

An accessible object of these that anyone could use to create a saved version of that VGT instance.

"A common requirement for web apps is to save the user customi

[2018-10-18 02:07] VictorCazanave commented on #373
Sorry for the late reply!
Here is how this [codepen](https://codepen.io/VictorCazanave/pen/bmvEMR) looks on Windows (10) + Chrome (69):

![image](https://user-images.githubusercontent.com/8233304/47126694-3fbf8200-d2bc-11e8-9836-602e8760dda3.png)

2 headers are visible and the columns are not aligned from beginning 😞

Did you use only CSS for these fixes?
Maybe some JS is necessary to calculate th

[2018-10-20 03:52] roberto910907 opened #441 "Add new table style options"
### Issue Type

- [x] Enhancement Request

### Specs
What version are you using?
2.15.3

### Expected Behavior
What did you expect to happen?

I think this table should have as many style options as vue boostrap table has. https://bootstrap-vue.js.org/docs/components/table/#table-style-options

I can research about how is this implemented in bootstrap-vue and open a PR to add some new style option

[2018-10-20 12:35] xaksis commented on #441
hey @roberto910907! The whole idea behind separating the styles and offering it independently was to allow people to use whatever styles they want to use for the component. If people want to use bootstrap styles they can freely use it and ignore the styles that come with the table. They can also choose to use table styles as core and override everything with their own (bootstrap) styles.

So, I do

[2018-10-20 12:35] #441 closed

[2018-10-20 21:44] projct1 opened #442 "on-per-page-change runs on-page-change"
### Issue Type
- [x] Bug

### Specs
2.15.3

### What browser?
All

### Expected Behavior
One ajax request on trigger onPerPageChange

### Actual Behavior
Event `on-per-page-change` triggers `on-page-change` too

### Steps to Reproduce the Problem
[code]

[2018-10-20 22:03] projct1 opened #443 "Initial value of paginator perPageDropdown"
### Issue Type
- [x] Bug

### Specs
2.15.3

### What browser?
All

### Expected Behavior
Initial value of paginator perPageDropdown is 50

### Actual Behavior
Nothing to displayed http://skrinshoter.ru/s/201018/6A85Yi1o

### Steps to Reproduce the Problem
[code]
[code]
Just set `perPageDropdown` more then 10

[2018-10-22 02:00] VictorCazanave commented on #373
@xaksis I updated this [codepen](https://codepen.io/VictorCazanave/pen/dgKWbE) to fix some issues you mentionned in your 1rst comment (there are still problems).
I had to add some JS to calculate the width of the scrollbar and set the width of the columns.
I agree it's not ideal and I would prefer to have a CSS solution but I think it's impossible 😢
The JS isn't very complicated, so maybe somethin

[2018-10-22 07:04] onlineexamsystem opened #444 "when using table-row slot,html rendering doesn't work on other row fields"
### Issue Type (delete the irrelevant ones)
- [x] Question

[code]

[2018-10-22 21:47] oflittlemother commented on #444
use v-html to render html

[code]

[2018-10-24 13:19] onlineexamsystem commented on #444
Great Thansk @oflittlemother

[2018-10-24 13:19] #444 closed

[2018-10-26 13:08] skray opened #445 "'on-column-filter' event emitted for every column that has an initial 'filterValue'"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?

Latest 2.15.3

What browser?

FF, Chrome

### Expected Behavior
What did you expect to happen?

I expected the 'on-column-filter' even to be emitted once when the table loads, with all of the values from any initial column filterValues.

### Actual Behavior
What actually happened?

'on-column-filter' is

[2018-10-26 21:21] keen-on-design opened #446 "How to replace filter input with datepicker ?"
### Issue Type
- [x] Question

### Specs
2.15.3

Is it possible to replace filter text input with a custom one (custom datepicker for example)? Can it be done using slots alike table-rows (it's actually very helpful).

[2018-10-28 19:54] avlima opened #447 "How can I customize the grid checkbox?"
### Issue Type (delete the irrelevant ones)

- [x] Question

### Specs
What version are you using?
2.12.2

What browser?
safari

1. I would like to know if it is possible to customize the style of the checkbox, leave it with a different color and size of the pattern. Is this possible?

[2018-10-28 21:43] xaksis commented on #447
hey @avlima, You'd customize the style like any other checkbox. You can use `.vgt-checkbox-col input` selector for your style rules.

closing.

[2018-10-28 21:43] #447 closed

[2018-10-28 21:47] xaksis commented on #446
hey @keen-on-design it's not a straightforward implementation as there are many events associated with column filters that we need to take care of through the slots. However, people have customized the column filters using external libraries, for example:
https://jsfiddle.net/aks9800/ekawt34s/

closing.

[2018-10-28 21:47] #446 closed

[2018-10-29 01:55] NandaRusfikri opened #448 "How to get id in array selected checkbox"
**### How to Custom get id in array selected checkbox**

- [x] Question

### Specs
Latest

What browser?
FF, Chrome
### Expected Behavior
Custom  get id in array after checkbox in selected
### Actual Behavior
this only show array selectedRow

### Steps to Reproduce the Problem
Please detail your steps here

<img width="353" alt="adaaaaaaaaaa" src="https://user-images.githubusercontent.com/23564348

[2018-10-29 09:56] enghelewa opened #449 "lineNumbers should be line-numbers"
`lineNumbers` should be `line-numbers`

- [x] Bug
- [ ] Enhancement Request
- [ ] Question

### Specs
What version are you using?
2.11.0

What browser?
google chrome 70

### Expected Behavior
line numbers options should work for any environment.

### Actual Behavior
When running npm production script line numbers disappear

[2018-10-29 11:53] xaksis commented on #449
hey @enghelewa the property is actually camelcased. HTML attributes are case-insensitive, so when using non-string templates, camelCased prop names need to use their kebab-case (hyphen-delimited) equivalents. Read about it here: https://012.vuejs.org/api/options.html#props

closing.

[2018-10-29 11:53] #449 closed

[2018-10-29 11:59] xaksis commented on #448
@NandaRusfikri I'm not sure what the question is here? You have access to all rows that are selected [via event](https://xaksis.github.io/vue-good-table/guide/configuration/table-events.html#on-selected-rows-change) `@on-selected-row-change` and via property `selectedRows`. How you extract `id` or any other property out of it, is up to you.

Closing. Let me know if I misunderstood your question an

[2018-10-29 11:59] #448 closed

[2018-10-29 14:51] #443 closed

[2018-10-29 14:51] #445 closed

[2018-10-29 14:53] xaksis commented on #421
@StefanOosten yes, this should be fine given that functions are just strings when used as key. I recommend that you update to v2.16.0 though just so you can leverage the new sorting workflow.

closing.

[2018-10-29 14:53] #421 closed

[2018-10-29 14:54] xaksis commented on #449
documentation updated.

[2018-10-29 14:55] xaksis commented on #445
@skray thank you for detailed report on this bug. v2.16 should fix this for you.

[2018-10-29 14:56] xaksis commented on #443
@projct1 thank you for reporting this. This is now fixed in v2.16

[2018-10-29 14:56] xaksis commented on #442
@projct1 thank you for reporting. this is now fixed in v2.16

[2018-10-29 14:56] #442 closed

[2018-10-29 14:58] xaksis commented on #389
@dariagrudzien sorty it took so long, but this is now implemented in v2.16:
https://xaksis.github.io/vue-good-table/guide/configuration/sort-options.html#initialsortby

in addition user can also shift-select multiple columns for multi-column sort

closing.

[2018-10-29 14:58] #389 closed

[2018-10-29 16:27] unikitty37 opened #450 "Custom columns not rendering"
### Issue Type (delete the irrelevant ones)

- [x] Bug

### Specs
What version are you using?
2.15.3

What browser?
Vivaldi 2.1.1337.36

### Expected Behavior
When I copy the example at https://xaksis.github.io/vue-good-table/guide/advanced/#adding-custom-columns, I should get "before" and "after" columns in the table.

### Actual Behavior
The columns do not render. There is no error message in th

[2018-10-29 16:57] xaksis commented on #450
hey @unikitty37, you need to add the respective columns to the column def. Add the following to the column definition.
[code]

closing.

[2018-10-29 16:57] #450 closed

[2018-10-29 17:04] xaksis commented on #440
hey @oflittlemother, I am not convinced that this needs to be part of the library. I do this for a bunch of my tables and it's relatively trivial to have an object store all the necessary data. Almost exactly as described in the [remote workflow](https://xaksis.github.io/vue-good-table/guide/advanced/remote-workflow.html) (look at the data object used there)

Making this part of the library would

[2018-10-29 17:04] #440 closed

[2018-10-29 18:55] owensource opened #451 "For Reference: Adding Flatpickr Date Range selector to Column Filter with FilterFn"
### Issue Type (delete the irrelevant ones)

- [x] Enhancement Request (not really)

### Specs
What version are you using?
2.14.1
What browser?
Chrome

I'm posting this issue only as a reference for other users - hoping to save others some time if they need this use case.

Specifically, I needed to add a custom datepicker to multiple column filters that allowed selection of a date range (which the

[2018-10-29 19:01] owensource commented on #451
![image](https://user-images.githubusercontent.com/36556380/47673573-395dbf80-db72-11e8-8697-8146860f672a.png)

For reference: this is what the completed setup looks like. @xaksis , any chance this capability could be supported natively, or at least referenced in the docs? I'd be happy to add to the documentation.

Thanks,

[2018-10-30 20:56] oflittlemother opened #452 "Global Search reset"
### Issue Type
- [x] Question
How do you reset the Global Search input field?
Is there a method that can be called on a button to clear the field?

[2018-10-30 21:45] owensource commented on #355
@sylvaincaillot @xaksis

I figured out a simpler solution for this issue.  @xaksis your solution worked, but after using your toggle function, my columns no longer filtered correctly. Specifically, the datepickers would no longer show up, and the column filters' placeholders had been mutated.

This may all be because of my own custom setup, but regardless, it rendered the toggle function in your f

[2018-10-30 22:36] xaksis commented on #355
@sylvaincaillot thank you for helping the community by posting a solution that worked! the difference between my solution and yours is that I'm using vue's v-if to render/unrender the row. So it probably destroys any third party association you make with the filters. doing it with css is clever!